<span class="helpheader">   
  <i class="fa fa-question-circle" id="helpdocumentid" data-toggle="popover" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.title')%>" href='#' value="" ></i>

  <div id="contenthelpdocumentid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.info3_html')%> </p>
      <p> <%= t('document.help.info4_html')%> </p>
      <p> <%= t('document.help.info5_html')%> </p>
      <p> <%= t('document.help.info6_html')%> </p>
      <p> <%= t('document.help.info8_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>

<%content_for :javascript do%>
  $('#helpdocumentid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpdocumentid').html();
    }
  });
<%end%>