<li class="helpheader">   
<i class="icon-question-sign helpEvent" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.event_html')%>" href='#' value="" ></i>
<div class="contenthelpEvent" style="display: none">
  <div>
          <%= t('document.help.event1_html')%>  <br/>
          <%= t('document.help.event2_html')%>  <br/>
          <%= t('document.help.event3_html')%>  <br/>
          <%= t('document.help.event4_html')%>  <br/>
          <%= t('document.help.event5_html')%>
  </div>
</div>
</li>
<script>
$(document).ready(function(){
  $('.helpEvent').popover({ 
    html : true,
    content: function() {
      return $('.contenthelpEvent').html();
    }
  });
});
</script>

<script>
$('body').on('click', function (e) {
    $('.helpEvent').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>


