<span class="helpheader">   
  <i class="fa fa-question-circle helpResources" id="helpresourceid" data-placement='left' aria-hidden="true" data-original-title="<%= t('document.help.title')%>" data-footer="whatever" id="contenthelpresourceid"href='#' value="" ></i>
  <div class="contentHelpResources" id="contenthelpresourceid" style="display: none">
    <div class="popover-body">
      <p> <%= t('document.help.info1_html')%> </p>
      <p> <%= t('document.help.info2_html')%> </p>
      <p> <%= t('document.help.info3_html')%> </p>
      <p> <%= t('document.help.info4_html')%> </p>
      <p> <%= t('document.help.info5_html')%> </p>
      <p> <%= t('document.help.info6_html')%> </p>
      <p> <%= t('document.help.info7_html')%> </p>
      <p> <%= t('document.help.info8_html')%> </p>
    </div>
    <div class="popover-footer popoverfix"><%= t('document.help.overview_html')%></div>
  </div>
</span>
<script>
$(document).ready(function(){
  $('#helpresourceid').popover({ 
    html : true,
    content: function() {
      return $('#contenthelpresourceid').html();
    }
  });
});
</script>
