<div class="header_text"><%= t('project')%></div>
The EU-funded Global Excursion Project aims to improve the science curriculum at upper stage school levels (i.e. pupils in the 14-18 age range) through an innovative e-platform called the Virtual Science Hub (ViSH).
<div class="row space_center"></div>
<div class="row space_center"></div>
<div class="header_text"><%= t('vish.about')%></div>
The Virtual Science Hub is a meeting point for scientists and teachers and is based around the idea of “Virtual Excursions”, the online analog to an on-site visit, during which the students discover science in Europe’s top scientific centers. Several media such as flashcards, video-conference and virtual experiments help them feel the science rather than just study it.

ViSH will be using Social Stream as a social networking library and it is entering its development phase. You can find the code at the GING github page.

<div class="row space_center"></div>
<div class="row space_center"></div>

<div class="header_text">Starter guide</div>
<div class = "excursion span">
  <div class="span3">
    <%= link_to image_tag("logos/original/excursion-vish.png"), "/excursions/6"%>
  </div>
  <div class="span6">
    <div class="caption inline-block size16">
      <%= link_to  t('excursion.how'), "/excursions/6"%>
      <span class="blue-opacity">by <%= t('site.name') %>
      </span>
    </div>     
  </div>
</div>
<div class="row space_double_center"></div>
<div class="picture span7" id="picture_1">
  <div class="span3">
    <div id="margin-resources">
      <%= link_to  "", "/links/42", :class => "iconx-video", :alt => t('document.screencast') %>
    </div>
  </div>
  <div class="span9">
    <div class="caption inline-block size16">
      <%= link_to truncate_name(t('document.screencast'), :length => 20), "/links/42" %>
      <span class="blue-opacity">by <%= t('site.name') %>
      </span>
    </div>
  </div>
</div>


