<% unless excursion.blank? %>

<article class="">
  <div class="row-fluid">
    <div class="span12">

      <!--

      <div id="excursion-mobile-carousel-<#%= excursion.id %>" class="carousel slide" data-interval="false">
        <div class="carousel-inner">

          <!------item 1-----

          <div class="active item">
            <div class="caption">
              <div class="row-fluid">
                <div class="span12">    -->
                  <div class="box_basic span12 margin-bottom5">

                    <!-----div class="thumbnails"---->
                       <div class="span3 inline-block">
                          <%= link_to excursion_thumb_for(excursion, 130), excursion %>
                        </div>
                    <!-----/div--->

                    <div class="span9  margin-left5 margin-top5 ellipsis size18">
                      <%= link_to excursion.title, excursion %>
                    </div>
                      <!------info-------div class="">
                        <#%= link_to(raw("<i class='iconnav-notification'></i> "), :class => "btn pull-right") %>
                       </div-->
                    <div class="span9 margin-left5 green ellipsis size16">by
                      <span class="link_blue"><%= link_to excursion.author.name, excursion.author.user %> </span>

                      <div class="pull-right ">
                        <% unless excursion.draft %>
                          <h3>
                          <span class="green inline size14">
                            <%= excursion.post_activity.likes.count.to_s %>
                          </span>
                            <img src="/assets/star-MENU-active.png" width="12" height="12">

                          <span class="green inline-block size14">
                          <%= excursion.post_activity.comments.count.to_s %>
                            <img src="/assets/view2.png" width="auto" height="auto">
                          </span>
                          </h3>
                        <%end%>
                      </div>


                    </div>


                  </div>
                <!--

                </div>
              </div>



            </div>
          </div>
                     -->
          <!------item 2-----

          <div class="item">
            <div class="caption">
              <div class="row-fluid">
                <div class="span12">

                  <h2>
                    <span class="green">
                      <#%= excursion.visit_count %>
                    </span>
                    <#%= t('follow.views') %>
                  </h2>

                  <h3 class="span8 blue-opacity article ellipsis w400px">
                    <#% excursion.tags.each do |t| %>
                      <a href="#"><#%= t.to_s %></a>,
                    <#% end %>
                  </h3>

                </div>
                  <#% unless excursion.description.blank? %>
              </div>
            </div>
          </div>

          <!------item 3-----

          <div class="item">
            <p class="size15">
              <#%= truncate excursion.description, :length => 90 %>
            </p>
          </div>
            <#% end %>




        </div>
      </div>

      -->

    </div>
  </div>
</article>

<% end %>

