<div id="login">


<h1 class="menssage-devise">
  <%= t('devise.passwords.update') %>
</h1>

<div id="formulate">
  <div class="box_gray1 ">
    <div class="box_gray2">
      <div class="box_gray3">
        <div class="box_white devise-box">
          <div class="campos">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>


            <label class="text-tittle" for="email">
              <%= f.label :password %>
            </label>
            <%= f.password_field :password, :class => "", :id => "password", :placeholder => "password" %>

            <div class="line"></div>
            <label class="text-tittle" for="password">
              <%= f.label :password_confirmation %>
            </label>
            <%= f.password_field :password_confirmation, :class => "", :id => "password", :placeholder => "password"%>

          </div>
        </div>

        <%= f.submit t('action.send'), :class =>"btn btn-primary" %>
        <% end %>
      </br>
      </div>
    </div>
  </div>
</div>
</div>

