<h1 class="menssage-devise">
  <%= t('devise.passwords.forgot') %>
</h1>
<h2 class="sentence">
  <small>
    <%= t('devise.passwords.instructions') %>
  </small>
</h2>
<div id="formulate">
  <div class="box_gray1">
    <div class="box_gray2">
      <div class="box_gray3">
        <div class="campo">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, }) do |f| %>
          <%= devise_error_messages! %>
          <label class="no_display" for="email"><%= f.label :email %></label>
          <%= f.text_field :email, :class => "", :id => "email", :placeholder => t('devise.email') %>
        </div>
          <div class="accept-btn">
          <%= f.submit t('action.send'), :class => "btn btn-primary " %>
        </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>


