<div class="toolbar_nav-tab">
  <% unless @workshop.draft %>
    <a class ="btn" href="<%=workshop_path(@workshop)%>"><%=t('workshop.actions.edit_mode_btOff')%></a>
  <%end%>
  <%= link_to t('workshop.actions.delete'),  @workshop, :method => :delete, :class => 'btn btn-primary', :confirm => t('workshop.actions.confirm_delete') %>

  <%= form_for(@workshop) do |f| %>
    <%= f.hidden_field :draft, :value => !@workshop.draft %>
    <%= f.submit (@workshop.draft ? "Publicar" : "Retirar") %>
  <%end%>

  <% if @workshop_activities.count { |wa| wa.wa_type=="WaResource" } > 0 %>
    <button href="#" id="ws_expand_all" class=" btn ui-state-default ui-corner-all"><a><i class="icon-chevron-down"></i><%=t('workshop.actions.expand_all')%></a></button>
    <button href="#" id="ws_collapse_all" class=" btn ui-state-default ui-corner-all"><a><i class="icon-chevron-down"></i><%=t('workshop.actions.collapse_all')%></a></button>
  <%end%>
</div>


<script>
  $(function(){
    $("#ws_expand_all").click(function(){
      $(".wa_resource_wrapper.wa_activity_closed").parents(".wa_activity_wrapper_edit").find("li.toggleWorkshopActivity").click();
    });

    $("#ws_collapse_all").click(function(){
      $(".wa_resource_wrapper.wa_activity_open").parents(".wa_activity_wrapper_edit").find("li.toggleWorkshopActivity").click();
    });
  });
</script>
