<div class="left-info">
  <dl class="dl-horizontal">
    <!--author-->
    <dt><%= t('info.author') %></dt>
    <dd>
      <%= link_to @workshop.author.subject do %>
        <p><%= truncate_name(@workshop.author.name, :length => 50) %></p>
      <%end%>
    </dd>

    <!--tags-->
    <% unless @workshop.tag_list.blank? %>
      <dt><%= t('document.info.tags') %></dt>
      <dd>
        <ul class="tagit-suggestions">
          <% @workshop.tag_list.each do |tag| %>
          <li class="tagit-choice">
            <%= link_to tag, search_path(:q => tag) %>
          </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>
</div>
