<%content_for :javascript do%>
    //to close the popovers
    $(':not(#anything_not_present)').on('click', function (e) {
      $('.popover-link').each(function () {
      //the 'is' for buttons that trigger popups
      //the 'has' for icons and other elements within a button that triggers a popup
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
        $(this).popover('hide');
        return;
      }
      });
    });

    var shareEvents = false;

    $('a[data-toggle="tab"]').on('shown', function (e) {
      // e.target // activated tab
      // e.relatedTarget // previous tab
      var loadedTab = $(e.target).attr("tabTitle");
      switch (loadedTab){
        case "share": 
          if(!shareEvents){
            shareEvents = true;
            $('button#btn_copy_share').zclip({
              path:'/assets/ZeroClipboard.swf',
              copy:function(){
                return $('#input_with_shorturl').val();
              },
              afterCopy: function(){}
            });
            $("#input_with_shorturl").mouseup(function(e){
              // fixes safari/chrome problem
              e.preventDefault();
            }).focus(function(e){
              mytxt = $(this).text();
              $(this).select();
            }).click(function(e){
              mytxt = $(this).text();
              $(this).select();
            });
          }
          break;
        default:
          break;
      }
    });
    
    $('.delete').popover({
      html : true,
      content: function() {
        return $('.contentdelete').html();
      },
      container: "body"
    });

    $('.delete').on('shown.bs.popover', function(){
      $('.btn_cancel').on("click",function(){
        $('.delete').popover('hide');
      });
    });

    $(".with_tooltip").tooltip({ placement: 'bottom'});
<%end%>


<!--BTN ACTIONS-->
<div class="btn-group">

  <div class="contentdelete" style="display: none">
    <p class="delete_p"><i class="icon-trash"></i>  <%=t('excursion.confirm_delete')%></p>
    <div class="actions">
      <a class="btn btn_cancel"><%=t('cancel')%></a>
      <%= link_to t('excursion.actions.delete'),  @workshop, :method => :delete, :class => 'btn btn-primary' %>
    </div>
  </div>

  <!--Favorite-->
  <% unless @workshop.post_activity.nil? %>
    <%= link_like(@workshop.post_activity, {:size => :big, :class=>'btn', :title =>t('excursion.actions.favorite')})%>
  <%end%>

  <!--Categorize-->
  <%if user_signed_in? %>
    <%= render partial: 'categories/category_modal_viewer', :locals => {:remote=> true, :item => @workshop} %>
    <button id="AddCategory" role="button" class="categorize_select btn with_tooltip" data-toggle="modal" data-target="#categories_viewer_modal" title="<%=t('category.modalLabel')%>" aria-hidden="true" >
      <i class="icon-th-large"></i>
    </button>
  <%end%>

</div>


<!--TABS-->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" tabTitle='details' data-toggle="tab">
        <i class="icon-align-left"></i> 
        <span class="  hidden-phone">
          <%=t('excursion.detail')%>
        </span>
      </a>
    </li>
    <li>
      <a href="#tab3" tabTitle='share' data-toggle="tab">
        <i class="icon-share"></i>
        <span class=" hidden-phone">
          <%=t('excursion.actions.share')%>
        </span>
      </a>
    </li> 
    <li>
      <a href="#tab5" tabTitle='flag' data-toggle="tab">
        <i class="icon-flag"></i> 
        <span class=" hidden-phone spam-name ">
        <%=t('excursion.actions.spam')%>
        </span>
      </a>
    </li>
  </ul>
</div>

<div class="tab-content excursion-social">

  <!-- tab1 / details -->
  <div class="tab-pane active" id="tab1">
    <div class="toggler">
      <!--description-->
      <%= render :partial => 'workshops/workshop-info' %>
    </div>
  </div>

  <!-- tab3 / share -->
  <div class="tab-pane" id="tab3">
    <div class="contentShare">
      <div class="input-append url-input">
        <input class="shortUrl" readonly="true" id="input_with_shorturl" type="text" value="<%=shortURL%>"></input>
          <button class="btn copy_btn" id="btn_copy_share" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
            <i class="icon-copy "></i>
          </button>
      </div>
      <div class="social_toolbar_excursion">
        <div class="twitter_toolbar_excursion">
          <%= render :partial=>'shareon/twitter', :locals=>{:url=>shortURL, :counturl=>('http://' + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + workshop_path(@workshop) )} %>
        </div>
        <div class="facebook_toolbar_excursion">
          <%= render :partial=>'shareon/facebook', :locals=>{:url=>shortURL} %>
        </div>
        <div class="gplus_toolbar_excursion ">
          <%= render :partial=>'shareon/gplus', :locals=>{:url=>shortURL} %>
        </div>
        <div class="email_toolbar_excursion">
          <%= render :partial=>'shareon/email', :locals=>{:url=>shortURL, :title => @workshop.title, :name => (user_signed_in? ? current_subject.name : '')} %>
        </div>
      </div>
    </div>
  </div> 
   
  <!-- tab5 / spam -->
  <div class="tab-pane" id="tab5">
    <%@activity_object = @workshop.activity_object%>
    <%= render '/spam_report/form' %>
  </div>

</div>
