<div class="left-info">
  <!--author-->
  <%= render :partial => 'workshops/items-owner-profile' %>
  <!--tittle-->
  <div class="viewsAndConunt">        
    <div class="views">
      <%=@workshop.visit_count.to_s%> 
      <span>
        <%=t('follow.views')%>
      </span>   
    </div>
    <%unless @workshop.post_activity.nil?%>
      <div class="like">    
        <div class="count"><%=@workshop.post_activity.likes.count.to_s%></div>
        <%= link_like(@workshop.post_activity)%>
      </div>
    <%end%>
  </div>  
</div>

<div id="effect" class="newClass ui-corner-all">

  <dl class="dl-horizontal">

    <% unless @workshop.description.blank? %>
      <!--description-->
      <dt><%= t('info.description') %></dt>
      <dd><%= truncate(@workshop.description, :length => 400) %></dd>
      <% end %>
      <% unless @workshop.tag_list.blank? %>
      <!--tags-->
      <dt><%= t('info.tags') %></dt>
      <dd>
        <ul class="tagit-suggestions">
          <% @workshop.tag_list.each do |tag| %>
          <li class="tagit-choice">
            <%= link_to tag, search_path(:q => tag) %>
          </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <% unless @workshop.language.blank? %>
      <!--language-->
      <dt><%= t('lang.title').capitalize %></dt>
      <dd>
        <%= case @workshop.language
        when '';
          t('lang.independent')
        when 'de';
          'Deutsch'
        when 'en';
          'English'
        when 'es';
          'Español'
        when 'fr';
          'Français'
        when 'it';
          'Italiano'
        when 'pt';
          'Português'
        when 'ru';
          'Русский'
        else
          ; t('lang.others')
          end %>
        </dd>
      <% end %>
      
    <!--date-upload-->
    <dt><%= t('document.info.date.updated_at') %></dt>
    <dd><%= I18n.localize @workshop.updated_at, :format => :long %></dd>
  </dl>
</div>

<button href="#" id="showMore" status="showMore" class="ui-state-default ui-corner-all"><a><%=t('excursion.actions.show_more')%></a></button>

<script>
$(function() {
  $("#showMore").click(function(){
    $(".newClass").switchClass( "newClass", "anotherNewClass", 1000 );
    $(".anotherNewClass").switchClass( "anotherNewClass", "newClass", 1000 );
    if($("#showMore").attr("status")=== "showMore"){
      $("#showMore").html('<a><%=t("excursion.actions.show_fewer")%></a>');
      $("#showMore").attr("status", "showFewer");
    }
    else{
      $("#showMore").html('<a><%=t("excursion.actions.show_more")%></a>');
      $("#showMore").attr("status", "showMore");
    }
    return false;
  });
});
</script>
