<% if workshop.nil? or workshop.author.nil? %>
  <% return %>
<% end %>
<li class="box-item workshop-item">
  <!-- corner -->
  
  <div class="corner-item">
    <div class="corner-item2">
      <div class="corner-color"></div>
      <%= link_to raw(icon(workshop)) %>
    </div>
    <div class="corner-background"></div>
  </div>
  <!-- image/icon -->
  <div class="container-img">
    <div class="dummy"></div>
    <div class="element resource-center">
      <%= link_to raw(icon(workshop)), workshop, :title => workshop.title %>
    </div>
  </div>
  <%= render partial: "application/applyBackstretch", locals: { :includeScriptTag => true } %>
  <!-- INFO -->
  <div class="info">
    <!-- Title -->
    <div class="name">
      <%= link_to workshop.title, workshop %>
    </div>
    <!-- Author -->
    <span class="author"> 
      <span class="by"><%=t('by')%></span>
      <%= link_to truncate_name(workshop.author.name, length: 25), workshop.author.subject %>
    </span>
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">    
        <div class="count"><%=workshop.post_activity.likes.count.to_s%></div>
        <%= link_like(workshop.post_activity)%>
      </div>
      <!--views -->
      <div class="views">
        <%if workshop.private_scope? %>
          <div class="private-workshop-mark">
            <i class="icon-lock"></i>
          </div>
        <%else%>
          <%=workshop.visit_count.to_s%>
          <i class="icon-eye-open"></i>
        <%end%>
      </div>
    </div>
  </div>
</li>