<div class="left-info">
  <table class="table table-hover">
    <tr>
    <!--author-->
      <td><%= t('info.author') %></td>
      <td>
        <%= link_to @workshop.author.subject do %>
          <p><%= truncate_name(@workshop.author.name, :length => 50) %></p>
        <%end%>
      </td>
    </tr>
    <tr>
      <!--tags-->
      <% unless @workshop.tag_list.blank? %>
        <td><%= t('document.info.tags') %></td>
        <td>
          <ul class="tagit-suggestions">
            <% @workshop.tag_list.each do |tag| %>
            <li class="tagit-choice">
              <%= link_to tag, search_path(:q => tag) %>
            </li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
</div>
