<p><a href="<%=workshop_path(@workshop)%>">Turn off editing mode</a></p>
<%= link_to "Delete Workshop",  @workshop, :method => :delete, :class => 'btn btn-primary' %>
<%= form_for(@workshop) do |f| %>
  <%= f.hidden_field :draft, :value => !@workshop.draft %>
  <%= f.submit (@workshop.draft ? "Publicar" : "Retirar") %>
<%end%>
<br/>
<br/>

<p> Editing Workshop </p>

<div class="wa_activity_wrapper">
  <p>Title: <%=@workshop.title%></p>
  <p>Description: <%=@workshop.description%></p>
  <p>Avatar</p>
  <p><img class="workshop_thumbnail applyBackstretch" src="<%=@workshop.thumbnail_url%>"></p>
	<p><a href=<%=edit_details_path(@workshop)%>>Edit Details</a></p>
</div>

<% @workshop.workshop_activities.each do |wa| %>
  <div class="wa_activity_wrapper">
    <%= render :partial => 'entities/entity', :locals => { :entity => wa, :prefix_id => "workshop" } %>
  </div>
<%end%>

<div class="wa_add_activity_wrapper">
  <a href="#"><p>Add new Activity</p></a>
</div>

<script>
  $(document).ready(function(){
    <%= render partial: "application/applyBackstretch", locals: { :includeScriptTag => false } %>
  });
</script>

