

<section id="show_items" class="layout_show workshop_show">
  
  <div class="wa_activity_wrapper wa_activity_wrapper_show">
    <div class="description-activity"> 
      <% if user_signed_in? and (can? :update, @workshop) %>
        <p><a href="<%=edit_workshop_path(@workshop)%>" class="btn btn-primary">Turn on editing mode</a></p>
      <%end%>
      <!--title-->
      <h3 class="title_WS"><%=@workshop.title%></h3>
      <!--avatar-->
      <div class="container-img_WS">
        <div class="dummy"></div>
        <div class="element resource-center">
          <img class="workshop_thumbnail applyBackstretch" src="<%=@workshop.thumbnail_url%>">
        </div>
      </div>
      <!--description-->
      <p class="description_WS"><%=@workshop.description%></p>
    </div>
  </div>
  
  <!--owner-profile-->
  <div class="description-activity">
    <div class="box_description">
      <!--tool-->
      <div class="excursion_tool">
        <% shortURL = "http://" + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + workshop_path(@workshop) %>
        <%= render :partial => 'workshops/workshop-tool-tab', :locals => { :shortURL => shortURL} %>
      </div>   
    </div>
  </div>

  <div class="box-show">
    <div class="container-visor">
      <% @workshop_activities.each do |workshop_activity| %>
        <div class="wa_activity_wrapper">
          <% entity = workshop_activity.object %>
          <%className = entity.class.to_s%>
          <%classNameUnderscore = className.underscore%>
          <%= render partial: "#{ className.tableize }/#{ classNameUnderscore }",
               locals:  { classNameUnderscore.to_sym => entity, :prefix_id => "workshop" }  %>
        </div>
      <%end%>
      <br/>
    </div>
  </div>
    
  <div class="description-activity">
    <!--activity (comments) -->
    <div class="activity-box">
      <%= render :partial => 'workshops/evaluate-activity'%>
    </div>
  </div>

</section>