<% case params[:active_tab] %>
<%  when 'activities-net' then %>
  $('#net_load_more_button').remove();
  <% self.formats = [:mobile] %>
  $('#wall').append('<%= j render :partial => 'activities/wall', :locals => { :activities => current_subject.wall(:home).page(params[:page_net]), :is_active_wall => true } %>');
<%  when 'excursions-net' then %>
  $('#excursions_net_load_more_button').remove();
  <% self.formats = [:mobile] %>
  <% net_excursions = current_subject_excursions(:scope => :net, :limit => 10, :offset => (10*(params[:page_excursions_net].to_i-1))) %>
  $('#home-excursions-net').append('<%= j render :partial => 'excursions/filter_results', :locals => { :excursions => net_excursions } %>');
  <% unless net_excursions.count < 10 %>
    $('#home-excursions-net').append('<div class = "gray_links "><%= j link_to(I18n.t('activity.more'), {:page_excursions_net => (params[:page_excursions_net].to_i + 1), :active_tab => 'excursions-net'}, :id => 'excursions_net_load_more_button', :class =>'btn-more link_gray4 span12', :remote => true) %></div>');
  <% end %>
<%  when 'excursions-me' then %>
  $('#excursions_me_load_more_button').remove();
  <% self.formats = [:mobile] %>
  <% me_excursions = current_subject_excursions(:scope => :me, :limit => 10, :offset => (10*(params[:page_excursions_me].to_i-1)))%>
  $('#home-excursions-me').append('<%= j render :partial => 'excursions/filter_results', :locals => { :excursions => me_excursions } %>');
  <% unless me_excursions.count < 10 %>
    $('#home-excursions-me').append('<div class = "gray_links "><%= j link_to(I18n.t('activity.more'), {:page_excursions_me => (params[:page_excursions_me].to_i + 1), :active_tab => 'excursions-me'}, :id => 'excursions_me_load_more_button', :class =>'btn-more link_gray4 span12', :remote => true) %></div>');
  <% end %>
<%  when 'excursions-fav' then %>
  $('#excursions_fav_load_more_button').remove();
  <% self.formats = [:mobile] %>
  <% fav_excursions = current_subject_excursions(:scope => :fav, :limit => 10, :offset => (10*(params[:page_excursions_fav].to_i-1))) %>
  $('#home-excursions-fav').append('<%= j render :partial => 'excursions/filter_results', :locals => { :excursions => fav_excursions } %>');
  <% unless fav_excursions.count < 10 %>
    $('#home-excursions-fav').append('<div class = "gray_links "><%= j link_to(I18n.t('activity.more'), {:page_excursions_fav => (params[:page_excursions_fav].to_i + 1), :active_tab => 'excursions-fav'}, :id => 'excursions_fav_load_more_button', :class =>'btn-more link_gray4 span12', :remote => true) %></div>');
  <% end %>
<% end %>

