<% unless profile_or_current_subject.nil? %>
  <% content_for :title do %>
    <%= profile_or_current_subject.name+" | "+t('follow.followers') %>
  <% end %>
  <% content_for :description do %>
    <% if profile_or_current_subject.profile.description? %>
      <%= profile_or_current_subject.profile.description %>
    <% else %>
      <%= profile_or_current_subject.name+" "+t('profile.is_on') + " "+ t('site.name') %>
    <% end %>
  <% end %>

  <% content_for :keywords do %>
    <%= profile_or_current_subject.profile.subject.tag_list %>
  <% end %>


<header id="profile-header">
  <%= image_tag(profile_or_current_subject.logo.url(:profile), :alt => profile_or_current_subject.name, :class => "avatar") %>
  <span class="name level4">
    <%= profile_or_current_subject.name%>
  </span>
  <span class="tags">
    <% profile_or_current_subject.tag_list.each do |t| %>
    <a href="#"><%= t.to_s %></a>
    <% end %>
    <% end %>
  </span>
</header>
<section>

<!--menu 1-->

  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#excursions"><%= t('excursion.other') %></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#timeline"><%= t('activity.timeline') %></a>
    </li>
  </ul>
  <div class="tab-content">

<!--timeline-->       

    <div id="timeline" class="tab-pane timeline">
      <%= render :partial => 'activities/wall', :locals => {:activities => current_subject.wall(:home).page(params[:page_net]), :is_active_wall => true} %>
    </div>


<!--menu 2-->

    <div id="excursions" class="tab-pane active subnav">
      <ul class="btn-group ">
        <li class=" active btn "><a data-toggle="tab" href="#ex-1"><%= t('excursion.net') %></a></li>
        <li class="btn"><a data-toggle="tab" href="#ex-2"><%= t('excursion.my') %></a></li>
        <li class="btn"><a data-toggle="tab" href="#ex-3"><%= t('excursion.top') %></a></li>
        <li class="btn"><a data-toggle="tab" href="#ex-4"><%= image_tag("/assets/icons/star-on.png") %></a></li>
      </ul>
    </div>
 
<!--excursion-->

    <div class="tab-content">

      <div id="ex-1" class="tab-pane active">
        <div id="home-excursions-net">
          <% net_excursions = current_subject_excursions(:limit => 10) %>
          <%= render :partial => 'excursions/filter_results', :locals => {:excursions => net_excursions} %>
          <% params[:page_excursions_net]="1" if params[:page_excursions_net].blank? %>
          <%= link_to(t('activity.more'), {:page_excursions_net => (params[:page_excursions_net].to_i + 1), :active_tab => 'excursions-net'}, :id => 'excursions_net_load_more_button', :class => '', :remote => true) unless net_excursions.count < 10 %>
        </div>
      </div>

      <div id="ex-2" class="tab-pane">
        <div id="home-excursions-me">
          <% me_excursions = current_subject_excursions(:scope => :me, :limit => 10) %>
          <%= render :partial => 'excursions/filter_results', :locals => {:excursions => me_excursions} %>
          <% params[:page_excursions_me]="1" if params[:page_excursions_me].blank? %>
          <%= link_to(t('activity.more'), {:page_excursions_me => (params[:page_excursions_me].to_i + 1), :active_tab => 'excursions-me'}, :id => 'excursions_me_load_more_button', :class => '', :remote => true) unless me_excursions.count < 10 %>
        </div>
      </div>
      
      <div id="ex-3" class="tab-pane">
        <div id="home-excursions-more">
          <%= render :partial => 'excursions/filter_results', :locals => {:excursions => current_subject.excursion_suggestions(10)} %>
        </div>
      </div>

      <div id="ex-4" class="tab-pane">
        <div id="home-excursions-fav">
          <% fav_excursions = current_subject_excursions(:scope => :like, :limit => 10) %>
          <%= render :partial => 'excursions/filter_results', :locals => {:excursions => fav_excursions} %>
          <% params[:page_excursions_fav]="1" if params[:page_excursions_fav].blank? %>
          <%= link_to(t('activity.more'), {:page_excursions_fav => (params[:page_excursions_fav].to_i + 1), :active_tab => 'excursions-fav'}, :id => 'excursions_fav_load_more_button', :class => '', :remote => true) unless fav_excursions.count < 10 %>
        </div>
      </div>

    </div>
  </div>
 </section>




