<h3 class=""><%= t('message.new') %></h3>
<%= form_tag messages_path, :method => :post, :class => "new_message" do %>
  <% if @receipt and @receipt.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this message from being sent:</h2>
      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box_gray1">
    <div class="box_gray2">
      <div class="box_gray3">
        <div class="new-message">
          <%= label_tag t('mailboxer.form.recipients')  %>
          <div class="">
            <ul id= "singleFieldTag"></ul> 
          </div>
          <%= label_tag t('mailboxer.form.subject')%>
          <div class="">
            <%= text_field_tag :subject, nil, :class => "required form_tag_message " %>
          </div>
          <%= label_tag t('mailboxer.form.body') %>
          <div class="" id="ck_editor">
            <%= text_area_tag :body, nil, :rows => 6, :cols => 53, :class => "required form_tag ", :maxlength => 5000 %>
          </div>
        </div>

        <div class="actions">
          <%= submit_tag t('mailboxer.send'), :name => :send_message, :class => "btn btn-primary" %>
        </div>
        <div class="clearfloat"></div>
      </div>
    </div>
  </div>


<% end %>


