<div class="repository tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#"><%= t('message.new') %></a></li>
  </ul>
</div>

<%= form_tag messages_path, :method => :post, :class => "new_message" do %>
  <% if @receipt and @receipt.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this message from being sent:</h2>
      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="block">
    <%= label_tag t('mailboxer.form.recipients') %>
    <%= select_tag :_recipients, "", :class => "required form_tag" %>
    <div class="clearfloat"></div>
    <%= label_tag t('mailboxer.form.subject') %>
    <%= text_field_tag :subject, nil, :class => "required form_tag_message " %>
    <div class="clearfloat"></div>
    <%= label_tag t('mailboxer.form.body') %>

    <div class="" id="ck_editor">
      <%= text_area_tag :body, nil, :rows => 6, :cols => 5, :class => "required form_tag  ", :maxlength => 5000 %>
    </div>

    <div class="actions ">
      <%= submit_tag t('mailboxer.send'), :name => :send_message, :class => "btn btn-primary" %>
    </div>

  </div>

<% end %>
