


<% content_for :title do %>
  <%=t('message.other')%>
<% end %>

<% sidebar %>

<% toolbar :messages %>

<%= location(
  link_to(t('message.other'), conversations_path,:remote => true),
  link_to(t('message.new'), new_message_path, :remote => true)
) %>



<!-- User tags -->
    <%@user_contacts = current_user.sent_contacts %>
    <ul id="preloadUserContactList" style="display:none">
      <%@user_contacts.each do |contact| %>
        <li><%= contact.receiver.name %></li>
      <%end%>
    </ul>

<% content_for :javascript do %>	
			//////////////
			//Contacts
			//////////////

			var contactos = [];
			var i = 0;

			<%@user_contacts = current_user.sent_contacts %>
     		<%@user_contacts.each do |contact| %>
      			 contactos[i]= "<%=contact.receiver.name %>";
      			 i++;
     		<%end%>


		$('#singleFieldTag').tagit({
		<% unless @recipient.nil? %>
			initialTags:["<%= @recipient.name %>"],		
		<% end %>
				allowSpaces: true, 
			    tagSource: contactos,
			    availableTags: contactos,
			    allowNewTags:false, 
			    // This will make Tag-it submit a single form value, as a comma-delimited field.
			    singleField: true,
			     triggerKeys:['enter', 'comma', 'tab'],
                singleFieldNode: $('#_recipients')
		    });
	

	
	function resetFields(){
	//File input
	$(".form_tag").val("")
	//All tagits
		var contactList = $("#_recipients");
		$(contactList).tagit("reset");
	//All input tags
		$("input[name='document[tag_list][]']").val("")

	}


	
	$("#body").cleditor({
    width:"100%",
	  controls:  "<%= SocialStream.cleditor_controls %>"   
	});

	<% unless @recipient.nil? %>
	initialTags:["receiver"],
		$("#_recipients").trigger("addItem",[{"title": "<%= truncate_name @recipient.name %>", "value": "<%= @recipient.id %>"}]);
	<% end %>

  $(".new_message").validate({errorClass: "validation_error"});


<% end %>

<%= render :partial => 'new' %>
