<div class="row" id="contact_info">
  <div class="space_center"></div>
  <div class="header">
    <div class="header_text2">
      <%= t('profile.contact') %>
      <% if is_owner? %>
        <div class="header_icon_right">
          <%= link_to (image_tag('icons/edit_icon.png', :class=>"unborder")), :controller => :profiles, :action => :edit, :section => "contact_info" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row span6 boxy_white">
    <div class="space_center"></div>
    <div class="content">
      <% if !is_contact_empty? %>
        <div class="sub-block">
          <% if @profile.phone? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.phone') %>
              </div>
              <div class="field_profile">
                <%= h @profile.phone %>
              </div>
            </div>
          <% end %>
          <% if @profile.mobile? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.mobile') %>
              </div>
              <div class="field_profile">
                <%= h @profile.mobile %>
              </div>
            </div>
          <% end %>
          <% if @profile.fax? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.fax') %>
              </div>
              <div class="field_profile">
                <%= h @profile.fax %>
              </div>
            </div>
          <% end %>
          <% if @profile.address? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.address') %>
              </div>
              <div class="field_profile">
                <%= h @profile.address %>
              </div>
            </div>
          <% end %>
          <% if @profile.website? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.website') %>
              </div>
              <div class="field_profile">
                <a href="<%= h @profile.website %>"><%= h @profile.website %></a>
              </div>
            </div>
          <% end %>
          <% if @profile.subject.email? && user_signed_in? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.email') %>:
              </div>
              <div class="field_profile">
                <%= show_if_signed_in(h(@profile.subject.email)) %>
              </div>
            </div>
          <% end %>
        </div>
      <% elsif is_owner? %>
        <div id="field_profile_field_empty">
        <%= t('profile.empty') %>
        </div>
      <% end %>
      <div class="space_center"></div>
    </div>
  </div>
</div>