<div class="row" id="contact_info">
  <div class="header">
    <div class="header_text2">
      <%= t('profile.contact') %>
      <% if is_owner? %>
        <div class="header_icon_right">
          <%= link_to (image_tag('edit_icon.png', :class=>"unborder")), "javascript:showSettings(\"contact_info\");" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row span6 boxy_white">
    <div class="space_center"></div>
    <div class="content settings_briefing" id="contact_info_briefing">
      <% if !is_contact_empty? %>
        <div class="sub-block">
          <% if @profile.phone? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.phone') %>
              </div>
              <div class="field_profile">
                <%= h @profile.phone %>
              </div>
            </div>
          <% end %>
          <% if @profile.mobile? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.mobile') %>
              </div>
              <div class="field_profile">
                <%= h @profile.mobile %>
              </div>
            </div>
          <% end %>
          <% if @profile.fax? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.fax') %>
              </div>
              <div class="field_profile">
                <%= h @profile.fax %>
              </div>
            </div>
          <% end %>
          <% if @profile.address? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.address') %>
              </div>
              <div class="field_profile">
                <%= h @profile.address %>
              </div>
            </div>
          <% end %>
          <% if @profile.website? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.website') %>
              </div>
              <div class="field_profile">
                <a href="<%= h @profile.website %>"><%= h @profile.website %></a>
              </div>
            </div>
          <% end %>
          <% if @profile.subject.email? && user_signed_in? %>
            <div class="row">
              <div class="title_sub_profile">
                <%= t('profile.email') %>:
              </div>
              <div class="field_profile">
                <%= show_if_signed_in(h(@profile.subject.email)) %>
              </div>
            </div>
          <% end %>
        </div>
      <% elsif is_owner? %>
        <div id="field_profile_field_empty">
        <%= t('profile.empty') %>
        </div>
      <% end %>
    </div>

  </div>
    <% if is_owner? %>
      <div class="content settings_content" id="contact_info_content" style="display:none;">
        <div class="field_profile">
          <%= form_for(@profile, :url => [current_subject, :profile], :remote => false) do |f| %>
            <%= f.fields_for :actor do |actor_form| %>
              <div class="form_row">
              <div class="row padding_left">
              <div class="space_center"></div>
              <div class="title_sub_profile">
              <%= f.label t('profile.phone') %>
              </div>
              <div class="form_field">
              <%= f.text_field :phone, :class => "phone form_tag" %>
              </div>
              <div class="form_row">
              <div class="title_sub_profile">
              <%= f.label t('profile.mobile') %>
              </div>
              <div class="form_field">
              <%= f.text_field :mobile, :class => "phone form_tag" %>
              </div>
              </div>
              <div class="form_row">
              <div class="title_sub_profile">
              <%= f.label t('profile.fax') %>
              </div>
              <div class="form_field">
              <%= f.text_field :fax, :class => "phone form_tag" %>
              </div>
              </div>
              <div class="form_row">
              <div class="title_sub_profile">
              <%= f.label t('profile.address') %>
              </div>
              <div class="form_field">
              <%= f.text_field :address, :class => "form_tag" %>
              </div>
              </div>
              <div class="form_row">
              <div class="title_sub_profile">
              <%= actor_form.label t('profile.email') %>
              </div>
              <div class="form_field">
              <%= actor_form.text_field :email, :class => "email form_tag" %>
              </div>
              </div>
              <div class="form_row">
              <div class="title_sub_profile">
              <%= f.label t('profile.website') %>
              </div>
              <div class="form_field">
              <%= f.text_field :website, :class => "url form_tag" %>
              </div>
              <div class="space_center"></div>
              </div>
              </div>
            <% end %>
            <%= f.submit t('button.update'), :class => "button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="space_center"></div>
</div>

