<div class="clearfloat"></div>
<div class="line2"></div>
<div id="experience_info">
  <div class="title">
    <%= t('profile.' + @profile.subject.class.to_s.downcase + '.experience') %>
  </div>
    <% if is_owner? %>
  <div class="action">
    <%= link_to (image_tag('icons/edit_icon.png', :class=>"imgnoradio")), "javascript:showSettings(\"experience_info\");" %>
  </div>
      <% end %>

    <div class="content settings_briefing word-break" id="experience_info_briefing">
      <% if @profile.experience? %>
        <div class="row">
          <div class="field_profile">
            <%= h @profile.experience %>
          </div>
        </div>
      <% elsif is_owner? %>

        <div id="field_empty">
        <%= t('profile.empty') %>
        </div>

      <% end %>

    </div>
    <% if is_owner? %>
      <div class="content settings_content" id="experience_info_content" style="display:none;">
        <div class="field_profile">
          <%= form_for(@profile, :url => [current_subject, :profile], :remote => false) do |f| %>
             <div class="text-experience">
             <%= f.text_area :experience, :maxlength => 246, :rows => 5, :class => "span5" %>
             </div>
             <%= f.submit t('button.update'), :class => "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>

</div>
<div class="clearfloat"></div>


