<div>
<h2><%= t('profile.one') %></h2>
<% if (@profile.subject.tag_list.count > 0) or (is_owner?) %>
  <%= render :partial => "tags" %>
<% end %>
<% if (!is_personal_empty?) or(is_owner?) %>
  <%= render :partial => "personal" %>
<% end %>
<% if (!is_contact_empty?) or(is_owner?) %>
  <%= render :partial => "contact" %>
<% end %>
<% if (@profile.experience?) or(is_owner?) %>
  <%= render :partial => "experience" %>
<% end %>
<% if is_owner? %>
  <div class="setting-box" id="avatar_info">
    <div class="title">
      <%= t('avatar.profile_change') %>
    </div>
    <%= link_to (image_tag('icons/edit_icon.png', :class=>"imgnoradio")), :controller => "avatars", :action => "index", :class => "action"  %>
  </div>
<% end %>


