<%= div_for audio, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    $('#audio_<%= audio.id.to_s %>').parents('.thumbnails').children().first().html('<%= j link_to raw("<i class=\"icon75-audio\"></i>"), download_document_path(audio), :class => "" %>');
  <% end %>

  <ul class="thumbnails">
    <li class="span9">
      <div class="title">
        <h4 class="bold ellipsis w190px">
          <%= link_to audio.title, download_document_path(audio) %>
        </h4>
        <% if audio.file_processing %>
          <p><%= t('audio.processing') %></p>
        <% end %>
      </div>
    </li>
  </ul>

<% end %>

