<ul class="thumbnails">
  <%= javascript_tag do %>
    <%= modal_for(audio) %>
  <% end %>
  <li class="span3">
    <a data-toggle="modal" href="#audio-modal-<%= audio.id.to_s%>" class="audio-modal-button-<%= audio.id.to_s%>"><i class='icon75-audio'></i></a>
  </li>
  <li class="span9">
    <div class="title">
      <h4 class="bold ellipsis w190px">
        <a data-toggle="modal" href="#audio-modal-<%= audio.id.to_s%>" class="audio-modal-button-<%= audio.id.to_s%>"><%= audio.title %></a>
      </h4>
    </div>
    <p><%= simple_format audio.description %></p>
    <p><%= link_to t('details.msg'), audio, :class => "attachment_text_link" %></p>
    <div class="audio-format-links">
      <%= link_to "WebMA", audio_path(audio, :format => :webma), :class => "audio-webma" %>
    </div>
  </li>
</ul>

