<!--timeline-->
<div class="item-object-wall">
  <ul class="thumbnails">
    <li class="img-object">
      <%= javascript_tag do %>
      <%= modal_for(audio) %>
      <% end %>
      <a data-toggle="modal" href="#audio-modal-<%= audio.id.to_s%>" class="audio-modal-button-<%= audio.id.to_s%> modal-trigger"><i class='icon75-audio'></i></a>
    </li>
    <li class="info-object-timeline">
      <div class="title-object">
        <a data-toggle="modal" href="#audio-modal-<%= audio.id.to_s%>" class="audio-modal-button-<%= audio.id.to_s%> modal-trigger"><%= audio.title %></a>
      </div>
      <p><%= simple_format audio.description %></p>
      <p class="details"><%= link_to t('details.msg'), audio, :class => "attachment_text_link" %></p>
      <div class="audio-format-links">
        <%= link_to "WebMA", audio_path(audio, :format => :webma), :class => "audio-webma" %>
      </div>
    </li>
  </ul>
</div>

