<section id="overview">
	<div class="whiteframe">
		<div class="bs-docs-sidebar overviewindex"  data-spy="affix" data-offset-top="96" data-offset-bottom="0">
	  	<legend><%= t('overview_title') %></legend>
		  <ul class="nav bs-docs-sidenav">
		    <li><h4><%= t('overview.list') %></h4></li>
		    <li style="list-style: initial">
  			  <a href="#overview">
  			    <%= t('overview.list1') %>
  			  </a>
          <ul class="nav">
            <li><a href="#overview2"><%= t('overview.list2') %></a></li>
          </ul>
  			</li>
  			<li><a href="#overview3"><%= t('overview.list3') %></a></li>
  			<li><a href="#overview4"><%= t('overview.list4') %></a></li>
  			<li><a href="#overview5"><%= t('overview.list5') %></a></li>
  			<li><a href="#overview6"><%= t('overview.list6') %></a></li>
  			<li><a href="#overview7"><%= t('overview.list7') %></a></li>
  		</ul>
  		<hr>
  		<button type="button" class="btn btn-default btn-md"><%= t('overview.downloadpdf') %></button>
  	</div>
  	
  	<div class="overviewcontent">
			<legend><%= t('overview.overview1') %></legend>
			<br>
			<p>
        <a href="www.vishub.org">
          <%= t('thevish') %>
        </a>
        <%= t('overview.overview2') %>
      </p>
      <br>
			<p>
        <%= t('overview.overview3') %>
      </p>
      <br>
			<ul>
				<li><a target="_blank" href="http://vishub.org/excursions/595">Stellar Trip</a></li>
				<li><a target="_blank" href="http://vishub.org/excursions/83">Mars Curiosity Rover</a></li>
				<li><a target="_blank" href="http://www.vishub.org/excursions/912">Minerals - Amethyst</a></li>
				<li><a target="_blank" href="http://www.vishub.org/excursions/560">Higgs Particle</a></li>
				<li><a target="_blank" href="http://www.vishub.org/excursions/63">Human 3D model</a></li>
				<li><a target="_blank" href="http://vishub.org/excursions/632">Roman Villas in Spain (Spanish)</a></li>
			</ul>
		  <br>
			<p>
        <%= t('overview.overview4') %>
      </p>
      <br>
			<p>
				<ul>
  				<li><a target="_blank" href="http://www.vishub.org/excursions/515">Classroom project</a></li>
  				<li><a target="_blank" href="http://www.vishub.org/excursions/395">Student work (Amatista in Spanish)</a></li>
  				<li><a target="_blank" href="http://www.vishub.org/excursions/912">Student work translated to English</a></li>
				</ul>
			</p>
      <br>
			<p>
        <%= t('overview.overview5') %>
      </p>
      <br>
			<p>
				<ul>
  				<li><%= t('overview.overview6') %></li>
  				<li><%= t('overview.overview7') %></li>
  				<li><%= t('overview.overview8') %><a target="_blank" href="http://www.mashme.tv"> MashMe.tv</a>. </li>
  				<li><%= t('overview.overview9') %></li>
  				<li><%= t('overview.overview10') %></li>
  				<li><%= t('overview.overview11') %></li>
  				<li><%= t('overview.overview12') %></li>
				</ul>
			</p>
      <br>

			<p id="overview2">
				<%= t('overview.overview13') %>
        <a target="_blank" href="http://www.vishub.org/catalogue">
          <%= t('overview.overview14') %>
        </a> 
        <%= t('overview.overview15') %>
			</p>
			<br>
			<p>
        <%= t('overview.overview17') %>
			  <a target="_blank" href="http://vishub.org/legal_notice">
          <%= t('overview.overview18') %>
        </a>
        <%= t('overview.overview19') %>
			</p>
      <br>
			<p>
        <%= t('overview.overview20') %>
			</p>
      <br>
			<p>
				<ul>
  				<li><%= t('overview.overview21') %></li>
  				<li><%= t('overview.overview22') %></li>
  				<li><%= t('overview.overview23') %></li>
  				<li><%= t('overview.overview24') %></li>
				</ul>
			</p>
      <br>
			<p>
        <%= t('overview.overview25') %>
			</p>
      <br>
			<p>
        <%= t('overview.overview26') %>
			</p>
      <br>
			<p id="overview3">
        <%= t('overview.overview27') %>
			</p>
      <br>
			<p>
				<br> 
				<legend><%= t('overview.overview28') %></legend>
				<br>
			</p>
      <br>
			<p>
        <%= t('overview.overview29') %>
      </p>
      <br>
			<p>
        <%= t('overview.overview30') %>
      </p>
      <br>
			<ul>
				<li>
					<b><%= t('overview.overview31') %></b>
					<%= t('overview.overview32') %>
					<a target="_blank" href="http://vishub.org/categories/64"><%= t('overview.overview33') %></a>, 
					<a target="_blank" href="http://vishub.org/categories/65"><%= t('overview.overview34') %></a>, 
					<a target="_blank" href="http://vishub.org/categories/62"><%= t('overview.overview35') %></a>, 
					<a target="_blank" href="http://vishub.org/categories/63"><%= t('overview.overview36') %></a>, 
					<%= t('overview.overview37') %>
				</li>
        <br>
				<li><b><%= t('overview.overview38') %></b><%= t('overview.overview39') %><a target="_blank" href="http://vishub.org/categories/61"><%= t('overview.overview40') %></a><%= t('overview.overview41') %>
        </li>
        <br>
				<li><b><%= t('overview.overview42') %></b><%= t('overview.overview43') %><a target="_blank" href="http://vishub.org/categories/57"><%= t('overview.overview44') %></a>
        </li>
        <br>
				<li><b><%= t('overview.overview45') %></b><%= t('overview.overview46') %><a target="_blank" href="http://vishub.org/categories/58"><%= t('overview.overview47') %></a>
				</li>
        <br>
				<li><b><%= t('overview.overview48') %></b><%= t('overview.overview49') %><a target="_blank" href="http://vishub.org/categories/59"><%= t('overview.overview50') %></a>
				</li>
        <br>
				<li><b><%= t('overview.overview51') %></b><%= t('overview.overview52') %><a target="_blank" href="http://vishub.org/categories/60"><%= t('overview.overview53') %></a><%= t('overview.overview54') %>
        </li>
			</ul>
      <br>
			<p id="overview4">
        <%= t('overview.overview55') %>
			</p>
      <br>
			<p>
				<br> 
				<legend>
          <%= t('overview.overview56') %>
        </legend>
				<br>
			</p><br>
			<p>
			  <%= t('overview.overview57') %>
			</p>
      <br>
			<p  id="overview5">
        <%= t('overview.overview58') %>
			</p>
      <br>
			<p>
				<br> 
				<legend>
          <%= t('overview.overview59') %>
        </legend>
				<br>
			</p>
      <br>
			<p>
        <%= t('overview.overview60') %>
			</p>
      <br>
			<p>
        <%= t('overview.overview61') %>
			</p>
      <br>
			<p id="overview6">
        <%= t('overview.overview62') %>
			</p>
      <br>
			<p>
				<br> 
				<legend><%= t('overview.overview63') %></legend>
				<br>
			</p>
      <br>
			<p>
			  <%= t('overview.overview64') %>
			</p><br>
			<p>
			  <%= t('overview.overview65') %></p><br>
			<p>
			  <%= t('overview.overview66') %>
			</p>
      <br>
			<p>
			  <br id="overview7"> 
			  <legend><%= t('overview.overview67') %></legend>
			  <br> 
			</p>
      <br>
			<p>
			  <%= t('overview.overview68') %>
        <a href="http://www.mashme.tv">
          MashMe.tv
        </a> 
        <%= t('overview.overview69') %>
      </p>
      <br>
			<p>
        <%= t('overview.overview70') %>
			</p>
		</div>
  </div>
</section>
