<!--LANGUAGE-->
<ul class="Language_as">
	<h4>Language :</h4>


<li href="#"><%= image_tag('flags/flag_united_kingdom.png'); %>English</li>
<li href="#"><%= image_tag('flags/flag_spain.png'); %>Español</li>
<li href="#"><%= image_tag('flags/flag_germany.png'); %>German</li>
<li href="#"><%= image_tag('flags/flag_netherlands.png'); %>Netherlands</li>
<li href="#"><%= image_tag('flags/flag_hungary.png'); %>Magyar</li>
<li href="#"><%= image_tag('flags/flag_france.png'); %>Français</li>

</ul>