<div id="toolbar-follower">
  <div class="tittle-follow">
    <%= link_to subject.followers.count.to_s + ' ' + t('follow.followers'), [subject,"followers"] %>
  </div>
  <% subject.followers.all.shuffle.first(4).each do |object|  %>
  <%= div_for object.actor, :class => 'modal-pivot' do %>
  <%= javascript_tag do %>
  <%= modal_for(object.actor.subject) %>
  <% end %>
  <ul class="thumbnails">
    <li class="logo-toolbar-follower">
      <a data-toggle="modal" href="#user-modal-<%= object.actor.slug %>" class="user-modal-button-<%= object.actor.slug %> container follower-tooltip modal-trigger" title="<%=truncate(object.actor.name, :length => 20)%>" rel="tooltip">
        <%= image_tag(object.actor.logo.url(:contact)) %>
      </a>
    </li>
  </ul>
  <% end %>
  <% end %>

  <div class="clearfloat">

  <div class="tittle-follow"> 
  <%= link_to subject.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings'), [subject,"followings"], :class => '' %>
  </div>
  <% subject.following_actor_objects.includes(:actor).all.shuffle.first(4).each do |object|  %>
  <%= div_for object.actor, :class => 'modal-pivot' do %>
  <%= javascript_tag do %>
  <%= modal_for(object.actor.subject) %>
  <% end %>
  <ul class="thumbnails">
    <li class="logo-toolbar-follower">
      <a data-toggle="modal" href="#user-modal-<%= object.actor.slug %>" class="user-modal-button-<%= object.actor.slug %> container follower-tooltip modal-trigger" title="<%=truncate(object.actor.name, :length => 20)%>" rel="tooltip">
          <%= image_tag(object.actor.logo.url(:contact)) %>
      </a>
    </li>
  </ul>
  <% end %>
  <% end %>

  <%= javascript_tag do %>
    $(document).ready(function(){
      $('.follower-tooltip').tooltip({ placement: 'bottom'});
    });
  <% end %>
</div>