<div class="space_center"></div>
<div class="header_text space_null"> <%=subject.followers.count  %> <%= t('follow.followers') %> </div>
<div class="gray space_bottom"> <%=subject.following_actor_objects.includes(:actor).count%> <%= t('follow.followings') %> </div>
<% subject.followers.limit(4).each do |object|  %>

<%= div_for object.actor, :class => '' do %>
  <ul class="thumbnails span">
    <li class="span1">
      <%= link_to(image_tag(object.actor.logo.url(:contact)),
                  object.actor.subject, :class => "container") %>
    </li>
  </ul>
<% end %>

<% end %>

