<div class="space_center"></div>
<div class="header_text space_null link_pink"> <%= link_to subject.followers.count.to_s + ' ' + t('follow.followers'), [subject,"followers"] %> </div>
<div class="space_center"></div>
<% subject.followers.all.shuffle.first(4).each do |object|  %>

<%= div_for object.actor, :class => '' do %>
  <ul class="thumbnails span">
    <li class="span1">
      <a data-toggle="modal" href="#user-modal-<%= object.actor.slug %>" class="user-modal-button-<%= object.actor.slug %> container follower-tooltip" title="<%=truncate(object.actor.name, :length => 20)%>" rel="tooltip">
        <%= image_tag(object.actor.logo.url(:contact)) %>
      </a>
    </li>
  </ul>
<% end %>
<%= javascript_tag do %>
  $(".user-modal-button-<%= object.actor.slug %>").on("click", function(){
   <%= modal_for(object.actor.subject) %>
  });
<% end %>
<% end %>
<div class="row space_center"></div>
<div class="header_text space_null link_pink"> <%= link_to subject.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings'), [subject,"followings"], :class => '' %> </div>
<div class="space_center"></div>
<% subject.following_actor_objects.includes(:actor).all.shuffle.first(4).each do |object|  %>

<%= div_for object.actor, :class => '' do %>
  <ul class="thumbnails span">
    <li class="span1">
      <a data-toggle="modal" href="#user-modal-<%= object.actor.slug %>" class="user-modal-button-<%= object.actor.slug %> container follower-tooltip" title="<%=truncate(object.actor.name, :length => 20)%>" rel="tooltip">
        <%= image_tag(object.actor.logo.url(:contact)) %>
      </a>
    </li>
  </ul>
<% end %>
<%= javascript_tag do %>
  $(".user-modal-button-<%= object.actor.slug %>").on("click", function(){
   <%= modal_for(object.actor.subject) %>
  });
<% end %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('.follower-tooltip').tooltip({ placement: 'bottom'});
  });
<% end %>

