<li><%= t('search.orderby')%>
  <ol>
    <li><a href"#" class="gray"><%= t('search.newest') %></a></li>
    <li><a href"#" class="gray"><%= t('search.mostviewed') %></a></li>
    <li><a href"#" class="gray"><%= t('search.mostfav') %></a></li>
  </ol>
</li>
<li><%= t('search.type')%>
  <ol>
    <li><a href"#" class="gray"><%= t('search.audio') %></a></li>
    <li><a href"#" class="gray"><%= t('search.document') %></a></li>
    <li><a href"#" class="gray"><%= t('search.embed') %></a></li>
    <li><a href"#" class="gray"><%= t('search.flash') %></a></li>
    <li><a href"#" class="gray"><%= t('search.image') %></a></li>
    <li><a href"#" class="gray"><%= t('search.link') %></a></li>
    <li><a href"#" class="gray"><%= t('search.video') %></a></li>
  </ol>
</li>

