<ul class="info_as">
	<i class="icon-search "></i>
  <h2>advanced search</h2>

</ul>
<%= render :partial => 'toolbar/advanced_search_order_by' %>

<%= render :partial => 'toolbar/advanced_search_creation' %>
<%= render :partial => 'toolbar/advanced_search_tags' %>
<%= render :partial => 'toolbar/advanced_search_language' %>
<%= render :partial => 'toolbar/advanced_search_all' %>





