<li id="advanced_all_time"><p class="time"><%= t('search.time_constraint')%></p>
  <ol>
    <li><a href="#" class="gray<%= ' active' if not params[:time].present? %>"><%= t('search.always') %></a></li>
    <li><a href="#day" class="gray<%= ' active' if params[:time].present? and params[:time] == "day" %>"><%= t('search.last_day') %></a></li>
    <li><a href="#week" class="gray<%= ' active' if params[:time].present? and params[:time] == "week" %>"><%= t('search.last_week') %></a></li>
    <li><a href="#month" class="gray<%= ' active' if params[:time].present? and params[:time] == "month" %>"><%= t('search.last_month') %></a></li>
    <li><a href="#year" class="gray<%= ' active' if params[:time].present? and params[:time] == "year" %>"><%= t('search.last_year') %></a></li>
  </ol>
</li>

<%= javascript_tag do %>
  $('#advanced_all_time a').on('click', function(){
    $('#main_search_form_time').val($(this).attr('href').replace('#', '') );
    $('#main_search_form').submit();
  });
<% end %>
