<li id="advanced_resource_sort"><%= t('search.orderby')%>
  <ol>
    <li><a href="#" class="gray<%= ' active' if not params[:sort].present? %>"><%= t('search.relevance') %></a></li>
    <li><a href="#newest" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "newest" %>"><%= t('search.newest') %></a></li>
    <li><a href="#views" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "views" %>"><%= t('search.mostviewed') %></a></li>
    <li><a href="#likes" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "likes" %>"><%= t('search.mostfav') %></a></li>
  </ol>
</li>
<li id="advanced_resource_class"><%= t('search.type')%>
  <ol>
    <li><a href="#audio" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "audio" %>"><%= t('search.audio') %></a></li>
    <li><a href="#officedoc" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "officedoc" %>"><%= t('search.document') %></a></li>
    <li><a href="#embed" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "embed" %>"><%= t('search.embed') %></a></li>
    <li><a href="#swf" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "swf" %>"><%= t('search.flash') %></a></li>
    <li><a href="#picture" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "picture" %>"><%= t('search.image') %></a></li>
    <li><a href="#link" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "link" %>"><%= t('search.link') %></a></li>
    <li><a href="#video" class="gray<%= ' active' if not params[:class].present? or params[:class].split(',').include? "video" %>"><%= t('search.video') %></a></li>
  </ol>
</li>

<%= javascript_tag do %>
  $('#advanced_resource_sort a').on('click', function(){
    $('#main_search_form_sort').val($(this).attr('href').replace('#', '') );
    $('#main_search_form').submit();
  });
  $('#advanced_resource_class a').on('click', function(){
    $(this).toggleClass('active');
    var new_class = $('#advanced_resource_class a').filter('.active').map(function(){ return this.href.split('#')[1] }).get().join();
    $('#main_search_form_class').val( new_class );
    $('#main_search_form').submit();
  });
<% end %>
