<li><%= t('search.orderby')%>
  <ol>
    <li><a href"#" class="gray"><%= t('search.newest') %></a></li>
    <li><a href"#" class="gray"><%= t('search.mostviewed') %></a></li>
    <li><a href"#" class="gray"><%= t('search.mostfav') %></a></li>
  </ol>
</li>
<li><%= t('search.slides')%>
  <ol>
    <li><a href"#" class="gray"><%= t('search.110slides') %></a></li>
    <li><a href"#" class="gray"><%= t('search.1020slides') %></a></li>
    <li><a href"#" class="gray"><%= t('search.20slides') %></a></li>
  </ol>
</li>
<hr class="soften">
<li><a href"#" class="gray"><input type="checkbox"><%= t('search.quiz') %></a></li>

