
<!--h4>
<%= label_tag 'q', t('search.name') + ':  ', :class => '' %>
</h4-->
<div id="menuv">

  <h4>
    <span class="title_search">
      advanced options
    </span>
  </h4>
<!--fecha-->
  <ul>
    <li>
    <p class="time"><%= t('search.time_constraint')%></p>
      <select>
        <option><%= t('search.always') %></option>
        <option><%= t('search.newest') %></option>
        <option><%= t('search.last_day') %></option>
        <option><%= t('search.last_week') %></option>
        <option><%= t('search.last_year') %></option>
      </select>
    </li>
  </ul>
<!--fecha-->
  <ul>
    <li>
    <p class="time"><%= t('search.orderby')%></p>
      <select>
        <option><%= t('search.relevance') %></option>
        <option><%= t('search.newest') %></option>
        <option><%= t('search.mostviewed') %></option>
        <option><%= t('search.mostfav') %></option>
        <option><%= t('search.mostslides') %></option>
      </select>
    </li>
  </ul>
  



  <!--ul id="search_toolbar" class="advanced">
    <%= render :partial => 'toolbar/search_all' %>
    <% if not params[:type].blank? %>
    <%= render :partial => "toolbar/search_#{ params[:type] }"%>
    <% end %>
  </ul-->
</div>

