<!-- Modal, resource_type field is changed when opening or closing the accordion -->
<div id="AddResource" class="modal hide fade" tabindex="-1" resource-type="document" role="dialog" aria-labelledby="AddResourceLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <%= render partial: 'help/help_resource_new' %>
    <h4 id="AddResourceLabel"><%= t('document.main_title')%></h4>
  </div>

  <div class="modal-body">
    <div class="layoutform">

      <!-- Tags preloaded -->
      <%@tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc")%>
      <ul id="resourcePreloadTagList" style="display:none">
        <%@tags.each do |tag| %>
          <li><%=tag.name%></li>
        <%end%>
      </ul>

      <p><%= t('document.body.title1')%></p>
      
      <div class="accordion" id="accordion2">


        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#document">
              <i class="icon-folder-open"></i> <%= t('document.options.documents')%>
            </a>
          </div>
          <div id="document" class="accordion-body collapse in">
            <div class="accordion-inner">
              <% d = Document.new %>
              <% d.owner_id = Actor.normalize_id(current_subject) %>
              <%= form_for d, :namespace => 'new_file_only', :html => { :multipart => true }, :remote => false do |f| %>
                <%= f.hidden_field :owner_id %>
                <%= f.file_field :file %>
                <%= f.hidden_field :title%>
                <%= f.hidden_field :description%>
                <%= f.hidden_field :tag_list, :multiple => true %>
                <%= f.hidden_field :language, :value => "" %>
                <%= f.hidden_field :age_min, :value => "4" %>
                <%= f.hidden_field :age_max, :value => "20" %>
                <%= f.submit t('button.save'), :class => "document hide"%>
              <% end %>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#link">
              <i class="icon-link"></i> <%= t('document.options.links')%> 
            </a>
          </div>
          <div id="link" class="accordion-body collapse">
            <div class="accordion-inner">
              <% d = Link.new %>
              <% d.owner_id = Actor.normalize_id(current_subject) %>
              <%= form_for d, :namespace => 'new_file_only', :html => { :multipart => true }, :remote => false do |f| %>
                <%= f.hidden_field :owner_id %>
                <%= f.hidden_field :callback_url %>
                <%= f.hidden_field :loaded %>
                <%= f.text_field :url %>
                <%= f.hidden_field :title%>
                <%= f.hidden_field :description%>
                <%= f.hidden_field :tag_list, :multiple => true %>
                <%= f.hidden_field :language, :value => "" %>
                <%= f.hidden_field :age_min, :value => "4" %>
                <%= f.hidden_field :age_max, :value => "20" %>
                <%= f.submit t('button.save'), :class => "link hide"%>
              <% end %>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#embed">
              <i class="icon-code"></i> <%= t('document.options.embed')%> 
            </a>
          </div>
          <div id="embed" class="accordion-body collapse">
            <div class="accordion-inner">
              <% d = Embed.new %>
              <% d.owner_id = Actor.normalize_id(current_subject) %>
              <%= form_for d, :namespace => 'new_file_only', :html => { :multipart => true }, :remote => false do |f| %>
                <%= f.hidden_field :owner_id %>
                <%= f.text_field :fulltext %>
                <%= f.hidden_field :title%>
                <%= f.hidden_field :description%>
                <%= f.hidden_field :tag_list, :multiple => true %>
                <%= f.hidden_field :language, :value => "" %>
                <%= f.hidden_field :age_min, :value => "4" %>
                <%= f.hidden_field :age_max, :value => "20" %>
                <%= f.submit t('button.save'), :class => "embed hide"%>
              <% end %>
            </div>
          </div>
        </div>

      </div>
      <br>
    </div>
    
    <%= render :partial => "shared/resource_common_fields", :locals => {:d=> d} %>
  </div>

  <!-- FOOTER -->
  <div class="modal-footer">
    <input type="button" class="btn btn-primary" data-loading-text="<%= t('document.uploading')%>" value="<%= t('document.upload')%>"/>
  </div>

</div>

<%= render :partial => "shared/resource_common_js", :locals => {:form_id=> "AddResource"} %>

<script>

  $(document).ready(function(){    

    $(".accordion-body").on("shown",function(event){
        //changes the value of the attribute "resource-type"
        $("#AddResource").attr("resource-type", $(event.target).attr("id"));
    });
  });

</script>