<!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="AddResource" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddResourceLabel" aria-hidden="true">

  <div class="modal-body">
    
    <p><%= t('document.body.title1')%></p>
    
    <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <i class="icon-folder-open"></i> <%= t('document.options.documents')%>
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div class="input-append">
            <input class="small" id="appendedInputButtons" type="text">
            <button class="btn" type="button"><%= t('document.options.browse')%></button>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <i class="iconLink"></i> <%= t('document.options.links')%> / <%= t('document.options.embed')%> 
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <textarea rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <p><%= t('document.body.title2')%></p>

    <!--TITULO-->
    <legend><%= t('document.leyend.title')%></legend>
    <input type="text" placeholder="<%= t('document.title_input')%>">
    
    <!--DESCRIPCION-->
    <legend><%= t('document.leyend.description')%></legend>
    <input type="text" placeholder="<%= t('document.input')%>">

    <legend><%= t('document.leyend.tags')%></legend>
   
    
    <legend><%= t('document.leyend.language')%></legend>
    <select>
      <option><%= t('document.language.option1')%></option>
      <option>Deutsch</option>
      <option>English</option>
      <option>Español</option>
      <option>Français</option>
      <option>Italiano</option>
      <option>Português</option>
      <option>Otros</option>
    </select>
    
<!-- Age (With slider) -->

    <div class="form">    
      <legend><%= t('document.leyend.recommended_age')%></legend>
    </div>
  </div><!-- CIERRA BODY-->
  
  <div class="modal-footer">
     <!--<a href="#" id="logIn" class="logpover" rel="popover" data-placement="left" data-original-title="Subir recursos">Help</a>-->

    <button class='helpResources btn' data-placement='top' aria-hidden="true" data-original-title="¿Como subo un recurso?" href='#'> ? </button>

    <div class="contentHelpResources" style="display: none">
      <div>
        <%= t('document.help.info1_html')%>  <br/>
        <%= t('document.help.info2_html')%>  <br/>
        <%= t('document.help.info3_html')%>  <br/>
        <%= t('document.help.info4_html')%>  <br/>
        <%= t('document.help.info5_html')%>  <br/>
        <%= t('document.help.info6_html')%>  <br/>
        <%= t('document.help.info7_html')%>  <br/>
        <%= t('document.help.info8_html')%>
      </div>
    </div>
    <!--<a href="#" id="foo" role="button" class="btn btn-primary">Ayuda</a>-->
    <!--<b id="foo" rel="popover">Ayuda </b>-->
    
    <button class="btn btn-primary"> <%= t('document.upload')%></button>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.helpResources').popover({ 
      html : true,
      content: function() {
        return $('.contentHelpResources').html();
      }
    });
  });
</script>

