<% if resource.nil? %>
<% return %>
<% end %>


<li class="resource">
<!--IMG resource-->
  <div class="container-img">
      <div class="dummy"></div>
      <div class="element resource-center">

        <%if resource.class==Link%>
          <%= link_to "<i class='fa fa-link'></i>".html_safe, resource %>
        <%elsif resource.class==Embed%>
          <%= link_to "<i class='fa fa-code'></i>".html_safe, resource %>
        <%elsif resource.class==Scormfile%>
          <%= link_to "<i class='fa fa-crop '></i>".html_safe, resource %>
        <%elsif resource.class==Webapp%>
          <%= link_to "<i class='fa fa-cubes '></i>".html_safe, resource %>
        <%else%>
          <%= link_to icon(resource), resource, :title => resource.file_file_name %>
        <%end%>

        <%if resource.respond_to?(:type) && resource.type =="Picture"%>
          <script>
            $("#document-<%=resource.id%>").addClass("img-box");
            $("#document-<%=resource.id%>").backstretch("<%= thumb_file_for(resource, '500') %>");  
          </script>
        <%end%>
      </div>
  </div>


<!--INFO resource-->
  <div class="caption">
<!--Title -->
    <h6>

          <%= link_to resource.title, resource %>

    </h6>
<!--Autor -->
    <div class="author"> 
      <span class="by"><%=t('by')%></span>
      <!-- <a><%= raw t('document.by', author: link_to(resource.author.name, resource.author_subject)) %></a> -->
      <%= link_to truncate_name(resource.author.name, length: 25), resource.author.subject %>

    </div>

    <hr>
<!--____________________ -->
    <div class="info-bottom">
          <!--like -->
      <div class="like">    
        <div class="count"><%=resource.post_activity.likes.count.to_s%></div>
        <%= link_like(resource.post_activity)%>
      </div>
      <!--views -->
      <div class="views">
        <%=resource.visit_count.to_s%>
        <i class="fa fa-eye"></i>
        <%#=t('follow.views')%>
      </div>
    </div>
  </div>
</li>



