<li class="box-item resource-item">
<!--IMG resource-->
  <div class="resource">
    <%if resource.class==Link%>
      <%= link_to "<i class='icon-link'></i>".html_safe, resource %>
    <%else%>
      <%= link_to icon(resource), resource, :title => resource.file_file_name %>
    <%end%>
  </div>
<!--INFO resource-->
  <div class="info">
<!--Title -->
    <h5 class="name">
      <%= link_to truncate(resource.title, :length => 15), resource %>
    </h5>
<!--Autor -->
    <div class="author"> 
      <a><%= raw t('document.by', author: link_to(resource.author.name, resource.author_subject)) %></a>   
    </div>
<!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">    
        <div class="count"><%=resource.post_activity.likes.count.to_s%></div>
        <%= link_like(resource.post_activity)%>
      </div>
      <!--views -->
      <div class="views">
        <%=resource.visit_count.to_s%>
        <%=t('follow.views')%>
      </div>
    </div>
  </div>
</li>



