<div id="resources">
  <ul class="repository-item">
    <% if profile_subject_is_current? && (page == 0 || page == 1)%>
  	 <%= render partial: 'repositories/resource-add' %>
    <% end %> 
    <% default_sort_by = profile_subject_is_current? ? "updated_at" : "popularity"%>
    <% all_resources = subject_resources(profile_or_current_subject, {:scope => scope, :limit => 0, :page=> page, :sort_by=> params[:sort_by]||default_sort_by}) %>
    <% all_resources.each do |resource| %>
      	<%= render :partial => 'repositories/resource', :locals => { :resource => resource.object } %>
    <% end %> 
  </ul>  
</div>

<script>
  $(document).ready(function(){
    update_pageless_state("resources", <%=all_resources.num_pages%>, <%=all_resources.current_page%>);

    $("#resources_tab").click(function(){
      re_apply_resources_backstrech();
    });

    $('a[href="#tab3"]').on('shown', function (e) {
      $(".resource").fitText(0.4);
    });    
  });
	
  function re_apply_resources_backstrech(){
		<% all_resources.each do |resource| %>
    		<%if resource.respond_to?(:type) && resource.type =="Picture"%>
    			$("#document-<%=resource.id%>").backstretch("<%=resource.file%>?style=500");  
    		<%end%>
  		<% end %> 
	}

</script>

