<li class="box-item">
<!--IMG resource-->
  <%if resource.class==Link%>
    <i class='icon_file_50-link'></i>
  <%else%>
    <%= link_to icon(resource, 50), resource, :title => resource.file_file_name %>
  <%end%>
<!--INFO resource-->
  <div class="info">
<!--Title -->
    <h5 class="name">
        <%= link_to truncate(resource.title, :length => 15), resource %>
    </h5>
<!--Autor -->
    <div class="author"> 
      <a><%= raw t('document.by', author: link_to(resource.author.name, resource.author_subject)) %></a>   
    </div>
<!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">    
        <div class="count"><%=resource.post_activity.likes.count.to_s%></div>
        <%= link_like(resource.post_activity)%>
      </div>
      <!--views -->
      <div class="views">
        <%=resource.visit_count.to_s%>
        <%=t('follow.views')%>
      </div>
    </div>
  </div>
</li>




