<% if resource.nil? %>
  <% return %>
<% end %>

<li class="box-item resource-item">

  <div class="container-img">
      <div class="dummy"></div>
      <div class="element resource-center">

        <%= link_to icon(resource), resource %>

        <%if resource.respond_to?(:type) && resource.type =="Picture"%>
          <script>
            $("#document-<%=resource.id%>").addClass("img-box");
            $("#document-<%=resource.id%>").backstretch("<%= thumb_file_for(resource, '500') %>"); 
          </script>
        <%end%>
      </div>
      <%if resource.private_scope? %>
        <div class="private-resource-mark">
          <i class="icon-lock"></i>
        </div>
      <%end%>
  </div>


  <!-- INFO -->
  <div class="info">
    
    <!-- Title -->
    <div class="name">
      <%= link_to resource.title, resource %>
    </div>

    <!-- Author -->
    <span class="author"> 

      <span class="by"><%=t('by')%></span>

      <%= link_to truncate_name(resource.author.name, length: 25), resource.author.subject %>

    </span>


    <div class="info-bottom">
      <hr class="soften">
          <!--like -->
      <div class="like">    
        <div class="count"><%=resource.post_activity.likes.count.to_s%></div>
        <%= link_like(resource.post_activity)%>
      </div>
      <!--views -->
      <div class="views">
        <%=resource.visit_count.to_s%>

        <i class="fa fa-eye"></i>

      </div>
    </div>
  </div>

</li>



