<div id="resources">
  <ul class="repository-item">
    <% if profile_subject_is_current? && (page == 0 || page == 1)%>
  	 <%= render partial: 'repositories/resource-add' %>
    <% end %> 
    <% all_resources = subject_resources(profile_or_current_subject, {:scope => scope, :limit => 0, :page=> page, :sort_by=> params[:sort_by]||"updated_at"}) %>
    <% all_resources.each do |resource| %>
      	<%= render :partial => 'repositories/resource', :locals => { :resource => resource.object } %>
    <% end %> 
  </ul>
  <div class="loader_pagination" style="display:none">
    <div id="pageless-loader" style="text-align:center;width:100%;">
      <div class="msg" style="font-size:2em">
        <%=t('search.loading')%>
      </div>
      <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    update_pageless_state("resources", <%=all_resources.num_pages%>, <%=all_resources.current_page%>);

    $("#resources_tab").click(function(){
      re_apply_resources_backstrech();
    });

    $('a[href="#tab3"]').on('shown', function (e) {
      $(".resource").fitText(0.4);
    });    
  });
	
  function re_apply_resources_backstrech(){
		<% all_resources.each do |resource| %>
    		<%if resource.respond_to?(:type) && resource.type =="Picture"%>
    			$("#document-<%=resource.id%>").backstretch("<%=resource.file%>?style=500");  
    		<%end%>
  		<% end %> 
	}

</script>

