<% if resource.nil? %>
  <% return %>
<% end %>

<li class="box-item resource-item">

  <div class="container-img">
      <div class="dummy"></div>
      <div class="element resource-center">
        <%= link_to raw(icon(resource)), resource %>
      </div>
  </div>

  <script>
    $("div.applyBackstretch").each(function(index,div){
      $(div).removeClass("applyBackstretch");
      var imgUrl = $(div).attr("bs-img");
      if (typeof imgUrl != "undefined"){
        $(div).backstretch(imgUrl); 
      }
    });
  </script>

  <!-- INFO -->
  <div class="info">
    
    <!-- Title -->
    <div class="name">
      <%= link_to resource.title, resource %>
    </div>

    <!-- Author -->
    <span class="author"> 

      <span class="by"><%=t('by')%></span>

      <%= link_to truncate_name(resource.author.name, length: 25), resource.author.subject %>

    </span>


    <div class="info-bottom">
      <hr class="soften">
      
      <div class="like">    
        <div class="count"><%=resource.post_activity.likes.count.to_s%></div>
        <%= link_like(resource.post_activity)%>
      </div>

      <!--views -->
      <div class="views">
        <%if resource.private_scope? %>
          <div class="private-resource-mark">
            <i class="fa fa-eye"></i>
          </div>
        <%else%>
          <%=resource.visit_count.to_s%>
          <i class="fa fa-eye-slash"></i>
        <%end%>
      </div>

    </div>
  </div>

</li>



