<section id="repository">
  
  <div class="tabbable">

    <ul class="nav nav-tabs">
      <li><h1>repository</h1></li>
      <li class="active"><a href="#tab1" data-toggle="tab">all</a></li>
      <li><a href="#tab2" data-toggle="tab">mine</a></li>
      <li><a href="#tab2" data-toggle="tab"><%= image_tag("icons/likes/star-active.png",  :class=> "" ) %></a></li>
    </ul>

    <div class="tab-content">
      <%= render partial: 'layouts/loading' %>
      <%= render partial: 'filter' %>
     


      <div class="tab-pane active" id="tab1">
        <ul>  
          <%= render partial: 'repositories/resources' %>
        </ul>
      </div>

      <div class="tab-pane" id="tab2">
        <ul>  
          <%= render partial: 'repositories/resources' %>
        </ul>
      </div>
    </div>
  </div>



  <%= javascript_tag do %>
    SocialStream.Repository.show();
  <% end %>

</section>
