<div class="left-info">

  <!--Author-->
  <%unless resource.author.nil? %>
    <div class="author">
      <div class="avatar">
        <%= link_to resource.author.subject do %>
          <%= image_tag resource.author.logo.url(:small) %>
        <% end %>
      </div>

      <div class="right-name">
        <%= link_to resource.author.subject do %>
          <p><%= truncate_name(resource.author.name, :length => 50) %></p>
        <%end%>
        <div class="add">
          <% if user_signed_in?%>
            <%= contact_button(current_subject.contact_to!(resource.author)) %>
          <%else%>
            <%= contact_button(resource.author) %>
          <%end%>
        </div>
      </div>

    </div>
  <%end%>

  <!--Views and Likes-->
  <div class="viewsandconunt">        
    <div class="views">
      <%#= @excursion.visit_count.to_s%>
      <%=resource.visit_count.to_s%>
      <span>
        <%=t('follow.views')%>
      </span>
    </div>
    <%#unless @excursion.post_activity.nil?%>
    <%unless resource.post_activity.nil?%>
      <div class="like">
        <%#= @excursion.post_activity.likes.count.to_s%>
        <%=resource.post_activity.likes.count.to_s%>
        <span>
          <%#= link_like(@excursion.post_activity)%>
          <%= link_like(resource.post_activity)%>
        </span>
      </div>
    <%end%>
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel">
    <header>
      <table class="table table-hover">
        <%= javascript_tag do %>
          <%# @excursion.contributors.each do |c| %>
          <%# end%>
        <% end %>

        <tr>
          <%# unless @excursion.contributors.blank? %>
            <!--contributors-->
            <td><%= t('excursion.contributors.name').capitalize %></td>
            <td>
              <%# @excursion.contributors.uniq.each_with_index do |c,index| %>
                <%# unless index==0 %>
                  ,
                <%# end %>
                <%= link_to c.name, c.subject %>
                </a>
              <%#end%>
            </td>
          <%#end%>
        </tr>

        <tr>
          <% unless @excursion.description.blank? %>
          <!--description-->
          <td><%= t('info.description') %></td>
          <td><%= truncate(@excursion.description, :length => 400) %></td>
          <% end %>
        </tr>
      </table>
    </header>
    <div id="collapseInfo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">

          <tr>
             <% unless @excursion.tag_list.blank? %>
            <!--tags-->
            <td><span><%= t('info.tags') %></span></td>
            <td>
              <ul class="tagit-suggestions">
                <% @excursion.tag_list.each do |tag| %>
                <li class="tagit-choice">
                  <%= link_to tag, search_path(:q => tag) %>
                </li>
                <% end %>
              </ul>
            </td>
            <% end %>
          </tr>
          <% unless @excursion.readable_language.blank? %>
            <!--language-->
            <dt><%= t('lang.title').capitalize %></dt>
            <dd><%= @excursion.readable_language %></dd>
          <% end %>

          <tr>
            <% unless @excursion.readable_language.blank? %>
            <!--language-->
            <td><span><%= t('lang.title').capitalize %></span></td>
            <td>
              <%= @excursion.readable_language %><
            </td>
            <% end %>
          </tr>

          <tr>
            <!--date-upload-->
            <td><span><%= t('document.info.date.updated_at') %></span></td>
            <td><%= I18n.localize @excursion.updated_at, :format => :long %></td>

          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
