<%if document.class==Video || document.class==Audio || document.class==Picture || document.class==Swf || document.class==Embed || document.class==Officedoc || document.class==Scormfile || document.class==Webapp || document.class==Link %>
  <%=javascript_include_tag "jquery.zclip.min" %>
  <script type="text/javascript">
    $(document).ready(function(){
      var embedEvents = false;
      
      $('a[data-toggle="tab"]').on('shown', function (e) {
            if(!embedEvents){
              embedEvents = true;

              $('button#btn_copy_embed').zclip({
                path:'/assets/ZeroClipboard.swf',
                copy:function(){
                  return $('#textarea_for_iframe').val();
                },
                afterCopy: function(){}
              });

              $(".shortUrl").mouseup(function(e){
                // fixes safari/chrome problem
                e.preventDefault();
              }).focus(function(e){
                mytxt = $(this).text();
                $(this).select();
              }).click(function(e){
                mytxt = $(this).text();
                $(this).select();
              });

            }
      });
    });

    </script>

  <%end%>



<div class="btn-group">
  <% if can? :destroy, document %>
    <%= link_to raw("<i class='icon-trash'></i> "),  document,
    confirm: t('confirm_delete', scope: document.class.to_s.underscore),
    title: t('document.actions.delete'),
    method: :delete,
    rel: "tooltip",
    class: "btn" %>
    <% end %>


  <%if user_signed_in?%>
    <%= content_for :javascript do %> 
      <%= render partial: 'shared/multiselect', :locals => {:item => document} %>
    <% end %>
    <%= link_like(document.post_activity, {:size => :big, :class=>'btn', :title =>t('excursion.actions.favorite')})%>
    <%=categories_select(:category_id, document)%>
    <%= render partial: 'categories/form', :locals => {:div_id => "AddCategory", :remote => true}, rel: "tooltip" %>
    <%= render partial: 'categories/success_message', :locals => {:message => t('categories.success')} %>
  <%end%>

</div>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="<%= document_details_tab_class document, :info %>">
      <%= link_to (raw("<i class='icon-align-left'></i> <span class='hidden-tablet hidden-phone'>")) +  t('document.details.info') + raw("</span>"), '#document-info', 'data-toggle' => 'tab' %>
    </li>

    <% if can? :update, document %>
    <li class="<%= document_details_tab_class document, :edit %>">

      <%= link_to (raw("<i class='icon-edit'></i> <span class='hidden-tablet hidden-phone'>")) + t('document.actions.edit')+ raw("</span>"), '#document-edit', 'data-toggle' => 'tab' %>
    </li>
    <% end %>
    <%if document.class==Video || document.class==Audio || document.class==Picture || document.class==Swf || document.class==Embed || document.class==Officedoc || document.class == Scormfile || document.class == Webapp ||  document.class == Link %>
      <li class="<%= document_details_tab_class document, :embed %>">
          <%= link_to (raw("<i class='icon-code'></i> <span class='hidden-tablet hidden-phone'>")) + t('excursion.actions.embed')+ raw("</span>"), '#document-embed', 'data-toggle' => 'tab' %>
      </li>
    <%end%>
    <%if document.class!=Link %>
      <li class="<%= document_details_tab_class document, :download %>">
          <%= link_to (raw("<i class='icon-download'></i> <span class='hidden-tablet hidden-phone'>")) + t('document.actions.download')+ raw("</span>"), '#document-download', 'data-toggle' => 'tab' %>
      </li>
    <% end %>

    <li>
      <a href="#tab3" data-toggle="tab">
        <i class="icon-flag"></i> 
          <span class=" hidden-tablet hidden-phone">
            <%=t('excursion.actions.spam')%>
          </span>

        <!--span class=" hidden-tablet hidden-phone">
          <%#=t('excursion.actions.scorm')%>
        </span-->
      </a>
    </li>
    <%= render partial: 'help/help_show_resource' %>  
  </ul>
</div>

<h2>
  <%= document.title %>
</h2>
<div class="tab-content">
  <div class="tab-pane <%= document_details_tab_class document, :info %>" id="document-info">
    <div class="toggler">
      <%= render partial: "common_documents/info", locals: { document: document } %>
    </div>
  </div>
  <% if can? :update, document %>
  <div class="tab-pane <%= document_details_tab_class document, :edit %>" id="document-edit">
    <%= render partial: 'common_documents/form', locals: { document: document } %>
  </div>
  <% end %>
  <div class="tab-pane <%= document_details_tab_class document, :download %>" id="document-download">
    <div class="toggler">
      <%if document.class == Scormfile || document.class == Webapp %>
        <%downloadPath = document.zipurl %>
      <% else %>
        <%downloadPath = download_document_path(document) %>
      <% end %>
      <a class="btn btn-primary" href='<%=downloadPath%>'><i class="icon-download"></i> <%=t('document.actions.download')%></a> 
    </div>
  </div>

  <%if document.class==Video%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
          <textarea class="shortUrl" readonly="true" rows="5" id="textarea_for_iframe" type="text">&lt;video preload="metadata" controls="controls" poster="<%=video_url(document, :format => :png, :style => '170x127#')%>"&gt;&lt;source src="<%= video_url(document, :format => :webm) %>" type="video/webm"&gt;&lt;source src="<%= video_url(document, :format => :mp4) %>" type="video/mp4"&gt;&lt;source src="<%= video_url(document, :format => :flv) %>" type="video/x-flv"&gt;&lt;p&gt;Your browser does not support HTML5 video.&lt;/p&gt;&lt;/video&gt;</textarea>

          <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
            <i class="icon-copy large"></i>
          </button>
        </div>
    </div>
  <%elsif document.class==Audio%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
          <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text">&lt;audio controls&gt;
           &lt;source src="<%= audio_url(document, :format => :mp3) %>" type="audio/mpeg"&gt;
           &lt;source src="<%= audio_url(document, :format => :wav) %>" type="audio/wav"&gt;
           &lt;source src="<%= audio_url(document, :format => :webm) %>" type="audio/webm"&gt;
           Your browser does not support the audio tag.
           &lt;/audio&gt;</textarea>

          <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
            <i class="icon-copy large"></i>
          </button>
        </div>
    </div>
  <%elsif document.class==Picture%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
          <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text"><%=Vish::Application.config.full_domain + "/" + document.file.to_s[1..-1]%></textarea>

          <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
            <i class="icon-copy large"></i>
          </button>
        </div>
    </div>
  <%elsif document.class==Swf%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
      <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text">&lt;embed wmode="opaque" src="<%= Vish::Application.config.full_domain + "/" + document.file.to_s[1..-1] %>" width="auto" height="auto"&gt;&lt;/embed&gt;</textarea>

        <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>
  <%elsif document.class==Embed%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
      <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text"><%= document.fulltext %></textarea>

        <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>
  <%elsif document.class==Officedoc%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
      <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text">&lt;iframe src="http://docs.google.com/viewer?url=<%= Vish::Application.config.full_domain + "/" + document.file.url[1..-1] %>&embedded=true" width="100%" height="500" style="border: none;"&gt;&lt;/iframe&gt;</textarea>
        <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>
  <%elsif document.class==Scormfile%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
      <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text">&lt;iframe src="<%=document.lourl%>" width="<%=document.width%>" height="<%=document.height%>" objecttype="scormpackage" &gt;&lt;/iframe&gt;</textarea>

        <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>
  <%elsif document.class==Webapp%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
      <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text">&lt;iframe src="<%=document.lourl%>" width="<%=document.width%>" height="<%=document.height%>" objecttype="webapp" &gt;&lt;/iframe&gt;</textarea>

        <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>
  <%elsif document.class==Link%>
    <div class="tab-pane <%= document_details_tab_class document, :embed %>" id="document-embed">
      <p class="documentembedexplanation"><%=t("document.embed_explanation")%></p>      
      <div class="contentembed">
      <textarea class="shortUrl" readonly="true" rows="6" id="textarea_for_iframe" type="text">&lt;iframe src="<%=document.url%>" width="800" height="600" &gt;&lt;/iframe&gt;</textarea>

        <button class="btn" id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>
  <%end%>



  <div class="tab-pane" id="tab3">
    <div class="contentReport">
      <dt><%=t('spam.report_resource')%></dt>

      <%= form_tag spam_report_path, method: 'post', class: "" do %>
        <%=hidden_field_tag "activity_object_id", document.activity_object_id%>
        <div class="radio">
          <%=radio_button_tag 'option', "0", false, class: "spam_radio"%><%=t('spam.spam_content')%>
          <%=text_area_tag 'comment_spam', nil, rows: 2, style: "display:none", class: 'textarea_spam report', :placeholder => t('spam.placeholder')%>
        </div>
        <div class="radio">
          <%=radio_button_tag 'option', "1", false, class: "spam_radio"%><%=t('spam.error_content_resource')%>
          <%=text_area_tag 'comment_error', nil, rows: 2, style: "display:none", class: 'textarea_spam report', :placeholder => t('spam.placeholder')%>
        </div>
        <button class="report btn btn-primary"> <%=t('send.send')%></button>
      <% end %>
          
      
    </div> 
  </div>
</div>