<div class="all-description">
  <%= javascript_tag do %>
    <%= modal_for(document.author.subject) %>
  <% end %>

  <div id=" notebook-tabs">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#details">
          <%= t('document.actions.details') %>
        </a>
      </li>
      <% if can? :update, document %>
      <li class="">
        <a data-toggle="tab" href="#edit">
          <%= t('document.actions.edit') %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="notebook">
    <div class="notebook-cabecera">   
      <div class="like">
        <span class="number-green">
          <%= document.visit_count.to_s %>
        </span>
        <a>
          <%= t('follow.views') %>
        </a>
      </div>
      <div class="favorite-count">
        <span class=" number-green like_count_<%= dom_id(document.post_activity) %>">
          <%= link_like(document.post_activity, :size => :big) %>
          <%= document.post_activity.likes.count.to_s %>
        </span> 
        <a>
          <%= t('follow.favorites') %>
        </a>
      </div>
    </div>
  </div>


  <div class="tab-content">
    <div id="details" class="tab-pane active">
      <div class="notebook-medio">

        <div class="tittle-notebook">
          <%= t('document.info.title') %>
        </div>
        <div class="text-notebook">
          <%= document.title.nil? ? document.file_file_name : document.title %>
        </div>
        
        <div class="tittle-notebook">
          <%= t('author').capitalize %>
        </div>

        <div class="text-notebook">
          <a data-toggle="modal" href="#user-modal-<%= document.author.slug %>" class="user-modal-button-<%= document.author.slug %> modal-no-trigger">
            <%= truncate(document.author.name, :length => 200) %>
          </a>
        </div>

        <% unless document.description.blank? %>

        <div class="tittle-notebook">
          <%= t('info.description') %>
        </div>
        <div class="text-notebook">
          <%= truncate(document.description, :length => 200) %>
        </div>
        <% end %>
        
        <% unless document.tag_list.blank? %>

        <div class="tittle-notebook">
          <%= t('info.tags') %>
        </div>
        <ul class="tagit-suggestions">
          <% document.tag_list.each do |tag| %>
          <li class="tagit-choice">
            <%= link_to tag, search_path(:q => tag) %>
          </li>
          <% end %>
        </ul>
        <% end %>
        
        <% unless document.language.blank? %>
        <div class="tittle-notebook">
          <%= t('lang.title').capitalize %>
        </div>
        <div class="text-notebook">
          <%= case document.language
                          when '';
                            t('lang.independent')
                          when 'de';
                            'Deutsch'
                          when 'en';
                            'English'
                          when 'es';
                            'Español'
                          when 'fr';
                            'Français'
                          when 'it';
                            'Italiano'
                          when 'pt';
                            'Português'
                          when 'ru';
                            'Русский'
                          else
                            ; t('lang.others')
                        end %>
        </div>
        <% end %>
        <% if document.respond_to? :age_min and document.respond_to? :age_max %>
        <div class="tittle-notebook">
          <%= t('document.recommended_age') %>
        </div>
        <div class="text-notebook">
          <%= t('document.recommended_age_detail', :min => document.age_min, :max => document.age_max) %>
        </div>
        <% end %>
        <div class="tittle-notebook">
          <%= t('document.info.date.created_at') %>
        </div>
        <div class="text-notebook">
          <%= I18n.localize document.created_at, :format => :long %>
        </div>
        <div class="tittle-notebook">
          <%= t('document.info.date.updated_at') %>
        </div>
        <div class="text-notebook">
          <%= I18n.localize document.updated_at, :format => :long %>
        </div>
        <% if document.is_a? Document %>
        <div id="file_size">
          <div class="tittle-notebook">Size</div>
          <div class="text-notebook">
            <%= number_to_human_size document.file_file_size %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="notebook-pie"></div>

    <% if user_signed_in? and (can? :update, document) %>
    <div id="edit" class="tab-pane">
      <div class="notebook-medio">
        <%= render :partial => "common_documents/edit_form", :locals => {:document => document} %>
      </div>
      <div class="notebook-pie"></div>
    </div>
    <% end %>
  </div>
</div>

