<div class="btn-group">
  <% if can? :destroy, document %>
    <button class="btn" rel="tooltip" title="<%=t('document.actions.delete')%>" >

    <%= link_to raw("<i class='icon-trash'></i> "),  document,
    confirm: t('confirm_delete', scope: document.class.to_s.underscore),
    title: t('document.actions.delete'),
    method: :delete %>
    <% end %>
  </button>

  <%if user_signed_in?%>
    <%= content_for :javascript do %> 
      <%= render partial: 'shared/multiselect', :locals => {:item => document} %>
    <% end %>

    <%=categories_select(:category_id, document)%>
    <%= render partial: 'categories/form', :locals => {:div_id => "AddCategory", :remote => true} %>
  <%end%>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="<%= document_details_tab_class document, :info %>">
      <%= link_to (raw("<i class='icon-align-left'></i> <span class='hidden-tablet hidden-phone'>")) +  t('document.details.info') + raw("</span>"), '#document-info', 'data-toggle' => 'tab' %>
    </li>

    <% if can? :update, document %>
    <li class="<%= document_details_tab_class document, :edit %>">

      <%= link_to (raw("<i class='icon-edit'></i> <span class='hidden-tablet hidden-phone'>")) + t('document.actions.edit')+ raw("</span>"), '#document-edit', 'data-toggle' => 'tab' %>
    </li>
    <% end %>
    <li class="<%= document_details_tab_class document, :download %>">
        <%= link_to (raw("<i class='icon-download'></i> <span class='hidden-tablet hidden-phone'>")) + t('document.actions.download')+ raw("</span>"), '#document-download', 'data-toggle' => 'tab' %>
    </li>
  </ul>
</div>
<div class="viewsAndConunt">
  <%#= render partial: 'objects/counters', locals: { object: document } %>
  <div class="views">
    <%=document.visit_count.to_s%> 
    <span>
      <%=t('follow.views')%>
    </span>   
  </div>
  <div class="like">    
    <div class="count"><%=document.post_activity.likes.count.to_s%></div>
    <%= link_like(document.post_activity)%>
  </div>
</div>
<h2>
  <%= document.title %>
</h2>
<div class="tab-content">
  <div class="tab-pane <%= document_details_tab_class document, :info %>" id="document-info">
    <div class="toggler">
      <%= render partial: "common_documents/info", locals: { document: document } %>
    </div>
  </div>
  <% if can? :update, document %>
  <div class="tab-pane <%= document_details_tab_class document, :edit %>" id="document-edit">
    <%= render partial: 'common_documents/form', locals: { document: document } %>
  </div>
  <% end %>
  <div class="tab-pane <%= document_details_tab_class document, :download %>" id="document-download">
    <div class="toggler">
      <p><%=t("document.download_explanation")%></p>
      <a class="btn btn-primary" href='<%=download_document_path(document)%>'><i class="icon-download"></i> <%=t('document.actions.download')%></a> 
    </div>
  </div>
</div>