<div class="row btn-toolbar">
  <div class="pull-right">
    <input id="document-filter" type="text" class="input-medium inline-block ontop" placeholder="filter"  name="filter">
    <div class="btn-group">
      <%if profile_subject_is_current?%>
        <button class="btn" data-toggle="collapse" data-target="#home_wall">
          <%= '+'+t('options.add') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function() {
  var last_search = "";


  $("#repository_filter_input").watermark("<%= escape_javascript(I18n.t('search.name')) %>");

  $("#repository_filter_input").keyup(function() {
  var searchstring = $(this).val();
  if((searchstring=="")){
  if (last_search!=searchstring){last_search=searchstring;}
  $("#documents_grid").html("<center><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></center>");
  $.ajax({
  type : "GET",
  url : "<%= search_documents_path %>",
  success : function(html) {
  if ($("#repository_filter_input").val()==searchstring){ //Only show if input value is still the same
  $("#documents_grid").html(html);
  }
  },
  error: function(){
  $("#header_search_display").html("<center><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></center>");
  }
  });
  } else {
  if (last_search!=searchstring){
  last_search=searchstring;
  $("#documents_grid").html("<center><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></center>");
  $.ajax({
  type : "GET",
  url : "<%= search_documents_path %>?q=" + searchstring,
  success : function(html) {
  if ($("#repository_filter_input").val()==searchstring){ //Only show if input value is still the same
  $("#documents_grid").html(html);
  }
  },
  error: function(){
  $("#header_search_display").html("<center><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></center>");
  }
  });
  }
  }
  return false;
  });
  })
<% end %>
