<article id="new_file">
  <div class="layoutform">
  <%= form_for(document) do |f| %>
    <%= f.hidden_field :owner_id %>

    <div class="error">
      <ul>
        <h4>
          <% document.errors.full_messages.each do |msg| %>
        </h4>
        <li>
          <h5>
            <%= msg %>
          </h5>
        </li>
        <% end %>
      </ul>
    </div>

    <%isNewInstance = (controller.action_name == "create" or  controller.action_name == "new") %>

    <% if isNewInstance %>
      <section class="upload">
        <%= f.label :file, t('document.info.file') %>
        <%= f.file_field :file %>
        <!-- <input id="document_file" name="document[file]" type="file"> -->
      </section>
    <% end %>

    <%if controller_name == "writings"%>
      <%=render :partial => "writings/edit", :locals => {:f=> f}%>
    <%end%>

    <!-- <section class="hidden-desktop hidden-phone hidden-tablet"> -->
      <%#= f.label :file, "Image" %>
      <!-- <input name="document[file]" type="file" accept="image/*" capture="camera"> -->
      <!-- <input name="document[file]" type="file" accept="image/*" capture> -->
      <%#= f.label :file, "Video" %>
      <!-- <input name="document[file]" type="file" accept="video/*" capture="camcorder"> -->
      <%#= f.label :file, "Audio" %>
      <!-- <input name="document[file]" type="file" accept="audio/*" capture="microphone"> -->
    <!-- </section> -->

    <section class="title">
      <%= f.label :title, t('document.info.title') %>
      <%= f.text_field :title %>
    </section>

    <section class="description">
      <%= f.label :description, t('document.info.description') %>
      <%= f.text_area :description %>
    </section>

    


    <section class="tags">
      <%= f.label :tag_list, t('document.info.tags') %>
      <%= f.hidden_field :tag_list, :multiple => true %>
      <div class="tagBoxDocument">
         <ul class="resourceTagList partial-doc"></ul>
      </div>
    </section>

    <% tags = ActivityObject.tag_counts.all.map{|e| e.name.downcase} + Vish::Application.config.catalogue_categories 
       tags.uniq!
       tags2 =[]
       tags.each do |e|
       tags2.push e.capitalize
       end 
       
       tags2 += tags 
       
       initialTags = document.tags.all.map{|e| e.name} || []
    %>
 
    <script>
    var tagArchive= [
          <% tags2.each do |tag|%>
            "<%=tag%>",
          <%end%>
          ];

    $(".resourceTagList").tagit({
     watermarkAllowMessage:"",
     tagSource: tagArchive
    });

    <% initialTags.each do |cnt| %>
      $(".partial-doc").tagit("add", "<%= cnt %>");
    <%end%> 

    </script>
    <%unless resource.class.name=="Picture" %>
      <section class="avatar">
        <%= f.label :avatar, t('document.leyend.avatar') %>
        <%= f.file_field :avatar %>
      </section>
    <%end%>

    <section class="language">
      <%= f.label :language, t('document.leyend.language') %>
      <%= f.select(:language, resource_language_options_for_select(resource.language)) %>
    </section>

    <section class="target_age">
      <%= f.hidden_field :age_min %>
      <%= f.hidden_field :age_max %>
      <!--AGE SLIDER-->
      <label><%= t('document.leyend.recommended_age')%></label>
      <div class="limits">
        <div class="limit1">4</div>
        <div class="limit2">20</div>
      </div>
      <input type="text" class="age-slider" value="" data-slider-min="0" data-slider-max="30" data-slider-step="1" data-slider-value="[<%=resource.age_min%>,<%=resource.age_max%>]" data-slider-orientation="horizontal" data-slider-tooltip="hide"/>
    </section>

    <% if !isNewInstance %>
      <section class="scope">
        <%= f.label :scope, t('document.leyend.scope') %>
        <%= f.select(:scope, options_for_select([[t('scope.public'), 0], [t('scope.private'), 1]],resource.scope)) %>
      </section>
    <% end%>
<div class="footer-form">
    <%= f.submit :class => "btn-primary form-sender", "data-loading-text" => t('button.sending') %>
  </div>
  <% end %>

  
  <%= javascript_tag do %>
    $("#new_file input[type='submit']").click(function(event){
      //AGE
      var resource_type = "<%=resource.class.name.downcase%>";
      var value1 = $('#new_file .age-slider').data('slider').getValue()[0];
      var value2 = $('#new_file .age-slider').data('slider').getValue()[1];
      $('#new_file input[name="'+resource_type+'[age_min]"]').val(value1);
      $('#new_file input[name="'+resource_type+'[age_max]"]').val(value2);

      <%if controller_name == "writings"%>
        set_ckeditor_content_full_and_plaintext("writing_fulltext","writing_plaintext");
      <%end%>

      $(this).button('loading');
    });

    //SLIDER
    var min = 0;
    var max = 30;
    var step = 1;
    var diff = max - min;

    var newFilePositionLimits = function(){
      var value1 = $('#new_file .age-slider').data('slider').getValue()[0];
      var value2 = $('#new_file .age-slider').data('slider').getValue()[1];
      $('#new_file .limit1').text(value1);
      $('#new_file .limit2').text(value2);

      var percentage =[
        (value1-min)*100/diff,
        (value2-min)*100/diff,
        step*100/diff
      ];

      $("#new_file .limit1").css("left", function(ev) {
        return $('#new_file .slider').width() * percentage[0]/100 - $("#new_file .limit1").width()/2 + 'px';
      });
      $("#new_file .limit2").css("left", function(ev) {
        return $('#new_file .slider').width() * percentage[1]/100 - $("#new_file .limit2").width()/2 + 'px';
      });
    };

    $("#new_file .age-slider").slider().on('slide', function(ev){
      newFilePositionLimits();
    });

    $("#new_file .age-slider").before($("#new_file .limits"));

    $('a[href="#document-edit"]').on('shown', function(e){
      newFilePositionLimits();
    });

    $(document).ready(function(){
      SocialStream.Document.edit();
      newFilePositionLimits();
    });

    $(".form-sender").click(function(){
      var tagList=[]
      $(".resourceTagList .tagit-choice").each(function(index,elem){
        tagList.push($(elem).text());
        });
        $(".tags input").hide();
        $(".tags input").val(tagList);
      });

  <% end %>
</div>
</article>
