<%= div_for document, :class => div_class do %>
  <ul class="thumbnails span3">
    <li class="span">
      <div class="">
        <%#= link_to thumb_for(document, 25), document, :class => "" %>
        <%=  link_to(document) do %>
          <i class="<%=icon_class_for(document)%>"></i>
        <%end%>
      </div>
    </li>
    <li class="span2">
      <div class="caption elipsis">
        <h4 class="link_gray size16"><%= link_to document.title, document %></h4>
        <h5><span class="green"><%=num_followers%></span> <%=t('follow.views')%> </h5>
      </div>
    </li>
  </ul>
<% end %>
