<%= div_for document, :class => 'content_size' do %>
  <ul class="thumbnails span3">
    <li class="span">
      <%= link_to thumb_for(document, 25), document, :class => "" %>
    </li>
    <li class="span2">
      <div class="caption elipsis">
        <h4><%= t('document.msg') %><%= link_to document.title, document, :class => "" %></h4>
        <h5><span class="green"><%=num_followers%></span> <%=t('follow.views')%> </h5>
      </div>
    </li>
  </ul>
<% end %>