<%= div_for document, :class => 'repository' do %>
    <ul class="thumbnails span3">
      <li class="span">
        <%= link_to  "", document, :class => icon_class_for(document), :alt => document.title %>
      </li>
      <li class="span2">
        <div class="caption elipsis">
          <h4 class="link_gray size16"><%= link_to truncate_name(document.title, :length => 20), document %></h4>
          <h5><span class="green"><%=t('follow.followers')%>:</span> <span class="ligth-gray"><%=35%></span> views</h5>
        </div>
      </li>
    </ul>
<% end %>
