<div class="resource tabbable">
  <ul class="nav nav-tabs span7">
    <% params[:scope]='me' unless params[:scope].present?  %>
    <li class="<%= params[:scope]=='net'  ? "active" : ""  %>"><a data-toggle="tab" href="#repo-1"><%= t('resource.net') %></a></li>
    <li class="<%= params[:scope]=='me'   ? "active" : ""  %>"><a data-toggle="tab" href="#repo-2"><%=t('resource.my') %></a></li>
    <li class="<%= params[:scope]=='like' ? "active" : ""  %>"><a data-toggle="tab" href="#repo-3"><%= image_tag "star-on.png", :class => "star" %></a></li>
  </ul>

    <div class="span2 size40 title_menu_home ">
    <%= t('resource.title.other')%></div>
    <div class="clearfloat"></div>
</div>


<% unless params[:no_layout].present? %>
  <%= render :partial => "common_documents/headers" %>
  <div id="documents_grid"></div>
<% end %>


<div class="tab-content">
  <div id="repo-1" class="tab-pane <%= params[:scope]=='net'  ? "active" : ""  %>">
    <div id="repository_filter_net">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repo-resource-filter-net"} %>
    </div>

    <div id="repo-resources-net" class="block row space_center">
      <% subject_resources(user, {:scope => :net, :limit => 0}).each do |document| %>
        <%= render :partial => 'common_documents/repo', :locals => { :document => document } %>
      <% end %>
    </div>

  </div>

  <div id="repo-2" class="tab-pane <%= params[:scope]=='me'  ? "active" : ""  %>">
    <div id="repository_filter_me">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repo-resource-filter-me"} %>
    </div>

    <div id="repo-resources-me" class="block row space_center">
      <% subject_resources(user, {:scope => :me, :limit => 0}).each do |document| %>
        <%= render :partial => 'common_documents/repo', :locals => { :document => document } %>
      <% end %>
    </div>

  </div>

  <div id="repo-3" class="tab-pane <%= params[:scope]=='like'  ? "active" : ""  %>">
    <div id="repository_filter_fav">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repo-resource-filter-fav"} %>
    </div>

    <div id="repo-resources-fav" class="block row space_center">
      <% subject_resources(user, {:scope => :like, :limit => 0}).each do |document| %>
        <%= render :partial => 'common_documents/repo', :locals => { :document => document } %>
      <% end %>
    </div>

  </div>


</div>

