<div class="left-info">
  <div class="author">
    <div class="avatar">
      <%= link_to document.author.subject do %>
      <%= image_tag document.author.logo.url(:small) %>
      <% end %>
    </div>
    <div class="right-name">
      <p><%= truncate_name(document.author.name, :length => 50) %></p>
      <div class="add">
        <% if user_signed_in?%>
          <%= contact_button(current_subject.contact_to!(document.author)) %>
        <%else%>
          <%= contact_button(document.author) %>
        <%end%>
      </div>
    </div>
  </div>
  
  <div class="viewsAndCount">
    <%#= render partial: 'objects/counters', locals: { object: document } %>
    <div class="views">
      <%=document.visit_count.to_s%> 
      <span>
        <%=t('follow.views')%>
      </span>   
    </div>
    <div class="like">    
      <div class="count"><%=document.post_activity.likes.count.to_s%></div>
      <%= link_like(document.post_activity)%>
    </div>
  </div>

</div>
<div class="panel-group" id="accordion">
  <div class="panel">
    <header>
    <table class="table table-hover">
          <tr class="<%= 'blank' if document.description.blank? %>">
            <td>
              <%= t 'document.info.description' %>
            </td>
            <td>
              <%= document.description %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t 'document.info.tags' %>
            </td>
            <td>
              <%= tag_list document %>
            </td>
          </tr>
          </table>
      
    </header>
    <div id="collapseInfo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">
          <tr class="<%= 'blank' if document.description.blank? %>">
          </tr>  
          <tr>
            <td>
              <%= t('document.info.date.created_at') %>
            </td>
            <td>
              <%= I18n.localize document.created_at, :format => :long %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t('document.info.date.updated_at') %>
            </td>
            <td>
              <%= I18n.localize document.updated_at, :format => :long %>
            </td>
          </tr>
          <tr>
            <td>
              <%= t('document.info.size') %>
            </td>
            <td>
              <%= number_to_human_size document.file_file_size %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div> 
  <a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">--- <%=t('excursion.actions.show_more')%> ---</a>
</div>