<div id="effect" class="newClass ui-corner-all">
  <dl class="dl-horizontal">
    <!-- title -->
    <dt><%= t 'document.info.title' %></dt>
    <dd><%= document.title %></dd>
    <!--<dd><%#= link_to picture.title, picture %></dd>-->
    
    <!-- author -->
    <dt><%= t 'document.info.author' %></dt>
    <dd><%= link_to document.author.subject do %>
        <p><%= truncate_name(document.author.name, :length => 50) %></p>
      <% end %></dd>
    <!-- description -->
    <% unless document.description.blank? %>
      <dt><%= t 'document.info.description' %></dt>
      <dd><%= document.description %></dd>
    <%end%>
    <!-- tags -->
    <% unless document.tag_list.blank? %>
      <dt><%= t 'document.info.tags' %></dt>
      <dd>
        <ul class="tagit-suggestions">
          <% document.tag_list.each do |tag| %>
            <li class="tagit-choice">
              <%= link_to tag, search_path(:q => tag) %>
            </li>
          <% end %>
        </ul>
      </dd>
    <%end%>
    <!-- size -->
    <% unless !defined? document.file or document.file.nil? or !defined? document.file_file_size or document.file_file_size.blank? %>
      <dt><%= t('document.info.size') %></dt>
      <dd><%= number_to_human_size document.file_file_size %></dd>
    <%end%>

  </dl>
  
</div>



  <script>
  $(function() {
    $("#showMore").click(function(){
      $(".newClass").switchClass( "newClass", "anotherNewClass", 1000 );
      $(".anotherNewClass").switchClass( "anotherNewClass", "newClass", 1000 );
      if($("#showMore").attr("status")=== "showMore"){
        $("#showMore").html('<a><%=t("excursion.actions.show_fewer")%></a>');
        $("#showMore").attr("status", "showFewer");
      }
      else{
        $("#showMore").html('<a><%=t("excursion.actions.show_more")%></a>');
        $("#showMore").attr("status", "showMore");
      }
      return false;
    });
  });
  </script>