<div class="left-info">
  <div class="author">
    <div class="avatar">
      <%= link_to document.author.subject do %>
        <%= image_tag document.author.logo.url(:small) %>
      <% end %>
    </div>

    <div class="right-name">
      <%= link_to document.author.subject do %>
        <p><%= truncate_name(document.author.name, :length => 50) %></p>
      <% end %>
      <div class="add">
        <% if user_signed_in?%>
          <%= contact_button(current_subject.contact_to!(document.author)) %>
        <%else%>
          <%= contact_button(document.author) %>
        <%end%>
      </div>
    </div>
  </div>


  
  <div class="viewsAndConunt">
    <div class="views">
      <%=document.visit_count.to_s%> 
      <span>
        <%=t('follow.views')%>
      </span>
    </div>

    <div class="like">    
      <%=document.post_activity.likes.count.to_s%>
      <span>
        <%= link_like(document.post_activity)%>
      </span>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel">
    <header>
      <table class="table table-hover">
        <% unless document.description.blank? %>
          <tr>
            <td><span><%= t 'document.info.description' %></span></td>
            <td><%= document.description %></td>
          </tr>
        <%end%>
        <tr>
          <% unless !defined? document.file or document.file.nil? or !defined? document.file_file_size or document.file_file_size.blank? %>
              <td><span><%= t('document.info.size') %></span></td>
              <td><%= number_to_human_size document.file_file_size %></td>
          <%end%>
        </tr>
      </table>
    </header>

    <div id="collapseInfo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover"> 
          <% unless document.tag_list.blank? %>
            <tr>
              <td><span><%= t 'document.info.tags' %></span></td>
              <td>
                <ul class="tagit-suggestions">
                  <% document.tag_list.each do |tag| %>
                    <li class="tagit-choice">
                      <%= link_to tag, search_path(:q => tag) %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <%end%>
          <tr>
            <td><span><%= t('document.info.date.created_at') %></span></td>
            <td><%= I18n.localize document.created_at, :format => :long %></td>
          </tr>
          <tr>
            <td><span><%= t('document.info.date.updated_at') %></span></td>
            <td><%= I18n.localize document.updated_at, :format => :long %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
    <span id="showingMore" class="showMore accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" title=<%=t("excursion.actions.show_more")%>>
    <%=t('excursion.actions.show_more')%>
    </span>
  </a>
</div>
<script language="javascript" type="text/javascript" >

  $("#showingMore").click(function(e){
    if($("#showingMore").attr("title")==="showMore"){
      $("#showingMore").html('<%=t("excursion.actions.show_more")%>');
      $("#showingMore").attr("title", "showFewer");
    }
    else{
      $(".showMore").html('<%=t("excursion.actions.show_fewer")%>');
      $("#showingMore").attr("title", "showMore");
    }
  });

</script>