<div class="boxy_gray" id="new_file_only">
  <%= form_for Document.new, :namespace => 'new_file_only', :remote => false  do |f| %>
    <%= f.file_field :file %>

    <div id="new_file_only_info_wrapper">
      <%= f.label :title %> <%= f.text_field :title %>
      <%= f.text_field :description, :size => 85, :class => "row-fluid-90" %>
    </div>
  
    <div id="new_file_only_share_btn" class="inline">
        <%= f.submit(t('share'), :class => "button submitActivity") %>
    </div>

    <%= javascript_tag do %>
      $(function() {
        $('#new_file_only_info_wrapper').hide();
        $('#new_file_only').hide();
        $("#new_file_only_document_description").watermark(I18n.t('document.input'), "#666");

        $('#resource-filter-btn').click(function(){
          $(this).hide();
          $('#new_file_only').show();
          $('#new_file_only_document_file').trigger('click');
        });

        $('#new_file_only_document_file').change(function(){
          $('#new_file_only_info_wrapper').show();
          $("#new_file_only_document_title").val($(this).val().replace(/C:\\fakepath\\/i, ''));
        });
      });
    <% end %>
  <% end %>
</div>
