<%= div_for document, :class => 'row' do %>
    <ul class="thumbnails span2">
      <li class="span">
        <%= link_to  "", document, :class => icon_class_for(document), :alt => document.title %>
      </li>
      <li class="span_profile">
        <div class="caption ellipsis">
          <h4 class="link_gray"><%= link_to truncate_name(document.title, :length => 15), document, :class => "size14" %></h4>
          <h5> <span class="green"><%=document.visit_count.to_s%></span> <%=t('follow.views')%></h5>
        </div>
      </li>
    </ul>
<% end %>
