<div class="attachment_tile" id="<%= dom_id(document) %>">
<% %>
  <div class="attachment_tile_thumb">
    <%= link_to "", document, :class => icon_class_for(document), :alt => document.title, :title => document.title, :rel=> 'tooltip' %>
  </div>

  <div class="attachment_tile_tooltip">
    <% ttl = ""
       if document.is_a? Document 
         ttl = ttl + link_to(raw("<i class='icontool16-tool16_arrow_3'></i> ") + t('document.actions.download'), download_document_path(document)) + "<br/>"
       elsif document.is_a? Link
         ttl = ttl + link_to(raw("<i class='icontool16-tool16_arrow_8'></i> ")  + t('link.go'), document.url, :target => "_blank" ) + "<br/>" 
       end

       if user_signed_in? and (document.is_a? Document or document.is_a? Embed) and (can? :update, document)
         ttl = ttl + link_to(raw("<i class='icontool16-tool16_edit'></i> ") + t('document.actions.edit'), document_path(document, :editing => true)) + "<br/>"
       end

       if can?(:destroy, document)
         ttl = ttl + link_to(raw("<i class='icontool16-tool16_symbol_delete'></i> ")  + t('document.actions.delete'), document, :confirm => t('confirm_delete', :scope => document.class.to_s.underscore), :method => :delete, :class => :action) + "<br/>"
       end

    %>
    <% unless document.is_a? Embed and (not user_signed_in? or current_subject == document.owner) %>
      <%= link_to content_tag(:span, raw("<i class=' iconnav-tools'></i> ")),
                  "javascript:;",  :alt => document.title, :rel => 'tooltip', :title=> ttl %>
    <% end %>

    <div class="tipsy_content" style="display:none;">
    </div>
  </div>

<!-- File title -->

  <div class="attachment_tile_text">
    <%= link_to truncate_name(document.title, :length => 15),
                document,
                :alt => document.title,
                :title => document.description,
                :rel => 'tooltip', 
                :path => document %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){

  SocialStream.Repository.init();


  $('.attachment_tile_thumb a').tooltip();
  $('.attachment_tile_text a').tooltip({ placement: 'bottom'}); 

  $('.attachment_tile_tooltip a').tooltip({ placement: 'bottom', delay: { show: 200, hide: 3500 }});

  });
<% end %>
