<section id="<%= document.class.to_s.underscore %>">
  <% document_profile_subject ||= document.owner_subject %>

  <%= render :partial => 'objects/show', :locals  => { :object => document } %>
  
  <% content_for :title do %>
    <%= document_profile_subject.name + ": " + t('repository.title') %>
  <% end %>

  <%= div_for document do %>
    
    <!--visor-->
    <%= render :partial => 'common_documents/box_show', :locals  => { :document => document } %>

    <!--recomended-->
    <!-- No option[:models] mean all resources -->
    <%= render :partial => 'recommender/sidebar', :locals  => { :resources => RecommenderSystem.resource_suggestions(current_subject,document,{:n=>16})} %>

    <div class="description-activity">
      <!-- Tool tab -->
      <div class="box_description">
        <div class="excursion_tool">
          <%= render :partial => 'common_documents/document-tool-tab', :locals => { :document => document } %>
        </div>     
      </div>
      
      <!--activity (comments, ...) -->
      <div class="activity-box">
        <%= render :partial => 'common_documents/activity', :locals => { :document => document } %>
      </div>
    </div>

  <% end %>

</section>





