<% @contribution = (params["contribution"]=="true") %>

<section id="<%= document.class.to_s.underscore %> "class="layout_show">

  <%if @contribution%>
    <p>
      <% document.contribution.parents_path.each_with_index do |contributionParent,index| %>
        <%unless index == 0%>
          <span>></span>
        <%end%>
        <span><%= link_to contributionParent.title, polymorphic_path(contributionParent)%></span>
      <% end %>
    </p>
  <%end%>

  <% document_profile_subject ||= document.owner_subject %>
  <%= render :partial => 'objects/show', :locals  => { :object => document } %>
  
  <% content_for :title do %>
    <%= document_profile_subject.name + ": " + t('repository.title') %>
  <% end %>

  <%= div_for document do %>
    
    <!--visor-->
    <div class="box-show">
      <div class="container-visor">
        <div class="caja-elementos">
          <%= render partial: "#{ document.class.to_s.tableize }/#{ document.class.to_s.underscore }_show",
        locals: { document.class.to_s.underscore.to_sym => document } %>
        </div>
      </div>
    </div>

    <!--recomended-->
    <!-- No option[:models] mean all resources -->
    <%= render :partial => 'recommender/sidebar', :locals  => { :resources => RecommenderSystem.resource_suggestions(current_subject,document,{:n=>16})} %>

    <div class="description-activity">
      <!-- Tool tab -->
      <div class="box_description">
        <div class="excursion_tool">
          <%= render :partial => 'common_documents/document-tool-tab', :locals => { :document => document } %>
        </div>     
      </div>
      
      <!--activity (comments, ...) -->
      <div class="activity-box">
        <%= render :partial => 'common_documents/activity', :locals => { :document => document } %>
      </div>
    </div>

    <%if @contribution%>
      <div class="description-activity">
        <p> Contribute </p>
        <p> Contributions carrousel </p>
      </div>
    <%end%>

  <% end %>

</section>





