<section id="<%= document.class.to_s.underscore %>">
  <%= render :partial => 'objects/show',
  :locals  => { :object => document } %>
  <% document_profile_subject ||= document.owner_subject %>
  <% content_for :title do %>
    <%= document_profile_subject.name + ": " + t('repository.title') %>
  <% end %>
  <%= div_for document do %>
    <div class="box-show">
      <!--visor-->
      <div class="container-visor">
        <!--div class="elemento-visor"></div-->
        <div class="caja-elementos">
          <%= render partial: "#{ document.class.to_s.tableize }/#{ document.class.to_s.underscore }_show",
          locals: { document.class.to_s.underscore.to_sym => document } %>
        </div>
      </div>
    </div>
    <!--recomended-->
    <div class="recomended" id="recomended_box">
      <div class="recomended-items">
        <ul class="small-box clearfix">
          <% popular_resources(16).each do |resource| %>
            <% if resource.class == Excursion %>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => resource, :container_id => "recomended_box" } %>
            <% else %>
              <%= render :partial => 'repositories/resource', :locals => { :resource => resource } %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  <div class="description-activity">
    <div class="box_description">
      <!--tool-->
      <div class="excursion_tool">
        <%= render :partial => 'common_documents/document-tool-tab', :locals => { :document => document } %>
      </div>     
    </div>
    
    <!--activity-->
    <div class="activity-box">
      <%= render :partial => 'common_documents/activity', :locals => { :document => document } %>
    </div>
  </div>

<% end %>

</section>





