<div class="container-device ">
  <div class="pagination-centered ">
    <span class="dark-gray size20"><%= t('sign_up').capitalize %></span>
  </div>
  <div class="pagination-centered gray-medium margin-bottom10">

      <%= t('vish.sentence1') %>
      <p class="">
        <%= t('vish.sentence2') %>
      </p>

  </div>


  <section id="">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <article class="row-fluid">
        <div class="span12 box_basic ">
          <div class=" span12 border_bottom ">
            <%= f.label :name, :class => "span4 text_imput_center" %>
            <%= f.text_field :name, :class => "span7 input_nude pull-right pull-right", :id => "name", :placeholder => "Insert Name" %>
          </div>
          <div class="span12 border_bottom ">
            <%= f.label :email, :class => "span4 text_imput_center" %>
            <%= f.text_field :email, :class => "span7 input_nude", :id => "email", :placeholder => "email@example.com" %>
          </div>
          <div class="span12 border_bottom text_imput_center ">
            <%= f.label :password, :class => "span4 text_imput_center" %>
            <%= f.password_field :password, :class => "span7 input_nude text_imput_center", :id => "password", :placeholder => "********" %>
          </div>
          <div class="span12 border_bottom ">
            <%= f.label :password_confirmation, :class => "span4 text_imput_center" %>
            <%= f.password_field :password, :class => "span7 input_nude text_imput_center", :id => "password_confirmation", :placeholder => "********" %>
          </div>
          <!-- Tags -->
          <!-- Preload tags -->
          <% @tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc") %>
          <ul id="preloadTagList" style="display:none">
            <% @tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
          <label class="span4 text_imput_center" for="tags"><%= t('activerecord.attributes.user.tag') %></label>

          <div class="controls">
            <div class="tagBoxNew  span6 ">
              <%= f.hidden_field :tag_list, :class => "form_tag span6", :id => "input_tag_list input_nude " %>
              <div class="tagList span6 margin-top10 "></div>
            </div>
          </div>
        </div>
        <div class=" span12 margin-top10 pagination-centered">
          <div class="controls">
            <a class="gray"><%= t('conditions.check_message') %></a>  <%= link_to t('conditions.check_message_1'), '/legal_notice', :target => '_blank' %>
          </div>
        </div>
        <div class="row">
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to t('confirmation.not_received.long'), new_confirmation_path(resource_name) %>
          <% end -%>
        </div>
        <%= f.submit t('action.accept').capitalize, :id => "submit_new_user_button", :class => " margin-top10 btn btn-primary span12" %>
      </article>
    <% end %>
  </section>
</div>

<%= content_for :javascript do %>
  $(document).ready(function() {
  var tagList = $(".tagList ");
  var tags = [];

  //Load tags
  $.each($("#preloadTagList li"), function(index, element) {
  tags.push($(element).html());
  });

  $(tagList).tagit({tagSource:tags, sortable:true, maxLength:15, maxTags:8 ,
  watermarkAllowMessage: '<%= t('document.info.tags.addMessage').downcase %>', watermarkDenyMessage: '<%= t('document.info.tags.limitMessage') %>' ,
  tagsChanged:function (tag, action) {
  //Check if the element popped is a suggestion
  if(action=="popped"){
  $.each($(".tagit-suggestions li"), function(index, element) {
  if($(element).html()==tag){
  $(element).show();
  }
  });
  }
  }
  });

  //Allow suggestions
  $(".tagit-suggestions li").on("click", function(){
  var result = $(".tagit").tagit('add', $(this).html() );
  if(result==true){
  $(this).hide();
  }
  });

  //Fill tag_list hidden input before send
  var button = $("#submit_new_user_button");
  $(button).click(function(event) {
  var tagList = $(".tagList");
  $("#input_tag_list").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
  return true;
  });

  });
<% end %>

