<div class="container body-height">
  <div class="row span4  right">
    <p class="devise_title"><span class="dark-gray"><%= t('sign_up').capitalize %></span></p>
  </div>
  <div class="row span6 offset4">
    <div class="title_sentences">
      <%= t('vish.sentence1') %>
      <p class="size18"><%= t('vish.sentence2') %></p>
    </div>
  </div>

  <div class="row span6 offset4 boxy_gray">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal2"}) do |f| %>
      <fieldset>
        <div class="row space_center"></div>
        <div class="control-group">
          <%= devise_error_messages! %>
        </div>
        <div class="control-group">
          <label class="control-label" for="name"><%= f.label :name %></label>

          <div class="controls">
            <%= f.text_field :name, :class => "input-xlarge", :id => "name" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email"><%= f.label :email %></label>

          <div class="controls">
            <%= f.text_field :email, :class => "input-xlarge", :id => "email" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password"><%= f.label :password %></label>

          <div class="controls">
            <%= f.password_field :password, :class => "input-xlarge", :id => "password" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password_confirmation"><%= f.label :password_confirmation %></label>

          <div class="controls">
            <%= f.password_field :password, :class => "input-xlarge", :id => "password_confirmation" %>
          </div>
        </div>

				<!-- Tags -->
			  <!-- Preload tags -->
			  <%@tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc")%>
			  <ul id="preloadTagList" style="display:none">
			    <%@tags.each do |tag| %>
			      <li><%=tag.name%></li>
			    <%end%>
			  </ul>

			  <div class="control-group">
			    <label class="control-label" for="tags"><%= t('activerecord.attributes.user.tag') %></label>
			    <div class="controls">
			      <%= f.hidden_field :tag_list, :class => "form_tag", :id => "input_tag_list" %>
			      <div class="tagBoxNew span5">
			        <ul class="tagList"></ul>
              <ul class="tagit-suggestions">
                <li class="tagit-choice">Nanotechnology</li>
                <li class="tagit-choice">Biotechnology</li>
                <li class="tagit-choice">Life-Sciences</li>
                <li class="tagit-choice">Grid-Computing</li>
              </ul>
			      </div>
			    </div>
			  </div>

        <div class="control-group">
          <div class="controls">
            <%= t('conditions.check_message') %> <%= link_to t('conditions.check_message_1'), '/legal_notice', :target=>'_blank' %>
          </div>
        </div>

        <div class="row">
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to t('confirmation.not_received.long'), new_confirmation_path(resource_name) %>
          <% end -%>
        </div>
        <div class="btn_devise">
          <div class="form-actions pagination-right space_right">
            <%= f.submit t('action.accept').capitalize, :id => "submit_new_user_button" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>

    <div class="row span6 offset3 link_gray" id="devise_links">
      <div class="row space_center"></div>
     <%= render :partial => "devise/shared/links" %>
    </div>

</div>

<%= content_for :javascript do %>
  $(document).ready(function() {
    var tagList = $(".tagList");
    var tags = [];

    //Load tags
    $.each($("#preloadTagList li"), function(index, element) {
       tags.push($(element).html());
    });
		
		$(tagList).tagit({tagSource:tags, sortable:true, maxLength:15, maxTags:8 , 
      watermarkAllowMessage: '<%=t('document.info.tags.addMessage')%>', watermarkDenyMessage: '<%=t('document.info.tags.limitMessage')%>' ,
		  tagsChanged:function (tag, action) {
			  //Check if the element popped is a suggestion
			  if(action=="popped"){
					$.each($(".tagit-suggestions li"), function(index, element) {
            if($(element).html()==tag){
						  $(element).show();
						}
          });
				}
      } 
		});

    //Allow suggestions
    $(".tagit-suggestions li").on("click", function(){
      var result = $(".tagit").tagit('add', $(this).html() );
			if(result==true){
			  $(this).hide();
			}
    });

    //Fill tag_list hidden input before send
     var button = $("#submit_new_user_button");
     $(button).click(function(event) {
       var tagList = $(".tagList");
       $("#input_tag_list").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
       return true;
     });

  });
<% end %>
