<div class="container " xmlns="http://www.w3.org/1999/html">
  <div class="row span4 offset1 right">
    <p class="devise_title"><span class="dark-gray"><%= t('sign_up').capitalize %></span></p>
  </div>
  <div class="row span6 offset4">
    <div class="title_sentences">
      <%= t('vish.sentence1') %>
      <p class="size18"><%= t('vish.sentence2') %></p>
    </div>
  </div>

  <div class="row span6 offset4 boxy_gray">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal2"}) do |f| %>
      <fieldset>
        <div class="row space_center"></div>
        <div class="control-group">
          <%= devise_error_messages! %>
        </div>
        <div class="control-group">
          <label class="control-label" for="name"><%= f.label :name %></label>

          <div class="controls">
            <%= f.text_field :name, :class => "input-xlarge", :id => "name" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email"><%= f.label :email %></label>

          <div class="controls">
            <%= f.text_field :email, :class => "input-xlarge", :id => "email" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password"><%= f.label :password %></label>

          <div class="controls">
            <%= f.password_field :password, :class => "input-xlarge", :id => "password" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password_confirmation"><%= f.label :password_confirmation %></label>

          <div class="controls">
            <%= f.password_field :password, :class => "input-xlarge", :id => "password_confirmation" %>
          </div>
        </div>
        <input class="textborder acept link_gray" type="checkbox">
        <div class="link_gray"> Accept the <a href="#" >conditions &amp; terms of the service</a></div>
        <div class="space_center"></div>

        <div class="row">
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to t('confirmation.not_received.long'), new_confirmation_path(resource_name) %>
          <% end -%>
        </div>
        <div class="btn_devise">
          <div class="form-actions pagination-right space_right">
            <%= f.submit t('action.accept').capitalize %>
          </div>
        </div>
      </div>
      </fieldset>
    <% end %>


    <div class="row span6 offset3 link_gray" id="devise_links">
      <div class="row space_center"></div>
     <%= render :partial => "devise/shared/links" %>
    </div>

    <div class="row space_double_center"></div>
    <div class="row space_double_center"></div>
    <div class="row space_double_center"></div>
</div>