<h3 class="menssage-devise">
  <%= t('sign_up').capitalize %>
</h3>
<h4 class="sentence">
  <small>
    <%= t('vish.sentence1') %>
  </br>
    <%= t('vish.sentence2') %>
  </small>
</h4>
<div id="formulate">
  <div class="box_gray1">
    <div class="box_gray2">
      <div class="box_gray3">
        <div class="box_white devise-box">
          <div class="campos">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => ""}) do |f| %>
            <%= devise_error_messages! %>
            <label class="text-tittle" for="name">
              <%= f.label :name %>
            </label>
            <%= f.text_field :name, :class => "", :id => "name", :placeholder => "Homo Sapiens sapiens" %>
            <div class="line"></div>
            <label class="text-tittle" for="email">
              <%= f.label :email %>
            </label>
             <%= f.text_field :email, :class => "", :id => "email", :placeholder => "user@vish.org"  %>
            <div class="line"></div>
            <label class="text-tittle" for="password">
              <%= f.label :password %>
            </label>
            <%= f.password_field :password, :class => "", :id => "password", :placeholder => "********" %>
            <div class="line"></div>
            <label class="text-tittle" for="password_confirmation">
              <%= f.label :password_confirmation %>
            </label>

            <%= f.password_field :password, :class => "", :id => "password_confirmation", :placeholder =>"********"  %>
            <div class="line"></div>

            
            <label class="text-tittle margin-top10" for="tags">
              <%= t('activerecord.attributes.user.tag') %>
            </label>

            <%= f.hidden_field :tag_list, :class => "form_tag", :id => "input_tag_list", :placeholder => t('devise.tags')   %>

            <%@tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc")%>
            <ul id="preloadTagList" style="display:none">
              <%@tags.each do |tag| %>
              <li>
                <%=tag.name%>
              </li>
             <%end%>
            </ul>
            <div class="tagBoxNew">
              <ul class="tagList devisetags"></ul>
            </div>
          </div>
        </div>
        <div class="sentence-rules">
          <%= t('conditions.check_message') %>
          </br> 
          <%= link_to t('conditions.check_message_1'), '/legal_notice', :target=>'_blank' %>
          <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to t('confirmation.not_received.long'), new_confirmation_path(resource_name) %>
          <% end -%>
        </div>
        <div class="accept-btn">
          <%= f.submit t('action.accept').capitalize, :class => "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= content_for :javascript do %>
  $(document).ready(function() {
  var tagList = $(".tagList ");
  var tags = [];

  //Load tags
  $.each($("#preloadTagList li"), function(index, element) {
  tags.push($(element).html());
  });

  $(tagList).tagit({tagSource:tags, sortable:true, maxLength:15, maxTags:8 ,
  watermarkAllowMessage: '<%= t('document.info.tags.addMessage').downcase %>', watermarkDenyMessage: '<%= t('document.info.tags.limitMessage') %>' ,
  tagsChanged:function (tag, action) {
  //Check if the element popped is a suggestion
  if(action=="popped"){
  $.each($(".tagit-suggestions li"), function(index, element) {
  if($(element).html()==tag){
  $(element).show();
  }
  });
  }
  }
  });

  //Allow suggestions
  $(".tagit-suggestions li").on("click", function(){
  var result = $(".tagit").tagit('add', $(this).html() );
  if(result==true){
  $(this).hide();
  }
  });

  //Fill tag_list hidden input before send
  var button = $("#submit_new_user_button");
  $(button).click(function(event) {
  var tagList = $(".tagList");
  $("#input_tag_list").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
  return true;
  });

  });
<% end %>

