
<div id="excursions_catalogue" >
	<% if @all_categories.nil?
   		@all_categories = generic_categories
   	   end%>
	<%@all_categories.each do |name, the_array| %>
		<h2><%=name%></h2>
		
		<ul id="container_<%=name%>" class="items">
			<%for excursion in the_array%>
				<%=render :partial=> "excursions/excursion", :locals => { :excursion => excursion , :prefix_id => "catalogue"} %>
			<%end%>
		</ul>
		<button class="show_more_catalogue" name="<%=name.capitalize%>"><%=t('view_all')%></button>
	<%end%>
</div>

<script type="text/javascript">
	$(".show_more_catalogue").click(function(event) {
		var name = $(this).attr("name");
		$("#catalogue_tab_ready").empty();
		$('.loader_pagination').show();
		var next = "/home?tab=catalogue&category=" + name ;
		catalogue_state(next);
	});
</script>