<% @done={} %>
<section id="excursions_tab_ready3 " class="excursions recent_excursions">
  <ul class="first_excursions">
    <%= render partial: 'excursions/excursion-add' %>
    <%
      if current_subject && current_subject.following_actor_ids && current_subject.following_actor_ids.size < 4
        scope = :more
      else
        scope = :net
      end%>
     <% excursionsRecent = Excursion.getHome( 30 , 'Recent')
        excursionsRecommended = Excursion.getHome( 30 ,'Recommended',{:user => current_user})%>

    <%= render partial: 'excursions/home/excursionshome', :locals => { :excursions => excursionsRecent, :limit => 9, :prefix_id=>"home" } %>
  </ul>
  <div id="last_content_shown" style="display:none"><%=t('search.end')%></div>

</section>



<section id="excursions_tab_ready2 " class="excursions foryou_excursions">
  <ul class="">
    <h3> <%= t("home.foryou")%> </h3>
  <%= render partial: 'excursions/home/excursionshome', :locals => {:excursions => excursionsRecommended, :limit => 10, :prefix_id=>"home"} %>

  </ul>
</section>
 


 <section id="home_tab_ready" class="excursions">
  <ul class="">
  <h3> <%= t("home.populars")%> </h3> 
  <% excursionsDone = @done %>
 <%= render partial: 'excursions/home/excursions_popular', :locals => {:ids_to_avoid => excursionsDone,  :page => 1, :prefix_id=>"home"} %>
   </ul>




 <div class="loader_pagination">
    <div id="pageless-loader" style="text-align:center;width:100%;">
      <div class="msg" style="font-size:2em">
       <%=t('search.loading')%>
      </div>
     <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
   </div>

  </div>
</section>


<script>
//this will be needed when we have several tabs in the home page
var backstrech_items = {
  excursions: {

  },
  resources: {

  }, 
  events: {

  }
};


function re_apply_backstrech(tab){
  for (var key in backstrech_items[tab]) {
    $(""+ key).backstretch( backstrech_items[tab][key] ); 
  }
}

</script>