<!--corner-->
<%= render partial: 'workshops/ws_objects/corner_resource', locals: { resource: webapp} %>

<!--thumbnail-->
<div class="thumbnail_object_WS">
  <%= render partial: 'workshops/ws_objects/thumbnail_resource', locals: { resource: webapp} %>
</div>

<!--title resource-->
<h3 class="title_WS resource_title_WS"><%=t('workshop.activities.resource.title')%> <span class="blue"> Web app</span></h3>

<!--actions-->
<div class="actions">

	<a class="btn download_object" href="<%=webapp.getDownloadUrl(@controller)%>"><i class='icon-download'></i><span class=''><%= t('document.actions.download') %></span></a>

 	<button href="#" status="showMore" class=" btn ui-state-default ui-corner-all showMore"><a><i class="icon-chevron-down"></i><%=t('excursion.actions.show_more')%></a></button>

</div>

<!--visor-->
<div class="show_object_WS">
  <%= render :partial => 'workshops/ws_objects/show_resource', :locals => {:document => webapp}%>  
</div>

