<div class="root">
  <div class="avatar">
    <%= link_to image_tag(activity.sender_subject.logo.url(:profile), :alt => activity.sender_subject.name), activity.sender_subject %>
  </div>
  <header>
    <h5>
      <%= activity.title(self) %>
    </h5>
  </header>
  <section class="objects">
    <% unless activity.activity_objects.empty? %>

      <%= render activity.activity_objects %>
    <%end%>
  </section>
  <div class="actions">
    <div class="post_time_ago">
      <%= t('time.ago', :time => time_ago_in_words(activity.created_at)) %>
    </div>
    <div class="green">
      <%= activity.likes.count.to_s %>
      <img src="/assets/icons/star-MENU-active.png" width="12px" height="12px">
      <%= activity.comments.count.to_s %>
      <img class="imgnoradio" src="/assets/icons/mensajes.png" width="12px" height="12px">
    </div>
  </div>
</div>