<% unless comment.blank? %>
  <% author = comment.author_subject %>
  <div class="model_with_details ">
    <%= javascript_tag do %>
      <%= modal_for(author.subject) %>
    <% end %>
    <ul class="thumbnails">
      <li class="avatar">
        <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger"><%= image_tag(author.logo.url, :alt => author.name) %></a>
        </a>
      </li>
      <li class="info_user">
        <h4>
          <span class="name">
            <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger">
              <%= truncate_name(author.name, :length => 40) %>
            </a>
          </span>
        </h4>
        <div class="content_post">
          <span class="type-element">
            <%=t "#{comment.class.name.underscore}.name"  %>
          </span>

            <%= link_to comment do%>
              <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 25) || truncate(comment.text, :length => 60) %>
              <% if text.length < 60 %>
                <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 30 + (60 - text.length)) || comment.text %>
              <% end %>
              <%= highlight(text,get_search_query_words) %>
            <% end %>
        </div>
      </li>
    </ul>
  </div>
<% end %>


