<% author = comment.author_subject %>
<div class="model_with_details">
  <%= javascript_tag do %>
    <%= modal_for(author.subject) %>
  <% end %>
  <div class="logo">
    <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-trigger"><%= image_tag(author.logo.url, :size => "50x50", :alt => author.name) %></a>
  </div>
  <div class="sub-block">
    <div class="brief">
    <%= link_to comment do%>
      <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 25) || "" %>
      <% if text.length < 60 %>
        <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 30 + (60 - text.length)) || "" %>
      <% end %>
      <%= highlight(text,get_search_query_words) %>
      <% end %>
      <br>
    </div>
  </div>
</div>

