<% unless comment.blank? %>
  <% author = comment.author_subject %>
  <div class="model_with_details box-result">
    <%= javascript_tag do %>
      <%= modal_for(author.subject) %>
    <% end %>
    <ul class="thumbnails">
      <li class="span1 margin-clear ">
        <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger">z<%= image_tag(author.logo.url, :alt => author.name) %></a>
      </li>
      <li class="span w150px">
        <div class="caption">
          <h4><span class="size16"><a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger"><%= truncate_name(author.name, :length => 40) %></a></span></h4>
          <div class="size12 link_gray">
            <h5 class="blue-opacity"><span class="size13"><%=t "#{comment.class.name.underscore}.name"  %></span></h5>
            <%= link_to comment do%>
              <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 25) || truncate(comment.text, :length => 60) %>
              <% if text.length < 60 %>
                <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 30 + (60 - text.length)) || comment.text %>
              <% end %>
              <%= highlight(text,get_search_query_words) %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% end %>

