<%= form_for Comment.new(:owner_id => owner_id, :_activity_parent_id => _activity_parent_id),:remote => true, :class => "form-group" do |f| %>

  <div class="input-group">
    <div class="input-group-addon">
      <%= image_tag current_subject.logo.url(:small) %>
    </div>

    <%= f.hidden_field :owner_id %>
    <%= f.hidden_field :_activity_parent_id %>

    <%= f.text_area :text, :rows => 1, :class => "form-control", :placeholder => t('comment.input')  %>

    <%= f.submit t('activity.to_comment'), :class => "btn btn-primary", "data-loading-text" => t('button.sending') %>
  </div>      
<% end %>
