<% if user_signed_in? && current_subject.can_comment?(activity) %>
  <ul class="activity_new_comment boxy_gray thumbnails span4">
    <li class="span activity_content">
      <div class="caption span4">
        <h4 class="span size11">
          <%= form_for Comment.new(:text => t('comment.input'),
                                   :owner_id => Actor.normalize_id(activity.receiver),
                                   :_activity_parent_id => activity.id),
                       :html => { :class => "new_comment form-horizontal", :id => "new_comment"+dom_id(activity)  },
                       :remote => true do |f| %>
            <fieldset class="space_top">
              <%= f.hidden_field :owner_id %>
              <%= f.hidden_field :_activity_parent_id %>
              <div class="input_new_comments_container control-group">
                <%= f.text_area :text, :class =>"input_new_comments input-xlarge focused", :id => "comment_text_"+dom_id(activity), :rows=>"1" %>
                <div class="copy_new_comment" id="copy_comment_text_<%= dom_id(activity) %>"></div>
              </div>
              <div class="form-actions">
                <div class="activities_security"></div>
                <%= f.submit t('activity.to_comment'), :class =>"myButtonBlue submitActivity", :id => "comment_submit_"+dom_id(activity) %>
              </div>
            </fieldset>
          <%end%>
        </h4>
      </div>
    </li>
  </ul>
<% end %>





