<div class="setting-box" id="api_key_settings">
  <div class="title">
    <%= t('settings.api_key.name')%>
  </div>
  <%= link_to (image_tag('icons/edit_icon.png', :class=>"imgnoradio")),  "javascript:showSettings(\"api_key_settings\");", :class => "action" %>
  <div class="content settings_content" id="api_key_settings_content" style="display:none;">
    <div class="text">
      <%=t('settings.api_key.explanation') %>: <span id="api_token"><%= current_subject.authentication_token.blank? ? t('settings.api_key.empty') : current_subject.authentication_token %></span>
    </div>

    <%= link_to t('settings.api_key.regenerate'), api_keygen_path(:api_settings => true), :confirm => t('settings.api_key.confirm'), :remote => true  %>
  </div>
</div>