<div class="setting-box" id="language_settings">
  <div class="title">
 		<%= t("account.lang.change")%>
  </div>
 	<%= link_to (image_tag('icons/edit_icon.png', :class=>"imgnoradio")),  "javascript:showSettings(\"language_settings\");" , :class => "action" %>
  <div class="content settings_content" id="language_settings_content" style="display:none;">
    <%= form_tag update_all_settings_path, :method => :put, :id => 'form_lang', :remote => false do %>
    <%= label_tag :language, t('settings.lang_change.name'), :class => "text"  %>
    <%= select_tag(:language, options_for_select([[t('lang.browser'), 'browser']] + I18n.available_locales.map{|l| [ t(:language_name, :locale => l.to_s), l.to_s ] }, (current_user.language.blank? ? 'browser' : current_user.language)), :class => 'form_tag', :onchange => "$(\'#form_lang\').submit();", :class => "input_settings" )%>
      <%= hidden_field_tag :settings_section, :language %>
		<noscript>
    <%= submit_tag "Update Settings", :class => "btn btn-primary" %>
		</noscript>
    <% end%>
  </div>
</div>