<div id="all" class="tab-pane <%= "active" if @search_class_sym.blank? %>">
  <% if @search_result.empty? %>
    <%= I18n.t('search.nothing') %>
  <% elsif @search_class_sym.nil? %>
    <% @search_result.each do |res| %>
      <%= render_global_search_for res  %>
    <% end %>
  <% end %>
</div>

<% SocialStream.extended_search_models.each do |model| %>
  <div id="<%= model.to_s.tableize %>" class="tab-pane <%= "active" if @search_class_sym == model && @search_result.present? %>">
    <% if @search_class_sym == model && @search_result.present? %>
      <% @search_result.each do |res| %>
        <%= render_focus_search_for res  %>
      <% end %>
    <% end %>
  </div>
<% end %>

<br class="clearfloat">

<%= paginate @search_result if @search_result.present? %>

<% javascript_tag do %>
  Vish.Search.init();
<% end %>
