<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#ex-1"></a> <div class="text-radiobuttons ">all</div></li>
	<li class=""><a data-toggle="tab" href="#ex-2"></a><div class="text-radiobuttons ">excursions</div></li>
  <li class=""><a data-toggle="tab" href="#ex-3"></a><div class="text-radiobuttons ">users</div></li>
  <li class=""><a  data-toggle="tab" href="#ex-4"></a><div class="text-radiobuttons ">resources</div></li>
  <li class=""><a  data-toggle="tab" href="#ex-4"></a><div class="text-radiobuttons ">activity</div></li>
</ul>

<div id="all" class="tab-pane <%= "active" if params[:type].blank? %>">
  <% if @search_result.empty? %>
    <%= I18n.t('search.nothing') %>
  <% elsif params[:type].blank? %>
    <% @search_result.each do |res| %>
      <%= render_global_search_for res  %>
    <% end %>
    <%= paginate @search_result if @search_result.present? %>
  <% end %>
</div>

<% SocialStream::Search.keys(:extended).each do |key| %>
  <div id="<%= key %>" class="tab-pane <%= "active" if params[:type] == key.to_s %>">
    <% if params[:type] == key.to_s && @search_result.present? %>
      <% @search_result.each do |res| %>
        <%= render_focus_search_for res  %>
      <% end %>
      <%= paginate @search_result if @search_result.present? %>
    <% end %>
  </div>
<% end %>

