<div class="dropdown" id="order_by_selector">
<span class="order_by"><%=t('order_by.title')%></span>
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenuOrdBy" data-toggle="dropdown"><%=t('order_by.popularity')%>
    <i class="icon-angle-down"></i>
  </button>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
   <li>
        <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"popularity")%>" sort-by-key='popularity'>
          <i class="icon-dashboard"></i>
          <span><%=t('order_by.popularity')%> </span>
        </a>
    </li>
    <li>
        <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"updated_at")%>" sort-by-key='updated_at'>
        <i class="icon-pencil"></i>
        <span><%=t('order_by.updated_at')%> </span>
      </a>
    </li>
    <li>
        <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type], :sort_by=>"created_at")%>" sort-by-key='created_at'>        
          <i class="icon-bolt"></i>
          <span><%=t('order_by.created_at')%> </span>
      </a>
    </li>
    <%if params[:type]!="user"%>
      <li>
          <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"visits")%>" sort-by-key='visits'>          
            <i class="icon-eye-open"></i> 
            <span><%=t('order_by.visits')%> </span>
          </a>
      </li>
      <li>
          <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"favorites")%>" sort-by-key='favorites'>          
            <i class="icon-star"></i> 
            <span><%=t('order_by.favorites')%> </span>
          </a>
      </li>
    <%end%>

  </ul>

</div>


<%= content_for :javascript do %>

  var param = "<%=params[:sort_by]%>";

  if(param && param!=""){
    var value = $("#order_by_selector .dropdown-menu [sort-by-key="+param+"]").html();
    $("#dropdownMenuOrdBy").html(value + '<i class="icon-angle-down"></i>'); 
  }
<%end%>