
<div class="toolbar_nav-tab">
  <div class="dropdown order_by_selector">

    <button class="btn btn-default dropdown-toggle dropdownMenuOrdBy" type="button" data-toggle="dropdown">
      <i class="fa fa-eye"></i>
      <%=t('order_by.relevance')%>
      <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
     <li>
          <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type])%>" sort-by-key='relevance'>
            <i class="fa fa-eye"></i>
            <span><%=t('order_by.relevance')%> </span>
          </a>
      </li>
     <li>
          <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"popularity")%>" sort-by-key='popularity'>
            <i class="fa fa-dashboard"></i>
            <span><%=t('order_by.popularity')%> </span>
          </a>
      </li>
      <li>
          <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"updated_at")%>" sort-by-key='updated_at'>
          <i class="fa fa-pencil"></i>
          <span><%=t('order_by.updated_at')%> </span>
        </a>
      </li>
      <li>
          <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type], :sort_by=>"created_at")%>" sort-by-key='created_at'>        
            <i class="fa fa-bolt"></i>
            <span><%=t('order_by.created_at')%> </span>
        </a>
      </li>

      <%if params[:type]=="excursion"%>
        <li>
            <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"quality")%>" sort-by-key='quality'>          
              <i class="fa fa-check-square"></i> 
              <span><%=t('order_by.quality')%> </span>
            </a>
        </li>
      <%end%>

      <%unless params[:type]=="user"%>
        <li>
            <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"visits")%>" sort-by-key='visits'>          
              <i class="fa fa-eye"></i> 
              <span><%=t('order_by.visits')%> </span>
            </a>
        </li>
        <li>
            <a href="<%=search_path(:q=>params[:q], :browse => params[:browse], :type=> params[:type],:sort_by=>"favorites")%>" sort-by-key='favorites'>          
              <i class="fa fa-star"></i> 
              <span><%=t('order_by.favorites')%> </span>
            </a>
        </li>
      <%end%>
    </ul>
  </div>
</div>

<%= content_for :javascript do %>
  var param = "<%=params[:sort_by]%>";

  if(param && param!=""){

    if(param=="ranking"){
      param = "popularity";
    }

    var value = $(".order_by_selector .dropdown-menu [sort-by-key="+param+"]").html();
    $(".dropdownMenuOrdBy").html(value + '<i class="fa fa-angle-down"></i>');
  }
<%end%>
