<section id="search" class="sub-content-full cbp-spmenu-push">
  <%= render partial: 'search/toolbar-search' %>

  <div class="search">
    <div class="tabbable">

      <ul class="nav nav-tabs">
        <!--li><h1>search</h1></li-->
        <li class="all_results <%= 'active' if params[:type].blank? %>">
          <%= link_to t('search.show_all').downcase,"#all", :data => {:toggle=>"tab"}%>
        </li>
        <% SocialStream::Search.keys(:extended).each do |key| %>
          <%= render :partial => 'search/extended_tab', :locals => { :key => key } %>
        <% end %>
      </ul>

      <form action="<%=search_path%>" method="get" id="main_search_form" data-remote="true" class="search_box">
        <%= text_field_tag :q, params[:q],:autocomplete => :off, :id => :main_search_input, :class => "" %>
        <%= hidden_field_tag :page, '1', :id => 'main_search_form_page' %>
        <%= hidden_field_tag :type, '', :id => 'main_search_form_type' %>
        <%= hidden_field_tag :time, '', :id => 'main_search_form_time' %>
        <%= hidden_field_tag :class, '', :id => 'main_search_form_class' %>
        <%= hidden_field_tag :sort, '', :id => 'main_search_form_sort' %>
        <%= hidden_field_tag :slides, '', :id => 'main_search_form_slides' %>
        <%= hidden_field_tag :quiz, '', :id => 'main_search_form_quiz' %>
      </form>

      <button id="showLeft">advanced options </button>
      <div class="tab-content">
        <%#= render partial: 'layouts/loading' %>
        <div class="tab-pane active" id="tab1 ">
          <div id="search-all">
            <ul>  
              <% @search_result.each do |r| %>              
                  <%= render partial: "#{ r.class.to_s.tableize }/search_result",
                             locals:  { r.class.to_s.underscore.to_sym => r }  %>
              <% end %>
            </ul>
          </div>
          <div id="loader_pagination">
            <div id="pageless-loader" style="text-align:center;width:100%;">
              <div class="msg" style="font-size:2em">
                <%=t('search.loading')%>
              </div>
              <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
            </div>
          </div>
          <div id="last_content_shown" style="display:none"> <%=t('search.end')%></div>
        </div>

        <div class="tab-pane" id="tab2">
          <ul>  
            <%#= render partial: 'repositories/resources' %>
          </ul>
        </div>
      </div>
    </div>

   <%= content_for :javascript do %>
    SocialStream.Repository.show();
    
    $('#search-all ul').pageless({ 
                        totalPages: <%=@search_result.num_pages%>,
                        url: window.location.href,
                        currentPage: <%=@search_result.current_page%>,
                        loader: '#loader_pagination',
                        end: function(){
                          $('#loader_pagination').hide();
                          $("#last_content_shown").show();
                        },
                        scrape: function(data){
                          final_data = "";
                          //hide elements from the results depending on the active tab
                          if($("#search ul.nav li.active").hasClass("user")){
                            //hide everything but contacts
                            $(data).each(function(index, value){ 
                              if(value.nodeType===3){
                                return; //same as continue;
                              }
                              if(!$(value).hasClass("contact")){
                                $(value).hide();
                              }
                              //add content to the final data string
                              final_data += value.outerHTML;
                            });
                          }
                          else if ($("#search ul.nav li.active").hasClass("excursion")){                            
                            //hide everything but contacts
                            $(data).each(function(index, value){ 
                              if(value.nodeType===3){
                                return; //same as continue;
                              }
                              if(!$(value).hasClass("excursion-item")){
                                $(value).hide();
                              }
                              //add content to the final data string
                              final_data += value.outerHTML;
                            });
                          }
                          else if ($("#search ul.nav li.active").hasClass("resource")){                            
                            //hide everything but contacts
                            $(data).each(function(index, value){ 
                              if(value.nodeType===3){
                                return; //same as continue;
                              }
                              if(!$(value).hasClass("resource-item")){
                                $(value).hide();
                              }
                              //add content to the final data string
                              final_data += value.outerHTML;
                            });
                          }
                          else{
                            final_data = data;
                          }                     
                          return final_data;                          
                        }
    });

    //tab filtering, show only excursions, users, resources, etc.
    $("#search .all_results").click(function(){
      $("#search-all > ul").children().show();
    });
    $("#search .excursion").not(".disabled").click(function(){
      $("#search-all > ul").children(".excursion-item").show();
      $("#search-all > ul").children().not(".excursion-item").hide();
      //call for more results
      $('#search-all ul').trigger("scroll.pageless");
    });
    $("#search .user").not(".disabled").click(function(){
      $("#search-all > ul").children(".contact").show();
      $("#search-all > ul").children().not(".contact").hide();
      //call for more results
      //$('#search-all ul').trigger("scroll.pageless");
    });
    $("#search .resource").not(".disabled").click(function(){
      $("#search-all > ul").children(".resource-item").show();
      $("#search-all > ul").children().not(".resource-item").hide();
      //call for more results
      $('#search-all ul').trigger("scroll.pageless");
    });
    
    <% end %>
  </div>





  <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
  <script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),

    body = document.body;

    showLeft.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeft' );
    };


    function disableOther( button ) {
      if( button !== 'showLeft' ) {
        classie.toggle( showLeft, 'disabled' );
      }

    }
  </script>
</section>

