<% results = capture do %>
  <% @search_result.each do |res| %>
    <% if params[:type].blank? %>
      <%= render_global_search_for res %>
    <% else %>
      <%= render_focus_search_for res %>
    <% end %>
  <% end %>
  <div class = "paginate">
    <%= link_to(t('activity.more'), {:q => params[:q], :page => (params[:page].to_i + 1), :type => params[:type].to_s}, :id => 'search_load_more_button', :class =>'btn-more', :remote => true) unless @search_result.last_page? %>
  </div>
<% end %>

$('title').html('<%= t('search.name') + ' ' + (params[:q].present? ? ": #{params[:q]}" : "") %>');

<% if params[:type].blank? %>
  $('#search_load_more_button').remove();
  <% if params[:page].blank? or params[:page] == "1" %>
    $('#all').html('<%= j results %>');
  <% else %>
    $('#all').append('<%= j results %>');
  <% end %>
  $('#search_toolbar').html('<%= j render :partial => 'toolbar/search_all', :formats => [:html] %>');
  $('#main_search_form_type').val('');
<% else %>
  $('#search_load_more_button').remove();
  <% if params[:page].blank? or params[:page] == "1" %>
    $('#<%= j params[:type] %>').html('<%= j results %>');
  <% else %>
    $('#<%= j params[:type] %>').append('<%= j results %>');
  <% end %>
  $('#search_toolbar').html('<%= j render :partial => 'toolbar/search_all', :formats => [:html] %>');
  $('#search_toolbar').append('<%= j render :partial => "toolbar/search_#{ params[:type] }", :formats => [:html] %>');
  $('#main_search_form_type').val('<%= params[:type] %>');
<% end %>

<% SocialStream::Search.keys(:extended).each do |key| %>
  <% if search_results?(key) %>
    $('#tab .<%= key %>').removeClass('disabled');
    $('#tab .<%= key %> a').attr('data-toggle', 'tab');
  <% else %>
    $('#tab .<%= key %>').addClass('disabled');
    $('#tab .<%= key %> a').attr('data-toggle', 'tab disabled');
  <% end %>
<% end %>

Vish.Search.index({
  indexPath: '<%= raw request.fullpath %>'
});

SocialStream.Follow.initButtons();

