<section id="search" class="">
  <div class="search">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <%if params[:browse]%>
          <%content_for :title do%>
            <%= t("site.current.browse")%>
          <%end%>
          <li><h1><i class="icon-folder-open"></i><%= t("browse.title")%></h1></li>          
        <%else%>
          <%content_for :title do%>
            <%= t("site.current.search")%>
          <%end%>
          <li><h1><i class="icon-search"></i><%= t("search.title")%></h1></li>
        <%end%>
          <li class="all_results <%= 'active' if params[:type].blank? %>">
            <%= link_to raw('<i class="icon-asterisk"></i><span class=" hidden-phone hidden-tablet">'+t('search.show_all')+'</span>'),"#all", :data => {:toggle=>"tab"}%>
          </li>

          <li class="excursion <%= " active" if params[:type] == "excursion" %><%= " disabled" unless search_results?("excursion") %>">
            <%= link_to raw('<i class="icon-book"></i><span class=" hidden-phone hidden-tablet">'+t("excursion.other")+'</span>'), "#excursion",
              :data => {:toggle=>"tab#{ ' disabled' unless search_results?("excursion") }"} %>
          </li>

          <li class="user <%= " active" if params[:type] == "user" %><%= " disabled" unless search_results?("user") %>">
            <%= link_to raw('<i class="icon-group"></i><span class=" hidden-phone hidden-tablet">'+t("user.title.other")+'</span>'), "#user",
              :data => {:toggle=>"tab#{ ' disabled' unless search_results?("user") }"} %>
          </li>

          <li class="event <%= " active" if params[:type] == "event" %><%= " disabled" unless search_results?("event") %>">
            <%= link_to raw('<i class="icon-facetime-video"></i><span class=" hidden-phone hidden-tablet">'+t("event.title.other")+'</span>'), "#event",
              :data => {:toggle=>"tab#{ ' disabled' unless search_results?("event") }"} %>
          </li>

          <li class="resource <%= " active" if params[:type] == "resource" %><%= " disabled" unless search_results?("resource") %>">
            <%= link_to raw('<i class="icon-file"></i><span class=" hidden-phone hidden-tablet">'+t("resource.title.other")+'</span>'), "#resource",
              :data => {:toggle=>"tab#{ ' disabled' unless search_results?("resource") }"} %>
          </li>

          <%= render partial: 'help/help_search' %>
      </ul>
      <%= render partial: 'search/order_by_dropdown' %> 
      <!--form style="display:none" action="<%=search_path%>" method="get" id="main_search_form" class="search_box">
        <%= text_field_tag :q, params[:q],:autocomplete => :off, :id => :main_search_input, :class => "" %>
      </form-->
      <div class="tab-content">
        <%#= render partial: 'layouts/loading' %>
        <div class="tab-pane active" id="tab1 ">
          <div id="search-all">
            <ul>  
              <% @search_result.each do |r| %>
                  <% unless r.nil? %>              
                    <%= render partial: "#{ r.class.to_s.tableize }/search_result",
                               locals:  { r.class.to_s.underscore.to_sym => r }  %>
                  <% end %>
              <% end %>
              <script>
                var array_of_id_and_image = [];
                var elem = {};

                <% @search_result.each do |result| %>
                  <% unless result.nil? %> 
                    <%if result.respond_to?(:type) && result.type =="Picture"%>
                      elem = {};
                      elem.id = "#document-<%=result.id%>";
                      elem.value = "<%=result.file%>?style=500";
                      array_of_id_and_image.push(elem);
                    <%end%>
                    <% if result.class == Excursion %>
                      elem = {};
                      elem.id = "#excursion-<%=result.id%>";
                      elem.value = "<%=excursion_raw_thumbail(result)%>";
                      array_of_id_and_image.push(elem); 
                    <%end%>
                    <% if result.class == Event %>
                      elem = {};
                      elem.id = "#event-<%=result.id%>";
                      elem.value = "<%=event_raw_thumbail(result)%>";
                      array_of_id_and_image.push(elem); 
                    <%end%>
                  <%end%>
                <% end %> 

                function re_apply_backstrech_on_search(){
                  //this will have to be done with an array, as the results array changes when we bring more pages
                  for (var i = 0; i < array_of_id_and_image.length; i++) {
                    $(array_of_id_and_image[i].id).backstretch(array_of_id_and_image[i].value); 
                  }
                }
              </script>
            </ul>
          </div>
          <div class="loader_pagination">
            <div id="pageless-loader" style="text-align:center;width:100%;">
              <div class="msg" style="font-size:2em">
                <%=t('search.loading')%>
              </div>
              <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
            </div>
          </div>
          <div id="last_content_shown" style="display:none"> <%=t('search.end')%></div>
        </div>
        
      </div>
    </div>

   <%= content_for :javascript do %>
    SocialStream.Repository.show();
    
    $('#search-all ul').pageless({ 
                        totalPages: <%=@search_result.num_pages%>,
                        url: window.location.href,
                        currentPage: <%=@search_result.current_page%>,
                        loader: '.loader_pagination',
                        end: function(){
                          $('.loader_pagination').hide();
                          $("#last_content_shown").show();
                        },
                        finishedAddingHiddenElem: function(hidden_elem){
                            var active_tab = $("#search ul.nav li.active");
                        
                            //we check this each time because it can change. We show the elem if the tab is active or if it is "all" tab
                            if(active_tab.hasClass("all_results")){
                              hidden_elem.fadeIn();
                            }
                            else if (active_tab.hasClass("excursion") && hidden_elem.hasClass("excursion-item")){
                              hidden_elem.fadeIn();
                            }
                            else if (active_tab.hasClass("resource") && hidden_elem.hasClass("resource-item")){
                              hidden_elem.fadeIn();
                            }
                            else if (active_tab.hasClass("event") && hidden_elem.hasClass("event-item")){
                              hidden_elem.fadeIn();
                            }
                            else if (active_tab.hasClass("user") && hidden_elem.hasClass("contact")){
                              hidden_elem.fadeIn();
                            }
                        },
                        complete: function(){
                          //when we complete one page and there is no scroll, there cannot be another call
                          //so we do a manual watch to bring all pages needed until we have a scroll
                          $.pageless.watch();
                        }
    });

    $("footer#footer").addClass("fixed-bottom");

    
      <%if params[:type]%>
        //if "popular" links used, the tabs are links to other "popular" searches
        $("#search .all_results").click(function(){
          window.location.href = '<%=search_path(:browse=>"true", :sort_by => "popularity")%>';
        });
        $("#search .excursion").click(function(){
          window.location.href = '<%=search_path(:type => "excursion", :browse=>"true", :sort_by => "popularity")%>';
        });
        $("#search .user").click(function(){
          window.location.href = '<%=search_path(:type => "user", :browse=>"true", :sort_by => "popularity")%>';
        });
        $("#search .event").click(function(){
          window.location.href = '<%=search_path(:type => "event", :browse=>"true", :sort_by => "popularity")%>';
        });
        $("#search .resource").click(function(){
          window.location.href = '<%=search_path(:type => "resource", :browse=>"true", :sort_by => "popularity")%>';
        });
      <%else%>
        //if search is manual, the tabs are like filters, so done with js
        //tab filtering, show only excursions, users, resources, etc.
        $("#search .all_results").click(function(){
          $("#search-all > ul").children().show();
        });
        $("#search .excursion").not(".disabled").click(function(){
          $("#search-all > ul").children(".excursion-item").show();
          $("#search-all > ul").children().not(".excursion-item").hide();
          //call for more results
          $('#search-all ul').trigger("scroll.pageless");
        });
        $("#search .event").not(".disabled").click(function(){
          $("#search-all > ul").children(".event-item").show();
          $("#search-all > ul").children().not(".event-item").hide();
          //call for more results
          $('#search-all ul').trigger("scroll.pageless");
        });
        $("#search .user").not(".disabled").click(function(){
          $("#search-all > ul").children(".contact").show();
          $("#search-all > ul").children().not(".contact").hide();
          //call for more results
          //$('#search-all ul').trigger("scroll.pageless");
        });
        $("#search .resource").not(".disabled").click(function(){
          $("#search-all > ul").children(".resource-item").show();
          $("#search-all > ul").children().not(".resource-item").hide();
          //call for more results
          $('#search-all ul').trigger("scroll.pageless");
        });

      <%end%>

      re_apply_backstrech_on_search();

      $(".search .all_results").click(function(){
        re_apply_backstrech_on_search();
      });
      $(".search .excursion").click(function(){
        re_apply_backstrech_on_search();
      });
      $(".search .user").click(function(){
        re_apply_backstrech_on_search();
      });
      $(".search .resource").click(function(){
        re_apply_backstrech_on_search();
      });
      $(".search .event").click(function(){
        re_apply_backstrech_on_search();
      });


    <% end %>
  </div>



<!--scroll-->    
<script>
  $(function()
  {
    $('.scroll-pane').jScrollPane();
  });
</script>
</section>



