<%content_for :title do%>
  <%if params[:browse]%>
    <%= t("site.current.browse")%>
  <%elsif params[:catalogue]%>
    <%=t('catalogue.title')%>
  <%elsif params[:directory]%>
    <%=t('catalogue.title_directory')%>
  <%else%>
    <%= t("site.current.search")%>
  <%end%>
<%end%>

<section id="search" class="">
  <div class="search">
    <div class="row-fluid">

      <div id="search-sidebar" class="span3 search-filterbar">

        <%if params[:browse]%>
          <li><h3><i class="icon-folder-open"></i><%= t("browse.title")%></h3></li>
        <%elsif params[:catalogue]%>
          <li><h3><i class="icon-tags"></i><%=t('catalogue.title')%></h3></li>
        <%elsif params[:directory]%>
          <li><h3><i class="icon-tags"></i><%=t('catalogue.title_directory')%></h3></li>
        <%else%>
          <li><h3><i class="icon-search"></i><%= t("search.title")%></h3></li>
        <%end%>


        <div filter_type="category_ids" directory_filter="true" catalogue_filter="true" style="display:none"  class="filter_set">
          <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
            <a>-</a>
          </button>
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.subject")%></span></span>
          <hr class="separator">
          <ul class="opened_filter">
            <% Vish::Application.config.catalogue["categories"].each do |categoryId| %>
              <li class="filter_item" filter_key="category_ids" categoryId="<%=categoryId%>" filter="<%=categoryId%>"><%=t('catalogue.categories.' + categoryId)%></li>
            <% end %>
          </ul>
        </div>

        <div filter_type="super_type" search_filter="true" style="display:none" class="filter_set">
          <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
            <a>-</a>
          </button>
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.type")%></span></span>
          <hr class="separator">
          <ul class="opened_filter">
            <li class="filter_item" filter_key="type" filter="User" exclusive><%=t("search.models.user")%></li>
            <li class="filter_item" filter_key="type" filter="Learning_object" exclusive><%=t("search.models.learning_object")%></li>
          </ul>
        </div>

        <div filter_type="lo_type" opens_with="Learning_object" style="display:none" class="filter_set">
          <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
            <a>-</a>
          </button>
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.learning_object")%></span></span>
          <hr class="separator">
          <ul class="opened_filter">
            <% VishConfig.getSearchModels().each do |model| %>
              <li class="filter_item" filter_key="type" filter="<%=model%>"><%=t("search.models.#{model.downcase}")%></li>
            <% end %>
          </ul>
        </div>

        <div filter_type="age_type" opens_with="Learning_object" directory_filter="true" catalogue_filter="true" style="display:none" class="filter_set">
          <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
            <a>-</a>
          </button>
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.age")%></span></span>
          <hr class="separator">
          <ul class="opened_filter">
              <li class="filter_item" filter_key="age" filter="range1" exclusive><%=t("search.filters.age_range_1")%></li>
              <li class="filter_item" filter_key="age" filter="range2" exclusive><%=t("search.filters.age_range_2")%></li>
              <li class="filter_item" filter_key="age" filter="range3" exclusive><%=t("search.filters.age_range_3")%></li>
          </ul>
        </div>



        <div filter_type="resouce_type" id="resource_type" directory_filter="true" opens_with="Resource" style="display:none" class="filter_set">
            <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
              <a>-</a>
            </button>
            <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.resource")%></span></span>
            <hr class="separator">
            <ul class="opened_filter">
              <% VishConfig.getAvailableNotMainResourceModels(:include_subtypes=>true).reject!{|e| e=="Document" }.each do |res| %>
                <li class="filter_item" filter_key="type" filter="<%=res%>"><%=t("search.models.#{res.downcase}")%></li>
              <%end%>
            </ul>
        </div>

        <div filter_type="language" search_filter="true" directory_filter="true" catalogue_filter="true" class="filter_set">
          <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
            <a>-</a>
          </button>
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.lang")%></span></span>
          <hr class="separator">
          <ul class="opened_filter">
            <% search_resource_languages.each do |lang| %>
              <li class="filter_item" filter_key="language" filter="<%=lang[1]%>" exclusive><%=lang[0]%></li>
            <% end %>
          </ul>
        </div>

        <div filter_type="tags" search_filter="true" directory_filter="true" catalogue_filter="true" class="filter_set">
          <button href="#" status="showMore" class="showMoreButton btn-openclose opened_button">
            <a>-</a>
          </button>
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.tag")%></span></span>
          <hr class="separator">
          <ul class="opened_filter ul_selected_tags" id="selected_tags_ul">
          </ul>
          <ul class="opened_filter ul_tags" id="tags_ul">
          </ul>
        </div>

      </div>

      <div class="span9 filter-results">

        <div class="search_filters filters-applied">
          <%= render partial: 'help/help_search' %>
          <div><span class="n_results" id="n_results"><%=@search_result.total_entries%></span> <%= t("search.results")%></div>
          <div class="title_applied_filters"><%= t("search.applied_filters")%></div>

          <div id="applied_filters" class="filter_boxes"></div>
          <div class="clear"></div>
      
          <div class="dropdown_order_by" id="order_by_selector_search">

            <button class="btn" type="button" data-toggle="dropdown">              
              <span>
                <%if params[:browse] %>
                  <i class="icon-dashboard"></i>
                  <%=t('order_by.popularity')%>
                <%elsif params[:catalogue] || params[:directory] %>
                  <% if (params[:catalogue] && VishConfig.getCatalogueModels() === ["Excursion"]) || (params[:directory] && VishConfig.getDirectoryModels() === ["Excursion"]) %>
                    <i class="icon-dashboard"></i>
                    <%=t('order_by.quality')%>
                  <% else %>
                    <i class="icon-dashboard"></i>
                    <%=t('order_by.popularity')%>
                  <% end %>
                <% else %>
                  <i class="icon-eye-open"></i>
                  <%=t('order_by.relevance')%>
                <%end%>
              </span><i class="icon-angle-down"></i>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li role="presentation">
                <a href="#" sort-by-key="relevance">
                  <i class="icon-eye-open"></i>
                  <span><%=t('order_by.relevance')%> </span>
                </a>
              </li>
             <li role="presentation">
                <a href="#" sort-by-key="popularity">
                  <i class="icon-dashboard"></i>
                  <span><%=t('order_by.popularity')%> </span>
                </a>
              </li>

              <li role="presentation">
                <a href="#"  sort-by-key="created_at">
                  <i class="icon-bolt"></i>
                  <span><%=t('order_by.created_at')%> </span>
                </a>
              </li>
              <li role="presentation" class="only_for_excursion" title="">
                <a href="#" sort-by-key="quality">
                  <i class="icon-pencil"></i>
                  <span><%=t('order_by.quality')%> </span>
                </a>
              </li>              
              <li role="presentation" class="disable_for_user" title="">
                <a href="#" sort-by-key="updated_at">
                  <i class="icon-pencil"></i>
                  <span><%=t('order_by.updated_at')%> </span>
                </a>
              </li>
                <li role="presentation" class="disable_for_user" title="">
                  <a href="#" sort-by-key="visits">
                    <i class="icon-eye-open"></i>
                    <span><%=t('order_by.visits')%> </span>
                  </a>
                </li>
                <li role="presentation" class="disable_for_user" title="">
                  <a href="#" sort-by-key="favorites">
                    <i class="icon-star"></i>
                    <span><%=t('order_by.favorites')%> </span>
                  </a>
                </li>
            </ul>
          </div>
          <div class="clear"></div>


        </div>

          <div id="search-all" class="searched-items">
            <ul>
              <% @search_result.each do |r| %>
                  <% unless r.nil? %>
                    <%= render partial: "#{ r.class.to_s.tableize }/search_result",
                               locals:  { r.class.to_s.underscore.to_sym => r, :prefix_id => "search" }  %>
                  <% end %>
              <% end %>
            </ul>
          </div>

          <div class="loader_pagination">
            <div class="pageless-loader" style="text-align:center;width:100%;">
              <div class="msg" style="font-size:2em">
                <%=t('search.loading')%>
              </div>
              <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
            </div>
          </div>
          <div id="last_content_shown" style="display:none"> <%=t('search.end')%></div>

      </div>
    </div>
  </div>
</section>



<%= content_for :javascript do %>


  Vish.Search.init({"object_types": <%=raw VishConfig.getSearchModels()%>,
                    "resource_types": <%=raw VishConfig.getAvailableNotMainResourceModels(:include_subtypes=>true).reject!{|e| e=="Document" }%>,
                    "num_pages": <%=@search_result.num_pages%>,
                    "url": window.location.href,
                    "tags": "<%=extract_tags(@search_result)%>",
                    "sort_by_disable_tooltip": "<%=t('search.titles.tooltip')%>",
                    "only_for_excursion_tooltip": "<%=t('search.titles.tooltip2')%>"
                     });

  SocialStream.Repository.show();

  $("footer#footer").addClass("fixed-bottom");

<% end %>
