<% availableModels = available_models %>
<% browse = params[:browse] || (!params[:q].nil? and params[:q].blank?) %>

<%content_for :title do%>
  <%if browse%>
    <%= t("site.current.browse")%>
  <%else%>
    <%= t("site.current.search")%>
  <%end%>
<%end%>

<section id="search" class="">
  <div class="search">
    <div class="row-fluid">
      <div id="search-sidebar" class="span3 search-filterbar">
        <div filter_type="super_type" class="filter_set">
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.type")%></span></span>
          <hr class="separator">
          <ul>
            <li filter_key="type" filter="All" exclusive default><%=t("search.models.all")%></li>
            <li filter_key="type" filter="User" exclusive><%=t("search.models.user")%></li>
            <li filter_key="type" filter="Learning_object" exclusive><%=t("search.models.learning_object")%></li>
          </ul>
        </div>

        <div filter_type="lo_type" opens_with="Learning_object" style="display:none" class="filter_set">
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.learning_object")%></span></span>
          <hr class="separator">
          <ul>
            <% VishConfig.getSearchModels().each do |model| %>
              <li filter_key="type" filter="<%=model%>"><%=t("search.models.#{model.downcase}")%></li>
            <% end %>
          </ul>
        </div>

        <div filter_type="resouce_type" id="resource_type" opens_with="Resource" style="display:none" class="filter_set">
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.resource")%></span></span>
          <hr class="separator">
          <ul>
            <% VishConfig.getAvailableNotMainResourceModels(:include_subtypes=>true).reject!{|e| e=="Document" }.each do |res| %>
              <li filter_key="type" filter="<%=res%>"><%=t("search.models.#{res.downcase}")%></li>
            <%end%>
          </ul>
        </div>

        <div filter_type="language" class="filter_set">
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.lang")%></span></span>
          <hr class="separator">
          <ul>
            <% resource_languages.each do |lang| %>
              <li filter_key="language" filter="<%=lang[1]%>"><%=lang[0]%></li>
            <% end %>
          </ul>
        </div>

        <div filter_type="tag" class="filter_set">
          <span class="filter_title"><%=t("search.titles.filter_by")%> <span class="filter_title_bold"><%=t("search.titles.tag")%></span></span>
          <hr class="separator">
          <ul>
            <li filter_key="tag" filter="proteccion">Protección</li>
            <li filter_key="tag" filter="seguridad">Seguridad</li>
            <li filter_key="tag" filter="internet">Internet</li>
            <li filter_key="tag" filter="sexting">Sexting</li>
          </ul>
        </div>

      </div>

      <div class="span9 filter-results">
        <%if browse%>
          <li><h3><i class="icon-folder-open"></i><%= t("browse.title")%></h3></li>
        <%else%>
          <li><h3><i class="icon-search"></i><%= t("search.title")%></h3></li>
        <%end%>
        <div class="search_filters filters-applied">
          <%= render partial: 'help/help_search' %>
          <div><span class="n_results">598</span> resultados</div>
          <div class="title_applied_filters">FILTROS APLICADOS</div>

          <div id="applied_filters" class="filter_boxes"></div>
          <div class="clear"></div>
          <%#= render partial: 'search/order_by_dropdown' %>
          <div class="dropdown_order_by">

            <button class="btn" type="button" data-toggle="dropdown">
              <i class="icon-eye-open"></i>
              <span>Relevancia</span><i class="icon-angle-down"></i>
            </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <a href="/search?q=" sort-by-key="relevance">
                  <i class="icon-eye-open"></i>
                  <span>Relevancia </span>
                </a>
              </li>
             <li>
                <a href="/search?q=&amp;sort_by=popularity" sort-by-key="popularity">
                  <i class="icon-dashboard"></i>
                  <span>Popular </span>
                </a>
              </li>
              <li>
                <a href="/search?q=&amp;sort_by=updated_at" sort-by-key="updated_at">
                  <i class="icon-pencil"></i>
                  <span>Modificación </span>
                </a>
              </li>
              <li>
                <a href="/search?q=&amp;sort_by=created_at" sort-by-key="created_at">
                  <i class="icon-bolt"></i>
                  <span>Creación </span>
                </a>
              </li>


                <li>
                  <a href="/search?q=&amp;sort_by=visits" sort-by-key="visits">
                    <i class="icon-eye-open"></i>
                    <span>Visitas </span>
                  </a>
                </li>
                <li>
                  <a href="/search?q=&amp;sort_by=favorites" sort-by-key="favorites">
                    <i class="icon-star"></i>
                    <span>Favoritos </span>
                  </a>
                </li>
            </ul>
          </div>
          <div class="clear"></div>


        </div>

          <div id="search-all" class="searched-items">
            <ul>
              <% @search_result.each do |r| %>
                  <% unless r.nil? %>
                    <%= render partial: "#{ r.class.to_s.tableize }/search_result",
                               locals:  { r.class.to_s.underscore.to_sym => r, :prefix_id => "search" }  %>
                  <% end %>
              <% end %>
            </ul>
          </div>

          <div class="loader_pagination">
            <div class="pageless-loader" style="text-align:center;width:100%;">
              <div class="msg" style="font-size:2em">
                <%=t('search.loading')%>
              </div>
              <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
            </div>
          </div>
          <div id="last_content_shown" style="display:none"> <%=t('search.end')%></div>

      </div>
    </div>
  </div>
</section>



<%= content_for :javascript do %>


  Vish.Search.init({"object_types": <%=raw VishConfig.getSearchModels()%>, 
                     "resource_types": <%=raw VishConfig.getAvailableNotMainResourceModels(:include_subtypes=>true).reject!{|e| e=="Document" }%>});

  SocialStream.Repository.show();

  $('#search-all ul').pageless({
                      totalPages: <%=@search_result.num_pages%>,
                      url: window.location.href,
                      currentPage: <%=@search_result.current_page%>,
                      loader: '.loader_pagination',
                      end: function(){
                        $('.loader_pagination').hide();
                        $("#last_content_shown").show();
                      },
                      finishedAddingHiddenElem: function(hidden_elem){
                          var active_tab = $("#search ul.nav li.active");

                          //we check this each time because it can change. We show the elem if the tab is active or if it is "all" tab
                          if(active_tab.hasClass("all_results")){
                            hidden_elem.fadeIn();
                          }
                          else if (active_tab.hasClass("excursion") && hidden_elem.hasClass("excursion-item")){
                            hidden_elem.fadeIn();
                          }
                          else if (active_tab.hasClass("resource") && hidden_elem.hasClass("resource-item")){
                            hidden_elem.fadeIn();
                          }
                          else if (active_tab.hasClass("event") && hidden_elem.hasClass("event-item")){
                            hidden_elem.fadeIn();
                          }
                          else if (active_tab.hasClass("user") && hidden_elem.hasClass("contact")){
                            hidden_elem.fadeIn();
                          }
                      },
                      complete: function(){
                        //when we complete one page and there is no scroll, there cannot be another call
                        //so we do a manual watch to bring all pages needed until we have a scroll
                        $.pageless.watch();
                      }
  });

  $("footer#footer").addClass("fixed-bottom");

  <% if params[:type] %>
    //if "popular" links used, the tabs are links to other "popular" searches
    $("#search .all_results").click(function(){
      window.location.href = '<%=search_path(:browse=>"true", :sort_by => "ranking")%>';
    });
    $("#search .excursion").click(function(){
      window.location.href = '<%=search_path(:type => "excursion", :browse=>"true", :sort_by => "ranking")%>';
    });
    $("#search .user").click(function(){
      window.location.href = '<%=search_path(:type => "user", :browse=>"true", :sort_by => "ranking")%>';
    });
    $("#search .event").click(function(){
      window.location.href = '<%=search_path(:type => "event", :browse=>"true", :sort_by => "ranking")%>';
    });
    $("#search .resource").click(function(){
      window.location.href = '<%=search_path(:type => "resource", :browse=>"true", :sort_by => "ranking")%>';
    });
    $("#search .workshop").click(function(){
      window.location.href = '<%=search_path(:type => "workshop", :browse=>"true", :sort_by => "ranking")%>';
    });
  <% elsif browse === false %>
    //if search is manual, the tabs are like filters, so done with js
    //tab filtering, show only excursions, users, resources, etc.
    $("#search .all_results").click(function(){
      $("#search-all > ul").children().show();
    });
    $("#search .excursion").not(".disabled").click(function(){
      $("#search-all > ul").children(".excursion-item").show();
      $("#search-all > ul").children().not(".excursion-item").hide();
      //call for more results
      $('#search-all ul').trigger("scroll.pageless");
    });
    $("#search .event").not(".disabled").click(function(){
      $("#search-all > ul").children(".event-item").show();
      $("#search-all > ul").children().not(".event-item").hide();
      //call for more results
      $('#search-all ul').trigger("scroll.pageless");
    });
    $("#search .user").not(".disabled").click(function(){
      $("#search-all > ul").children(".contact").show();
      $("#search-all > ul").children().not(".contact").hide();
      //call for more results
      //$('#search-all ul').trigger("scroll.pageless");
    });
    $("#search .resource").not(".disabled").click(function(){
      $("#search-all > ul").children(".resource-item").show();
      $("#search-all > ul").children().not(".resource-item").hide();
      //call for more results
      $('#search-all ul').trigger("scroll.pageless");
    });
    $("#search .workshop").not(".disabled").click(function(){
      $("#search-all > ul").children(".workshop-item").show();
      $("#search-all > ul").children().not(".workshop-item").hide();
      //call for more results
      $('#search-all ul').trigger("scroll.pageless");
    });
  <%end%>

  $('.scroll-pane').jScrollPane();

<% end %>
