<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%if @user %>
      <span><%=@user.name %> has sent a spam or error report</span>
    <%else%>
      <span>There was an anonymous spam or error report</span>
    <%end%>

    <div>
      <span>The option in the report was spam(0), error(1): <%=@report_value%></span><br/>
      <span>The activity_object_id was: <%=@activity_object_id%></span><br/>
      <span><%=link_to "access the resource in ViSH", ActivityObject.find(@activity_object_id).object %></span><br/>
      <span>The issue was: <%=@issue%></span><br/>

    </div>



  </body>
</html>
