<li id="advanced_excursion_sort"><%= t('search.orderby')%>
  <ol>
    <li><a href="#" class="gray<%= ' active' if not params[:sort].present? %>"><%= t('search.relevance') %></a></li>
    <li><a href="#newest" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "newest" %>"><%= t('search.newest') %></a></li>
    <li><a href="#views" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "views" %>"><%= t('search.mostviewed') %></a></li>
    <li><a href="#likes" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "likes" %>"><%= t('search.mostfav') %></a></li>
    <li><a href="#slides" class="gray<%= ' active' if params[:sort].present? and params[:sort] == "slides" %>"><%= t('search.mostslides') %></a></li>
  </ol>
</li>
<li id="advanced_excursion_slides"><%= t('search.slides')%>
  <ol>
    <li><a href="#" class="gray<%= ' active' if not params[:slides].present? %>"><%= t('search.anyslides') %></a></li>
    <li><a href="#10" class="gray<%= ' active' if params[:slides].present? and params[:slides] == "10" %>"><%= t('search.110slides') %></a></li>
    <li><a href="#20" class="gray<%= ' active' if params[:slides].present? and params[:slides] == "20" %>"><%= t('search.1020slides') %></a></li>
    <li><a href="#more" class="gray<%= ' active' if params[:slides].present? and params[:slides] == "more" %>"><%= t('search.20slides') %></a></li>
  </ol>
</li>

<!-- Not ready -->
<!-- <hr class="soften"> -->
<!-- <li id="advanced_excursion_quiz"><a href="#yes" class="gray<%#= ' active' if params[:quiz].present? and params[:quiz] == "yes" %>"><%#= t('search.quiz') %></a></li> -->

<%= javascript_tag do %>
  $('#advanced_excursion_sort a').on('click', function(){
    $('#main_search_form_sort').val($(this).attr('href').replace('#', '') );
    $('#main_search_form').submit();
  });
  $('#advanced_excursion_slides a').on('click', function(){
    $('#main_search_form_slides').val($(this).attr('href').replace('#', '') );
    $('#main_search_form').submit();
  });
  /*
  $('#advanced_excursion_quiz a').on('click', function(){
    if($(this).hasClass('active')) {
      $('#main_search_form_quiz').val('');
    } else {
      $('#main_search_form_quiz').val('yes');
    }
    $('#main_search_form').submit();
  });
  */
<% end %>

