<div id="winners">
  <div id="banner">
    <%if I18n.locale==:es%>
      <%= link_to image_tag("competition/ban_winner_01_esp.png",  :class=> "" ), "/contest" %>
    <%else%>
      <%= link_to image_tag("competition/ban_winner_01.png",  :class=> "" ), "/contest" %>
    <%end%>
  </div>

<div class="info_competition">
      <div class="info_competition_element">
      <a id="congratulations-button" href="#CongratModal" class="sign_up btn" role="button" data-toggle="modal"><h4><i class="fa fa-trophy"></i><%=t('contest.prizes')%></h4></a>
    </div>
</div>
<div id="CongratModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myCongratLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myCongratLabel"><%= t('contest.prizes') %></h3>
  </div>
  <div class="modal-body evaluation_body">
    <p><%=t('contest.prizes2')%>
        </br><%=t('contest.prizes_first_a')%>
        </br><%=t('contest.prizes_second_a')%>
        </br><%=t('contest.prizes3')%>
        </br><%=t('contest.prizes_first')%>
        </br><%=t('contest.prizes_second')%>
        </br><%=t('contest.prizes_third')%>
        </br><%=t('contest.prizes4')%>
        </br>
        <strong><%=t('contest.amazon')%></strong><%=t('contest.prizes5')%>
      </p>


    <p class="thank"><i class="fa fa-smile"></i>  <%=raw t("excursion.modal.thank")%></p>
  </div>
</div>


  <div id="podium">
    <div class="podiuminside">
      <div class="podiuminside1">
        <div class="excursions" class="excursions">
          <ul>
            <li id="winner1">
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(560) } %>
            </li>
          </ul>
        </div>
        <div class="podiumart">
          <div class="podcircle">
            <h2>2</h2>
          </div>
        </div>
      </div>
      <div class="podiuminside2">
        <div class="excursions">
          <ul>
            <li id="winner2">
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(515) } %>
            </li>
          </ul>
        </div>
        <div class="podiumart">
          <div class="podcircle">
            <h1>1</h1>
          </div>
        </div>
      </div>
      <div class="podiuminside3">
        <div class="excursions">
          <ul>
            <li id="winner3">
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(659) } %>
            </li>
          </ul>
        </div>
        <div class="podiumart">
          <div class="podcircle">
            <h3>3</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabexcursions">

    <h3><b class="caret caret1"></b><%=t('contest.winnersbycategory')%><b class="caret caret2"></b></h3>
  </div>

  <div id="subjectwinners">

    <div class="subrow">
      <h3><%=t('contest.Maths')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(564) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(675) } %>
            </li>
          </ul>
        </div>
      </section>
    </div>


    <div class="subrow2">
      <h3><%=t('contest.Physics')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(560) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(613) } %>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="subrow">
      <h3><%=t('contest.Chemistry')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(620) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(465) } %>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="subrow2">
      <h3><%=t('contest.Biology')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(450) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(634) } %>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="subrow">
      <h3><%=t('contest.Geography')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(656) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(646) } %>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <div class="subrow2">
      <h3><%=t('contest.EnvironmentalStudies')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(515) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(512) } %>
              </li>
            </ul>

        </div>
      </section>
    </div>

    <div class="subrow">
      <h3><%=t('contest.Engineering')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(592) } %>
              </li>
            </ul>

        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(474) } %>
              </li>
            </ul>

        </div>
      </section>
    </div>

    <div class="subrow2">
      <h3><%=t('contest.Humanities')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(632) } %>
              </li>
            </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(520) } %>
              </li>
            </ul>

        </div>
      </section>
    </div>

    <div class="subrow">
      <h3><%=t('contest.NaturalScience')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(667) } %>
              </li>
            </ul>

        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <div class="recomended-items">
             <ul class="items">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(669) } %>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="subrow2">
      <h3><%=t('contest.ComputerScience')%></h3>
      <section id="show_items">
        <div class="badimg">
          <img class="bd1" src="assets/competition/bd1.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(659) } %>
            </li>
          </ul>
        </div>
      </section>
      <section id="show_items">
        <div class="badimg">
          <img class="bd2" src="assets/competition/bd2.png"/>
        </div>
        <div class="recomended">
          <ul class="items">
            <li>
                <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(522) } %>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <div id="participants">
      <div class="tabexcursions">
          <a class="sign_up btn" href="/contest_all"><%=t('contest.viewalltag')%></a>
     </div>
  </div>

</div>





 <script>

    $(".subrow2 #excursion-560").backstretch("http://vishub.org/pictures/2731.jpeg");

    $(".subrow2 #excursion-515").backstretch("http://vishub.org/pictures/1730.jpeg");

    $(".subrow2 #excursion-659").backstretch("http://vishub.org/pictures/1730.jpeg");


</script>
 
