<div id="winners">
  <div id="banner"></div>

  <div id="podium">
    <div class="podiuminside">
      <div class="podiuminside1">
        <div id="excursions">
          <ul>
            <li id="winner1">
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(1) } %>
            </li>
          </ul>
        </div>
        <div class="podiumart">
          <div class="podcircle">
            <h2>2</h2>
          </div>
        </div>
      </div>
      <div class="podiuminside2">
        <div id="excursions">
          <ul>
            <li id="winner2">
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(2) } %>
            </li>
          </ul>
        </div>
        <div class="podiumart">
          <div class="podcircle">
            <h1>1</h1>
          </div>
        </div>
      </div>
      <div class="podiuminside3">
        <div id="excursions">
          <ul>
            <li id="winner3">
              <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
            </li>
          </ul>
        </div>
        <div class="podiumart">
          <div class="podcircle">
            <h3>3</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabexcursions">

    <h3><b class="caret caret1"></b><%=t('contest.winnersbycategory')%><b class="caret caret2"></b></h3>
  </div>

  <div id="subjectwinners">
    <div class="subrow">
    <img class="bd1" src="assets/competition/bd1.png"/>
    <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Maths')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="subrow2">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Physics')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="subrow">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Chemistry')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow2">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Biology')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Geography')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow2">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.EnvironmentalStudies')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Engineering')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow2">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.Humanities')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.NaturalScience')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
    <div class="subrow2">
      <img class="bd1" src="assets/competition/bd1.png"/>
      <img class="bd2" src="assets/competition/bd2.png"/>
      <h3><%=t('contest.ComputerScience')%></h3>
      <section id="show_items">
        <div class="recomended">
          <div class="recomended-items">
             <ul class="small-box">
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(4) } %>
              </li>
              <li>
                  <%= render :partial => 'excursions/excursion', :locals => { :excursion => Excursion.find(5) } %>
              </li>
            </ul>
          </div>
        </div>
      </section> 
    </div>
  </div>

  <div id="participants">
      <div class="tabexcursions">
          <a class="sign_up btn" href="/contest_all"><%=t('contest.viewalltag')%></a>
     </div>
  </div>

</div>





  
