<section id="competitions">
	<div class="letter">
		<h1><%=t('competitions.introduction')%></h1>
		<hr>
		<p><%=t('competitions.introduction1')%><a href="http://ec.europa.eu/research/infrastructures/index_en.cfm" target="_blank">FP7</a><%=t('competitions.introduction2')%><a href="http://ec.europa.eu/dgs/connect/mission/index_en.htm#DirC" target="_blank"><%=t('competitions.introduction3')%></a><%=t('competitions.introduction4')%>
		</p>
		<p><%=t('competitions.introduction5')%><a href="http://www.globalexcursion-project.eu/?page_id=21" target="_blank"><%=t('competitions.introduction6')%></a><%=t('competitions.introduction7')%>
		</p>

		</p><%=t('competitions.introduction8')%>
		</p>
		<br>
		<h2><%=t('competitions.categories')%></h2>
		<hr>
		<p><%=t('competitions.categories2')%></p>
		<ul>
		<li>1.<%=t('competitions.Maths')%></li>
		<li>2.<%=t('competitions.Physics')%></li>
		<li>3.<%=t('competitions.Chemistry')%></li>
		<li>4.<%=t('competitions.Biology')%></li>
		<li>5.<%=t('competitions.Environmental studies')%></li>
		<li>6.<%=t('competitions.Geography')%></li>
		<li>7.<%=t('competitions.Engineering')%></li>
		<li>8.<%=t('competitions.Humanities')%></li>
		<li>9.<%=t('competitions.Natural Science')%></li>
		<li>10.<%=t('competitions.Computer Science')%></li>
		</ul>

		<br>
		<h2><%=t('competitions.competitions')%></h2>
		<hr>
		<h4><%=t('competitions.competitions_countries')%></h4>
		 
		<p><%=t('competitions.competitions_countries2')%></p>
		<br>
		<h4><%=t('competitions.submissions')%></h4>
		<p><%=t('competitions.submissions2')%><strong><%=t('competitions.submissionsdate')%></strong><%=t('competitions.submissions3')%><strong><%=t('competitions.submissionsdate')%></strong><%=t('competitions.submissions4')%></p>
		<p><%=t('competitions.submissions5')%><strong><%=t('competitions.submissionsdate')%></strong></p>
		<p><%=t('competitions.submissions6')%><strong><%=t('competitions.submissionsdate2')%></strong><%=t('competitions.submissions7')%><a href="https://www.facebook.com/VirtualScienceHub" target="_blank">Facebook official</a></p> 
		<p><%=t('competitions.submissions8')%><strong> VISHCompetition2013 </strong><%=t('competitions.submissions9')%> </p>
		 
		<p><strong><%=t('competitions.submissions10')%></strong><%=t('competitions.submissions11')%></p>
		<br>
		<h4><%=t('competitions.languajes')%></h4>
		<p><%=t('competitions.languajes2')%></p>
		<br>
		<h4><%=t('competitions.implementation')%></h4>
		<p><%=t('competitions.implementation2')%></p>
		<br> 
		<h4><%=t('competitions.contact')%></h4>
		<p><%=t('competitions.contact2')%></p>
		<br>
		<h1><%=t('competitions.howto')%></h1>
		<hr>
		<h3><%=t('competitions.whocan')%></h3>
		<p><%=t('competitions.whocan1')%><strong><%=t('competitions.whocan2')%></strong></p>

		<p><%=t('competitions.whocan3')%></p>
		<br>
		<h3><%=t('competitions.howto2')%></h3>

		<p><%=t('competitions.howto3')%></p>
		<p>ViSHCompetition2013</p>

		<p><%=t('competitions.howto4')%></p>
		<p><strong><%=t('competitions.howto5')%></strong></p>
		<p><%=t('competitions.howto6')%></p>
		<br>
		<h3><%=t('competitions.objectives')%></h3>
		<p><%=t('competitions.objectives2')%><a href="http://www.globalexcursion-project.eu/?page_id=21" target="_blank"><%=t('competitions.objectives3')%></a><%=t('competitions.objectives4')%></p> 

		<p><i><%=t('competitions.whatis')%></i></p>
		<p><%=t('competitions.whatis2')%></p>

		<h4><%=t('competitions.examples')%></h4>

		<p><%=t('competitions.examples1')%></p>

		<p>Iberian Lynx: <a href="http://vishub.org/excursions/55" target="_blank">http://vishub.org/excursions/55</a></p>
		<p>Outerspace: <a href="http://vishub.org/excursions/56" target="_blank">http://vishub.org/excursions/56</a></p>

		<p><%=t('competitions.examples2')%> <a href="http://vishub.org/user_manual" target="_blank">http://vishub.org/user_manual</a></p>
		<br>
		<h3><%=t('competitions.criteria')%></h3>

		<p><%=t('competitions.criteria2')%></p>

		<ul>

		<li><%=t('competitions.criteria3')%>
		</li>
		<br>
		<li><%=t('competitions.criteria4')%>
		</li>
		<br>
		<li><%=t('competitions.criteria5')%>
		</li>

		</ul>
		<br>
		<h3><%=t('competitions.awards')%></h3>
		 
		<p><%=t('competitions.awards2')%></p>

		<ul>
		<li><strong><%=t('competitions.awards3')%></strong><%=t('competitions.awards4')%></li>
		<li><strong><%=t('competitions.awards5')%></strong><%=t('competitions.awards6')%></li>
		</ul>

		<p><%=t('competitions.awards7')%></p>

		<ul>
		<li><strong><%=t('competitions.awards8')%></strong><%=t('competitions.awards9')%></li>
		<li><strong><%=t('competitions.awards10')%></strong> <%=t('competitions.awards11')%></li>
		<li><strong><%=t('competitions.awards12')%></strong><%=t('competitions.awards13')%></li>
		</ul>
		 
		<p><%=t('competitions.awards14')%></p>
		 
		<br>
		<p><%=t('competitions.question')%></p>
		<p><%=t('competitions.question2')%><a href="http://vishub.org/faq"><%=t('competitions.question3')%></a></p>

		<p><%=t('competitions.spread')%></p>
		<p><%=t('competitions.spread2')%><a href="http://vishub.org/VISH_competitions_print.pdf">FLYER</a></p>
	</div>
</section>