<div class="tabbable">

	<h1><i class="icon-wrench"></i> <%=t('admin.title')%> </h1>
	<hr>
	<ul class="nav nav-pills">
	<li class="active"><a href="<%=admin_open_reports_path%>"><%=t('admin.reports')%></a></li>
	<li><a href="<%=admin_users_path%>"><%=t('admin.users')%></a></li>
</ul>
</div>
