<section class="admin">
  <ul class="nav nav-tabs">
    <li <%=@pending ? "class=active" : ""%>>
      <a href="<%=admin_open_reports_path%>">
        <i class="fa fa-exclamation-sign"></i>
        <span class=""><%=t("admin.pending_reports")%> (<%=@pending_reports_quantity%>)</span>
      </a>
    </li>   
    <li <%=!@pending ? "class=active" : ""%>>
      <a href="<%=admin_closed_reports_path%>">
        <i class='fa fa-lock'></i>
        <span class=""><%=t("admin.closed_reports")%> (<%=@closed_reports_quantity%>)</span>
      </a>
    </li>
  </ul>
</section>

 <%= render '/admin/reportList' %>