<%= div_for contact, :class => 'row' do %>
    <ul class="thumbnails span3">
      <li class="span1">
        <%= link_to(image_tag(contact.receiver.logo.url(:actor), :height => "50", :widht => "50"),
                    contact.receiver_subject, :class => "container") %>
      </li>
      <li class="span">
        <div class="caption">
          <div class="title_suggestion">
            <h4 class=" ellipsis w80px"><%= link_to(contact.receiver_subject.name, contact.receiver_subject, :class => "contact_link") %></h4>
          </div>
          <a class="close_suggestion"> <%= link_to '×', contact, :method => :delete, :remote => true %></a>
          <h5><%= contact_brief(contact.receiver_subject) %></h5>
          <h5><%= contact_brief(contact.receiver_subject) %></h5>
          <div class="send_message size10 red-2">+ follow</div>
        </div>
      </li>
    </ul>
    <div class="space_center">
    </div>
<% end %>
