<%= div_for scormfile, :class => 'content_size' do %>
  <div class="scormpackage_show">
    <iframe width=<%=scormfile.width%> height="<%=scormfile.height%>" class="scormpackage_wrapper" style="border: none; max-width: 100%" src="<%=scormfile.lourl%>"></iframe>
	<div class="link_address">
    	<a href="<%=scormfile_path(scormfile, :format => :full)%>" target="_blank"><i class="icon-fullscreen"></i><%= t("scormfile.view_full") %></a>
    </div>
  </div>
<% end %>





	
