<%= div_for scormfile, :class => 'content_size' do %>
  <div class="scormpackage_show">
    <iframe width="100%" height="<%=scormfile.height%>" class="scormpackage_wrapper" style="border: none" src="<%=scormfile_path(scormfile, :format => :full)%>"></iframe>
    <div class="link_address">
    <a href="<%=scormfile_path(scormfile, :format => :full)%>" target="_blank"><i class="icon-fullscreen"></i><%= t("scormfile.view_full") %></a>
    </div>
  </div>
<% end %>





	
