    <dl class="dl-horizontal">

      <% unless @excursion.description.blank? %>
      <!--description-->
      <dt><%= t('info.description') %></dt>
      <dd><%= truncate(@excursion.description, :length => 400) %></dd>
      <% end %>
      <% unless @excursion.tag_list.blank? %>
      <!--tags-->
      <dt><%= t('info.tags') %></dt>
      <dd>
        <ul class="tagit-suggestions">
          <% @excursion.tag_list.each do |tag| %>
          <li class="tagit-choice">
            <%= link_to tag, search_path(:q => tag) %>
          </li>
          <% end %>
        </ul>
      </dd>
      <% end %>
      <% unless @excursion.language.blank? %>
      <!--language-->
      <dt><%= t('lang.title').capitalize %></dt>
      <dd>
        <%= case @excursion.language
        when '';
          t('lang.independent')
        when 'de';
          'Deutsch'
        when 'en';
          'English'
        when 'es';
          'Español'
        when 'fr';
          'Français'
        when 'it';
          'Italiano'
        when 'pt';
          'Português'
        when 'ru';
          'Русский'
        else
          ; t('lang.others')
          end %>
        </dd>
        <% end %>
        
<!--date-create
      <div class="tittle-notebook">
      <%= t('document.info.date.created_at') %>
      </div>
      <div class="text-notebook">
      <%= I18n.localize @excursion.created_at, :format => :long %>
      </div>
    -->
    <!--date-upload-->
    <dt><%= t('document.info.date.updated_at') %></dt>
    <dd><%= I18n.localize @excursion.updated_at, :format => :long %></dd>
    <dt></dt>
    <dd><button href="#MetadataModal" id="showMeta" data-toggle="modal" class="ui-state-default ui-corner-all">
      <%=t('excursion.actions.show_meta')%></button></dd>
  </dl>