<% unless @profile_subject.nil? %>
  var areasOfInterest = function(tags) {
    if(tags) {
      var tag_a = tags.split(", ");
      var tag_str = '';
      for (i in tag_a) {
        tag_str+='<li class="tagit-choice"><a style="color: white;" href="/search?q=' + encodeURI(tag_a[i]) + '">' + tag_a[i] + '</a></li>';
      }
      return '<div class="text-center">' + I18n.t('profile.tags.other') + ': <ul class="tagit-suggestions">' + tag_str + '<br/><br/></ul></div><hr/>';
    } else {
      return '';
    }
  }

  $('#user-modal-body-<%= @profile_subject.slug %>').html('<div class="row-fluid"><div class="span3"><a href="/users/<%= @profile_subject.slug %>"><%= image_tag(@profile_subject.logo.url(:profile), :class => "modal-space") %></a><br/>' + I18n.t('follow.followers')+': <a href="/users/<%= @profile_subject.slug %>/followers"><%= @profile_subject.followers.count.to_s %></a><br/>'+I18n.t('follow.followings')+': <a href="/users/<%= @profile_subject.slug %>/followings"><%= @profile_subject.following_actor_ids.count.to_s %></a></div><div class="span9">' + ("<%= @profile_subject.profile.organization %>" ? '<div><%= @profile_subject.profile.organization %></div><hr/>': '') + '<div class="text-center">' + I18n.t('published') + ': <a href="/users/<%= @profile_subject.slug %>/excursions"><%= Excursion.authored_by(@profile_subject).where(:draft => false).count.to_s %></a> ' + I18n.t('excursion.other')+ ' & <a href="/users/<%= @profile_subject.slug %>/documents"><%= (Document.authored_by(@profile_subject).count + Embed.authored_by(@profile_subject).count + Link.authored_by(@profile_subject).count).to_s %></a> ' + I18n.t('resource.title.other') + '</div><hr/>' + areasOfInterest('<%= @profile_subject.tag_list.to_s %>') + '<div><em>' + ("<%= @profile_subject.profile.description %>" ? "<%= @profile_subject.profile.description %>" : I18n.t('no_bio')) + '</em></div></div></div>');

<% end %>

