<% return if ediphy_document.nil? or ediphy_document.author.nil? %>

<li class="resource box-item ediphy-item" ediphy_id="<%=ediphy_document.id%>"<%if defined?(obj_id)%>edit-id="<%=obj_id%>"<%end%>>
<% if defined?(prefix_id) && (prefix_id == "join" || prefix_id == "tw") %>
<div class="selecting-item" style="display:none;"><i class="fa fa-check"></i><%= t('competition.modal.selected') %></div>
<% end %>

   <%
    generated_id = "ediphy_document-" + ediphy_document.id.to_s
    generated_id = prefix_id + "-" + generated_id if defined?(prefix_id)
    generated_id = "cat-" + obj_id.to_s + "-" + generated_id if defined?(obj_id)
  %>

  <!-- corner -->
    <%= link_to ediphy_document_path(ediphy_document) do %>
      <div class="corner-item">
        <div class="corner-item2">
          <div class="corner-color"></div>
          <%= raw(icon(ediphy_document,false)) %>
        </div>
        <div class="corner-background"></div>
      </div>
      <!-- image/icon -->
      <div class="container-img">
        <div class="img-box resource-center" id="<%=generated_id%>" style="background-image: url('<%= ediphy_document.thumbnail %>');">
           <% if ediphy_document.draft %>
            <div class="excursion-draft">
                <h2 class="draftstyle">
                  <i class="fa fa-edit"></i>
                  <%=t('excursion.draft')%>
                </h2>
            </div>
          <% end %>
        </div>
      </div>
    <%end%>

    <script>
      document.getElementById("<%=generated_id%>").style.backgroundImage = "url('<%= ediphy_document.thumbnail %>')";
    </script>

  <!-- INFO -->
  <div class="caption">

    <!-- Title -->
    <h6>
      <%= link_to ediphy_document.title, ediphy_document_path(ediphy_document) %>
    </h6>

    <!-- Author -->
    <span class="author">
      <span class="by"><%=t('by')%></span>
      <%= link_to truncate_name(ediphy_document.author.name, length: 25), ediphy_document.author.subject %>
    </span>

    <hr>

    <div class="info-bottom">

      <!--like -->
      <div class="like">
        <div class="count"><%=ediphy_document.post_activity.likes.count.to_s%></div>
        <%= link_like(ediphy_document.post_activity, {:title =>t('excursion.actions.favorite')})%>
      </div>

      <!--views -->
      <div class="views">
        <%if ediphy_document.private_scope? %>
          <div class="private-resource-mark">
            <i class="fa fa-lock"></i>
          </div>
        <%else%>
          <%=ediphy_document.visit_count.to_s%>
          <i class="fa fa-eye"></i>
        <%end%>
      </div>

    </div>

  </div>

</li>