<div class="update">
  <% if can?(:update, @profile) %>
    <header>
      <legend>
        <%= t('avatar.profile_change') %>
      </legend>
    </header>
    <%= render partial: 'profiles/avatar_edit' %>

    <%= form_for(current_subject, :url => [current_subject]) do |f| %>
      <legend><%= f.label t('actor.name') %></legend>
      <%= f.text_field :name, :class => "required" %>

      <hr class="soften">
      <legend><%= f.label t('profile.occupation.label'), :class => "text" %></legend>
      <%= f.select(:occupation, options_for_select([[t('profile.occupation.options.select'), 0], [t('profile.occupation.options.teacher'), 1],[t('profile.occupation.options.scientist'),2], [t('profile.occupation.options.other'),3]], current_subject.occupation)) %>
             
          <legend><%= f.label t('profile.organization'), :class => "text" %></legend>
          <%= f.text_field :organization, :class => "input_settings" %>

          <legend><%= f.label t('profile.' + current_subject.class.to_s.downcase + '.birthday'), :class => "text" %></legend>
          <%= date_select "user", "birthday", :order => [:day, :month, :year], :end_year => Date.today.year, :start_year => (Date.today.year - 100), :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} %>
          
          <legend><%= f.label t('profile.actualcity'), :class => "text" %></legend>
          <%= f.text_field :city, :class => "input_settings" %>

          <legend><%= f.label t('profile.country'), :class => "text" %></legend>
          <%= f.text_field :country, :class => "input_settings" %>
       
          <legend><%= f.label :description, t("profile.#{ current_subject.class.to_s.downcase }.about") %></legend>
          <%= f.text_area :description, :maxlength => 200, :rows => 10 %>

          <!--TAGS-->
          <!-- Tags preloaded -->
          <% @tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc")%>
          <ul id="preloadTagList" style="display:none">
          <%@tags.each do |tag| %>
            <li>
              <%=tag.name%>
            </li>
          <%end%>
          </ul>

          <!-- User tags -->
          <%@user_tags = current_user.tags%>
          <ul id="preloadUserTagList" style="display:none">
            <%@user_tags.each do |tag| %>
              <li><%=tag.name%></li>
            <%end%>
          </ul>

          <legend><%= f.label t('activerecord.attributes.user.tag') %></legend>
          <div class="tagBoxNew">
            <ul class="tagList"></ul>
          </div>
          <%= f.hidden_field :tag_list, :class => "form_tag", :id => "input_tag_list", :placeholder => t('devise.tags') %>

          <p>
            <%= t('required') %>
          </p>
          <%= f.submit %>
        <% end %>



        <%= javascript_tag do %>
          $('#user_description').val("<%= current_subject.description %>");
        <% end %>

        <%= content_for :javascript do %>
          $(document).ready(function() {
            var tagList = $(".tagList");
            var tags = [];

            //Load tags
            $.each($("#preloadTagList li"), function(index, element) {
               tags.push($(element).html());
            });

            if ($(tagList).children().length == 0){
              $.each($("#preloadUserTagList li"), function(index, element) {
                $(tagList).append("<li>" + $(element).html() + "</li>")
              });
            } 
            
            $(tagList).tagit({tagSource:tags, sortable:true, maxLength:15, maxTags:8 , 
              watermarkAllowMessage: '<%=t('document.tags.areasOfInterestMessage')%>', watermarkDenyMessage: '<%=t('document.tags.limitMessage')%>' ,
              tagsChanged:function (tag, action) {
                //Check if the element popped is a suggestion
                if(action=="popped"){
                  $.each($(".tagit-suggestions li"), function(index, element) {
                    if($(element).html()==tag){
                      $(element).show();
                    }
                  });
                }
              } 
            });

            //Allow suggestions
            $(".tagit-suggestions li").on("click", function(){
              var result = $(".tagit").tagit('add', $(this).html() );
              if(result==true){
                $(this).hide();
              }
            });

            //Fill tag_list hidden input before send
             var button = $("input[type='submit'][name='commit']");
              $(button).click(function(event) {
               var tagList = $(".tagList");
               $("#input_tag_list").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
               return true;
             });

          });
          <% end %>

  <% end %>        
</div>
