

<div class="dropdown order_by_selector" id="order_by_selector_categories">
<span class="order_by"><%=t('order_by.title')%></span>
  <button class="btn dropdown-toggle sr-only dropdownMenuOrdBy" type="button" id="dropdownMenuOrdBycategories" data-toggle="dropdown"><i class="icon-pencil"></i> <%=t('order_by.updated_at')%>
    <i class="icon-angle-down"></i>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">



    <li>
        <a href="#" onclick="categories_dropdown_select('popularity');" class="sort_by_selected" sort-by-key='popularity'> 
          <i class="icon-dashboard"></i>
          <span><%=t('order_by.popularity')%> </span>
        </a>
    </li>
    <li>
      <a href="#" onclick="categories_dropdown_select('updated_at');" sort-by-key='updated_at'>
        <i class="icon-pencil"></i>
        <span><%=t('order_by.updated_at')%> </span>
      </a>
    </li>
    <li>
      <a href="#" onclick="categories_dropdown_select('created_at');" sort-by-key='created_at'>
        <i class="icon-bolt"></i>
        <span><%=t('order_by.created_at')%> </span>
      </a>
    </li>
    <li>
        <a href="#" onclick="categories_dropdown_select('visits');" sort-by-key='visits'>
          <i class="icon-eye-open"></i> 
          <span><%=t('order_by.visits')%> </span>
        </a>
    </li>
    <li>
        <a href="#" onclick="categories_dropdown_select('favorites');" sort-by-key='favorites'>
          <i class="icon-star"></i> 
          <span><%=t('order_by.favorites')%> </span>
        </a>
    </li>
  </ul>

</div>


<%= content_for :javascript do %>
 
  var param = "<%=params[:sort_by]%>";

  if(param && param!=""){
    var value = $("#order_by_selector_categories .dropdown-menu [sort-by-key="+param+"]").html();
    $("#dropdownMenuOrdBycategories").html(value + '<i class="icon-angle-down"></i>'); 
  }
  
<%end%>

<script>
var categories_dropdown_select = function(option) {
  $("#categories").html("");
  $('.loader_pagination').show();
  $.ajax({
      type : "GET",
      url : "<%= user_url(profile_subject) %>/categories?sort_by=" + option,
      success : function(html) {
        $(".sort_by_selected").removeClass("sort_by_selected");        
        var value = $("#order_by_selector_categories .dropdown-menu [sort-by-key="+option+"]").html();
        $("#order_by_selector_categories .dropdown-menu [sort-by-key="+option+"]").addClass("sort_by_selected");
        $("#dropdownMenuOrdBycategories").html(value + '<i class="icon-angle-down"></i>');
        $('.loader_pagination').hide();      
        $("#categories").append(html);
        re_apply_pageless("categories");
      },
      error: function(){
        console.log("error loading categories");
     }
    });
}

</script>