<%= content_for :javascript do %>
   /*
   $.ajax({
          type : "GET",
          url : "<%= user_url(profile_subject) %>"+"/resources",
          success : function(html) {      
            $("#resources").append(html);
          },
          error: function(){
            console.log("error");
         }
        });
        */
<%end%>

<section class="info-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      
      <li class="active"><a href="#tab1" data-toggle="tab"><%=t('excursion.other')%></a></li>
      <!--<li><a href="#tab2" data-toggle="tab">events</a></li>-->
      <li><a href="#tab3" data-toggle="tab"><%=t('resource.other')%></a></li>
      <li><a href="#tab4" data-toggle="tab"><%=t('categories.other')%></a></li>
      <li class="follow-tab"><a href="#tab5" data-toggle="tab"><span><%= profile_subject.followers.count.to_s %></span><%= t('follow.followers') %></a></li>
      <li class="follow-tab"><a href="#tab6" data-toggle="tab"><span><%= profile_subject.following_actor_objects.includes(:actor).count.to_s %></span><%= t('follow.followings') %></a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">
        <div id="excursions">
        <ul class="">
          <% if profile_subject_is_current? %>
            <%= render partial: 'excursions/excursion-add' %>
          <% end %>
          <%= render partial: 'excursions/excursions', :locals => { :scope => :me, :page => 0 } %>
        </ul>
        </div>
      </div>

      <!--
      <div class="tab-pane" id="tab2">
        <div id="events">
          <%#= render partial: 'events/events' %>
        </div>
      </div>
    -->

      <div class="tab-pane" id="tab3">
        <div id="resources">
        <%= render partial: 'repositories/resources', :locals => { :scope => :me } %>
        </div>
      </div>

      <div class="tab-pane" id="tab4">
        <div id="categories">
          <%= render partial: 'categories/categories', :locals => { :scope => :me } %>
        </div>
      </div>

      <div class="tab-pane" id="tab5">
        <ul>
          <%= render partial: 'users/user', collection: profile_subject.followers %>
        </ul>
      </div>

      <div class="tab-pane" id="tab6">
        <ul>
          <%= render partial: 'users/user', collection: profile_subject.followings.where(object_type: 'Actor').includes(:actor).map(&:actor) %>
        </ul>
      </div>

    </div>
  </div>
</section>
