<%= content_for :javascript do %>
   /*
   $.ajax({
          type : "GET",
          url : "<%= user_url(profile_subject) %>"+"/resources",
          success : function(html) {      
            $("#resources").append(html);
          },
          error: function(){
            console.log("error");
         }
        });
        */
  $("#resources_tab").click(function(){
    re_apply_resources_backstrech();
  });

  $("#events_tab").click(function(){
    re_apply_events_backstrech();
  });

<%end%>

<section class="info-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs">
<!--excursions-->
      <li class="active">
        <a href="#tab1" data-toggle="tab">
          <i class="icon-book"></i>
          <span class=" hidden-phone hidden-tablet"><%=t('excursion.other')%></span>
        </a>
      </li>
<!--events-->
      <li>
        <a id="events_tab" href="#tab2" data-toggle="tab">
          <i class="icon-facetime-video"></i>
          <span class=" hidden-phone hidden-tablet"><%=t('event.other')%></span>
        </a>
      </li>
<!--resources-->      
      <li>
        <a id="resources_tab" href="#tab3" data-toggle="tab">
          <i class="icon-file"></i>
          <span class=" hidden-phone hidden-tablet"><%=t('resource.other')%></span>
        </a>
      </li>

      <li>
        <a href="#tab4" data-toggle="tab">
          <i class="icon-th-large"></i>
          <span class=" hidden-phone hidden-tablet"><%=t('categories.other')%></span>
        </a>
      </li>
      


      <li class="follow-tab">
        <a href="#tab5" data-toggle="tab">

          <span><%= profile_subject.followers.count.to_s %></span>
          <i class="icon-group "></i>
          <span class=" hidden-phone hidden-tablet"><%= t('follow.followers') %></span>
        </a>
      </li>
      <li class="follow-tab">
        <a href="#tab6" data-toggle="tab">
          <span><%= profile_subject.following_actor_objects.includes(:actor).count.to_s %></span>
          <i class="icon-group green"></i>
          <span class=" hidden-phone hidden-tablet"><%= t('follow.followings') %></span>
        </a>
      </li>

    </ul>



    

    <div class="tab-content">
<%= render partial: 'users/order_by_dropdown' %>
      <div class="tab-pane active" id="tab1">
        <div id="excursions">
        <ul class="">
          <% if profile_subject_is_current? %>
            <%= render partial: 'excursions/excursion-add' %>
          <% end %>
          <%= render partial: 'excursions/excursions', :locals => { :scope => :me, :page => 1, :sort_by=> params[:sort_by]||"updated_at"} %>
        </ul>
        <div id="loader_pagination">
          <div id="pageless-loader" style="text-align:center;width:100%;">
            <div class="msg" style="font-size:2em">
              <%=t('search.loading')%>
            </div>
            <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
          </div>
        </div>
        </div>

      </div>

      

    </div>
  </div>
</section>
