<section class="info-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li><h1>Profile</h1></li>
      <li class="active"><a href="#tab1" data-toggle="tab">excursions</a></li>
      <li><a href="#tab2" data-toggle="tab">events</a></li>
      <li><a href="#tab3" data-toggle="tab">resources</a></li>
      <li><a href="#tab4" data-toggle="tab">categories</a></li>
      <li class="follow-tab"><a href="#tab5" data-toggle="tab"><span><%= profile_subject.followers.count.to_s %></span><%= t('follow.followers') %></a></li>
      <li class="follow-tab"><a href="#tab6" data-toggle="tab"><span><%= profile_subject.following_actor_objects.includes(:actor).count.to_s %></span><%= t('follow.followings') %></a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">
        <p><%= render partial: 'excursions/excursions' %></p>
      </div>

      <div class="tab-pane" id="tab2">
        <p><%= render partial: 'events/events' %></p>
      </div>

      <div class="tab-pane" id="tab3">
        <p><%= render partial: 'repositories/resources' %></p>
      </div>

      <div class="tab-pane" id="tab4">
        <p><%= render partial: 'categories/categories' %></p>
      </div>

      <div class="tab-pane" id="tab5">
        <%= render profile_subject.
          followers.
          map { |f| current_subject.contact_to!(f) } %>
      </div>

      <div class="tab-pane" id="tab6">
        <%= render profile_subject.
          following_actor_objects.
          includes(:actor).
          map { |f| current_subject.contact_to!(f) } %>
      </div>

    </div>
  </div>
</section>
