<section class="info-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      
      <li class="active"><a href="#tab1" data-toggle="tab">excursions</a></li>
      <li><a href="#tab2" data-toggle="tab">events</a></li>
      <li><a href="#tab3" data-toggle="tab">resources</a></li>
      <li><a href="#tab4" data-toggle="tab">categories</a></li>
      <li class="follow-tab"><a href="#tab5" data-toggle="tab"><span><%= profile_subject.followers.count.to_s %></span><%= t('follow.followers') %></a></li>
      <li class="follow-tab"><a href="#tab6" data-toggle="tab"><span><%= profile_subject.following_actor_objects.includes(:actor).count.to_s %></span><%= t('follow.followings') %></a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">
        <div id="excursions">
          <%= render partial: 'excursions/excursions', :locals => { :scope => :me } %>
        </div>
      </div>

      <div class="tab-pane" id="tab2">
        <div id="events">
          <%= render partial: 'events/events' %>
        </div>
      </div>

      <div class="tab-pane" id="tab3">
        <div id="resources">
        <%= render partial: 'repositories/resources', :locals => { :scope => :me } %>
        </div>
      </div>

      <div class="tab-pane" id="tab4">
        <div id="categories">
          <%= render partial: 'categories/categories' %>
        </div>
      </div>

      <div class="tab-pane" id="tab5">
        <%= render partial: 'users/user', collection: profile_subject.followers %>
      </div>

      <div class="tab-pane" id="tab6">
        <%= render partial: 'users/user', collection: profile_subject.followings.where(object_type: 'Actor').includes(:actor).map(&:actor) %>
      </div>

    </div>
  </div>
</section>
