<div class="btn-group">
  <!--BTN ADD-->
  <% if !profile_subject_is_current? %>
    <button class="btn btn-follow">
      <%= contact_button(profile_subject) %>
     </button>
  <% end %>
  <!-- Edit your profile -->
  <% @profile = profile_or_current_subject.profile %>
  <% if can?(:update, @profile) %>
    <button class="edit_icon btn btn-default">
      <%= link_to(raw("<i class='fa fa-edit '></i>")+ t('profile.edit'), '#', :id => "edit_icon_link") %> 
    </button>
  <% end %>
  <!--BTN MESSAGE-->
  <% if !profile_subject_is_current? && user_signed_in?%>
    <button href="#new_messages_profile" id="mesage-profile" role="button" class="btn btn-default" data-toggle="modal" data-remote="false">
      <%= link_to new_message_path(receiver: profile_subject.slug) do %>
      <i class="fa fa-envelope-o"></i>
      <%= t 'mailboxer.send' %>
      <% end %>
    </button>
  <% end %>
  <!--BTN show-more-->
  <button class="btn btn-default btn-show ui-state-default ui-corner-all" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
    <i class="fa fa-plus"></i>
    <%=t('excursion.actions.show_more')%>
  </button>
</div>
  <!-- Button to trigger modal --> 
  <!-- Modal -->

<div id="new_messages_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=t('message.new')%></h4>
      </div>
      <div class="modal-body">
        <section id="new_message_profile">
          <%= render :partial => 'messages/new', :locals => {:@recipient => Actor.find_by_slug(profile_subject.slug)} %>
        </section>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="button" class="btn btn-primary" value="<%=t('mailboxer.send')%>"/>
      </div>
    </div>
  </div>
</div>


<script>
  $(function() {
    $("#showMore").click(function(){
      if($("#showMore").attr("status")=== "showMore"){
        $("#showMore").html('<i class="fa fa-minus"></i><%=t("excursion.actions.show_fewer")%>');
        $("#showMore").attr("status", "showFewer");
      }
      else{
        $("#showMore").html('<i class="fa fa-plus"></i><%=t("excursion.actions.show_more")%>');
        $("#showMore").attr("status", "showMore");
      }
      return false;
    });

    $(function() {
      var sendMessage = $("input[name='send_message']");
      var send = $("input[type='button'][value='<%=t('mailboxer.send')%>']");
      $(sendMessage).addClass("hidden");
      $(send).click(function(event) {
        $(sendMessage).click();
      });
      var SSMInitiated = false;
      $('#new_messages_profile').on('shown', function () {
        if(!SSMInitiated){
         SocialStream.Message.new_();
         SSMInitiated = true;
       }
     })
      $('#new_messages_profile').on('hidden', function () {
        $("#mesage-profile").removeAttr("href");
        $("#mesage-profile").removeAttr("data-toggle");
        $("#mesage-profile").removeAttr("data-remote");
      })
    });
  });
</script>
