<div class="btn-group">
  
  <!--BTN ADD-->
  <% if !profile_subject_is_current? %>

    <button class="btn btn-follow">
      <%= contact_button(profile_subject) %>
     </button>

  <% end %>
  <!-- Edit your profile -->
  <% @profile = profile_or_current_subject.profile %>
  <% if can?(:update, @profile) %>
    <div class="edit_icon btn btn-default">
      <%= link_to(raw("<i class='fa fa-edit '></i>")+ t('profile.edit'), '#', :id => "edit_icon_link") %>
    </div>
   

  <% end %>

  <!-- Remove user (only for admins) -->
  <% if isAdmin? %>
    <% if can?(:destroy, @profile) and !profile_subject.admin? and current_subject!=profile_subject %>
      <div class="edit_icon btn btn-default">
        <%= link_to(raw("<i class='fa fa-trash '></i>")+ t('profile.remove'), user_path(profile_subject), :confirm => t('are_you_sure'), :method => "delete")%>
      </div>
    <% end %>
  <% end %>

  <!-- Promote user to administrator (only for admins) -->
  <% if isAdmin? %>
    <% if can?(:make_admin, @profile) and current_subject!=profile_subject %>
      <% unless profile_subject.admin? %>
      <div class="edit_icon btn btn-default">
        <%= link_to(raw("<i class='fa fa-thumbs-up'></i>")+ t('profile.promote'), promote_user_path(profile_subject), :confirm => t('are_you_sure'), :method => "post")%>
      </div>
      <% else %>
      <div class="edit_icon btn btn-default">
        <%= link_to(raw("<i class='fa fa-thumbs-down'></i>")+ t('profile.degrade'), degrade_user_path(profile_subject), :confirm => t('are_you_sure'), :method => "post")%>
      </div>
      <% end %>
    <% end %>
  <% end %>

  <!--BTN MESSAGE-->
  <% if !profile_subject_is_current? && user_signed_in?%>
    <button href="#new_messages_profile" id="mesage-profile" role="button" class="btn btn-default" data-toggle="modal" data-remote="false">
      <%= link_to new_message_path(receiver: profile_subject.slug) do %>
      <i class="fa fa-envelope-o"></i>
      <%= t 'mailboxer.send' %>
      <% end %>
    </button>
  <% end %>
  <!--BTN show-more-->



 <a class="expand btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
  
   
    <span id="showingMore" class="showMore accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" title=<%=t("excursion.actions.show_more")%>>
    <i class="fa fa-plus-square-o"></i><%=t('excursion.actions.show_more')%>
    </span>
</a>


</div>
  <!-- Button to trigger modal --> 


<script>
  $(function() {
    $("#showingMore").click(function(e){
      if($("#showingMore").attr("title")==="showMore"){
        $("#showingMore").html('<i class="fa fa-plus-square-o"></i> <%=t("excursion.actions.show_more")%>');
        $("#showingMore").attr("title", "showFewer");
      }
      else{
        $(".showMore").html('<i class="fa fa-minus-square-o"></i><%=t("excursion.actions.show_fewer")%>');
        $("#showingMore").attr("title", "showMore");
      }
    });

    $(function() {
      var sendMessage = $("input[name='send_message']");
      var send = $("input[type='button'][value='<%=t('mailboxer.send')%>']");
      $(sendMessage).addClass("hidden");
      $(send).click(function(event) {
        $(sendMessage).click();
      });
      var SSMInitiated = false;
      $('#new_messages_profile').on('shown', function () {
        if(!SSMInitiated){
         SocialStream.Message.new_();
         SSMInitiated = true;
       }
     })
      $('#new_messages_profile').on('hidden', function () {
        $("#mesage-profile").removeAttr("href");
        $("#mesage-profile").removeAttr("data-toggle");
        $("#mesage-profile").removeAttr("data-remote");
      })
    });
  });
</script>
