<li class="box-item contact" id="<%= dom_id user %>">
  <!-- corner -->
  <div class="corner-item">
    <div class="corner-item2">
      <div class="corner-color"></div>
      <i class="icon-user"></i>
    </div>
    <div class="corner-background"></div>
  </div>
  <%if user.is_mve %>
  <div class="badge-teacher-active">  </div>
  <%end%>
  <div class="container-img">
    <div class="dummy"></div>
    <div class="element">
      <div class="avatar">
        <%= link_to(image_tag(user.logo.url(:medium)), user.subject) %>
      </div>
    </div>
  </div>
  <%# link_to excursion_thumb_for(excursion), excursion, :class => "img-box" %>
  <!--INFO excursuion-->
  <div class="info-user">
    <!--Title -->
    <div class="name-user">
      <%= link_to(truncate_name(user.name), user.subject)%>
    </div>
    <!--Count followers -->
    <div class="count-followers">
      <i class="icon-group "></i>
      <span class="count"><%=user.followers.count.to_s%> <!--add cound--></span>
      <span class=""><%= t('follow.followers') %></span>
    </div>
    <!--____________________ -->
    <div class="info-bottom">
    <!--follow button -->
      <div class="add">
        <%= contact_button(user) %>
      </div> 

    </div>
  </div>
</li>