<section class="user">
  <header>
    <!--<li><h3>Profile</h3></li>-->
    
    <div id="profile-info">
      <div class="avatar">
      <!-- Edit your profile -->
        <% @profile = profile_or_current_subject.profile %>
        <% if can?(:update, @profile) %>
        <div class="edit_icon">
          <%= link_to(raw("<i class='icon-edit icon-large'></i>"), '#')%>
        </div>
        <% end %>
        <!-- follow -->
        <% if !profile_subject_is_current? %>
            <section class="contact">
              <div class="add">
                <%= contact_button(profile_subject) %>
              </div>
              
            </section>
        <!-- <button>
          <%#= contact_to(profile_subject) %>
        </button> -->
        <% end %>
      <%= link_to(image_tag(profile_subject.logo.url, :size => "150x150", :alt => profile_subject.name, :class => "avatar_img"), profile_subject, :class => "avatar_img") %>
      <%#= image_tag("badges/badge-2.png",  :class=> "attachement" ) %>     
    </div>
      <section class="information">
        
        

        <div class="briefing">
          <h2><%= @user.name %></h2>
          <!-- Button to trigger modal --> 
          <!-- Modal -->
          <div id="new_messages_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
            <div class="modal-body">
              <section id="new_message_profile">
                <%##= render partial: 'toolbar/messages' %>
                <%= render :partial => 'messages/new' %>

                <%= javascript_tag do %>
                  $(function() {
                  SocialStream.Message.new_();
                  });
                <% end %>
              </section>
            </div>
            <!--   <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div> -->
          </div>
        
          <p class="description">
            <% if @user.profile.description? %>
            <%= @user.profile.description%>
            <% else %>
            <%= "#{ @user.name } #{ t('profile.is_on') } #{  t('site.name') }" %>
            <% end %>
          </p>

          <hr class="soften">

          <!-- Occupation -->
          <% if profile_subject_is_current? && profile_subject.occupation_sym == :select %>          
          <h3 class="select">
            <%= link_to profile_subject.occupation_t, '#' %>
          </h3>
          <% elsif profile_subject.occupation_sym != :select %>
          <h3 class="name-roll">
            <%= t('profile.occupation.label') %>
            <span><%= profile_subject.occupation_t %></span>
          </h3>
          <% end %>

          <!--
          <h3 class="karma">Karma
            <span> 65</span>
          </h3>
          -->
          <!--
          <h3 class="achievements">
            Achievements
          </h3>
          -->

          <!--<div class="img-achievements"></div> -->
          <% if !profile_subject_is_current? %>
            <button href="#new_messages_profile" role="button" class="btn" data-toggle="modal">
              <%= link_to new_message_path(receiver: profile_subject.slug) do %>
                <i class="icon-envelope-alt"></i>
                <%= t 'mailboxer.send' %>
              <% end %>
            </button>
          <% end %>
        </div>

        <%= render :partial => 'users/form_update_profile' %>
      </section>
    </div>
    
  </header>

<%= render partial: 'users/profile-info' %>

<%= javascript_tag do %>
$(function() {
SocialStream.Profile.show({
section: "<%= params[:section ] %>"
});
});

$("#profile-info .select a[href=#]").click(function(event){
event.preventDefault();
var section = $(this).closest('section')[0];
$(section).find('.briefing').toggle('slow');
$(section).find('.update').toggle('slow');
});
<% end %>


</section>