<% content_for :title do %>
  <%= @user.name+" | "+t('site.name') %>
<% end %>

<% content_for :description do %>
  <% if @user.profile.description? %>
    <%= @user.profile.description%>
  <% else %>
    <%= @user.name+" "+t('profile.is_on') + " "+ t('site.name') %>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @user.profile.subject.tag_list%>
<% end %>


<section id= "wall">
 <article class="row-fluid article">
   <div class="span12">
     <div class="span3">
       <%= image_tag(@user.logo.url(:profile), :alt => @user.name, :id => "current_avatar_img") %>
     </div>
     <div class="span8">
       <div class="caption">
         <h2 class="span8 size30 ellipsis w350px"><%= @user.name %></h2>
         <div class="span4 pull-right send_messag size10 red-2 btn btn-primary">
           <%=contact_to(@user) %>
         </div>
         <h3 class="span ellipsis w340px">
           <% @user.profile.subject.tag_list.each do |t| %>
             <a href="#"><%= t.to_s %></a>
           <% end %>
         </h3>
         <div class="span12">
           <h3><%= link_to @user.followers.count.to_s, [@user,"followers"], :class => "green" %> <%= t('follow.followers')%> / <%= link_to @user.following_actor_objects.includes(:actor).count.to_s, [@user,"followings"], :class => 'green' %> <%= t('follow.followings') %></h3>
         </div>
       </div>
     </div>
   </div>
 </article>
</section>

