<% content_for :title do %>
  <%= @user.name+" | "+t('site.name') %>
<% end %>

<% content_for :description do %>
  <% if @user.profile.description? %>
    <%= @user.profile.description %>
  <% else %>
    <%= @user.name+" "+t('profile.is_on') + " "+ t('site.name') %>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @user.profile.subject.tag_list %>
<% end %>


<section id="wall">
  <article class="row-fluid ">
    <div class="span12">
      <div class="span2">
        <%= image_tag(@user.logo.url(:profile), :alt => @user.name, :id => "current_avatar_img") %>
      </div>

      <div class="span10 padding_10">
        <div class="span10 size22 ellipsis"><%= @user.name %>  </div>

        <div class="pull-right span2 ">
          <%= contact_to(@user) %>
        </div>
        <div class="tag-profile-mobile">
            <% @user.profile.subject.tag_list.each do |t| %>
              <a href="#"><%= t.to_s %></a>
            <% end %>
          </div>

          <div class="span12size8 gray-medium">
            <%= link_to @user.followers.count.to_s, [@user, "followers"], :class => "green" %> <%= t('follow.followers') %>
              / <%= link_to @user.following_actor_objects.includes(:actor).count.to_s, [@user, "followings"], :class => 'green' %> <%= t('follow.followings') %>
          </div>
        </div>

      </div>
    </div>
  </article>
</section>





<section>
  <nav>
    <article class="article ">
      <div class="row-fluid">
        <div class="span12">

          <ul class="nav nav-tabs">
            <li class="">
              <a data-toggle="tab" href="#excursions"><%= t('excursion.other') %></a>
            </li>
            <li class="active">
              <a data-toggle="tab" href="#timeline"><%= t('activity.timeline') %></a>
            </li>
          </ul>
        </div>
      </div>
    </article>


    <article class="article">
      <div class="tab-content">
        <div id="excursions" class="tab-pane">
          <div class="row-fluid">
            <div class="radiobuttons ">
              <div class="span12 ">
                <ul class="nav nav-pills ">
                  <li class="active"><a data-toggle="tab" href="#ex-1"></a>

                    <div class="text-radiobuttons size16"><%= t('excursion.net') %></div>
                  </li>
                  <li class=""><a data-toggle="tab" href="#ex-2"></a>

                    <div class="text-radiobuttons size16"><%= t('excursion.my') %></div>
                  </li>
                  <li class=""><a data-toggle="tab" href="#ex-3"></a>

                    <div class="text-radiobuttons size16"><%= t('excursion.top') %></div>
                  </li>
                  <li class=""><a data-toggle="tab" href="#ex-4"></a>

                    <div class="text-radiobuttons size16"><%= image_tag("/assets/icons/star-on.png") %></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div id="ex-1" class="tab-pane">
              <div id="home-excursions-net">
                <%= render :partial => 'excursions/filter_results', :locals => {:excursions => subject_excursions(@user, :limit => 10)} %>
              </div>
            </div>
            <div id="ex-2" class="tab-pane active">
              <div id="home-excursions-me">
                <%= render :partial => 'excursions/filter_results', :locals => {:excursions => subject_excursions(@user, :scope => :me, :limit => 10)} %>
              </div>
            </div>
            <div id="ex-4" class="tab-pane">
              <div id="home-excursions-fav">
                <%= render :partial => 'excursions/filter_results', :locals => {:excursions => subject_excursions(@user, :scope => :like, :limit => 10)} %>
              </div>
            </div>
          </div>
        </div>
        <div id="timeline" class="tab-pane active">
          <%= render :partial => 'activities/profile', :locals => {:owner => @user} %>
        </div>
      </div>
    </article>
  </nav>
</section>
