
  <section class="user">
    <header>
      <div class="avatar">
        <%= link_to(image_tag(profile_subject.logo.url, :size => "150x150", :alt => profile_subject.name, :class => "avatar_img"), profile_subject, :class => "avatar_img") %>
        <%#= image_tag("badges/badge-2.png",  :class=> "attachement" ) %>     
      </div>
      <div class="information">
        <h2><%= @user.name %></h2>
        <% if profile_subject != current_subject %>
          <button>
            <%= link_to new_message_path(receiver: profile_subject.slug) do %>
              <%= image_tag("icons/chat/icon-message.png",  :class=> "avatar_img") %> <%= t 'mailboxer.send' %>
            <% end %>
          </button>
          <!-- <button>
            <%#= contact_to(profile_subject) %>
          </button> -->
        <% end %>
        <hr class="soften">
        <h3 class="name-roll"> 
          <%= profile_subject.occupation_t %>
        </h3>
        <p class="description">
            <% if @user.profile.description? %>
              <%= @user.profile.description%>
            <% else %>
              <%= "#{ @user.name } #{ t('profile.is_on') } #{  t('site.name') }" %>
            <% end %>
        </p>
        <hr class="soften">
        <h3 class="karma">Karma
          <span> 65 <!--nivel karma--></span>
        </h3>
        
        <h3 class="achievements">
          achievements
        </h3>
          <div class="img-achievements">
            <!--agregar medallas-->
          </div>
          
      </div>
    </header>

  <%= render partial: 'users/profile-info' %>


  </section>