
  <section class="user">
    <header>
      <div class="avatar">
        <!--SUSTITUIR POR AVATAR DE USUARIO-->

        <%= link_to(image_tag(current_subject.logo.url, :size => "150x150", :alt => current_subject.name, :class => "avatar_img"), current_subject, :class => "avatar_img") %>
        <%#= image_tag("badges/badge-2.png",  :class=> "attachement" ) %>     
      </div>
      <div class="information">
        <h2> <%= @user.name %></h2>
        <button>
          <!--SUSTITUIR POR ENVIAR MENSAJE A ESTE USURIO-->
          <%= image_tag("icons/chat/icon-message.png",  :class=> "avatar_img") %> <%= t 'mailboxer.send' %>
        </button>
        <hr class="soften">
        <h3 class="name-roll"> 
          <!--SUSTITUIR POR ROLL DE USUARIO-->
          Teacher
        </h3>
        <p class="description">
          <%= @user.profile.description%>
        </p>
        <hr class="soften">
        <h3 class="karma">Karma
          <span> 65 <!--nivel carma--></span>
        </h3>
        
        <h3 class="archivements">
          archivements
        </h3>
          <%= image_tag("icons/chat/icon-message.png",  :class=> "avatar_img") %>
          <%= image_tag("icons/chat/icon-message.png",  :class=> "avatar_img") %>
          <%= image_tag("icons/chat/icon-message.png",  :class=> "avatar_img") %>
          <!--agregar medallas-->
      </div>
    </header>

  <%= render partial: 'users/profile-info' %>


  </section>