<section class="user">
  <header>
    <!--<li><h3>Profile</h3></li>-->
    <div id="profile-info">
      <div class="avatar">
      <%= link_to(image_tag(profile_subject.logo.url, :size => "150x150", :alt => profile_subject.name, :class => "avatar_img"), profile_subject, :class => "avatar_img") %>
        <div class="badge-teacher-active"></div>
    </div>
      <section class="information">
        <div class="briefing">
          <h2><%= @user.name %></h2>
        
          <p class="description">
            <% if @user.profile.description? %>
              <%= @user.profile.description%>
            <% else %>
              <%= "#{ @user.name } #{ t('profile.is_on') } #{  t('site.name') }" %>
            <% end %>
          </p>


          <!-- Occupation -->
          <% if profile_subject_is_current? && profile_subject.occupation_sym == :select %>          
            <h3 class="select">
              <%= link_to t('profile.occupation.select'), '#', :id => "select_occupation_link" %> 
            </h3>
            <% elsif profile_subject.occupation_sym != :select %>
            <h3 class="name-roll">
              <%= t('profile.occupation.label') %>
              <span><%= profile_subject.occupation_t %></span>
            </h3>
          <% end %>

          <!--
          <h3 class="karma">Karma
            <span> 65</span>
          </h3>
          -->
          <!--
          <h3 class="achievements">
            Achievements
          </h3>
          -->

          <div class="toolbar">
            <%= render :partial => 'users/toolbar_user' %>
          </div>

        </div>

        <%= render :partial => 'users/form_update_profile' %>
      </section>
    </div>
    
  </header>

<%= render partial: 'users/profile-info' %>

<%= javascript_tag do %>
$(function() {
  SocialStream.Profile.show({
  section: "<%= params[:section ] %>"
  });
});

$("#select_occupation_link").click(function(){
  $("#edit_icon_link").click();
});

<% end %>


</section>