<!--global search user-->

<div class="model_with_details follower-item">
  <%= javascript_tag do %>
    <%= modal_for(subject) %>
  <% end %>
  <ul class="thumbnails">
    <li class="avatar">
      <a data-toggle="modal" href="#<%= subject.class.to_s.underscore %>-modal-<%= subject.slug %>" class="<%= subject.class.to_s.underscore %>-modal-button-<%= subject.slug %> modal-trigger container" alt="<%= subject.name %>"><%= image_tag(subject.logo.url(:profile)) %>
      </a>
    </li>
    <li class="info_user">
      <h4>
        <span class="name">
          <a data-toggle="modal" href="#<%= subject.class.to_s.underscore %>-modal-<%= subject.slug %>" class="<%= subject.class.to_s.underscore %>-modal-button-<%= subject.slug %> modal-trigger">
            <%= truncate_name(subject.name, :length => 40) %>
          </a>
        </span>
      </h4>

      <span class="type-element ">
        <%=t "#{subject.class.name.underscore}.one"  %>
      </span>

      <% unless subject.tag_list.blank? %>
      <ul class="tagit-suggestions  single-line-tags">
        <% subject.tag_list.shuffle.each do |tag| %>
        <li class="tagit-choice">
          <%= link_to tag, search_path(:q => tag) %>
        </li>
        <% end %>
      </ul>
        <% end %>
      <div class="margin-left10 follower-state"><%=contact_to(subject) %></div>

    </li>
  </ul>
</div>
