<div class="container ">
  <div class="row span4">
    <p class="devise_title"><span class="dark-gray"><%= t('devise.passwords.forgot') %></span></p>
  </div>

  <div class="row span6 offset4">
    <div class="title_sentences">
      <%= t('devise.passwords.instructions') %>
    </div>
  </div>
  <div class="row span6 offset4 boxy_gray">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => "form-horizontal2"}) do |f| %>
      <fieldset>
        <div class="control-group">
          <%= devise_error_messages! %>
        </div>
        <div class="control-group">
          <label class="control-label" for="email"><%= f.label :email %></label>

          <div class="controls">
            <%= f.text_field :email, :class => "input-xlarge", :id => "email" %>
          </div>
        </div>
        <div class="btn_devise">
          <div class="form-actions pagination-right space_right">
            <%= f.submit t('action.send'), :class => "button" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="row span4 offset5 link_gray" id="devise_links">
    <div class="row space_center"></div>
   <%= render :partial => "devise/shared/links" %>
  </div>

  <div class="row space_double_center"></div>
  <div class="row space_double_center"></div>
  <div class="row space_double_center"></div>
  <div class="row space_double_center"></div>
