<section id="forgot-pass">
  <section class="forgot">
    <h4><%=t('devise.passwords.forgot')%></h4>
    <p><%=t('devise.password_forgot_instructions')%></p>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      
      <%= devise_error_messages! %>

      <%= f.label :email %>

      <%= f.text_field :email, :class => "form-control", :placeholder => t('devise.passwords.instructions') %>
      <hr>
      <div class="action">
        <%= f.submit t('action.send'), :class => "btn btn-primary" %>
      </div>

    <% end %>
    
  </section>
</section>


