<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div class="box" 
  style="
    border: 0px solid #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #F9F9F9;
    position: static;
    margin: 10px;
    min-height: 300px;
    width: 650px;
    display: block;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.5);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.5);
">
  <div class="header" 
    style="
      float: left;
      width: 650px;
      height: 150px;
      display: block;
      background-image: url(<%= root_url + asset_path('/assets/heard_mail.png') %>);
      background-repeat: no-repeat;
    ">
    <div class="hello"
      style="
        color: #6e6e6e;
        font-size: 26px;
        padding-left: 40px;
        padding-top: 86px;
    ">

      <%= raw t('invitation.invited', :sender => "<span id=\"name\" style=\"font-weight: bold;\">#{ h @sender.name}</span>", :site => link_to(t('site.name'), new_user_registration_url)) %>

    </div>
  </div>
  <div class="box2"
  style="
    float: left;
    display: block;
    padding-left: 40px;
    width: 610px;
  ">
<!--photo-->
    <div class="photo"
    style="
      float: left;
      margin-right: 20px;
      height: 119px;
      width: 119px;
      display: inline-block;
    ">
      <img class="border-radius"
      style="
        border: 0px solid #FFFFFF;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color: #FFFFFF;
        height: 119px;
        width: 119px;
        display: inline-block;
        "
      src="<%= root_url + @sender.logo.url(:profile) %>" alt="<%= @sender.name %>">
    </div>
<!--notification-->
    <div class="boxtext"
      style="
        width: 400px;
        height: auto;
        padding-left: 40px;
        display: inline-block;
      ">
      <div class="name"
      style="
        font-size: 18px;
        color: #3366FF;
      ">
        <%= @sender.name %>
        <% if @sender.profile.organization? %>
          <br/>
          <span style="color: #3366FF; opacity: 0.6; font-weight: normal;">
             <%= @sender.profile.organization %>
          </span>
        <% end %>
      </div>


        <% if @message.blank? %>
          <p style="text-align: justify;"><%= t('invitation.join_me', :site => t('site.name')) %></p>
        <% else %>
      <div class="text-notification"
        style="
          padding-top: 25px;
          font-size: 15px;
          color: #666666;
        ">"
        <p style="text-align: justify;">"<%= @message %>"</p>
        <% end %>
        <%= @sender.name %>
        <% if @sender.profile.organization? %>
          <br/><span style="color: #6C6D6F; font-weight: normal;"><%= @sender.profile.organization %></span>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<!--settings-->
<span style="color: #3366FF; opacity: 0.6; font-weight: normal; padding-left: 40px;">
    <div>
      <div>
        <%= t('frontpage.share.default') %>:
      </div>
      <div>
        <ul>
          <li>
            <%= t('frontpage.share.sentence1') %>
          </li>
          <li>
            <%= t('frontpage.share.sentence2') %>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div>
        <%= t('frontpage.meet.default') %>:
      </div>
      <div>
        <ul>
          <li>
            <%= t('frontpage.meet.sentence1') %>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div>
        <%= t('frontpage.collaborate.default') %>:
      </div>
      <div>
        <ul>
          <li>
            <%= t('frontpage.collaborate.sentence1') %>
          </li>
          <li>
            <%= t('frontpage.collaborate.sentence2') %>
          </li>
        </ul>
      </div>
    </div>
  </span>
</div>
</body>
</html>







