<% content_for :title do %>
  <%= t('welcome', :site => t('site.name')) %>
<% end %>
<article class="tagsHome">
  <%= link_to(t('frontpage.nanotechnology'), search_path(:q => "nanotechnology"), :class => 'nanotechnology level6') %>
  <%= link_to(t('frontpage.gridComputing'), search_path(:q => "grid computing"), :class => 'gridComputing level7') %>
  <%= link_to(t('excursion.other'), search_path(:type => "excursion"), :class => 'excursion level3') %>
  <%= link_to(t('user.other'), search_path(:type => "user"), :class => 'user level7') %>
  <%= link_to(t('frontpage.lifesciences'), search_path(:q => "life sciences"), :class => 'lifeSciences level6') %>
  <%= link_to(t('frontpage.biotechnology'), search_path(:q => "biotechnology"), :class => 'biotechnology level8') %>
</article>

<footer>
  <div class="group-index">
    <%= link_to t('sign_up'), new_user_registration_path, :class => 'btn btn-primary register ' %>
    <a class="btn btn-primary explore " href="/explore"><%= t('explore') %></a>
    <%= link_to t('devise.links.sign_in'), new_user_session_path, :class => 'btn btn-primary  sign_in '  %>
  <div>
</footer>      
