<% content_for :title do%>
  <%= t('welcome', :site => t('site.name')) %>
<%end%>
<section name="main">
  <div class="logo-frontpage"></div>
  <p class="name-frontpage"><%=t('site.name')%></p>
  <div class="search-frontpage">
    <%= render :partial => 'layouts/search' ,:locals => { :sizeFieldSearch => "input-frontpage" } %>
  </div>

  <div id="cloud_tags">

    <div class="repositories-tags">
      <%= link_to(t('resource.title.other'),search_path(:type => "resource"),) %>
    </div>
    <div class="excursion-tags">
      <%= link_to(t('excursion.other'),search_path(:type => "excursion"),) %>
    </div>

    <div class="users-tags">
      <%= link_to(t('user.other'),search_path(:type => "user"),) %>
    </div>
    <div class="organization-tags">
      <%= link_to(t('organization.other'),search_path(:type => "organization"),) %>
    </div>
  </div>
</section>

