<div id="resources_catalogue">
	<%@default_categories.each do |name, resources| %>
		<%unless resources.nil?%>
			<h2><%=t("catalogue.categories." + name, :default => "Category")%></h2>
			<ul id="container_<%=name%>" class="items">
				<%for resource in resources%>
					<%=render :partial=> "entities/entity", :locals => { :entity => resource, :prefix_id =>"catalogue_"+name+"_" } %>
				<%end%>
			</ul>
			<button class="show_more_catalogue" name="<%=name%>"><%=t('view_all')%></button>
		<%end%>
	<%end%>
</div>

<script>  
  <%if is_home%>
  	add_show_more_click();
  <%else%>
    document.addEventListener("DOMContentLoaded", function(){
    	add_show_more_click();
    });    
  <%end%>

  function add_show_more_click(){
		//Show More buttons
		$(".show_more_catalogue").click(function(event) {
			var name = $(this).attr("name");
			<%if is_home%>
				window.location = "/catalogue/" + name + "?back_home=true";      
			<%else%>
				window.location = "/catalogue/" + name;	  
			<%end%>
		});
	}

</script>