<div id="excursions_catalogue" >
	<%@default_categories.each do |name, resources| %>
		<h2><%=t("catalogue.categories." + name, :default => "Category")%></h2>
		<ul id="container_<%=name%>">
			<%for excursion in resources%>
				<%=render :partial=> "excursions/excursion", :locals => { :excursion => excursion, :prefix_id =>"catalogue" } %>
			<%end%>
		</ul>
		<button class="show_more_catalogue" name="<%=name%>"><%=t('view_all')%></button>
	<%end%>
</div>

<script type="text/javascript">

	//Show More buttons
	$(".show_more_catalogue").click(function(event) {
		var name = $(this).attr("name");
	      <%if is_home%>
	        window.location = "/catalogue/" + name + "?back_home=true";      
	      <%else%>
	        window.location = "/catalogue/" + name;	  
	      <%end%>	
	});

	$(document).ready(function(){
		function re_apply_backstrech_on_catalogue(){
			$("#excursions_catalogue div[bs-img]").each(function(){
				$(this).backstretch( $(this).attr("bs-img") );
			});
		};
		re_apply_backstrech_on_catalogue();
	});

</script>