<script type="text/javascript">
    $(document).ready(function() {
    	<%if @category%>
    		var category_shown = "<%=@category%>";
    	<%else%>
    		var category_shown = null;
    	<%end%>

		if(category_shown){
			$(".Tags_list_as input[type='checkbox'][name='"+category_shown+"']").attr('checked','checked');
		}        

        $(".Tags_list_as input[type='checkbox']").change(function(){
            var name = $(this).attr("name");
            window.location = "/catalogue/" + name;
        });
    });
</script>


	<section id="catalogue">

		<ul class="Tags_list_as ">
		<div class="info_catalogue">
			
		  <h3><%=t('catalogue.title')%></h3>
		  	  
		  <div class="info_catalogue_bottom"></div>
		</div>

		<div id="effect" class="newClass ui-corner-all">
			<li href="#"><input id="chk1" type="checkbox" name="Maths"/><label for="chk1"><span></span><%=t('competitions.Maths')%></label></li>
			<li href="#"><input id="chk2" type="checkbox" name="Physics"/><label for="chk2"><span></span><%=t('competitions.Physics')%></label></li>
			<li href="#"><input id="chk3" type="checkbox" name="Chemistry"/><label for="chk3"><span></span><%=t('competitions.Chemistry')%></label></li>
			<li href="#"><input id="chk4" type="checkbox" name="Biology"/><label for="chk4"><span></span><%=t('competitions.Biology')%></label></li>
			<li href="#"><input id="chk5" type="checkbox" name="EnvironmentalStudies"/><label for="chk5"><span></span><%=t('competitions.EnvironmentalStudies')%></label></li>
			<li href="#"><input id="chk6" type="checkbox" name="Geography"/><label for="chk6"><span></span><%=t('competitions.Geography')%></label></li>
			<li href="#"><input id="chk7" type="checkbox" name="Engineering"/><label for="chk7"><span></span><%=t('competitions.Engineering')%></label></li>
			<li href="#"><input id="chk8" type="checkbox" name="Humanities"/><label for="chk8"><span></span><%=t('competitions.Humanities')%></label></li>
			<li href="#"><input id="chk9" type="checkbox" name="NaturalScience"/><label for="chk9"><span></span><%=t('competitions.NaturalScience')%></label></li>
			<li href="#"><input id="chk10" type="checkbox" name="ComputerScience"/><label for="chk10"><span></span><%=t('competitions.ComputerScience')%></label></li>

		    <li href="#"><input id="chk1" type="checkbox" name="Art"/><label for="chk1"><span></span>Art</label></li>
		    <li href="#"><input id="chk2" type="checkbox" name="Astronomy"/><label for="chk2"><span></span>Astronomy</label></li>
		    <li href="#"><input id="chk3" type="checkbox" name="Biology"/><label for="chk3"><span></span>Biology</label></li>
		    <li href="#"><input id="chk4" type="checkbox" name="Chemistry"/><label for="chk4"><span></span>Chemistry</label></li>
		    <li href="#"><input id="chk5" type="checkbox" name="Citizenship"/><label for="chk5"><span></span>Citizenship</label></li>
		    <li href="#"><input id="chk6" type="checkbox" name="Clasical languages"/><label for="chk6"><span></span>Clasical languages</label></li>
		    <li href="#"><input id="chk7" type="checkbox" name="Computer science"/><label for="chk7"><span></span>Computer science</label></li>
		    <li href="#"><input id="chk8" type="checkbox" name="Cross Curricular education"/><label for="chk8"><span></span>Cross Curricular education</label></li>
		    <li href="#"><input id="chk9" type="checkbox" name="General culture"/><label for="chk9"><span></span>General culture</label></li>
		    <li href="#"><input id="chk10" type="checkbox" name="Economics"/><label for="chk10"><span></span>Economics</label></li>
		    <li href="#"><input id="chk11" type="checkbox" name="Educational administration"/><label for="chk11"><span></span>Educational administration</label></li>
		    <li href="#"><input id="chk12" type="checkbox" name="Ethics"/><label for="chk12"><span></span>Ethics</label></li>
		    <li href="#"><input id="chk13" type="checkbox" name="European Studies"/><label for="chk13"><span></span>European Studies</label></li>
		    <li href="#"><input id="chk14" type="checkbox" name="Foreign Languages"/><label for="chk14"><span></span>Foreign Languages</label></li>
		    <li href="#"><input id="chk15" type="checkbox" name="Geography"/><label for="chk15"><span></span>Geography</label></li>
		    <li href="#"><input id="chk16" type="checkbox" name="Geology"/><label for="chk16"><span></span>Geology</label></li>
		    <li href="#"><input id="chk17" type="checkbox" name="Health education"/><label for="chk17"><span></span>Health education</label></li>
		    <li href="#"><input id="chk18" type="checkbox" name="History"/><label for="chk18"><span></span>History</label></li>
		    <li href="#"><input id="chk19" type="checkbox" name="Home economics"/><label for="chk19"><span></span>Home economics</label></li>
		    <li href="#"><input id="chk20" type="checkbox" name="Law"/><label for="chk20"><span></span>Law</label></li>
		    <li href="#"><input id="chk21" type="checkbox" name="Literature"/><label for="chk21"><span></span>Literature</label></li>
		    <li href="#"><input id="chk22" type="checkbox" name="Mathematics"/><label for="chk22"><span></span>Mathematics</label></li>
		    <li href="#"><input id="chk23" type="checkbox" name="Music"/><label for="chk23"><span></span>Music</label></li>
		    <li href="#"><input id="chk24" type="checkbox" name="Natural Sciences"/><label for="chk24"><span></span>Natural Sciences</label></li>
		    <li href="#"><input id="chk25" type="checkbox" name="Philosophy"/><label for="chk25"><span></span>Philosophy</label></li>
		    <li href="#"><input id="chk26" type="checkbox" name="Physical education"/><label for="chk26"><span></span>Physical education</label></li>
		    <li href="#"><input id="chk27" type="checkbox" name="Physics"/><label for="chk27"><span></span>Physics</label></li>
		    <li href="#"><input id="chk28" type="checkbox" name="Politics"/><label for="chk28"><span></span>Politics</label></li>
		    <li href="#"><input id="chk29" type="checkbox" name="Psychology"/><label for="chk29"><span></span>Psychology</label></li>
		    <li href="#"><input id="chk30" type="checkbox" name="Religion"/><label for="chk30"><span></span>Religion</label></li>
		    <li href="#"><input id="chk31" type="checkbox" name="Social sciences"/><label for="chk31"><span></span>Social sciences</label></li>
		    <li href="#"><input id="chk32" type="checkbox" name="Technology"/><label for="chk32"><span></span>Technology</label></li>
		    <li href="#"><input id="chk33" type="checkbox" name="Telecommunications"/><label for="chk33"><span></span>Telecommunications</label></li>
		    </div>
		  </ul>

		</section>
<button href="#" id="showMore_tags" status="showMore" class="ui-state-default ui-corner-all"><a><%=t('excursion.actions.show_more')%></a></button>



<!--scroll   
<script>
  $(function()
  {
    $('.scroll-pane').jScrollPane();
  });
</script>--> 






<script>
$(function() {
  $("#showMore_tags").click(function(){
    $(".newClass").switchClass( "newClass", "anotherNewClass", 1000 );
    $(".anotherNewClass").switchClass( "anotherNewClass", "newClass", 1000 );
    if($("#showMore_tags").attr("status")=== "showMore"){
      $("#showMore_tags").html('<a><%=t("excursion.actions.show_fewer")%></a>');
      $("#showMore_tags").attr("status", "showFewer");
    }
    else{
      $("#showMore_tags").html('<a><%=t("excursion.actions.show_more")%></a>');
      $("#showMore_tags").attr("status", "showMore");
    }
    return false;
  });
});
</script>