<script type="text/javascript">
    $(document).ready(function() {
    	<%if @category%>
    		var category_shown = "<%=@category%>";
    	<%else%>
    		var category_shown = null;
    	<%end%>

		if(category_shown){
			$(".Tags_list_as input[type='checkbox'][name='"+category_shown+"']").attr('checked','checked');
		}        

        $(".Tags_list_as input[type='checkbox']").change(function(){
            var name = $(this).attr("name");
            window.location = "/catalogue/" + name;
        });
    });
</script>


<section id="catalogue">

	<div class="Tags_list_as ">
		<div class="info_catalogue">
		  <h3><%=t('catalogue.title')%></h3>  
		  <button href="#" id="showMore_tags" status="showMore" class="ui-state-default ui-corner-all"><%=t('excursion.actions.show_more')%></button>
		</div>

		<ul id="effect" class="newClass">
      <li class="checkbox" href="#">
        <label for="chk1">
          <input id="chk1" type="checkbox" name="Maths"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Maths')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk2">
          <input id="chk2" type="checkbox" name="Physics"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Physics')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk3">
          <input id="chk3" type="checkbox" name="Chemistry"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Chemistry')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk4">
          <input id="chk4" type="checkbox" name="Biology"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Biology')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk5">
          <input id="chk5" type="checkbox" name="EnvironmentalStudies"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.EnvironmentalStudies')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk6">
          <input id="chk6" type="checkbox" name="Geography"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Geography')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk7">
          <input id="chk7" type="checkbox" name="Engineering"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Engineering')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk8">
          <input id="chk8" type="checkbox" name="Humanities"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Humanities')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk9">
          <input id="chk9" type="checkbox" name="NaturalScience"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.NaturalScience')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk10">
          <input id="chk10" type="checkbox" name="ComputerScience"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.ComputerScience')%>
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk11">
          <input id="chk11" type="checkbox" name="Art"/>
          <span class="icon"></span>
          <span>
            Art
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk12">
          <input id="chk12" type="checkbox" name="Astronomy"/>
          <span class="icon"></span>
          <span>
            Astronomy
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk13">
          <input id="chk13" type="checkbox" name="Citizenship"/>
          <span class="icon"></span>
          <span>
            Citizenship
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk14">
          <input id="chk14" type="checkbox" name="Clasical languages"/>
          <span class="icon"></span>
          <span>
            Clasical languages
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk15">
          <input id="chk15" type="checkbox" name="Computer science"/>
          <span class="icon"></span>
          <span>
            Computer science
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk16">
          <input id="chk16" type="checkbox" name="Cross Curricular education"/>
          <span class="icon"></span>
          <span>
            Cross Curricular education
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk17">
          <input id="chk17" type="checkbox" name="General culture"/>
          <span class="icon"></span>
          <span>
            General culture
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk18">
          <input id="chk18" type="checkbox" name="Economics"/>
          <span class="icon"></span>
          <span>
            Economics
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk19">
          <input id="chk19" type="checkbox" name="Educational administration"/>
          <span class="icon"></span>
          <span>
            Educational administration
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk20">
          <input id="chk20" type="checkbox" name="Ethics"/>
          <span class="icon"></span>
          <span>
            Ethics
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk21">
          <input id="chk21" type="checkbox" name="Foreign Languages"/>
          <span class="icon"></span>
          <span>
            Foreign Languages
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk22">
          <input id="chk22" type="checkbox" name="Geography"/>
          <span class="icon"></span>
          <span>
            Geography
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk23">
          <input id="chk23" type="checkbox" name="Geology"/>
          <span class="icon"></span>
          <span>
            Geology
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk24">
          <input id="chk24" type="checkbox" name="Health education"/>
          <span class="icon"></span>
          <span>
            Health education
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk25">
          <input id="chk25" type="checkbox" name="History"/>
          <span class="icon"></span>
          <span>
            History
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk26">
          <input id="chk26" type="checkbox" name="Home economics"/>
          <span class="icon"></span>
          <span>
            Home economics
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk27">
          <input id="chk27" type="checkbox" name="Law"/>
          <span class="icon"></span>
          <span>
            Law
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk28">
          <input id="chk28" type="checkbox" name="Literature"/>
          <span class="icon"></span>
          <span>
            Literature
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk29">
          <input id="chk29" type="checkbox" name="Philosophy"/>
          <span class="icon"></span>
          <span>
            Philosophy
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk30">
          <input id="chk30" type="checkbox" name="Music"/>
          <span class="icon"></span>
          <span>
            Music
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk31">
          <input id="chk31" type="checkbox" name="Physical education"/>
          <span class="icon"></span>
          <span>
            Physical education
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk32">
          <input id="chk32" type="checkbox" name="Physics"/>
          <span class="icon"></span>
          <span>
            <%=t('competitions.Physics')%>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk33">
          <input id="chk33" type="checkbox" name="Politics"/>
          <span class="icon"></span>
          <span>
            Politics
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk34">
          <input id="chk34" type="checkbox" name="Social sciences"/>
          <span class="icon"></span>
          <span>
            Social sciences
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk355">
          <input id="chk35" type="checkbox" name="Technology"/>
          <span class="icon"></span>
          <span>
            Technology
          </span>
        </label>
      </li>
      <li class="checkbox" href="#">
        <label for="chk36">
          <input id="chk36" type="checkbox" name="Telecommunications"/>
          <span class="icon"></span>
          <span>
            Telecommunications
          </span>
        </label>
      </li>
    </ul>
	</div>
</section>



<script>
  $(function() {
    $("#showMore_tags").click(function(){
      $(".newClass").switchClass( "newClass", "anotherNewClass", 1000 );
      $(".anotherNewClass").switchClass( "anotherNewClass", "newClass", 1000 );
      if($("#showMore_tags").attr("status")=== "showMore"){
        $("#showMore_tags").html('<a><%=t("excursion.actions.show_fewer")%></a>');
        $("#showMore_tags").attr("status", "showFewer");
      }
      else{
        $("#showMore_tags").html('<a><%=t("excursion.actions.show_more")%></a>');
        $("#showMore_tags").attr("status", "showMore");
      }
      return false;
    });
  });
</script>