
    <div class="layoutform">
      <p><%= t('document.body.title2')%></p>

      <!--TITULO-->
      <label><%= t('document.leyend.title')%></label>
      <input type="text" class="title" placeholder="<%= t('document.title_input')%>">
      
      <!--DESCRIPCION-->
      <label><%= t('document.leyend.description')%></label>
      <textarea type="text" class="description" placeholder="<%= t('document.input')%>"></textarea>

      <!--TAGS-->
      <label><%= t('document.leyend.tags')%></label>

      <div class="tagBoxDocument">
         <ul class="resourceTagList"></ul>
      </div>

      <div class="clearfloat"></div>

      <!--Avatar-->
      <label class="new_file_avatar_label"><%= t('document.leyend.avatar')%></label>
      <input class="new_file_avatar" type="file" accept="image/*">
      
      <!--LANGUAGE-->
      <label><%= t('document.leyend.language')%></label>
      <%= select_tag(:language, resource_language_options_for_select(d.language), :class => "language") %>
      
      <!--AGE SLIDER-->
      <label><%= t('document.leyend.recommended_age')%></label>
      <div class="limits">
        <div class="limit1">4</div>
        <div class="limit2">20</div>
      </div>
      <input type="text" class="age-slider" value="" data-slider-min="0" data-slider-max="30" data-slider-step="1" data-slider-value="[4,20]" data-slider-orientation="horizontal" data-slider-tooltip="hide"/>

      <br>
    </div>

    <div class="modal-footer">
      <input type="button" class="btn btn-primary" data-loading-text="<%= t('document.uploading')%>" value="<%= t('document.upload')%>"/>
    </div>