<!--TAB REPOSITORY-->
<div class="tabbable filtered-tabs">
  <ul class="nav nav-tabs tabs-resources-home" >
    <li class="active">
      <a data-toggle="tab" href="#repo-1">
        <%= t('resource.net') %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#repo-2">
        <%= t('resource.my') %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#repo-3">
        <%= t('resource.top') %>
      </a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#repo-4">
        <%= image_tag "icons/star-MENU-active.png" %>
      </a>
    </li>
  </ul>
  <div class="tittle-tabs">
    <%= t('resource.title.other')%>
  </div>
  <div class="clearfloat"></div>
  
  <div class="tab-content">

<!--TAB REPOSITORY CONTENT1-->

    <div id="repo-1" class="tab-pane active">
      <%= render :partial => "common_documents/home_filter", :locals => {:filter_id => "home-resource-filter-net"} %>
      <div id="home-resources-net" class="box-home-repository modal-pivot">
        <% my_network_resources = current_subject_resources(:limit => 6) %>
          <% if my_network_resources.size == 0 %>
            <%#= render :partial => "common_documents/zero_screen" %>
          <% else %>
            <%= render :partial => "common_documents/filter_results",
                         :locals => {:documents => my_network_resources} %>
          <% end %>
      </div>
      <div class="clearfloat"></div>
      <div class="view-all">
        <%= link_to(t('view_all'), url_for([current_user, Document]) + "?scope=net", :class => "btn-view-all") %>
      </div>
    </div>

<!--TAB REPOSITORY CONTENT2-->

    <div id="repo-2" class="tab-pane">
      <%= render :partial => "common_documents/home_filter", :locals => {:filter_id => "home-resource-filter-me"} %>
      <div id="home-resources-me" class=" box-home-repository modal-pivot">
        <img alt="Loading" class="loading" src="/assets/loading.gif" />
      </div>
      <div class="clearfloat"></div>
      <div class="view-all">
        <%= link_to(t('view_all'), [current_subject, Document], :class => "btn-view-all" ) %>
      </div>
    </div>

<!--TAB REPOSITORY CONTENT3-->

    <div id="repo-3" class="tab-pane">
      <input type="hidden" name="filter" onkeyup="$('#home-resources-more').load('/resources/recommended');" />
      <div class="profile-repository-recomended-me">
        <%= t('recsys.recommended.resources.explain_html') %>
      </div>

      <div id="home-resources-more" class="box-home-repository modal-pivot">
        <img alt="Loading" class="loading" src="/assets/loading.gif" />
      </div>
      <div class="view-all">
        <%= link_to(t('view_all'), search_path(:type => "resource"), :class => "btn-view-all" ) %>
      </div>
    </div>

<!--TAB REPOSITORY CONTENT4-->

    <div id="repo-4" class="tab-pane">
      <%= render :partial => "common_documents/home_filter", :locals => {:filter_id => "home-resource-filter-fav"} %>
        <div id="home-resources-fav" class="box-home-repository modal-pivot">
          <img alt="Loading" class="loading" src="/assets/loading.gif" />
        </div>
        <div class="view-all">
          <%= link_to(t('view_all'), url_for([current_user, Document]) + "?scope=like", :class => "btn-view-all") %>
        </div>
    </div>
  </div>
</div>
