<% self.class.send :include, HomeHelper  %>
<section id="left" class="span5">
  <div class="excursions tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#ex-1"><%=t('excursion.other')%></a></li>
      <li class=""><a data-toggle="tab" href="#ex-2"><%=t('excursion.upcomming')%></a></li>
      <li class=""><a data-toggle="tab" href="#ex-3"><%=t('more')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="ex-1" class="tab-pane active">

        <div class="row btn-toolbar">
        <div class="pull-right">
          <input type="text" class="input-medium inline-block ontop" placeholder="filter" name="filter">
          <div class="btn-group">
            <a href="#" data-toggle="dropdown" class="btn link_gray dropdown-toggle">add <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to('Virtual meeting', new_excursion_path)  %></li>
              <li><%= link_to('presentation', new_excursion_path)  %><a href="#"></a></li>
            </ul>
         </div>
        </div>
        </div>

        <% for excursion in current_actor_excursions %>
          <%= render :partial => "excursions/excursion_home",
	             :locals => { :excursion => excursion} %>
        <% end %>

      </div>
      <div id="ex-2" class="tab-pane">
        <p><%=t('excursion.upcomming')%>....</p>
      </div>
      <div id="ex-3" class="tab-pane">



      </div>
    </div>
  </div>
  <div class="row space_center"></div>
  <div class="repository tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#repo-1"><%=t('repository.other')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="repo-1" class="tab-pane active">

        <div class="row btn-toolbar">
          <div class="pull-right">
            <input type="text" class="input-medium inline-block ontop" placeholder="filter"  autofocus="" name="filter">
          </div>
        </div>

        <div id="repository">
          <div class="repositories">
            <ul class="thumbnails">
              <li class="span2">
                <a class="thumbnail thumb_logo_medium" href="#"></a>
                <div class="caption link_gray">
                  <h4><%= link_to('Birds','#')%></h4>
                  <h5><span class="green size16">340</span> views</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--
  <div class="row space_center"></div>
  <div class="organizations tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#org-1"><%#=t('organization.other')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="org-1" class="tab-pane active">
        <div class="row btn-toolbar">
          <div class="pull-right">
            <input type="text" class="input-medium inline-block ontop" placeholder="filter"  autofocus="" name="filter">
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

</section>

<section name="wall" id="right" class="span6 offset1">
  <%= render :partial => "activities/index",
             :locals => { :activities => current_subject.wall(:home).page(params[:page]),
                          :owner => current_subject } %>
</section>
<div class="space_double_center"></div>


