
<section id="left" class="span6">
  <div class="excursions tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#ex-1"><%=t('excursion.others')%></a></li>
      <li class=""><a data-toggle="tab" href="#ex-2"><%=t('excursion.upcomming')%></a></li>
      <li class=""><a data-toggle="tab" href="#ex-3"><%=t('more')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="ex-1" class="tab-pane active">
        <p><%=t('excursion.others')%>....</p>
      </div>
      <div id="2" class="tab-pane">
        <p><%=t('excursion.upcomming')%>....</p>
      </div>
      <div id="3" class="tab-pane">
        <p><%=t('more')%>...</p>
      </div>
    </div>
  </div>

  <div class="row space_center"></div>

  <div class="repository tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#repo-1"><%=t('repository.others')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="repo-1" class="tab-pane active">
        <p><%=t('repository.others')%>....</p>
      </div>
    </div>
  </div>


  <div class="row space_center"></div>


  <div class="organizations tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#org-1"><%=t('organization.others')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="org-1" class="tab-pane active">
        <p><%=t('organization.others')%>....</p>
      </div>
    </div>
  </div>

</section>
<section name="wall" id="right" class="span6">
  <%= render :partial => "activities/index",
             :locals => { :activities => current_subject.wall(:home).page(params[:page]),
                          :owner => current_subject } %>
</section>
<div class="space_double_center"></div>


