<% self.class.send :include, HomeHelper %>
<section id="left" class="span6">


  <div class="excursions tabbable">
  	
    <ul class="nav nav-tabs span4" >

      <li class="active"><a data-toggle="tab" href="#ex-1"><%= t('excursion.net') %></a></li>
      <li class=""><a data-toggle="tab" href="#ex-2"><%= t('excursion.my') %></a></li>
      <li class=""><a data-toggle="tab" href="#ex-3"><%= t('excursion.top') %></a></li>

      <!-- <li class="dropdown active">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <#%=image_tag('network.png') %> <#%= t('excursion.other')%>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
	        <li>
    	        <%#= link_to(image_tag('network.png')+ t('excursion.network')) %>
            </li>
            <li>
        	    <#%= link_to(image_tag('my.png')+ t('excursion.my')) %>
            </li>
         </ul>
       </li>       -->

      <!--<li class=""><a data-toggle="tab" href="#ex-2"><%#=t('excursion.upcomming')%></a></li> -->

      <!--<li class=""><a href="/search?type=excursion"><%#=t('all')%></a></li>  -->
    </ul>
    <div class="pan2 size40 title_menu_home ">
    <%= t('excursion.other')%></div>
    <div class="clearfloat"></div>

    <div class="tab-content">
      <div id="ex-1" class="tab-pane active">
        <%= render :partial => "excursions/filter", :locals => {:show_add => true} %>
        <div class="space_center"></div>
        <div id="excursions" class="row height-tabs-home">
          <% my_network_excursions = current_subject_excursions %>
          <% if my_network_excursions.size == 0 %>
            <%= render :partial => "excursions/zero_screen" %>
          <% else %>
            <%= render :partial => "excursions/filter_results",
                       :locals => {:excursions => my_network_excursions} %>
          <% end %>
        </div>
      </div>
      <!--
      <div id="ex-2" class="tab-pane">
        <%#= render :partial => "excursions/filter"%>
        <div id="upcomming" >
          <%# for excursion in current_actor_excursions %>
            <%#= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
          <%# end %>
        </div>
      </div>
      -->
      <div id="ex-3" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => {:show_add => false, :filter_id => "excursion-filter-more"} %>
        <div class="space_center"></div>
        <div id="more" class="row height-tabs-home">
          <% for excursion in current_subject_excursions(:scope => :more) %>
            <%= render :partial => "excursions/home",
                       :locals => {:excursion => excursion} %>
          <% end %>
        </div>
      </div>
      <div class="more"><%= link_to(t('view_all'), search_path(:type => "excursion")) %></div>
    </div>

  </div>

  <div class="row space_center"></div>

  <div class="repository tabbable">
    <ul class="nav nav-tabs span4" >

      <li class="active"><a data-toggle="tab" href="#repo-1"><%= t('excursion.net') %></a></li>
      <li class=""><a data-toggle="tab" href="#repo-2"><%= t('excursion.my') %></a></li>
      <li class=""><a data-toggle="tab" href="#repo-3"><%= t('excursion.top') %></a></li>
    </ul>
    <div class="span2 size40 title_menu_home ">
      <%= t('resource.title.other')%></div>
    <div class="clearfloat"></div>


      <!--<li class=""><a href="/search?type=resource"><%#=t('all')%></a></li> -->

    <div class="tab-content">
      <div id="repo-1" class="tab-pane active">
        <%= render :partial => "common_documents/home_filter", :locals => {:show_upload => true} %>
        <div class="space_center"></div>
        <div id="repository" class="repositories row height-tabs-home">
          <% my_network_resources = current_subject_resources(:limit => 8) %>
          <% if my_network_resources.size == 0 %>
            <%= render :partial => "common_documents/zero_screen" %>
          <% else %>
            <% for document in my_network_resources %>
              <% if document.is_a? Embed %>
                <%= render :partial => "embeds/home",
                           :locals => {:embed => document,
                                       :div_class => 'content_size'} %>
              <% else %>
                <%= render :partial => "common_documents/home",
                           :locals => {:document => document,
                                       :div_class => 'content_size'} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="repo-2" class="tab-pane">
        <%= render :partial => "links/home_filter" %>
        <div class="space_center"></div>
        <div id="repository-links" class="repositories row height-tabs-home">
          <% for link in current_subject_links(:limit => 8) %>
            <%= render :partial => "links/home",
                       :locals => {:link => link,
                                   :div_class => 'content_size'} %>
          <% end %>
        </div>
      </div>
      <div id="repo-3" class="tab-pane">
        <%= render :partial => "common_documents/home_filter", :locals => {:show_upload => false, :filter_id => "document-filter-more"} %>
        <div class="space_center"></div>
        <div id="repository-more" class="repositories row height-tabs-home">
          <% for document in current_subject_documents({:scope => :more, :limit => 8}) %>
            <%= render :partial => "common_documents/home",
                       :locals => {:document => document,
                                   :div_class => 'content_size'} %>
          <% end %>
        </div>
      </div>
      <div class="more"><%= link_to(t('view_all'), search_path(:type => "resource")) %></div>
    </div>
  </div>
  <!--
  <div class="row space_center"></div>
  <div class="organizations tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#org-1"><%#=t('organization.other')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="org-1" class="tab-pane active">
        <div class="row btn-toolbar">
          <div class="pull-right">
            <input type="text" class="input-medium inline-block ontop" placeholder="filter"  autofocus="" name="filter">
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</section>

<section name="wall" id="home_wall" class="span6">
  <%= render :partial => "activities/index",
             :locals => {:activities => current_subject.wall(:home).page(params[:page]),
                         :owner => current_subject} %>
</section>
<div class="space_double_center"></div>



