<%params[:tab] ||= 'home'%>

<div id="home_wrapper">
  <div class="home">
    <div class="home_style" id="search">
      <div class="tabbable" >
        <ul class="nav nav-tabs">
          <li class="<%= params[:tab]=='home' ? 'active':''%>">
            <a id="home_tab" href="#home" data-toggle="tab">
              <i class="icon-home"></i>
              <span class=" hidden-phone hidden-tablet"><%= t("navigation.home")%></span>
            </a>
          </li>
          <li class="<%= params[:tab]=='net' ? 'active':''%>">
            <a id="net_tab" href="#net" data-toggle="tab" >
              <i class="icon-group"></i>
              <span class=" hidden-phone hidden-tablet"><%=t("navigation.mynetwork") %></span>
            </a>
          </li>
          <li class="<%= params[:tab]=='catalogue' ? 'active':''%>">
            <a id="catalogue_tab" href="#catalogue_tabpane" data-toggle="tab" >
              <i class="icon-tags"></i>
              <span class=" hidden-phone hidden-tablet"><%=t("navigation.catalogue") %></span>
            </a>
          </li>
          <%= render partial: 'help/help_home' %>
        </ul>
      </div>
    </div>
     
    <div class="tab-content">
      <div class="tab-pane <%=params[:tab]=='home' ? 'active':''%>" id="home">
        <div id="first_page_home_tab_ready">
          <%if params[:tab]=="home"%>
            <%= render partial: "home"%>
          <%end%>
        </div>
        <div class="loader_pagination" id="loader_pagination_home" style="display:none">
          <div class="pageless-loader" style="text-align:center;width:100%;">
            <div class="msg" style="font-size:2em">
              <%=t('search.loading')%>
            </div>
            <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
          </div>
        </div>
      </div>

      <div class="tab-pane <%= params[:tab]=='net' ? 'active':''%>" id="net"> 
        <%= render partial: 'excursions/order_by_net' %>
        <div id="net_tab_ready">
          <%if params[:tab]=="net"%>
            <%= render partial: "network", :locals =>{:scope => :net, :page=> params[:page], :sort_by=> params[:sort_by]||"popularity", :prefix_id=>"network"}%>
          <%end%>
        </div>
        <div class="loader_pagination" id="loader_pagination_net" style="display:none">
          <div class="pageless-loader" style="text-align:center;width:100%;">
            <div class="msg" style="font-size:2em">
              <%=t('search.loading')%>
            </div>
            <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
          </div>
        </div>
      </div>   

      <div class="tab-pane <%= params[:tab]=='catalogue' ? 'active':''%>" id="catalogue_tabpane"> 
        <div id="catalogue_tab_ready">
          <% if params[:tab] == 'catalogue'%>
            <%= render :partial => "catalogue/index"%>
          <%end%>
        </div>
        <div class="loader_pagination" id="loader_pagination_catalogue" style="display:none">
          <div class="pageless-loader" style="text-align:center;width:100%; margin-top:50px">
            <div class="msg" style="font-size:2em">
              <%=t('search.loading')%>
            </div>
            <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  var pageless_state = {
      "home":{
        "url": "<%= home_path(:tab=>'home', :sort_by=>'popularity') %>",
        "num_pages":0,
        "current_page":0
      },
      "net":{
        "url": "<%= home_path(:tab=>'net') %>",
        "num_pages":0,
        "current_page":0
      }
  };

  var net_tab_loaded = false;
  var catalogue_tab_loaded = false;
  var home_tab_loaded = false;

  ///////////////
  // Pageless Ajax Handlers
  ///////////////
  function update_pageless_state(tab, num_pages, current_page){
      pageless_state[tab].num_pages = num_pages;
      pageless_state[tab].current_page = current_page;  
  };

  function re_apply_pageless(tab){
    //first remove old pageless
    $.pagelessStop();      
     
    $("#" + tab + "_tab_ready ul").pageless({
      totalPages: pageless_state[tab].num_pages,
      url: get_url_with_sort_by(tab),
      currentPage: pageless_state[tab].current_page,
      loader: '.loader_pagination',
      complete: function(){
      },
      end: function(){
        $('.loader_pagination').hide();
      }
    });
  };

  function get_url_with_sort_by(tab){
    var the_url = pageless_state[tab].url;
    if(tab == "net"){
      the_url = the_url + "&sort_by=" + $("#order_by_selector_" + tab).attr("li_selected");
    }
    return the_url;
  };

  
  ///////////////
  // Catalogue Ajax Handlers
  ///////////////
  var catalogue_charge = catalogue_charge || {};

  function catalogue_state(next_state){
    if (typeof catalogue_charge[next_state] == "undefined"){
      $.ajax({
        type : "GET",
        url : next_state,
        success : function(html){
          $('.loader_pagination').hide(); 
          $("#catalogue_tab_ready").append(html);
          //We add charged states to variable
          //We change actual state
          catalogue_charge[next_state] = html;
        },
        error: function(){
        }
      });
    }
    else {
      $('.loader_pagination').hide();
      $("#catalogue_tab_ready").empty();
      $("#catalogue_tab_ready").append(catalogue_charge[next_state]);
    }
  };

</script>

<%content_for :javascript do%>

    ///////////////
    // My Network
    ///////////////
    $("#net_tab").click(function(){
      if(net_tab_loaded===false){
        $('#loader_pagination_net').show();
        net_tab_loaded = true;
        $.ajax({
          type : "GET",
          url : "<%= home_path(:tab=>'net', :page =>1) %>",
          success : function(html){
            $('#loader_pagination_net').hide();      
            $("#net_tab_ready").append(html);
          },
          error: function(){
            // console.log("error loading net tab");
         }
        });
      } else {
        re_apply_pageless("net");
      }
    });
      
    ///////////////
    // Catalogue
    ///////////////
    $("#catalogue_tab").click(function(){
      $.pagelessStop();
      if(catalogue_tab_loaded===false){
        $('.loader_pagination').show();
        catalogue_tab_loaded = true;
        var next = "<%= catalogue_path(:is_home=> true) %>";
        catalogue_state(next);
      } else {
        $('.loader_pagination').hide();        
      }
    });
    
    ///////////////
    // Home
    ///////////////
    $("#home_tab").click(function(){
      if(home_tab_loaded===false){
        $('#loader_pagination_home').show();
        home_tab_loaded = true;
        $.ajax({
            type : "GET",
            url : "<%= home_path(:tab=>'home', :page =>1) %>",
            success : function(html) {
              $('#loader_pagination_home').hide();      
              $("#first_page_home_tab_ready").append(html);
            },
            error: function(){
              // console.log("error loading home tab");
           }
          });
      } else {
        re_apply_pageless("home");
      }   
    });

    //Reapply backstrech depending on the tab loaded
    <%if !params[:tab] || params[:tab]=="home"%>
      home_tab_loaded = true;
    <%elsif params[:tab]=="net"%>
      net_tab_loaded = true;
    <%else%>
      $("#catalogue_tab").click();
      catalogue_tab_loaded = true;
    <%end%>
<%end%>


