<section id="home">
  <section id="left-home" >

  <!-- EXCURSION -->
    <%= render :partial => "home/excursions" %>
    <div class="row"></div>
  <!--REPOSITORY-->
    <%= render :partial => "home/repository" %>
    <div class="row"></div>
  <!--FOLLOWER-->
    <%= render :partial => "home/followers" %>
    <div class="row"></div>
      <!--FOLLOWER-->
    <%= render :partial => "home/prova" %>
    <div class="row"></div>

  </section>

  </section>

  <!--TIME-LINE-->
  <section id="right-home">
  <%= render partial: 'activities/wall',
             locals: {
               activities: current_subject.wall(:home).page(params[:page_net])
             } %>
  </section>
</section>
