<% self.class.send :include, HomeHelper  %>
<section id="left" class="span6">
  <div class="excursions tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#ex-1"><%=t('excursion.other')%></a></li>
      <!--<li class=""><a data-toggle="tab" href="#ex-2"><%#=t('excursion.upcomming')%></a></li> -->
      <li class=""><a data-toggle="tab" href="#ex-3"><%=t('more')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="ex-1" class="tab-pane active">
        <%= render :partial => "excursions/filter"%>
        <div id="excursions" >
          <%= render :partial => "excursions/filter_results",
                     :locals => { :excursions => current_subject_excursions } %>
        </div>
      </div>
      <!--
      <div id="ex-2" class="tab-pane">
        <%#= render :partial => "excursions/filter"%>
        <div id="upcomming" >
          <%# for excursion in current_actor_excursions %>
            <%#= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
          <%# end %>
        </div>
      </div>
      -->
      <div id="ex-3" class="tab-pane">
        <%= render :partial => "excursions/filter"%>
        <div id="more" >
          <% for excursion in current_subject_excursions(:scope => :more) %>
            <%= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row space_center"></div>

  <div class="repository tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#repo-1"><%=t('resource.title.other')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="repo-1" class="tab-pane active">
        <%= render :partial => "common_documents/filter"%>
        <div id="repository">
          <div class="repositories">
            <% for document in current_subject_documents(:limit => 8) %>
              <%= render :partial => "common_documents/home",
                         :locals => { :document => document, 
                                      :div_class => 'content_size' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="row space_center"></div>
  <div class="organizations tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#org-1"><%#=t('organization.other')%></a></li>
    </ul>
    <div class="tab-content">
      <div id="org-1" class="tab-pane active">
        <div class="row btn-toolbar">
          <div class="pull-right">
            <input type="text" class="input-medium inline-block ontop" placeholder="filter"  autofocus="" name="filter">
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
</section>

<section name="wall" id="home_wall" class="span6">
  <%= render :partial => "activities/index",
             :locals => { :activities => current_subject.wall(:home).page(params[:page]),
                          :owner => current_subject} %>
</section>
<div class="space_double_center"></div>


