<section>
    <nav>
        <article class="article">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2"></div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#"><%= t('excursion.other')%></a>
                        </li>
                        <li>
                            <a href="#"><%= t('activity.timeline')%></a>
                        </li>
                    </ul>
                </div>
            </div>
            </article>
            <article class="article">
                <div class="row-fluid">
                <div class="span12">
                    <img src="images/radio-on.png" width="21" height="21"><%= t('excursion.net') %>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/radio-on.png" width="21" height="21"><%= t('excursion.my') %>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/radio-off.png" width="21" height="21"><%= t('excursion.top') %>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/radio-off.png" width="21" height="21"><img src="images/star-MENU-active.png" width="15" height="15">
                </div>
            </div>
            </article>
            <article class="article">
                <div class="row-fluid">
                <div class="span">
                    <input id="profile-excursion-filter-me" class="input-large mobile" type="text" name="filter" placeholder="filter">
                </div>
            </div>
            </article>
    </nav>
</section>
