<% self.class.send :include, HomeHelper %>
<section id="left" class="span6">


  <div class="excursions tabbable">
  	
    <ul class="nav nav-tabs span4" >
      <li class="active"><a data-toggle="tab" href="#ex-1"><%= t('excursion.net') %></a></li>
      <li class=""><a data-toggle="tab" href="#ex-2"><%= t('excursion.my') %></a></li>
      <li class=""><a data-toggle="tab" href="#ex-3"><%= t('excursion.top') %></a></li>
      <li class=""><a data-toggle="tab" href="#ex-4"><%= image_tag "star-on.png" %></a></li>
    </ul>
    <div class="span2 size40 title_menu_home ">
    <%= t('excursion.other')%></div>
    <div class="clearfloat"></div>

    <div class="tab-content">
      <div id="ex-1" class="tab-pane active">
        <%= render :partial => "excursions/filter", :locals => {:show_add => true} %>
        <div class="space_center"></div>
        <div id="excursions" class="row height-tabs-home">
          <% my_network_excursions = current_subject_excursions %>
          <% if my_network_excursions.size == 0 %>
            <%= render :partial => "excursions/zero_screen" %>
          <% else %>
            <%= render :partial => "excursions/filter_results",
                       :locals => {:excursions => my_network_excursions} %>
          <% end %>
        </div>
      </div>
      <div id="ex-2" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => {:show_add => true, :filter_id => "excursion-filter-me"} %>
        <div class="space_center"></div>
        <div id="excursions-me" class="row height-tabs-home">
          <% my_excursions = current_subject_excursions(:scope => :me) %>
          <% if my_excursions.size == 0 %>
            <%= render :partial => "excursions/my_zero_screen" %>
          <% else %>
            <%= render :partial => "excursions/filter_results",
                       :locals => {:excursions => my_excursions} %>
          <% end %>
        </div>
      </div>
      <div id="ex-3" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => {:show_add => true, :filter_id => "excursion-filter-more"} %>
        <div class="space_center"></div>
        <div id="more" class="row height-tabs-home">
          <% for excursion in current_subject_excursions(:scope => :more) %>
            <%= render :partial => "excursions/home",
                       :locals => {:excursion => excursion} %>
          <% end %>
        </div>
      </div>
      <div id="ex-4" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => {:show_add => true, :filter_id => "excursion-filter-fav"} %>
        <div class="space_center"></div>
        <div id="excursions-me" class="row height-tabs-home">
          <% fav_excursions = current_subject_excursions(:scope => :like) %>
          <% if fav_excursions.size == 0 %>
            <%= render :partial => "excursions/fav_zero_screen" %>
          <% else %>
            <%= render :partial => "excursions/filter_results",
                       :locals => {:excursions => fav_excursions} %>
          <% end %>
        </div>
      </div>
      <div class="more"><%= link_to(t('view_all'), search_path(:type => "excursion")) %></div>
    </div>

  </div>

  <div class="row space_center"></div>

  <div class="repository tabbable">
    <ul class="nav nav-tabs span4" >

      <li class="active"><a data-toggle="tab" href="#repo-1"><%= t('resource.net') %></a></li>
      <li class=""><a data-toggle="tab" href="#repo-2"><%= t('resource.my') %></a></li>
      <li class=""><a data-toggle="tab" href="#repo-3"><%= t('resource.top') %></a></li>
      <li class=""><a data-toggle="tab" href="#repo-4"><%= image_tag "star-on.png" %></a></li>
    </ul>
    <div class="span2 size40 title_menu_home ">
      <%= t('resource.title.other')%></div>
    <div class="clearfloat"></div>


      <!--<li class=""><a href="/search?type=resource"><%#=t('all')%></a></li> -->

    <div class="tab-content">
      <div id="repo-1" class="tab-pane active">
        <%= render :partial => "common_documents/home_filter" %>
        <div class="space_center"></div>
        <div id="repository" class="repositories row height-tabs-home">
          <% my_network_resources = current_subject_resources(:limit => 8) %>
          <% if my_network_resources.size == 0 %>
            <%= render :partial => "common_documents/zero_screen" %>
          <% else %>
            <% for document in my_network_resources %>
              <% if document.is_a? Embed %>
                <%= render :partial => "embeds/home",
                           :locals => {:embed => document,
                                       :div_class => 'content_size'} %>
              <% elsif document.is_a? Link %>
                 <%= render :partial => "links/home",
                            :locals => {:link => document,
                                        :div_class => 'content_size'} %>
              <% else %>
                <%= render :partial => "common_documents/home",
                           :locals => {:document => document,
                                       :div_class => 'content_size'} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="repo-2" class="tab-pane">
        <%= render :partial => "common_documents/home_filter", :locals => {:filter_id => "document-filter-me"} %>
        <div class="space_center"></div>
        <div id="repository-me" class="repositories row height-tabs-home">
          <% my_resources = current_subject_resources({:scope => :me, :limit => 8}) %>
          <% if my_resources.size == 0 %>
            <%= render :partial => "common_documents/my_zero_screen" %>
          <% else %>
            <% for document in my_resources %>
              <% if document.is_a? Embed %>
                <%= render :partial => "embeds/home",
                           :locals => {:embed => document,
                                       :div_class => 'content_size'} %>
              <% elsif document.is_a? Link %>
                 <%= render :partial => "links/home",
                            :locals => {:link => document,
                                        :div_class => 'content_size'} %>
              <% else %>
                <%= render :partial => "common_documents/home",
                           :locals => {:document => document,
                                       :div_class => 'content_size'} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="repo-3" class="tab-pane">
        <%= render :partial => "common_documents/home_filter", :locals => {:filter_id => "document-filter-more"} %>
        <div class="space_center"></div>
        <div id="repository-more" class="repositories row height-tabs-home">
          <% for document in current_subject_resources({:scope => :more, :limit => 8}) %>
            <% if document.is_a? Embed %>
              <%= render :partial => "embeds/home",
                         :locals => {:embed => document,
                                     :div_class => 'content_size'} %>
            <% elsif document.is_a? Link %>
               <%= render :partial => "links/home",
                          :locals => {:link => document,
                                      :div_class => 'content_size'} %>
            <% else %>
              <%= render :partial => "common_documents/home",
                         :locals => {:document => document,
                                     :div_class => 'content_size'} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="repo-4" class="tab-pane">
        <%= render :partial => "common_documents/home_filter", :locals => {:filter_id => "document-filter-fav"} %>
        <div class="space_center"></div>
        <div id="repository-me" class="repositories row height-tabs-home">
          <% fav_resources = current_subject_resources({:scope => :like, :limit => 8}) %>
          <% if fav_resources.size == 0 %>
            <%= render :partial => "common_documents/fav_zero_screen" %>
          <% else %>
            <% for document in fav_resources %>
              <% if document.is_a? Embed %>
                <%= render :partial => "embeds/home",
                           :locals => {:embed => document,
                                       :div_class => 'content_size'} %>
              <% elsif document.is_a? Link %>
                 <%= render :partial => "links/home",
                            :locals => {:link => document,
                                        :div_class => 'content_size'} %>
              <% else %>
                <%= render :partial => "common_documents/home",
                           :locals => {:document => document,
                                       :div_class => 'content_size'} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="more"><%= link_to(t('view_all'), search_path(:type => "resource")) %></div>
    </div>
  </div>
</section>

<section name="wall" id="home_wall" class="span5">
  <%= render :partial => "activities/index",
             :locals => {:activities => current_subject.wall(:home).page(params[:page]),
                         :owner => current_subject} %>
</section>
<div class="space_double_center"></div>



