<% if (can? :update, @event) %>
  <%= render(:partial => 'events/form_poster', :locals => { :event => @event }) %>
<% end %>

<%= form_for @event || Event.new(:owner_id => profile_or_current_subject.actor_id, :interval => 1) do |f| %>
  <%= f.hidden_field :owner_id  %>
  <%= f.hidden_field :start_at %>
  <%= f.hidden_field :end_at %>
  <%= f.hidden_field :all_day %>
  <!--TITULO-->
  <legend><%= t('event.leyend.title')%></legend>
  <%= f.text_field :title, :placeholder => t('event.title_input') %>
  
  <!--DESCRIPCION-->
  <legend><%= t('event.leyend.description')%></legend>
  <%= f.text_area :description, :rows => 5, :placeholder => t('event.description_input') %>

  <!--TYPE-->
  <label><%= t('event.leyend.type')%></label>
  <%= f.radio_button :streaming, false, checked: true %> <%= t('event.type.videoconference') %>
  <%= f.radio_button :streaming, true %> <%= t('event.type.streaming') %>

  <!--EMBED-->
  <label><%= t('document.options.embed')%></label>
  <%= f.text_area :embed, :rows => 5, :placeholder => t('embed.input'), :disabled => true %>
  <script type="text/javascript">
    $("#document-edit #event_streaming_false").on("click", function() {
      $("#document-edit #event_embed").attr("disabled", true);
    });
    $("#document-edit #event_streaming_true").on("click", function() {
      $("#document-edit #event_embed").attr("disabled", false);
    });
    $(document).ready(function(){
      if ($("#document-edit #event_streaming_true").is(':checked')) {
        $("#document-edit #event_embed").attr("disabled", false);
      }
    });
  </script>

  <!--DATE-->
  <legend><%= t('event.leyend.date')%></legend>
    <div id="editdate" class="input-append">
      <input data-format="yyyy-MM-dd" type="text" name="event_day"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>
  <!--HORA INICIO-->
  <legend><%= t('event.leyend.start_time')%></legend>
    <div id="edithourinit" class="input-append">
      <input data-format="hh:mm:ss" type="text" name="event_start_time"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>
  <!--HORA FINALIZACION-->
  <legend><%= t('event.leyend.end_time')%></legend>
    <div id="edithourfinish" class="input-append">
      <input data-format="hh:mm:ss" type="text" name="event_end_time"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>
  <input type="button" class="btn btn-primary" value="<%= t('categories.save')%>"/>
  <%= f.submit t('categories.save'), :id => "saveEvent", :class => "hidden" %>

  <script>
    $(document).ready(function(){
      $(function() {
        $('#edithourinit').datetimepicker({
          pickDate: false
        });
      });
      $(function() {
        $('#edithourfinish').datetimepicker({
          pickDate: false
        });
      });
      $(function() {
        $('#editdate').datetimepicker({
          pickTime: false
        });
      });
      //$("#start").text(new Date(Date.parse("<%=@event.start_at%>")).toLocaleString());
      //var picker = $('#datetimepicker'l).data('datetimepicker');
      // $('#editdate').data('datetimepicker').setLocalDate(new Date(Date.parse("<%=@event.start_at%>")));
      // $('#edithourinit').data('datetimepicker').setLocalDate(new Date(Date.parse("<%=@event.start_at%>")));
      // $('#edithourfinish').data('datetimepicker').setLocalDate(new Date(Date.parse("<%=@event.end_at%>")));


      $("#event input[name='event_day']").val("<%=Time.at(@event.start_at).getutc.strftime('%Y-%m-%d')%>");
      $("#event input[name='event_start_time']").val("<%=Time.at(@event.start_at).getutc.strftime('%H:%M:%S')%>");
      $("#event input[name='event_end_time']").val("<%=Time.at(@event.end_at).getutc.strftime('%H:%M:%S')%>");
      var saveEventButton = $("#event input[type='submit']");
      var eventButton = $("#event input[value=<%= t('categories.save')%>][type='button'][class='btn btn-primary']");
      $(eventButton).click(function(event) {
        if ($("#event input[name='event[title]']").val() == "") {
          $("#event .errors").remove();
          $("#event .new_event").after("<div class='errors'><%= t('event.title_input')%></div>");
        } else {
          // $("#event input[name='event[start_at]']").val($("#event input[name='event_day']").val() + " " + $("#event input[name='event_start_time']").val());
          $("#event input[name='event[start_at]']").val(new Date(Date.parse($("#event input[name='event_day']").val() + " " + $("#event input[name='event_start_time']").val())));
          if ($("#event input[name='event_end_time']").val() < $("#event input[name='event_start_time']").val()) {
            var d = new Date($("#event input[name='event_day']").val());
            d.setDate(d.getDate()+1);
            // $("#event input[name='event[end_at]']").val(d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate() + " " + $("#event input[name='event_end_time']").val());
            $("#event input[name='event[end_at]']").val(new Date(Date.parse(d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate() + " " + $("#event input[name='event_end_time']").val())).toUTCString());
          } else {
          //$("#event input[name='event[end_at]']").val($("#event input[name='event_day']").val() + " " + $("#event input[name='event_end_time']").val());
          $("#event input[name='event[end_at]']").val(new Date(Date.parse($("#event input[name='event_day']").val() + " " + $("#event input[name='event_end_time']").val())).toUTCString());
          }
          $(saveEventButton).click();
        }
      });
    });

  </script>
  
<% end %>