<li class="box-item event-item">
  <%= link_to(event) do %>
    <div class="container-img">
      <div class="dummy"></div>
      <div class="element resource-center">
        <div class="img-box resource-center" id="event-<%=event.id%>">
          <div class="event">
            <i class='icon-facetime-video'></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script>
    $("#event-<%=event.id%>").backstretch("<%=event_raw_thumbail(event)%>");  
  </script>    

<%# link_to excursion_thumb_for(excursion), excursion, :class => "img-box" %>
<!--INFO excursuion-->
  <div class="info">
<!--Title -->
    <div class="name">
      <%= link_to event.title, event %>
    </div>
<!--Autor -->
    <div class="author"> 
      <span class="by"><%=t('by')%></span>
      <%= link_to event.author.name, event.author.subject %>
    </div>
    <!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">  
        <% if event.post_activity%>
          <div class="count"><%=event.post_activity.likes.count.to_s%></div>
          <%= link_like(event.post_activity, :title =>t('excursion.actions.favorite'))%>
        <%else%>
          <div class="count">0</div>
        <%end%>
      </div>
      <!--views -->
      <div class="views">
        <%=event.visit_count.to_s%>
        <i class="icon-eye-open"></i>
        <%#=t('follow.views')%>
      </div>
    </div>
  </div>
</li>

