<!-- Button to trigger modal -->
<!-- Modal -->
<div id="AddEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="AddCategoryLabel"><%= t('event.main_title')%></h3>
  </div>

  <div class="modal-body">
    <%#= form_for Event.new(:owner_id => Actor.normalize_id(current_user)) do |f| %>
    <%= form_for @event || Event.new(:owner_id => profile_or_current_subject.actor_id, :interval => 1) do |f| %>
      <%= f.hidden_field :owner_id  %>
      <%= f.hidden_field :start_at %>
      <%= f.hidden_field :end_at %>
      <%= f.hidden_field :all_day %>
      <!--TITULO-->
      <legend><%= t('event.leyend.title')%></legend>
      <%= f.text_field :title, :placeholder => t('event.title_input') %>
      
      <!--DESCRIPCION-->
      <legend><%= t('event.leyend.description')%></legend>
      <%= f.text_area :description, :rows => 5, :placeholder => t('event.description_input') %>

      <!--DATE AND TIME -->
      <legend><%= t('event.leyend.date_and_time')%></legend>
      <input type="date" name="event_day">
      <%= t('event.leyend.start_time')%> <input type="time" name="event_start_time">
      <%= t('event.leyend.end_time')%> <input type="time" name="event_end_time">

      <script>
        $(document).ready(function(){
          var saveEventButton = $("#AddEvent input[type='submit']");
          var eventButton = $("#AddEvent input[value=<%= t('categories.save')%>][type='button'][class='btn btn-primary']");
          $(eventButton).click(function(event) {
            if ($("#AddEvent input[name='event[title]']").val() == "") {
              $("#AddEvent .errors").remove();
              $("#AddEvent .new_event").after("<div class='errors'><%= t('event.title_input')%></div>");
            } else {
              $("#AddEvent input[name='event[start_at]']").val($("#AddEvent input[name='event_day']").val() + " " + $("#AddEvent input[name='event_start_time']").val());
              $("#AddEvent input[name='event[end_at]']").val($("#AddEvent input[name='event_day']").val() + " " + $("#AddEvent input[name='event_end_time']").val());
              $(saveEventButton).click();
            }
          });
        });

      </script>

  </div><!-- CIERRA BODY-->

  <!-- FOOTER -->
  <div class="modal-footer">
      <!--<a href="#" id="foo" role="button" class="btn btn-primary">Ayuda</a>-->
      <!--<b id="foo" rel="popover">Ayuda </b>-->
      <input type="button" class="btn btn-primary" value="<%= t('categories.save')%>"/>
      <%= f.submit t('categories.save'), :id => "saveEvent", :class => "hidden" %>
    <% end %>
  </div>
</div>

<!-- SCRIPTS -->

