<div class="left-info">
  <div class="author">
    <div class="avatar">
      <%= link_to @event.author.subject do %>
      <%= image_tag @event.author.logo.url(:small) %>
      <% end %>
    </div>
  <div class="right-name">
    <p><%= truncate_name(@event.author.name, :length => 50) %></p>

    <div class="add">
      <% if user_signed_in?%>
        <%= contact_button(current_subject.contact_to!(@event.author)) %>
      <%else%>
        <%= contact_button(@event.author) %>
      <%end%>
    </div>
  </div>
</div>
</div>

<div id="effect" class="anotherNewClass ui-corner-all">
  <dl class="dl-horizontal">
    <%# unless document.description.blank? %>
      <dt><%= t 'document.info.description' %></dt>
      <dd><%= @event.description %></dd>
    <%# end%>

      <dt>Empieza el: </dt>
      <dd id="start"><%= @event.start_at %></dd>

      <dt>Termina el: </dt>
      <dd id="end"><%= @event.end_at %></dd>

      <script>
        $("#start").text(new Date(Date.parse("<%=@event.start_at.iso8601%>")).toLocaleString());
        $("#end").text(new Date(Date.parse("<%=@event.end_at.iso8601%>")).toLocaleString());
      </script>

      <!--div class="day">
        <%= @event.start_at.day %>
      </div>
      <div class="month">
        <%#= l @event.start_at, :format => "%B" %>
      </div>
      <div class="hour">
        <%#= l @event.start_at, :format => "%H:%M" %>
      </div>
      <div class="hour">
        <%#= l @event.end_at, :format => "%H:%M" %>
      </div-->
    <%# unless document.tag_list.blank? %>
      <!--dt><%#= t 'document.info.tags' %></dt>
     <dd><%#= tag_list document %></dd-->
    <%#end%>

  </dl>
</div>


