<div class="quick_search">
  
  <div class="photo">
    <%= link_to(event) do %>
      <div class="container-img">
          <div class="img-box resource-center" id="event-<%=event.id%>">
            <div class="event">
              <i class='icon-facetime-video'></i>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  
  <script>
      document.getElementById("event-<%=event.id%>").style.backgroundImage = "url('<%=event_raw_thumbail(event)%>')";
  </script>

  <div class="data">
    <div class="name">
      <%= link_to event.title, event %>
    </div>
    <div class="author"> 
      <%= link_to event.author.name, event.author.subject %>
    </div>
  </div>

</div>