<%= div_for link, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    $('#link_<%= link.id.to_s %>').parents('.thumbnails').children().first().html('<%= j link_to (link.image ? image_tag(link.image, :size =>"75x75") : raw("<i class=\"icon_repository75-75_link\"></i>")), link, :class => "" %>');
  <% end %>

  <ul class="thumbnails">
    <li class="span9">
      <div class="title">
        <div class="ellipsis liquid_text95">
          <%= link_to (link.title.blank? ? link.url : link.title), link.url %>
        </div>
      </div> 
    </li>
  </ul>

<% end %>

<div class="clearfloat"></div>
