<h1><%=I18n.t("private_student.form_title")%></h1>
<br/>
<%= form_for PrivateStudentGroup.new, :html => { :class => "new_private_student_group" }, :remote => false do |f| %>
  <%= f.hidden_field :owner_id, :value => current_subject.actor_id %>
  <p>
    Name:&nbsp;&nbsp;
    <%= f.text_field :name %>
  </p>
  <p>
    <%=I18n.t("private_student.learner_number")%>:&nbsp;&nbsp;
    <input type="number" name="n" min="1" max="100" value="25"/>
  </p>
  <%= f.submit t('document.upload') , :class => "btn btn-primary", :disabled => false %>
<% end %>

<a href="<%=private_student_groups_path%>"><p>Come back</p></a>