<%= div_for contact, :class => 'row' do %>
  <ul class="thumbnails span3">
    <li class="span1">
      <a data-toggle="modal" href="#user-modal-<%= contact.receiver.slug %>" class="user-modal-button-<%= contact.receiver.slug %> container"><%= image_tag(contact.receiver.logo.url(:profile)) %></a>
    </li>
    <li class="span">
      <div class="caption ellipsis">
      <div class="title_suggestion">
        <h4 class="w120px"><a data-toggle="modal" href="#user-modal-<%= contact.receiver.slug %>" class="user-modal-button-<%= contact.receiver.slug %> contact_link"><%= contact.receiver_subject.name %></a></h4>
      </div>
      <a class="close_suggestion"> <%= link_to(image_tag('close.png'), contact, :method => :delete, :remote => true )%></a>
      <div class="follwrs-ing">
        <div class="follwrs upfoll"><%= t('follow.followers') %>: <%= link_to contact.receiver_subject.followers.count, [contact.receiver_subject, "followers"] %></div>
        <div class="folling upfoll"><%= t('follow.followings') %>: <%= link_to contact.receiver.following_actor_objects.includes(:actor).count, [contact.receiver_subject, "followings"] %></div>
      </div>
      <div class="send_messag size10 red-2 upfoll users_btn_follow"><%=contact_to(contact.receiver) %></div>
      </div>
    </li>
  </ul>
  <div class="space_center">
  </div>
  <%= javascript_tag do %>
    <%= modal_for(contact.receiver_subject) %>
  <% end %>
<% end %>


