<%= div_for contact, :class => 'follower-item' do %>
  <%= javascript_tag do %>
    <%= modal_for(contact.receiver_subject) %>
  <% end %>
  <ul class="thumbnails">
      <li class="avatar">
        <a data-toggle="modal" href="#user-modal-<%= contact.receiver.slug %>" class="user-modal-button-<%= contact.receiver.slug %> container modal-trigger">
          <%= image_tag(contact.receiver.logo.url(:profile)) %>
        </a>
      </li>
      <li class="info_user">
        <div class="name">
          <a data-toggle="modal" href="#user-modal-<%= contact.receiver.slug %>" class="user-modal-button-<%= contact.receiver.slug %> contact_link modal-trigger">
              <%= contact.receiver_subject.name %>
          </a>
        </div>
        <% if defined? close_button %>
          <a class="action"> 
            <%= link_to(image_tag('icons/close.png'), contact, :method => :delete, :remote => true, :class =>"action" )%>
          </a>
        <% end %>
        <div class="clearfloat"></div>
        <div class="follwrs-ing">
          <div class="follwrs upfoll"><%= t('follow.followers') %>: <%= link_to contact.receiver_subject.followers.count, [contact.receiver_subject, "followers"] %></div>
          <div class="folling upfoll"><%= t('follow.followings') %>: <%= link_to contact.receiver.following_actor_objects.includes(:actor).count, [contact.receiver_subject, "followings"] %></div>
        </div>
        <div class="btn-item-follow">
          <%=contact_to(contact.receiver) %>
        </div>
      </li>
    </ul>

<% end %>


