<%= div_for contact, :class => 'follower-item' do %>
<div class="follower-item">
  <ul class="thumbnails">
      <li class="avatar">
        <%= link_to image_tag(contact.receiver.logo.url(:profile)), contact.receiver.user %>
      </li>
      <li class="info_user">
        <div class="name">
              <%= link_to contact.receiver.name, contact.receiver.user %>
        </div>
        <div class="btn-item-follow">
          <%=contact_to(contact.receiver) %>
        </div>
        <div class="follwrs-ing">
          <div class="follwrs upfoll"><%= t('follow.followers') %>: <%= link_to contact.receiver_subject.followers.count, [contact.receiver_subject, "followers"] %></div>
          <div class="folling upfoll"><%= t('follow.followings') %>: <%= link_to contact.receiver.following_actor_objects.includes(:actor).count, [contact.receiver_subject, "followings"] %></div>
        </div>

      </li>
    </ul>
</div>
<% end %>


