<%= div_for suggestion, :class => 'row' do %>
  <ul class="thumbnails span3">
    <li class="span1">
      <%= link_to(image_tag(suggestion.receiver.logo.url(:profile)),
                  suggestion.receiver_subject, :class => "container") %>
    </li>
    <li class="span">
      <div class="caption">
        <div class="title_suggestion size13 link_gray">
          <%= link_to(truncate_name(suggestion.receiver_subject.name), suggestion.receiver_subject, :class => "") %>
        </div>
        <div class="close link_pink"><%= link_to(image_tag('close.png'), suggestion, :method => :delete, :remote => true, :class =>"" )%></div>
        <div class="follwrs-ing">
          <div class="follwrs upfoll"><%=suggestion.receiver_subject.followers.count  %>  <%= t('follow.followers') %></div>
        </div>
        <div class="send_messag size10 red-2 upfoll"><%=contact_to(suggestion.receiver) %></div>
      </div>
    </li>
  </ul>
  <div class="space_center">
  </div>
<% end %>