<div class="delivery">
  <%if wa_assignment.with_dates%>
    <div class="delivery_time">
      <span><%=t('workshop.activities.assignment.open_date')%></span>
      <p><%=wa_assignment.open_date%></p>
      <span><%=t('workshop.activities.assignment.due_date')%></span>
      <p><%=wa_assignment.due_date%></p>
    </div>
  <%end%>

  <%=raw(wa_assignment.fulltext)%>

  <div>
    <span><%=t('workshop.activities.assignment.contribution_message')%></span>

    <%= link_to t('workshop.activities.assignment.add_writing'),  new_contribution_path(:type => "writing", :wa_assignment_id=>wa_assignment.id), :class => 'btn btn-primary' %>

    <%= form_for Contribution.new, :html => { :multipart => true }, :remote => false do |f| %>
      <%= f.hidden_field :wa_assignment_id, :value => wa_assignment.id %>
      <%= f.hidden_field :type, :value => "document" %>
      <input class="contribution_file_input" name="document[file]" type="file">
      <%= f.submit t('button.save'), :id=>"" ,:class => "contribution"%>
    <% end %>
  </div>
</div>