<div class="delivery">
  <h3 class="title_WS"><%=t('workshop.activities.assignment.title')%></h3>  
  <%if wa_assignment.with_dates%>
    <div class="delivery_time">
      <span><%=t('workshop.activities.assignment.open_date')%></span>
      <p><%=wa_assignment.open_date.strftime("%d %B %Y")%></p>
      <span><%=t('workshop.activities.assignment.due_date')%></span>
      <p><%=wa_assignment.due_date.strftime("%d %B %Y")%></p>
    </div>
  <%end%>

  <%=raw(wa_assignment.fulltext)%>

  <%= render partial: "contributions/submit_contributions", locals:  { :wa_assignment => wa_assignment } %>

</div>