<div id="" class="">
	<%if wa_assignment.with_dates%>
		<span><%=t('workshop.activities.assignment.open_date')%></span><br/>
		<%=wa_assignment.open_date%><br/>
		<span><%=t('workshop.activities.assignment.due_date')%></span><br/>
		<%=wa_assignment.due_date%><br/>
	<%end%>

	<span><%=t('workshop.activities.assignment.content')%></span>
	<%=raw(wa_assignment.fulltext)%>

	<div class="">
		<span><%=t('workshop.activities.assignment.contribution_message')%></span>
	
    	<%= link_to t('workshop.activities.assignment.add_writing'),  new_contribution_path(:wa=>wa_assignment.id), :class => 'btn btn-primary' %>
		<%#= form_for(@workshop) do |f| %>
		  <%#= f.hidden_field :draft, :value => !@workshop.draft %>
		  <%#= f.submit (@workshop.draft ? "Publicar" : "Retirar") %>
		<%#end%>
  	</div>

</div>