<div>
  <%= form_for wa_assignment, :html => { :id => "edit_wa_assignment_#{wa_assignment.id}" }, :remote => false do |f| %>
    <%= f.text_area :fulltext, :id=> "edit_wa_assignment_#{wa_assignment.id}_fulltext"%>
    <%= f.hidden_field :plaintext, :value => "", :id => "edit_wa_assignment_#{wa_assignment.id}_plaintext"%>
    <%= f.submit t('save'), :class => "hide", :id => "edit_wa_assignment_#{wa_assignment.id}_submitbutton"%>
  <% end %>
  <input type="button" id="edit_wa_assignment_<%=wa_assignment.id%>_button" class="btn btn-primary" data-loading-text="<%= t('saving')%>" value="<%= t('save')%>"/>
</div>

<%=render :partial => "shared/ckeditor_apply", :locals => {:the_id=> "edit_wa_assignment_#{wa_assignment.id}_fulltext"} %>

<script>
  $(document).ready(function(){
    var uploadButton = $("#edit_wa_assignment_<%=wa_assignment.id%>_button");
    $(uploadButton).click(function(event){
      set_ckeditor_content_full_and_plaintext("edit_wa_assignment_<%=wa_assignment.id%>_fulltext","edit_wa_assignment_<%=wa_assignment.id%>_plaintext");
      $("#edit_wa_assignment_<%=wa_assignment.id%>_submitbutton").click();
    });
  });
</script>

<div>
  <span><%=t('workshop.activities.assignment.contribution_message')%></span>
  <% wa_assignment.available_contributions_array.each do |contribution_type| %>
    <%= render partial: "contributions/wassignment_#{contribution_type}",
             locals:  { :wa_assignment => wa_assignment, :editMode => true }  %>
  <% end %>
</div>