<%= div_for document, :class => 'row-fluid' do %>
  <ul class="thumbnails">
    <li class="span3">
      <%= link_to thumb_for(document, 75), excursion, :class => "container" %>
    </li>
    <li class="span9">
      <div class="title">
        <h4><%= truncate_name(document.title, :length => 35) %></h4>
     </div>

      <p><%= simple_format auto_link(document.description) %></p>
      <p><%= link_to t('details.msg'), document, :class => "attachment_text_link" %></p>
    </li>
  </ul>
<% end %>

<div class="clearfloat"></div>

