<%= div_for document, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    $('#document_<%= document.id.to_s %>').parents('.thumbnails').children().first().html('<%= j link_to  raw("<i class='icon75-default'></i>"), download_document_path(document), :class => "" %>');
  <% end %>

  <ul class="thumbnails">
    <li class="span9">
      <div class="title">
        <h4 class="bold"><%= link_to truncate_name(document.title, :length => 35), download_document_path(document) %></h4>
     </div>
    </li>
  </ul>
<% end %>

<div class="clearfloat"></div>

