<div class ="inline">

<%= f.label :title %>
</div>

<div id="new_document_title_wrapper">
  <%= f.text_field :title %>

</div>


<%= f.text_area :description,:cols => 10, :rows => 3, :id => "input_activities_document", :size => 85, :class => "row-fluid-90" %>

<%= f.file_field :file %>


<%= javascript_tag do %>
  $(function() {
    $('#new_document_title_wrapper').hide();
    $('#document_file').change(function(){
      $('#new_document_title_wrapper').show();
      $("#document_title").val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
  });
<% end %>
