<% profile_subject ||= current_subject %>

<% content_for :title do %>
  <%= "#{ profile_subject && profile_subject.name + ': ' }#{ t('repository.title') }" %>
<% end %>

<% sidebar %>

<% if profile_subject %>
  <%= location(
        link_to(profile_subject.name, polymorphic_path(profile_subject), :remote => true),
        link_to(t('repository.title'), polymorphic_path([profile_subject, controller.controller_name]), :remote => true)
      ) %>
<% else %>
  <%= location(
        link_to(t('repository.title'), polymorphic_path(controller.controller_name), :remote => true)
      ) %>
<% end %>

<% if profile_subject %>
  <% toolbar :profile, :subject => profile_subject %>
<% elsif user_signed_in? %>
  <% toolbar %>
<% end %>

<!--tabs-->
<div id="new_file_only" class=" tabs-resources-new">

	<div class="tabbable">
		<ul class="nav nav-tabs ">
			<li class="active">
				<a data-toggle="tab" href="#docs-1" id="upload_file"><%= t('document.document') %></a>
			</li>
			<li>
			  <a data-toggle="tab" href="#docs-2" id="upload_link"> <%= t('link.other') %></a>
			</li>
			<li>
				<a data-toggle="tab" href="#docs-3" id="upload_embed"> <%= t('embed.embed') %></a>
			</li>
		</ul>
	</div>
</div>

<!--help-->


<div class="box_help">
  <%= t('document.help.title')%>
  <div class="text_help">
    <%= t('document.help.info1_html')%>  <br/>
    <%= t('document.help.info2_html')%>  <br/>
    <%= t('document.help.info3_html')%>  <br/>
    <%= t('document.help.info4_html')%>  <br/>
    <%= t('document.help.info5_html')%>  <br/>
    <%= t('document.help.info6_html')%>  <br/>
    <%= t('document.help.info7_html')%>  <br/>
    <%= t('document.help.info8_html')%>
  </div>
</div>

<!--  -->

<!--menu type of resource-->
<div class="repository tabbable ">
  <div class="tab-content">
  	
		<!-- Tags preloaded -->
    <%@tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc")%>
    <ul id="preloadTagList" style="display:none">
      <%@tags.each do |tag| %>
        <li><%=tag.name%></li>
      <%end%>
    </ul>

    <!-- User tags -->
    <%@user_tags = current_user.tags%>
    <ul id="preloadUserTagList" style="display:none">
      <%@user_tags.each do |tag| %>
        <li><%=tag.name%></li>
      <%end%>
    </ul>

<!--  -->

<!-- FILES TAB1 -->

    <div id="docs-1" class="tab-pane active">
      <div id="formulate-new">
        <div class="box_gray1 ">
          <div class="box_gray2">
            <div class="box_gray3">
              <div class="box_white new-resource-box">
                <div class="campos">

<!--open file browser-->
           
                  <% d = Document.new %>
                  <% d.owner_id = Actor.normalize_id(current_user) %>
                  <%= form_for d, :namespace => 'new_file_only', :remote => false do |f| %>
                  <%= f.hidden_field :owner_id %>
                  <%= f.file_field :file %>
                  <div id="new_file_only_wrapper">
        
<!--title-->
                    <label class="text-tittle" for="tittle">
                      <%= f.label t('document.info.title') %>
                    </label>
                      <%= f.text_field :title, :class => "" %>
                    <div class="line"></div>

<!--description-->

                    <label class="text-tittle" for="description">
                      <%= f.label t('document.info.description') %>
                    </label>
                      <%= f.text_area :description, :cols => 10, :rows => 5, :class => "" %>
                    <div class="line"></div>
 	
<!--tags-->
                    <label class="text-tittle" for="tags">
                      <%= f.label t('document.info.tags.title') %>
                    </label>

                    <input type="hidden" name="document[tag_list][]"></input>
                    <div class="tagBoxDocument span">
                       <ul class="tagList"></ul>
                     </div>
                     <div class="clearfloat"></div>
                    <div class="line"></div>
                    <div class="clearfloat"></div>


<!--Language-->

                    <label class="text-tittle" for="language">
                      <%= f.label t('lang.title') %>
                    </label>
                    <select class="" name="document[language]">
      	              <option value="" selected="1">(<%= t('lang.independent') %>)</option>
      	              <option value="de">Deutsch</option>
      	              <option value="en">English</option>
      	              <option value="es">Español</option>
      	              <option value="fr">Français</option>
      	              <option value="it">Italiano</option>
      	              <option value="pt">Português</option>
      	              <option value="ru">Русский</option>
      								<option value="ot"><%= t('lang.others') %></option>
      	            </select>
                    <div class="line"></div>

<!-- Age (With slider) -->
                    <div class="form">
                      <div class="text-tittle">
                        <%= f.label t('document.info.age')%>
                      </div>
                      <div class="slider-new">
                        <input type="text" class="age"/>
                        <input type="hidden"  name="document[age_min]"/>
                        <input type="hidden"  name="document[age_max]"/>
                        <div class="slider-new-range position-new">
                          <div class="slider-range"></div>
                        </div>
                      </div>
                    </div>
      	
<!--btn-->

                  </div>
                </div>
              </div>
          	<div class="accept-btn new-file">
          	  <%= f.submit t('button.save'), :class => "btn btn-primary", :tab => "file" %>
          	</div>

      	    <% end %>
	                
                
              
            </div>
          </div>
        </div>
      </div>
    </div>


<!--  -->


<!--  -->

<!-- LINKS TAB2 -->
    <div id="docs-2" class="tab-pane ">
      <div id="formulate-new">
        <div class="box_gray1 ">
          <div class="box_gray2">
            <div class="box_gray3">
              <div class="box_white new-resource-box">
                <div class="campos">

<!--open file browser-->

                  <% d = Link.new %>
                  <% d.owner_id = Actor.normalize_id(current_user) %>
                  <%= form_for d, :namespace => 'new_file_only', :remote => false do |f| %>
                  <%= f.hidden_field :owner_id %>
                  <%= f.hidden_field :callback_url %>
                  <%= f.hidden_field :loaded %>
                  <%= f.hidden_field :image %>

                  <div id="new_file_only_wrapper">
        
<!--URL-->
                    <label class="text-tittle" for="url">
                      <%= f.label "URL" %> 
                    </label>
                      <%= f.text_field :url, :class => "" %>
                    <div class="line"></div>

<!--title-->
                    <label class="text-tittle" for="tittle">
                      <%= f.label t('document.info.title') %>
                    </label>
                      <%= f.text_field :title, :class => "" %>
                    <div class="line"></div>

<!--description-->

                    <label class="text-tittle" for="description">
                      <%= f.label t('document.info.description') %>
                    </label>
                      <%= f.text_area :description, :cols => 10, :rows => 5, :class => "" %>
                    <div class="line"></div>

<!--tags-->
                    <label class="text-tittle" for="tags">
                      <%= f.label t('document.info.tags.title') %>
                    </label>

                    <input type="hidden" name="link[tag_list][]"></input>
                    <div class="tagBoxDocument span">
                       <ul class="tagList"></ul>
                     </div>
                     <div class="clearfloat"></div>
                    <div class="line"></div>
                    <div class="clearfloat"></div>

<!--Language-->

                    <label class="text-tittle" for="language">
                      <%= f.label t('lang.title') %>
                    </label>
                    <select class="" name="link[language]">
                      <option value="" selected="1">(<%= t('lang.independent') %>)</option>
                      <option value="de">Deutsch</option>
                      <option value="en">English</option>
                      <option value="es">Español</option>
                      <option value="fr">Français</option>
                      <option value="it">Italiano</option>
                      <option value="pt">Português</option>
                      <option value="ru">Русский</option>
                      <option value="ot"><%= t('lang.others') %></option>
                    </select>
                    <div class="line"></div>

<!-- Age (With slider) -->

                    <div class="form">
                      <div class="text-tittle">
                        <%= f.label t('document.info.age')%>
                      </div>
                      <div class="slider-new">
                        <input type="text" class="age"/>
                        <input type="hidden"  name="link[age_min]"/>
                        <input type="hidden"  name="link[age_max]"/>
                        <div class="slider-new-range position-new">
                          <div class="slider-range"></div>
                        </div>
                      </div>
                    </div>
        
<!--btn-->

                  </div>
                </div>
              </div>
            <div class="accept-btn new-file">
              <%= f.submit t('button.save'), :class => "btn btn-primary ", :tab => "link" %>
            </div>

            <% end %>
                  
                
              
            </div>
          </div>
        </div>
      </div>
    </div>



<!-- EMBED TAB3 -->

    <div id="docs-3" class="tab-pane ">
      <div id="formulate-new">
        <div class="box_gray1 ">
          <div class="box_gray2">
            <div class="box_gray3">
              <div class="box_white new-resource-box">
                <div class="campos">
                  
<!--open file browser-->
	               <% d = Embed.new %>
	               <% d.owner_id = Actor.normalize_id(current_user) %>
	               <%= form_for d, :namespace => 'new_file_only', :remote => false do |f| %>
	               <%= f.hidden_field :owner_id %>
                  <div id="new_file_only_wrapper">
  
<!--Embed-->

                    <label class="text-tittle" for="embed">
                      <%= f.label "Embed" %>
                    </label>
                      <%= f.text_field :fulltext, :class => "" %>
                    <div class="line"></div>

<!--title-->

                    <label class="text-tittle" for="tittle">
                      <%= f.label t('document.info.title') %>
                    </label>
                      <%= f.text_field :title, :class => "" %>
                    <div class="line"></div>

<!--description-->

                    <label class="text-tittle" for="description">
                      <%= f.label t('document.info.description') %>
                    </label>
                      <%= f.text_area :description, :cols => 10, :rows => 5, :class => "" %>
                    <div class="line"></div>

<!--tags-->
                    <label class="text-tittle" for="tags">
                      <%= f.label t('document.info.tags.title') %>
                    </label>

                    <input type="hidden" name="embed[tag_list][]"></input>
                    <div class="tagBoxDocument span">
                       <ul class="tagList"></ul>
                     </div>
                     <div class="clearfloat"></div>
                    <div class="line"></div>
                    <div class="clearfloat"></div>


<!--Language-->

                    <label class="text-tittle" for="language">
                      <%= f.label t('lang.title') %>
                    </label>
                    <select class="" name="embed[language]">
                      <option value="" selected="1">(<%= t('lang.independent') %>)</option>
                      <option value="de">Deutsch</option>
                      <option value="en">English</option>
                      <option value="es">Español</option>
                      <option value="fr">Français</option>
                      <option value="it">Italiano</option>
                      <option value="pt">Português</option>
                      <option value="ru">Русский</option>
                      <option value="ot"><%= t('lang.others') %></option>
                    </select>
                    <div class="line"></div>

<!-- Age (With slider) -->

                    <div class="form">
                      <div class="text-tittle">
                        <%= f.label t('document.info.age')%>
                      </div>
                      <div class="slider-new">
                        <input type="text" class="age"/>
                        <input type="hidden"  name="embed[age_min]"/>
                        <input type="hidden"  name="embed[age_max]"/>
                        <div class="slider-new-range position-new">
                          <div class="slider-range"></div>
                        </div>
                      </div>
                    </div>
        
<!--btn-->

                  </div>
                </div>
              </div>
            <div class="accept-btn new file">
              <%= f.submit t('button.save'), :class => "btn btn-primary", :tab => "embed" %>
            </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

		
	<!-- Close tab_content div -->	
  </div>
	
</div>


	<%= content_for :javascript do %>	
	  $(document).ready(function() {
			$("#new_file_only_link_url").watermark(I18n.t('url.input'), "#666");
			$("#new_file_only_embed_fulltext").watermark(I18n.t('embed.input'), "#666");

	    $("#new_file_only_document_title").watermark(I18n.t('document.title_input'), "#666");
			$("#new_file_only_link_title").watermark(I18n.t('document.title_input'), "#666");
			$("#new_file_only_embed_title").watermark(I18n.t('document.title_input'), "#666");
		
	    $("#new_file_only_document_description").watermark(I18n.t('document.input'), "#666");
			$("#new_file_only_link_description").watermark(I18n.t('document.input'), "#666");
			$("#new_file_only_embed_description").watermark(I18n.t('document.input'), "#666");
			
	    $('#new_file_only_document_file').change(function(){
	      $("#new_file_only_document_title").val($(this).val().replace(/C:\\fakepath\\/i, ''));
	    });
			
	    //$('#new_file_only_document_file').trigger('click');
			
			
			//Prevent outline in selects
			$("select").change(function() {
        $(this).blur();
      });
			
			//Sliders
			$( ".slider-range" ).slider({
	      range: true,
	      min: 0,
	      max: 30,
	      values: [ 4, 20 ],
	      slide: function( event, ui ) {
				  var input = $(this).parent().parent().find("input[type=text]")
	        $( input ).val( + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
	      }
	    });
	    $( ".age" ).val( $( ".slider-range" ).slider( "values", 0 ) +
	      " - " + $( ".slider-range" ).slider( "values", 1 ) );
			
			//////////////
			// Link events
			/////////////
      $('#upload_file').click(function(event){
        resetFields()
      });

      $('#upload_link').click(function(event){
        resetFields()
      });

      $('#upload_embed').click(function(event){
        resetFields()
      });

			var allButtons = $("input[value='Save'][type='submit'][name='commit']");

      $('#new_file_only_link_url').change(urlDetect).keyup(urlDetect);

			$(allButtons).click(function(event) {

        var tab = $(event.target).attr("tab");
        if(!validateForm(tab)){
          event.preventDefault();
          return false;
        }

        switch (tab){
          case "file":
            var tagList = $("#docs-1 .tagList")
						var slider = $("#docs-1 .slider-range")
						$("#docs-1 input[name='document[age_min]']").val($(slider).slider( "values", 0 ));
						$("#docs-1 input[name='document[age_max]']").val($(slider).slider( "values", 1 ));
            $("#docs-1 input[name='document[tag_list][]']").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
            break;
          case "link":
            var tagList = $("#docs-2 .tagList")
						var slider = $("#docs-2 .slider-range")
						$("#docs-2 input[name='link[age_min]']").val($(slider).slider( "values", 0 ));
						$("#docs-2 input[name='link[age_max]']").val($(slider).slider( "values", 1 ));
            $("#docs-2 input[name='link[tag_list][]']").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
            break;
          case "embed":
           var tagList = $("#docs-3 .tagList")
						var slider = $("#docs-3 .slider-range")
						$("#docs-3 input[name='embed[age_min]']").val($(slider).slider( "values", 0 ));
						$("#docs-3 input[name='embed[age_max]']").val($(slider).slider( "values", 1 ));
            $("#docs-3 input[name='embed[tag_list][]']").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
            break;
          default :
            event.preventDefault();
            return false;
        }
        return true;
      });
			
			
			//////////////
			//Tags
			//////////////
			var tagList = $(".tagList");
			var tags = [];
			
			//Load tags
			$.each($("#preloadTagList li"), function(index, element) {
			   tags.push($(element).html());
			});
							
			if ($(tagList).children().length == 0){
			  $.each($("#preloadUserTagList li"), function(index, element) {
			     $(tagList).append("<li>" + $(element).html() + "</li>")
		  	});

				$(tagList).tagit({tagSource:tags, sortable:true, maxLength:15, maxTags:8 , 
        watermarkAllowMessage: '<%=t('document.info.tags.addMessage')%>', watermarkDenyMessage: '<%=t('document.info.tags.limitMessage')%>' });
	    }	
	  });


	



    $.preloadImages("<%= asset_path('loading.gif') %>");
    var regexpLink = /^(http|ftp|https):\/\/[\w-]+(\.[\w-]+)+([\w.,@?^=%&;:\/~+#-]*[\w@?^=%&;\/~+#-])?$/
    var currentLink = '';
    var lastLink = '';

    function urlDetect(){
      currentLink = $("#new_file_only_link_url").val();

      if(regexpLink.test($("#new_file_only_link_url").val())) {
        $("#new_file_only_link_loaded").val(false);

        if(currentLink != lastLink) {
          lastLink = currentLink;
          var url = currentLink;
          var urlDetect = this;

          $.ajax({
            type : "GET",
            url : "/linkser_parse?url=" + url,
            dataType: 'json',
            success : function(reply_json) {
              if($("#new_file_only_link_url").val() == url) {//Only show if input value is still the same
                $("#new_file_only_link_title").val(reply_json['title']);
                $("#new_file_only_link_description").html(reply_json['description']);
                $("#new_file_only_link_callback_url").val(reply_json['callback_url']);
                $("#new_file_only_link_image").val(reply_json['image']);
                $("#new_file_only_link_loaded").val(true);
              }
            },
            error : function(xhr, ajaxOptions, thrownError) {
              if($("#new_file_only_link_url").val() == url) {//Only show if input value is still the same
                $("#new_file_only_link_description").html(I18n.t('link.errors.loading'));
              }
            }
          });
        }
      }
 
    }
		
		function resetFields(){
		  //File input
		  $("#new_file_only_document_file").val("")
		  //All inputs
		  $(".form_tag").val("")
			//All tagits
			var tagList = $(".tagList");
			$(tagList).tagit("reset");
			//All input tags
			 $("input[name='document[tag_list][]']").val("")
			 $("input[name='link[tag_list][]']").val("")
			 $("input[name='embed[tag_list][]']").val("")
			 //Sliders
			 $(".slider-range").slider( "values", 0 , "4")
       $(".slider-range").slider( "values", 1 , "20")
			 $(".slider-range").parent().parent().find("input[type=text]").val( "4 - 20" )
		}
		
		function validateForm(form){

			if(!form){
			  return false;
			}
			
			switch (form){
				case "file":
				  if(! Vish.Utils.validateInput("new_file_only_document_file")){
					  return false;
					}
				  if(! Vish.Utils.validateInput("new_file_only_document_title")){
            return false;
          }
					if(! Vish.Utils.validateInput("new_file_only_document_description")){
            return false;
          }
				break;
				
				case "link":	
					if(! Vish.Utils.validateInput("new_file_only_link_url") || ! regexpLink.test($('#new_file_only_link_url').val()) ){
            return false;
          }
          if(! Vish.Utils.validateInput("new_file_only_link_title")){
            return false;
          }
          if(! Vish.Utils.validateInput("new_file_only_link_description")){
            return false;
          }
				break;

				case "embed":
					if(! Vish.Utils.validateInput("new_file_only_embed_fulltext")){
            return false;
          }
          if(! Vish.Utils.validateInput("new_file_only_embed_title")){
            return false;
          }
          if(! Vish.Utils.validateInput("new_file_only_embed_description")){
            return false;
          }
				break;
				
				default : 
				  return false;
		  }
			
			return true;
		}

	<% end %>
