<% profile_subject ||= current_subject %>

<% content_for :title do %>
  <%= "#{ profile_subject && profile_subject.name + ': ' }#{ t('repository.title') }" %>
<% end %>

<% sidebar %>

<% if profile_subject %>
  <%= location(
    link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
    link_to(t('repository.title'), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
    ) %>
<% else %>
  <%= location(
    link_to(t('repository.title'), polymorphic_path(controller.controller_name),:remote => true)
    ) %>
<% end %>

<% if profile_subject %>
  <% toolbar :profile, :subject => profile_subject %>
<% elsif user_signed_in? %>
  <% toolbar %>
<% end %>


<div class="boxy_gray" id="new_file_only">
  <% d = Document.new %>
  <% d.owner_id = Actor.normalize_id(current_user) %>
  <%= form_for d, :namespace => 'new_file_only', :remote => false  do |f| %>
    <%= f.hidden_field :owner_id %>
    <%= f.file_field :file %>

    <div id="new_file_only_wrapper">
      <div class="form_row">
        <div class="form_label">
          <%= f.label t('document.info.title.title') %>
        </div>
        <div class="form_field">
          <%= f.text_field :title, :class => "form_tag" %>
        </div>
      </div>
      <div class="form_row">
        <div class="form_label">
          <%= f.label t('document.info.description.title') %>
        </div>
        <div class="form_field">
          <%= f.text_area :description, :class => "form_tag" %>
        </div>
      </div>
      <div class="form_row">
        <div class="form_label">
          <%= f.label t('document.info.tags.title') %>
        </div>
        <div class="form_field">
          <%= f.select :tag_list, [], :class => "form_tag" %>
        </div>
      </div>
      <div class="form_row">
        <div class="actions center">
          <%= f.submit t('button.save'), :class => "button" %>
        </div>
      </div>
    </div>
  
    <%= content_for :javascript do %>
      $(function() {
        $('#new_file_only_wrapper').hide();
        $("#new_file_only_document_description").watermark(I18n.t('document.input'), "#666");

        $('#new_file_only_document_file').change(function(){
          $('#new_file_only_wrapper').show();
          $("#new_file_only_document_title").val($(this).val().replace(/C:\\fakepath\\/i, ''));
        });

        $('#new_file_only_document_file').trigger('click');
      });  
      $("#new_file_only_document_tag_list").fcbkcomplete({
        json_url: "<%= tags_path(:format => :json) %>",
        cache: false,
        filter_case: true,
        filter_hide: true,
        newel: false,
        height: 6
      });
      <% d.tag_list.each do |tag| %> $("#new_file_only_document_tag_list").trigger("addItem",{"title":"<%=
      tag %>","value":"<%= tag %>"});
      <% end %>
    <% end %>
  <% end %>
</div>

