<html>
<head>
	<script src="<%=Vish::Application.config.full_domain%>/scorm_api/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="<%=Vish::Application.config.full_domain%>/scorm_api/Local_API_1484_11.js" type="text/javascript"></script>
	<script src="<%=Vish::Application.config.full_domain%>/scorm_api/SCORM_Player.js" type="text/javascript"></script>
	<script src="<%=Vish::Application.config.full_domain%>/apis/iframe_api.js" type="text/javascript"></script>
</head>
<body>
	<script type="text/javascript">
		//SCORM URL
		var scormpackageURL = "<%=loResourceUrl%>";
		// Create LMS API
		var API_1484_11 = new Local_API_1484_11({debug: false});
		//Create SCORM player
		var SCORM_Player = new SCORM_Player({debug: false, LMS_API: API_1484_11, VISH_IFRAME_API: VISH.IframeAPI, SCORM_PACKAGE_URL: scormpackageURL });

		SCORM_Player.loadScormContent(function(){
			// Scorm content loaded
		});
	</script>
</body>
</html>
