<% self.class.send :include, NewNotificationsHelper %>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="" data-toggle="tab"><%= t('notification.other') %></a>
  </li>
</ul>
<div class="read_all offset5">
  <%= link_to(t('notification.read_all'), update_all_notifications_path(:page => params[:page]),
              :confirm => t('sure'), :method => :put, :remote => true) %>
</div>
<table class="conversations table table-bordered table-striped">
  <tbody>
  <% @notifications.group_by { |n| n.created_at.to_date }.each do |day, notifs|  %>
    <tr><th><div class="size14 red-1 day_notify"><%= today_or_else(day) %></div></th></tr>
    <% notifs.each do |notification| %>
      <% @notification = notification %>
      <%= render :partial => 'notification', :object => notification %>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @notifications %>
</div>


