<% unless profile_or_current_subject.nil? %>
  <% content_for :title do %>
    <%= profile_or_current_subject.name+" | "+t('follow.followers') %>
  <% end %>

  <% content_for :description do %>
    <% if profile_or_current_subject.profile.description? %>
      <%= profile_or_current_subject.profile.description %>
    <% else %>
      <%= profile_or_current_subject.name+" "+t('profile.is_on') + " "+ t('site.name') %>
    <% end %>
  <% end %>

  <% content_for :keywords do %>
    <%= profile_or_current_subject.profile.subject.tag_list %>
  <% end %>


  <section id="wall">
    <article class="row-fluid ">
      <div class="span12">
        <div class="span2">
          <%= image_tag(profile_or_current_subject.logo.url(:profile), :alt => profile_or_current_subject.name, :id => "current_avatar_img") %>
        </div>
        <div class="span9 padding_10">
          <div class="size22 ellipsis"><%= profile_or_current_subject.name %></div>

          <div class="tag-profile-mobile">
            <% profile_or_current_subject.tag_list.each do |t| %>
              <a href="#"><%= t.to_s %></a>
            <% end %>
          </div>
        </div>

      </div>
    </article>
  </section>
<% end %>
<div class="space_center"></div>

<div class="followers tabbable">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if request.path_parameters[:direction] == 'sent' %>">
      <a data-toggle="tab" href="#following"><%=t('follow.followings')%></a>
    </li>
    <li class="<%= 'active' if request.path_parameters[:direction] == 'received' %>">
      <a data-toggle="tab" href="#follower"><%=t('follow.followers')%></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="following" class="tab-pane <%= 'active' if request.path_parameters[:direction] == 'sent' %>">
      <div id="followings" class="span12 ">
        <%= render @followings.
                   page(params[:page]).
                   per(20).
                   map { |f| profile_or_current_subject.contact_to!(f) } %>
      </div>
    </div>
    <div id="follower" class="tab-pane <%= 'active' if request.path_parameters[:direction] == 'received' %>">
      <div id="followers" class="span12 ">
        <%= render @followers.
                   page(params[:page]).
                   per(20).
                   map { |f| profile_or_current_subject.contact_to!(f) } %>
      </div>
    </div>
  </div>
</div>
<div class="users_btn_follow">

</div>

