<% sidebar %>
<% toolbar :profile, :subject => current_subject %>
<div class="followers tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#following"><%=t('follow.followings')%></a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#follower"><%=t('follow.followers')%></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="following" class="tab-pane active ">
      <%= render :partial => "followers/filter", :locals => {:filter_id => "following-filter"}  %>
      <div id="followings">
        <%= render @followings.
                   page(params[:page]).
                   per(20).
                   map { |f| current_subject.contact_to!(f) } %>
      </div>
    </div>
    <div id="follower" class="tab-pane  ">
      <%= render :partial => "followers/filter", :locals => {:filter_id => "follower-filter"}  %>
      <div id="followers">
        <%= render @followers.
                   page(params[:page]).
                   per(20).
                   map { |f| current_subject.contact_to!(f) } %>
      </div>
    </div>
  </div>
</div>
<div class="users_btn_follow">

</div>

