<% sidebar %>

<% toolbar :profile, :subject => profile_or_current_subject %>

<div class="tabbable">
  <ul class="nav nav-tabs tabs-followers-follow">
    <li class="<%= 'active' if request.path_parameters[:direction] == 'sent' %>">
      <a data-toggle="tab" href="#following"><%=t('follow.followings')%></a>
    </li>
    <li class="<%= 'active' if request.path_parameters[:direction] == 'received' %>">
      <a data-toggle="tab" href="#follower"><%=t('follow.followers')%></a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="following" class="tab-pane <%= 'active' if request.path_parameters[:direction] == 'sent' %>">
      <%= render :partial => "followers/filter", :locals => {:filter_id => "following-filter"}  %>
      <div id="followings" class="modal-pivot">
        <%= render @followings.
                   page(params[:page]).
                   per(50).
                   map { |f| profile_or_current_subject.contact_to!(f) } %>
      </div>
    </div>
    <div id="follower" class="tab-pane <%= 'active' if request.path_parameters[:direction] == 'received' %>">
      <%= render :partial => "followers/filter", :locals => {:filter_id => "follower-filter"}  %>
      <div id="followers" class="modal-pivot">
        <%= render @followers.
                   page(params[:page]).
                   per(50).
                   map { |f| profile_or_current_subject.contact_to!(f) } %>
      </div>
    </div>
  </div>
</div>


