<!--corner-->
<%= render partial: 'workshops/ws_objects/corner_resource', locals: { resource: swf} %>

<!--thumbnail-->
<div class="thumbnail_object_WS">
  <%= render partial: 'workshops/ws_objects/thumbnail_resource', locals: { resource: swf} %>
</div>

<!--title resource-->
<h3 class="title_WS resource_title_WS"><%=t('workshop.activities.resource.title')%> <span class="blue"> Swf</span></h3>

<!--actions-->
<div class="actions">
  <button href="#" status="showMore" class="ui-state-default ui-corner-all showMore"><a><%=t('excursion.actions.show_more')%></a></button>

</div>

<!--visor-->
<div class="show_object_WS">
  <%= render :partial => 'workshops/ws_objects/show_resource', :locals => {:document => swf}%>  
</div>
