<%= div_for swf, :class => 'timeline-object' do %>
  <%= javascript_tag do %>
    <%= modal_for(swf) %>
  <% end %>

  <div class="item-object-wall">
    <ul class="thumbnails">
      <li class="img-object">
        <a data-toggle="modal" href="#swf-modal-<%= swf.id.to_s%>" class="swf-modal-button-<%= swf.id.to_s%> modal-trigger"><i class='icon75-swf'></i>
        </a>
      </li>
      <li class="info-object-timeline">
        <div class="title-object">
          <a data-toggle="modal" href="#swf-modal-<%= swf.id.to_s%>" class="swf-modal-button-<%= swf.id.to_s%> modal-trigger">
            <%= truncate_name(swf.title, :length => 35) %>
          </a>
        </div>
        <p ><%= truncate_name(swf.description, :length => 120) %></p>
        <p class="details"><%= link_to t('details.msg'), swf, :class => "" %></p>
      </li>
	</ul>
</div>
<% end %>

<div class="clearfloat"></div>
