<%= div_for swf, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    <%= modal_for(swf) %>
  <% end %>

	<ul class="thumbnails">
    <li class="span3">
      <a data-toggle="modal" href="#swf-modal-<%= swf.id.to_s%>" class="swf-modal-button-<%= swf.id.to_s%>"><i class='icon75-swf'></i></a>
    </li>
    <li class="span9">
      <div class="title">
        <h4 class="bold">
          <a data-toggle="modal" href="#swf-modal-<%= swf.id.to_s%>" class="swf-modal-button-<%= swf.id.to_s%>"><%= truncate_name(swf.title, :length => 35) %></a>
        </h4>
      </div>

      <p><%= simple_format (swf.description) %></p>
      <p><%= link_to t('details.msg'), swf, :class => "attachment_text_link" %></p>
    </li>
	</ul>

<% end %>

<div class="clearfloat"></div>
