<%= div_for link, :class => 'repository-home', :style => '' do %>
  <% link_title = link.title %>
  <% link_title = link.url if link_title.blank? %>
  <%= javascript_tag do %>
    <% if link.callback_url %>
      <%= modal_for(link) %>
    <% end%>
    <%= modal_for(link.author.subject) %>
  <% end %>
  <div class="repository-item">
    <ul class="thumbnails">
      <li class="img-resource">
      <% if link.callback_url %>
        <a data-toggle="modal" href="#link-modal-<%= link.id.to_s%>" class="<%= icon_class_for(link) %> link-modal-button-<%= link.id.to_s%> modal-trigger">
      <% else %>
        <%= link_to  "", link.url, :class => icon_class_for(link), :alt => link_title, :target => "_blank" %>
      <% end %>
        </a>
      </li>

      <li class="info-resource">
        <div class="title-resource">

        <% if link.callback_url %>
          <a data-toggle="modal" href="#link-modal-<%= link.id.to_s%>" class="link-modal-button-<%= link.id.to_s%> modal-trigger">
        <% else %>
          <a href="<%= link.url %>" target="_blank">
        <% end %>
          <%= link_title %>
          </a>
        </div>

        <div class="by">by
        <a data-toggle="modal" href="#user-modal-<%= link.author.slug %>" class="user-modal-button-<%= link.author.slug %> modal-no-trigger">
          <%= link.author.name %>
          </a>
        </div>

        <span class="visits">
          <%=link.visit_count.to_s%>
          <a>
            <%= t("follow.views") %> / 
          </a>

          <div class="likes like_count_<%= dom_id(link.post_activity) %>">
            <%=link.post_activity.likes.count.to_s%>
            <div class="verb_like" id="like_<%= dom_id(link.post_activity) %>">
              <%= link_like(link.post_activity)%>
            </div>
          </div>
        </span>
      </li>
    </ul>
  </div>
<% end %>