<%= div_for link, :class => 'span3', :style => 'padding: 0;' do %>
  <% link_title = link.title %>
  <% link_title = link.url if link_title.blank? %>
  <ul class="thumbnails">
    <li class="span">
      <div id="margin-resources">
      <%= link_to  "", link.url, :class => icon_class_for(link), :alt => link_title, :target => "_blank" %>
      </div>
    </li>
    <div class="row-fluid-100">
      <h4 class="link_gray size15 "><%= link_to truncate_name(link_title, :length => 20), link.url, :target => "_blank" %></h4>
        <div class="rw-words rw-words-1">
          <span><h5 class="green inline">by </h5><h5 class="link_gray inline"><%=link_to( truncate_name(link.author.name, :length => 18), link.author.subject)%></h5></span>
          <div class="clearfloat"></div>
          <span><h5 class="green inline margin-home-resource-view"><!-- We don't count link views as of now  --><em><%= t('external') %></em></h5> / <h5 class="green inline"><%=link.activities.first.likes.count.to_s%> </h5><h5 class="gray inline"><%= t('follow.favorites') %></h5><div class="verb_like" id="like_<%= dom_id(link.activities.first) %>"><%= link_like(link.activities.first)%></div></span>
        </div>
    </div>
  </ul>
<% end %>
