<div class="model_with_details">
  <%= javascript_tag do %>
    <%= modal_for(link.author.subject) %>
  <% end %>
  <ul class="thumbnails">
    <li class="avatar">
      <% if link.callback_url %>
        <a data-toggle="modal" href="#link-modal-<%= link.id.to_s%>" class="<%= icon75_class_for(link) %> link-modal-button-<%= link.id.to_s%> modal-trigger">
        </a>
      <% else %>
        <a href="<%= link.url %>" target="_blank" class="<%= icon75_class_for(link) %> container">
        </a>
      <% end %>
    </li>
    <li class="info_user">
      <div class="title-resource">
        <% if link.callback_url %>
          <a data-toggle="modal" href="#link-modal-<%= link.id.to_s%>" class=" size14 link-modal-button-<%= link.id.to_s%> modal-trigger">
          </a>
        <% else %>
          <a href="<%= link.url %>" target="_blank" class="">
          <% end %>
            <%= truncate_name(link.title, :length => 20) %>
          </a>
      </div>
      <div class="by">by 
        <a data-toggle="modal" href="#user-modal-<%= link.author.slug %>" class="user-modal-button-<%= link.author.slug %> modal-trigger">
          <%= truncate_name(link.author.name, :length => 20)%>
        </a>
      </div>
      <span class="visits">
        <div class="likes like_count_<%= dom_id(link.post_activity) %>">
          <%=link.post_activity.likes.count.to_s%>
        <div class="verb_like" id="like_<%= dom_id(link.post_activity) %>">
          <%= link_like(link.post_activity)%>
        </div>
        </div>
      </span>
    </li>
  </ul>
</div>

