<%= div_for link, :class => 'content_size' do %>

  <div class="link_show">
    <% if link.callback_url %>
      <div id="link-show-callback-<%=link.id.to_s %>"></div>
      <%= javascript_tag do %>
        SocialStream.Linkser.Wall.openCallback("link-show-callback-<%= link.id.to_s %>", "<%= link.callback_url %>", "<%= link.width %>", "<%= link.height %>"); 
      <% end %>
    <% elsif  link.image && link.image!="" %>
      <%= link_to image_tag(link.image), link.url, :target => "_blank" %>
    <% else %>
      <%= link_to raw("<i class='icon_repository75-75_link'></i>"), link.url, :target => "_blank" %>
    <% end %>
    <input type="text" readonly="readonly" style="width: 100%;" value="<%=h link.url %>" />
    <p></p>
  </div>

<% end %>
