<%= render :partial => 'objects/show',
           :locals  => { :object => document } %>

<% profile_subject ||= document.owner_subject %>

<% content_for :title do %>
<%= profile_subject.name + ": " + t('repository.title') %>
<% end %>

<% sidebar %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('repository.title'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('repository.title'), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<section id="show_document">
<%= show_view_for document %>


  <section id="coment-resource">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#comment-1">
            <%= t('comment.title.other') %>
          </a>
        </li>
      </ul>
      <div class="tab-content ">
        <div id="comment-1" class="tab-pane active comment-resource">
          <% unless document.post_activity.blank? %>
            <%= render :partial => 'comments/new', :locals => { :activity =>  document.post_activity  } %>
            <%= render :partial => 'activities/comments', :locals => { :activity =>  document.post_activity, :logo_size => ':contact' } %>
            <%= javascript_tag do %>
              SocialStream.Comments.initNew();
            <%end%>

          <% else %>
            <% unless user_signed_in? %>
              <%= link_to(t('session.session_start'),new_user_registration_path) + " " + t('disjunction.or') + " " + link_to(t('sign_up').downcase, new_user_registration_path) + " " +  t('comment.input') %>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </section>
</section>

<section id="info-notebook">
  <%= render :partial => "common_documents/document_info", :locals => {:document => document} %>
</section>



