<%= div_for picture, :class => 'timeline-object' do %>
  <%= javascript_tag do %>
 
    <%= modal_for(picture) %>

  <% end %>

  <div class="item-object-wall">
    <ul class="thumbnails">
      <li class="img-object">
        <a data-toggle="modal" href="#picture-modal-<%= picture.id.to_s%>" class="picture-modal-button-<%= picture.id.to_s%> modal-trigger">
          <%= thumb_for(picture, 75) %>
        </a>
      </li>

      <li class="info-object-timeline">
        <div class="title-object">
          <a data-toggle="modal" href="#picture-modal-<%= picture.id.to_s%>" o class="picture-modal-button-<%= picture.id.to_s%> modal-trigger"><%= picture.title %>
          </a>
        </div>
        <p><%= truncate_name(picture.description, :length => 120) %></p>
        <p class="details"><%= link_to t('details.msg'), picture, :class => "" %></p>
      </li>
    </ul>
  </div>
<% end %>

<div class="clearfloat"></div>

