<%= div_for picture, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    $('#picture_<%= picture.id.to_s %>').parents('.thumbnails').children().first().html('<%= j link_to thumb_for(picture, 75), download_document_path(picture), :class => "" %>');
  <% end %>
  <ul class="thumbnails">
    <li class="span9">
      <div class="title">
        <h4 class="bold ellipsis w190px">
          <%= link_to picture.title, download_document_path(picture) %>
        </h4>
      </div>
    </li>
  </ul>
<% end %>

