<div class="new_contribution_form_wrapper">

  <div class="modal fade" id="<%=form_id%>_resource_contribution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_for Contribution.new, :html => { :multipart => true, :id => form_id, :class => "new_contribution_resource" }, :remote => false do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3><%=t('workshop.activities.assignment.available_contributions.resource')%></h3>
          </div>
          <div class="modal-body">
            <% if !wa_assignment.nil?%>
              <%= f.hidden_field :wa_assignment_id, :value => wa_assignment.id %>
            <% elsif !parent.nil? %>
              <%= f.hidden_field :parent_id, :value => parent.id %>
            <% end %>
            <%= f.hidden_field :type, :value => "Resource" %>
            <p><%=t('workshop.activities.assignment.add_resource_message')%></p>
            <p><input type="text" name="url" value=""></input></p>
          </div>
          <div class="modal-footer">
            <%= f.submit t('workshop.activities.assignment.add_resource'), :class => "contribution btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%=
    if current_subject != nil
      resources = subject_resources(current_subject, {:scope => :me, :limit => 0})
      excursions = subject_excursions(current_subject, {:scope => :me, :limit => 0}).reject{ |e| e.draft==true }
    else 
      resources = []
      excursions = []
    end

    render partial: "common_resources/select_modal_tabs", locals:{
    name: "contribution",
    excursions: excursions,
    resources: resources,
    title1:"Selecciona uno de tus recursos",
    title2: "",
    notfound: "Lo sentimos no puede entrar a la competición porque todavía no tiene ninguna excursión",
    button_name: "Subir mi propuesta" } %>

  <button class="btn btn-primary btn_show_upload" data-toggle="modal" data-target="#join_contribution"><%= t('workshop.activities.assignment.available_contributions.resource') %></button>
  
</div>

<% if !wa_assignment.nil?
  database_id ="wa_assignment_id: " + wa_assignment.id.to_s
 else 
  database_id = "parent_id: " + parent.id.to_s
  end%>

<%= content_for :javascript do %>

    $("#button_for_contribution").attr("disabled", "disabled");
    $(".modal_join .box-item a").each(function(e){
      $(this).attr('url', $(this).attr('href') );
      $(this).removeAttr('href');
    });

    $(".box-item").click(function(){
      if(!$(this).hasClass("selected")){
        $(".box-item").removeClass("selected");
        $(this).addClass("selected");
        $( "#button_for_contribution" ).removeAttr("disabled");
      } else {
        $(this).removeClass("selected");
        $( "#button_for_contribution" ).attr("disabled", "disabled");
      }
    });

    $("#button_for_contribution").click(function(){
      var selected_items = $(".selected .container-img .img-box").attr("id");
      
      if($('.selected a').parents("#excursions_choose_wa").length != 0){
        var url = $('.selected a').attr("url");
      } else {
        var url = "<%= Vish::Application.config.full_domain %>" + $('.selected a').attr("url");
      }

      $.ajax({
        url: "/contributions",
        method: "POST",
        data: { 
        contribution:{ 
        id : selected_items, <%= database_id %>, type: "Resource"} , 
        url:  url,
        authenticity_token: "<%= form_authenticity_token %>" },
        success: function(e){
            window.location.reload();
        },
        error: function(e){
            window.location.reload();
        }
      });
    });


<% end %>