<%
  if user_signed_in? and current_subject
    resources = subject_resources(current_subject, {:scope => :me, :limit => 0})
    excursions = subject_excursions(current_subject, {:scope => :me, :limit => 0}).reject{ |e| e.draft==true }
  else
    resources = []
    excursions = []
  end
  name ||= "contribution"
%>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	<h1><%= I18n.t('workshop.activities.assignment.modal.title') %></h1>
</div>
<div class="modal-body">
  <div id="joining_tabs" class="form_for_joining clearfix">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#url_choose_wa" data-toggle="tab"><%=t("workshop.activities.assignment.modal.url_tab")%></a></li>
      <li><a href="#excursions_choose_wa" data-toggle="tab"><%=t("search.models.excursion")%></a></li>
      <li><a href="#resources_choose_wa" data-toggle="tab"><%=t("search.models.resource")%></a></li>
    </ul>
    <div id="url_choose_wa" class="tab-pane">
      <div><p><%=t("workshop.activities.assignment.modal.url_explanation")%></p></div>
      <input id="url_choose_wa_input" type="text" placeholder="<%=Vish::Application.config.full_domain%>/..."/>
    </div>
    <div id="excursions_choose_wa" class="tab-pane">
      <% unless excursions.blank? %>
        <ul class="items">
          <% with_format('html') do %>
            <% excursions.reject{|r| r.nil? or r.object.nil?}.each do |r| %>
              <%= render :partial => '/entities/entity', :formats => [:html], :locals => { :entity => r, :prefix_id => "contribution" } %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <% if !current_subject.nil? %>
          <div id="no_items"><%= I18n.t('workshop.activities.assignment.modal.notfound') %></div>
        <% end %>
      <% end %>
    </div>
    <div id="resources_choose_wa" class="tab-pane">
      <% unless resources.blank? %>
        <ul class="items">
          <% with_format('html') do %>
            <% resources.reject{|r| r.nil? or r.object.nil?}.each do |r| %>
              <%= render :partial => '/entities/entity', :formats => [:html], :locals => { :entity => r, :prefix_id => "contribution" } %>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <% if !current_subject.nil? %>
          <div id="no_items"><%= notfound %></div>
        <% end %>
      <% end %>
    </div> 
  </div>
</div>
<div class="modal-footer">
  <div class="footer-form clearfix">
    <a id="button_for_<%= name %>" type="button" class="btn btn-primary"><%= I18n.t('workshop.activities.assignment.modal.bt_upload') %></a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#joining_tabs").tabs();

    $("#button_for_<%= name %>").attr("disabled", "disabled");

    $(".modal_join .box-item a").each(function(e){
      $(this).attr('url',$(this).attr('href'));
      $(this).removeAttr('href');
    });

    $(".modal_join .box-item").each(function(e){
      $(this).prepend('<div class="selecting-item" style="display:none;"><i class="fa fa-check"></i>' + '<%=t('competition.modal.selected')%>' + '</div>');
    });

    $(".box-item").on("click",function(){
      if($("#button_for_<%= name %>").attr("submitting")==="true"){
        return;
      }
      if(!$(this).hasClass("selected")){
        $(".box-item").removeClass("selected");
        $(this).addClass("selected");
        $("#button_for_<%= name %>").removeAttr("disabled");
      } else {
        $(this).removeClass("selected");
        $("#button_for_<%= name %>").attr("disabled", "disabled");
      }
    });

    $("#url_choose_wa_input").on("keyup",function(){
      var inputTabActive = $("#joining_tabs a[href='#url_choose_wa']").parent("li").hasClass("active");
      if(($("#button_for_<%= name %>").attr("submitting")==="true")||(inputTabActive===false)){
        return;
      }
      if($(this).val().trim()!=""){
        $("#button_for_<%= name %>").removeAttr("disabled");
      } else {
        $("#button_for_<%= name %>").attr("disabled", "disabled");
      }
    });

    $('#join_<%= name %> a[data-toggle="tab"]').on('shown.bs.tab',function(e){
      if($("#button_for_<%= name %>").attr("submitting")==="true"){
        return;
      }
      $(".box-item").removeClass("selected");
      $("#button_for_<%= name %>").attr("disabled", "disabled");
    });

    $("#button_for_<%= name %>").on("click",function(){
      if($(this).attr("submitting")==="true"){
        return;
      }

      var inputTabActive = $("#joining_tabs a[href='#url_choose_wa']").parent("li").hasClass("active");
      if(inputTabActive){
        var selectedUrl = $("#url_choose_wa_input").val();
      } else {
        var selectedUrl = $('.selected a').attr("url");
      }

      if(typeof selectedUrl != "undefined"){
        var fullDomain = "<%= Vish::Application.config.full_domain %>";
        if(selectedUrl.indexOf(fullDomain)==-1){
          selectedUrl = fullDomain + selectedUrl;
        }

        if(typeof onContributionModalSubmit == "function"){
          $(this).attr("disabled", "disabled");
          $(this).attr("submitting","true");
          $(this).parents("div").addClass("cursor_waiting");
          $(".box-item").addClass("cursor_waiting");
          $(".box-item").find("a").addClass("cursor_waiting");
          onContributionModalSubmit(selectedUrl);
        }
      }
    });
  });

  var onContributionModalSubmitError = function(error){
    $(".cursor_waiting").removeClass("cursor_waiting");
    var submitButton = $("#button_for_<%= name %>");
    $(submitButton).removeAttr("submitting");
    $(submitButton).removeAttr("disabled");
  };
</script>