<% 
  @wa_assignment = nil
  @workshop = nil
  @parent = nil
  @breadcrumpath = nil

  if !resource.wa_assignment.nil?
    @wa_assignment = resource.wa_assignment
  elsif params[:wa_assignment_id].present?
    @wa_assignment = WaAssignment.find_by_id(params[:wa_assignment_id]) 
  end

  unless @wa_assignment.nil?
    @workshop = @wa_assignment.workshop
    @breadcrumpath = [@workshop]
  end

  if !resource.parent.nil?
    @parent = resource.parent
  elsif params[:parent_id].present?
    @parent = Contribution.find_by_id(params[:parent_id])
    @breadcrumpath = @parent.parents_path unless @parent.nil?
  end
%>

<% unless @breadcrumpath.nil? %>
  <%= render :partial => 'application/breadcrumb_path', :locals  => { :path => @breadcrumpath } %>
<% end %>

<%= render :partial => "shared/ckeditor_apply", :locals => {:the_id=> "contribution_fulltext"} %>

<div id="AddContribution">
    <div class="layoutform">
        <%= form_for resource, :remote => false do |f| %>
          <% unless @wa_assignment.nil? %>
            <%= f.hidden_field :wa_assignment_id, :value => @wa_assignment.id %>
          <% else %>
            <% unless @parent.nil? %>
              <%= f.hidden_field :parent_id, :value => @parent.id %>
            <%end%>
          <% end %>
          <%= f.hidden_field :type, :value => "Writing" %>
          <section class="title">
            <label for="contribution_title"><%=t("contribution.title")%></label>
            <input id="contribution_title" name="writing[title]" value="">
          </section>
          <section class="contribution_Writing">
            <label for="contribution_fulltext"><%=t("contribution.content")%></label>
            <textarea cols="40" id="contribution_fulltext" name="writing[fulltext]" rows="20"></textarea>
            <input id="contribution_plaintext" name="writing[plaintext]" type="hidden" value=""> 
          </section>                          
        <% end %>
    </div>
    <div class="footer-form">
      <input type="button" id="addContributionButtonFake" class="btn btn-primary" data-loading-text="<%= t('document.uploading')%>" value="<%= t('document.upload')%>"/>
    </div>
</div>

<%content_for :javascript do%>
  $("#addContributionButtonFake").click(function(event){
      set_ckeditor_content_full_and_plaintext("contribution_fulltext","contribution_plaintext");
      $(this).button('loading');
      $("#AddContribution").find("form").submit();
  });
<%end%>
