<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <%= render :partial => 'layouts/head' %>
  <body data-spy="scroll" data-target=".subnav" data-offset="50" class="visible-phone">
    <section class="content">
      <header>
        <% if controller.class == Devise::RegistrationsController %>
          <%= render :partial => "layouts/header_signed_out" %>
        <% else %>
          <%= render :partial => "layouts/header_signed_out" %>
        <% end %>
      </header>
      <article id="main">
        <%= yield %>
      </article>
    </section>
  </body>
</html>

