<%= div_for repository, :class => '' do %>
    <ul class="thumbnails span3">
      <li class="span1 margin-clear">
        <%= link_to  thumb_for(repository, 75), repository, :class => "container" %>
      </li>
      <li class="span2">
        <div class=" info_repo">
          <h4><%= link_to truncate_name(resource.title, :length => 34), resource %></h4>
          <h5><%=t('follow.followers')%>: <span class="dark-gray n_views"><%=num_views%></span> <%= t('follow.views') %></h5>
        </div>
      </li>
    </ul>
<% end %>
