<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('notification.teacher.greetings', teacher_name: @teacher_name)%></p>
    <p><%= t('notification.teacher.text_publish_1', pupil_name: @pupil_name, classroom_name: @classroom.name)%></p>
    <p><%= t('notification.teacher.text_publish_2')%></p>
    <a href="<%=  Vish::Application.config.full_domain + edit_excursion_path(@excursion)%>"> <%=  Vish::Application.config.full_domain + edit_excursion_path(@excursion)%> </a>
    <p></p>
  </body>
</html>