<%content_for :title do%><%= t("site.meta_title.terms_of_use") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.terms_of_use")%><%end%>

<section id="legal_notice">
  <div class="whiteframe justify">
    <h1>TÉRMINOS DE USO Y CONDICIONES LEGALES ViSH</h1>
    <br/>
    <div class="margin-top5">
      <b>PRIMERA. OBJETO:</b>
      <p>La Universidad Politécnica de Madrid (UPM), con CIF Q-2818015F,
con domicilio social en Avenida Ramiro de Maeztu 7, código postal
28040, Madrid, ha creado una web denominada ViSH, como una
plataforma sin fines comerciales destinada a todos los miembros de la
comunidad educativa.</p>
<p>
Al acceder y/o utilizar ViSH, el visitante acepta quedar vinculado
por las cláusulas de estas Condiciones Legales (en adelante
Condiciones), ya sea como “Navegante” (lo cual significa que
simplemente navega por el sitio web), o en el caso de los usuarios que lo
deseen como “Usuario Registrado” (lo cual significa que se ha registrado
y ha iniciado sesión en el sitio web). EN CASO DE QUE USTED NO
ACEPTE LAS CLÁUSULAS QUE SE ENCUENTRAN AQUÍ REGULADAS, USTED NO USARÁ ESTE SITIO WEB. Estos términos
de uso también se aplicarán a los nuevos servicios proporcionados
por este sitio web. Los usuarios registrados pueden subir contenidos,
modificarlos, hacer comentarios y cualquier otra funcionalidad que no
requiera unas condiciones de uso particulares adicionales y que pueda
existir a futuro, en el caso de existir una nueva funcionalidad con
condiciones de uso particulares el usuario tendrá que aceptarlas
previamente a utilizar dicha funcionalidad. Tanto los Navegantes como
los Usuarios Registrados (denominados en su conjunto Participantes)
deberán cumplir tanto con las presentes Condiciones, como con todas
las leyes, reglas y normativas aplicables ("Ley aplicable").
</p>
<p>


Se considerará que forma parte de ViSH:</p>
<p>1. Todos los elementos, artísticos y técnicos, contenidos en la web:
<a target="_blank" href="<%= Vish::Application.config.full_domain %>"><%= Vish::Application.config.full_domain %> </a> incluyendo sus subdominios, y todos los documentos
de cualquier clase que estén alojados y accesibles a través de
dicha URL.</p>
<p>2. Todos los elementos mostrados en el terminal del Participante y
que son almacenados en el sitio web, incluyendo sin limitación:
texto, documentos, imágenes, audios, videos, metadatos, bases de
datos y en general cualquier material protegido por derechos de
propiedad intelectual o industrial y que forme parte de alguna
manera de ViSH.</p>
<p>3. Todos los servicios que sean prestados directamente por ViSH o
que puedan ser añadidos en el futuro. No obstante, el acceso y la
utilización de ciertos contenidos y/o servicios puede encontrarse
sometido a determinadas condiciones particulares, tales como
avisos legales que, según los casos, sustituirán, completarán y/o
modificarán las Condiciones aquí recogidas. En caso de
contradicción prevalecerán siempre las condiciones particulares.
</p><p>
Las presentes condiciones, así como cualquier modificación que
hubiera a futuro de las mismas y cualquier instrucción o avisos legales
particulares puestos en conocimiento de los Participantes por UPM, para
cualquier servicio o utilidad particular, y en concreto el documento de
“Política de Protección de Datos”, regulan el acceso y la utilización de
ViSH por parte de los Participantes, en su versión actual y en cualquier
versión que pudiera existir a futuro, y constituyen los términos legalmente
vinculantes entre UPM y los Participantes.</p>
<p>
  La UPM se reserva el derecho de modificar en cualquier
momento y sin previo aviso la presentación y diseño del sitio web,
así como su contenido, servicios y textos legales (incluyendo, entre
otros, los presentes Términos de Uso y Condiciones Legales). Los
usuarios están de acuerdo en que el proveedor del sitio puede, en
cualquier momento, modificar, interrumpir, inhabilitar y / o cancelar
cualquiera de los elementos, contenidos o servicios que se integran
en el sitio web, incluido el contenido patentado subido o contribuido
por cada usuario.</p>
    </div>

    <br/>

    <div class="header_text margin-top10">
        <b>SEGUNDA. CONDICIONES DE REGISTRO Y USO:</b>
        <p>
          ViSH estará disponible en la URL <a target="_blank" href="<%= Vish::Application.config.full_domain %>"><%= Vish::Application.config.full_domain %> </a> y su utilización será
de carácter gratuito.
</p><p>
Para poder suscribirse convenientemente, el Usuario ha tenido que
facilitar en el momento de completar el formulario de registro, datos
ciertos, exactos y completos, obligatorios sobre su nombre y apellidos y
sobre su dirección de correo electrónico. El Usuario Registrado declara y
garantiza que su edad es de 18 años o superior. UPM podrá requerir al
Usuario Registrado para que autentifique su condiciones (identidad,
edad, etc..) y en caso contrario negarle su registro.
</p><p>
Por otro lado el registro en ViSH requiere la elección por parte del
Usuario Registrado de un nombre de usuario y una contraseña. El
Usuario Registrado deberá mantener bajo su exclusiva responsabilidad la
contraseña, en la más estricta y absoluta confidencialidad, asumiendo
por tanto, cuantos daños y/o perjuicios de todo tipo se deriven del
quebrantamiento o revelación de la misma, así como del mal uso que,
como consecuencia de la infracción de su deber de custodia, pudiera
hacer un tercero. Tampoco el Usuario Registrado puede utilizar la
cuenta, el nombre de usuario, la dirección de correo electrónico ni la
contraseña de otro Usuario Registrado en ningún momento, En el caso
de que un Usuario Registrado sospechase que se ha producido algún
uso no autorizado de su cuenta o han accedido a su contraseña, deberá
ponerse en contacto con los administradores de ViSH en la dirección
vish@upm.es y explicar cuál es su sospecha o qué tipo de uso se ha
producido en su perfil, cuenta o contraseña.
</p><p>
Respecto al nombre del Usuario Registrado éste no podrá consistir
en una palabra o expresión que coincida con alguna marca, nombre
comercial, denominación social o publicitaria o nombre artístico de
terceros, protegidas todas ellas por las leyes de propiedad industrial e
intelectual, ni podrá ser injurioso, racista, xenófobo o atentar de manera
general contra la integridad de terceros o contra la moral y las buenas
costumbres. En caso contrario UPM estará legitimada para cancelar o
suspender el registro y denegarle el acceso y uso presente y/o futuro de
ViSH, y/o de cualquiera de los contenidos y/o servicios en él
incorporados y todo ellos sin que el Usuario Registrado pueda exigir
indemnización o compensación alguna.
</p><p>
Al utilizar la plataforma ViSH, los Participantes aceptan que sus
datos demográficos, publicaciones y datos generados por sus acciones
en el sitio web sean utilizados de forma anónima con fines de
investigación, incluyendo su uso para la elaboración y publicación de
trabajos científicos.
</p><p>
Del mismo modo que el usuario tramita su alta, puede cancelar su
cuenta en ViSH accediendo al enlace “Cancelar cuenta” seleccionado
previamente “Ajustes” en el desplegable de la cabecera de ViSH y
siguiendo las instrucciones que a tal efecto se le facilitan. Al tramitar la
cancelación, el perfil del Usuario Registrado dejará de estar accesible
públicamente, y el perfil, datos personales y cualquier información
privada del Usuario Registrado serán borrados inmediatamente de ViSH.
UPM se reserva el derecho de eliminar o conservar cualquiera de los
recursos, documentos, valoraciones y comentarios publicados en ViSH
por el Usuario Registrado.
</p><p>
UPM se reserva el derecho, a su entera discreción y en cualquier
momento, de rechazar, rehusarse a publicar o retirar cualquier
publicación en cualquier formato realizada por un Usuario Registrado o
de denegar, restringir, suspender o cancelar su acceso a la totalidad de
los servicios contenidos en ViSH (lo que implica en este último caso
cancelar su cuenta), si existen motivos que hagan sospechar de: un uso
indebido o ilícito de ViSH; de la utilización de información ilícita o que
vulnere derechos de propiedad intelectual o industrial de terceros, de
otros Usuarios Registrados o de UPM; de que el Usuario Registrado
haya facilitado cualquier dato falso, inexacto o incompleto, o UPM
descubriera o sospechase que algún dato no es veraz; o de que en
general se han infringido las Condiciones, y todo ellos sin que el Usuario
Registrado pueda exigir indemnización o compensación alguna.
</p><p>
UPM podrá, en cualquier momento, modificar las presentes
Condiciones o introducir nuevas condiciones de uso. Dichas
modificaciones serán comunicadas a elección de UPM bien a través de la
web ViSH o bien mediante una comunicación a cada Usuario Registrado,
con un preaviso de QUINCE (15) días para que informados previamente
de las características y condiciones de las mismas decida sobre su
aceptación o rechazo. Si el Usuario Registrado no estuviese de acuerdo
con los cambios introducidos en estas condiciones podrá darse de baja
de ViSH en cualquier momento según el procedimiento visto en los
párrafos anteriores. Por el contrario el hecho de seguir usando ViSH una
vez realizada cualquiera de estas modificaciones, implica que se aceptan
dichos cambios tal y como se haya modificado y que se queda vinculado
a ellas.
</p><p>
UPM podrá interrumpir o suspender de manera temporal los
servicios ofrecidos o el acceso a ViSH, especialmente cuando ello resulte
necesario o conveniente para proceder a realizar las operaciones de
mantenimiento de la web sin que este hecho suponga reclamación o
indemnización alguna. En ningún caso UPM será responsable del
inadecuado funcionamiento de ViSH, especialmente si ello se debe a una
defectuosa configuración de los equipos de los Participantes o a su
insuficiente capacidad para soportar los sistemas informáticos
indispensables para poder hacer uso de ViSH.
</p><p>
Por otro lado UPM podrá también cancelar de manera definitiva
ViSH en cualquier momento si una autoridad judicial o administrativa
requiere a UPM a tal efecto. Finalizado el servicio ofrecido por la
plataforma ViSH, UPM procederá al borrado de todos los datos
almacenados en la misma (incluyendo todas las publicaciones de los
usuarios) sin que por este hecho pueda exigírsele responsabilidad
alguna.
</p><p>
Los Participantes que tuvieran cualquier incidencia con la
utilización de ViSH, o quisieran denunciar cualquier uso fraudulento,
contenido ilícito o abuso del mismo, deberán ponerse en contacto con los
administradores del servicio en la dirección vish@upm.es para explicar
cuál es la incidencia o su denuncia.
</p><p>
Además UPM podrá:
</p><p>
1. no admitir más usuarios nuevos en ViSH, bien
temporalmente o bien definitivamente, si razones técnicas o
de seguridad así lo aconsejasen, en cuyo caso no se
admitirían nuevos registros, bien temporal o definitivamente.
</p><p>
2. limitar el espacio en servidores (capacidad de
almacenamiento) que puede ocupar con sus contenidos
cada Usuario Registrado.</p>
</div>
<br/>


<div class="header_text margin-top10">
  <b>TERCERA. USO DE COOKIES:</b><br/>
  La UPM se reserva el derecho de utilizar cookies para, entre
otras cosas, facilitar la navegación del usuario en el sitio web y el
acceso más conveniente a la información aquí contenida. Para su
información, las cookies son pequeñas piezas de información que
están alojadas en el visitante del sitio web del terminal de usuario a
través de su navegador.
</div>
<br/>


<div class="header_text margin-top10">
  <b>CUARTA. RESPONSABILIDAD Y OBLIGACIONES DE LOS PARTICIPANTES:</b>

  <p>En general los Participantes se comprometen a utilizar ViSH, sus
  servicios y el contenido ofrecido, de acuerdo con las leyes, la moral, las
  buenas costumbres y el orden público. Además los Participantes deberán
  respetar en todo momento los derechos de terceros y se comprometen a
  colaborar activamente con UPM en la localización y denuncia de
  cualquier conducta que suponga una infracción de estas cláusulas o
  condiciones, o de las leyes de aplicación.
  </p><p>
  El Usuario Registrado será el único responsable de cualquier texto,
  alusión, opinión, información, imagen o archivo de cualquier tipo que
  produzca, transmita, aloje, difunda, comunique, ponga a disposición o
  exhiba a través de la plataforma ViSH; de observar todas las leyes en
  materia de protección de datos y privacidad aplicables (incluyendo el
  consentimiento previo de todas las personas cuya información personal
  el Usuario Registrado use y/o divulgue en ViSH o través de él), y de las
  relaciones que mantenga con otros Usuarios Registrados, dejando
  indemne por este concepto a UPM de cualquier reclamación judicial o
  extrajudicial que, por el incumplimiento de esta garantía, pudieran
  plantear terceros en el futuro.
  </p>
</div>
<br/>


<div class="header_text margin-top10">
  <b>QUINTA. CONTENIDO PERMITIDO Y ACTOS PROHIBIDOS:</b>
<p>
  5.1. Solo se permitirá la publicación de contenido que sea acorde
con el Objeto (tal y como se ha detallado en la cláusula primera). Por lo
tanto, los Usuario Registrados no podrán almacenar, incluir o publicar en
ViSH ningún tipo de contenido de los detallados en esta cláusula como
prohibidos.
</p><p>
5.2. Los Usuarios Registrados deberán cumplir rigurosamente la
normativa relativa a los derechos de intimidad, privacidad, imagen y
propiedad intelectual e industrial, exonerando a la UPM de cualquier
reclamación en estas materias. En ningún caso UPM se hará
responsable de las opiniones expresadas, enlaces publicados o
contenidos almacenados en la plataforma ni de las consecuencias
derivadas de los mismos.
</p><p>
5.3. En caso de reclamación recibida por parte de un tercero en
que se acredite de forma fehaciente, el incumplimiento de algún derecho
o la utilización no autorizada de su imagen personal por parte de un
Usuario Registrado, UPM se reserva el derecho a cancelar la cuenta de
dicho incumplidor o a cancelar ViSH según lo ya explicado en la cláusula
Segunda.
</p><p>
5.4. UPM podrá implementar filtros y cuantas tecnologías
considere convenientes para evitar en ViSH comentarios, escritos,
opiniones o cualquier otro contenido que pueda resultar difamatorio,
racista, sexista, xenófobo, discriminatorio, pornográfico, violento o que,
de cualquier modo atente a la moral, al orden público o a las buenas
costumbres, o resulte claramente contrario a la ley.
</p><p>
En cualquier caso y en este sentido, dado el volumen de
información y archivos de todo tipo que son cedidos por los Usuarios, en
aplicación del régimen de responsabilidad regulado por la Ley 34/2002
de Servicios de la Sociedad de la Información y del Comercio
Electrónico, UPM no será responsable por la información o archivos
enviados por el Usuario Registrado cuando no tenga un conocimiento
efectivo de que la información almacenada es ilícita o de que lesiona
bienes o derechos de un tercero susceptibles de indemnización. No
obstante lo anterior, en el momento que UPM tenga conocimiento
efectivo de que aloja datos como los anteriormente referidos o que
vulneren lo dispuesto en estas Condiciones, se compromete a actuar con
diligencia para retirarlos.
</p><p>
En caso de que a pesar de estas advertencias y de la
monitorización que UPM preste a ViSH, ciertos contenidos
proporcionados, sean ilegales, ilícitos, no estén autorizados o violen las
presentes Condiciones, UPM no asume responsabilidad ni obligación
alguna por ello, ni tampoco responsabilidad directa o indirecta por la
conducta del Usuario que ha utilizado o puesto a disposición dichos
contenidos.
</p><p>
5.5. El Usuario Registrado acepta expresamente en la utilización
de ViSH, no realizar ninguna de las siguientes acciones, que de manera
enunciativa y no limitativa se consideran actos prohibidos:
</p><p>
• Publicar cualesquiera informaciones, opiniones o, en general,
contenidos que de cualquier forma creen un riesgo para la
privacidad o la seguridad de cualquier persona o supongan una
infracción de los derechos al honor, intimidad personal y familiar o
de terceros y de la propia imagen, especialmente, en todo lo
relativo a los menores de edad (por ejemplo si se solicita
información personal de cualquier persona menor de edad).
</p><p>
• Publicar contenidos, dentro o fuera de ViSH, que contengan la
imagen o la voz de un tercero sin haber obtenido el consentimiento
de su titular.
</p><p>
• Divulgar, compartir o publicar cualquier contenido que contravenga
al secreto en las comunicaciones, o que infrinja derechos de
propiedad industrial e intelectual o atente a la normativa sobre
protección de datos de carácter personal.
</p><p>
• Alojar algún contenido que afecte a los derechos de otros Usuarios
Registrados del Servicio o de terceras personas, incluyendo pero
no limitándose al derecho a la imagen, al honor y a la intimidad, y a
los derechos de copyright, propiedad intelectual, propiedad
industrial, marcas y patentes.
</p><p>
• Alojar algún contenido que afecte información privada y/o
confidencial de otros Usuarios Registrados del Servicio o de
terceras personas.
</p><p>
• Alojar algún contenido de carácter obsceno, contrario a las leyes o
al orden público o constitutivo de delito.
</p><p>
• Compartir, publicar o alojar cualquier contenido que sea
susceptible de ser considerado ilegal, racista, obsceno, abusivo,
difamatorio, engañoso, fraudulento o pornográfico, o que contenga
un vínculo a un sitio web para adultos, o que promueva actividades
ilegales o conductas abusivas, amenazantes, obscenas,
difamatorias, calumniantes, o de cualquier forma contrarias a la
moral o al orden público.
</p><p>
• Utilizar ViSH para insultar, amenazar, intimidar, acosar, realizar un
daño físico, menospreciar a otros Usuarios Registrados o a
terceros o promover o incitar a la realización de cualquiera de
estas acciones.
Utilizar cualquiera de las prestaciones y facilidades de ViSH de
forma malintencionada y con la intención de causar daños en ViSH
o en la web que lo sustenta.
Alojar o introducir virus informáticos, troyanos, robots, gusanos o
cualquier otro tipo de archivo o software malicioso, que interrumpa,
destruya o limite la funcionalidad de cualquier software o hardware,
o que permita el uso o acceso no autorizado de un equipo o red de
equipos, o que pueda provocar daños o alteraciones en la
plataforma ViSH y en los sistemas de la UPM.
Usar ViSH para la recopilación de datos personales de los
Usuarios Registrados con cualquier finalidad a través de medios
electrónicos o de otro tipo, incluyendo sus direcciones de correo
electrónico y sus imágenes.
Enviar correo electrónico no deseado a los Usuarios Registrados,
incluyendo el envío de publicidad o comunicaciones comerciales
individuales o masivas (SPAM).
Usar ViSH, con independencia de su finalidad, para remitir correos
electrónicos con carácter masivo y/o repetitivo no solicitados a una
pluralidad de personas, ni mandar direcciones de correo
electrónico de terceros sin su consentimiento.
Usar ViSH con una finalidad económica, comercial o publicitaria
como concursos, sorteos, canjes, publicidad o esquemas
piramidales.
Realizar framing (enmarcado de páginas) de ViSH sin autorización.
Emplear sitios web o software de terceros para promocionar
perfiles o contenidos a cambio de dinero.
Crear un perfil en ViSH suplantando la identidad de otra persona o
usando su imagen y sus datos personales, así como el registro de
un perfil en nombre o con la finalidad de beneficiar a personas
jurídicas de cualquier tipo o entes sin personalidad.
Crear contenidos con acceso restringido (por ejemplo, mediante
contraseña) o con datos ocultos.
Interferir en ViSH, o las redes u otros servicios conectados,
perturbarlos o generar una carga indebida sobre ellos; así como
hacer un uso automatizado malintencionado del sistema, o un uso
no autorizado para evitar o modificar, cualquier herramienta de
seguridad que sea parte de ViSH, o modificar, copiar, distribuir,
descargar, pegar o transmitir de cualquier forma o mediante
cualquier medio, en su totalidad o en parte, cualquier contenido de
ViSH que no sea el publicado legalmente.
</p><p>
• Llevar a cabo por medio de ViSH o del servidor donde este se aloja
cualquier destrucción, alteración, inutilización o daños de los datos,
programas o documentos electrónicos pertenecientes a ViSH,
UPM, sus proveedores o a terceros, así como introducir o difundir
en la red cualquier software o dispositivo físico que causen o sean
susceptibles de causar cualquier tipo de alteración en la red, el
sistema, o en los equipos de terceros.
</p><p>
• Cualquier actividad que incentive o promueva cualquier actividad o
empresa ilícita, que brinde información sobre actividades ilegales
de cualquier tipo, o que transgreda los principios de buena
conducta aceptados generalmente entre los usuarios de Internet.
</p><p>
UPM se reserva la facultad de expulsar de la plataforma a los
Usuarios Registrados que realicen cualquiera de estos actos prohibidos,
según lo ya indicado en la Cláusula Segunda, así como reportar a las
autoridades administrativas o judiciales competentes, las infracciones de
las presentes condiciones que vulneren cualquier Ley aplicable o
aquellos hechos que pudieran ser constitutivos de una actividad ilícita y
todo ello sin necesidad de comunicarlo previamente al Usuario.
De conformidad con lo previsto en la normativa vigente, ponemos
en su conocimiento que la utilización de cualquier medio de
comunicación electrónica por parte de los Participantes con fines ilícitos,
conlleva la consiguiente responsabilidad civil y/o penal de los mismos, y
su correspondiente multa económica y posibilidad de ingreso en prisión.</p>
</div>
<br/>


<div class="header_text margin-top10">
  <b>SEXTA. RESPONSABILIDAD DE UPM:</b>

  <p>6.1. Comunicaciones: UPM no será responsable de los fallos que
pudieran producirse en las comunicaciones dentro de ViSH, incluido el
borrado, transmisión incompleta o retrasos en la remisión. UPM no será
responsable de omisiones, interrupciones, defectos, fallos en las líneas
de comunicaciones, robo o destrucción, o acceso no autorizado a
comunicaciones de algún Participante, o alteración de dichas
comunicaciones. UPM no es responsable de problemas o desperfectos
técnicos de redes o líneas telefónicas, sistemas informáticos en línea,
servidores o proveedores, equipos informáticos, software, fallos en el
correo electrónico o en los reproductores debido a problemas técnicos o
a congestión de tráfico en Internet, ViSH o en los Servicios vinculados de
Terceros, o una combinación de dichos problemas o desperfectos,
incluidas, a título enunciativo pero no limitativo, lesiones o daños a los
Usuarios o al equipo de cualquier persona, que se relacionen de
cualquier manera con la participación o la descarga de materiales en
relación con ViSH o los Servicios vinculados de Terceros.
</p><p>
6.2. Inhabilidad: UPM no garantiza la privacidad y seguridad de la
utilización de ViSH, ni controla ni garantiza la infalibilidad de ViSH y, en
particular, no excluye que terceros no autorizados (quebrantando las
medidas de seguridad establecidas) puedan tener acceso al uso y/o a la
información que de ViSH hagan Usuarios Registrados o terceros, o
puedan acceder al contenido o remitir virus informáticos, y por lo tanto
excluye toda responsabilidad por los daños y perjuicios que en este
sentido pudieran producirse al Usuario Registrado. Tampoco controla ni
garantiza la ausencia de virus informáticos en los mensajes enviados por
terceros a través de ViSH que puedan producir alteraciones en su
sistema informático (software y hardware) o en los documentos y ficheros
electrónicos almacenados en el sistema informático de los Usuarios.
</p><p>
6.3. Utilidad: UPM no ofrece garantía alguna de adecuación de
ViSH para un fin determinado ni garantiza, resultados específicos a partir
del uso de ViSH, o de los Servicios vinculados de Terceros, ni garantiza
la ausencia de violación de derechos de terceros.
</p><p>
6.4 Exenciones de responsabilidad. UPM no es responsable de los
contenidos publicados por los Usuarios a través de ViSH o en conexión
con él, ni de la precisión o fiabilidad de los mismos. Los contenidos
publicados no reflejan las opiniones de UPM. UPM no otorga ninguna
garantía, expresa ni implícita, respecto de los mencionados contenidos
de los Usuarios.
</p><p>
6.5 Limitación de la responsabilidad. En ningún caso, UPM será
responsable frente a ningún Participante, ni frente a terceros, por daños o
pérdidas, incluidas, a título enunciativo pero no limitativo, lesiones
personales o la muerte, que resulten del uso de ViSH, o de los Servicios
vinculados de Terceros, o de los contenidos de los Usuarios Registrados
publicados en ViSH, o los Servicios vinculados de Terceros, o a través de
ellos, o de la conducta de los Usuarios del Servicio ya sea en línea o no.
Tampoco UPM será responsable de daños directos o indirectos,
incidentales, especiales o punitivos, incluidos, a título enunciativo pero no
limitativo, daños por pérdida de ganancia, o de negocio, que surjan del
uso que cada Participante haga de ViSH o de servicios vinculados a él, o
de los contenidos publicados en ViSH.
</p><p>
UPM no será responsable de las infracciones de cualquier Usuario
Registrado que afecten a los derechos de otros Usuarios del Servicio, o
de terceros, incluyendo pero no limitándose al derecho a la imagen, al
honor y a la intimidad y los derechos de copyright, marcas, patentes, etc.,
así como información privada y/o confidencial y cualquier otro derecho de
propiedad intelectual o industrial.
</p><p>
Los Participantes aceptan indemnizar y mantener indemnes a UPM
y su personal respecto de toda pérdida, responsabilidad, reclamación o
demanda, incluidos, a título enunciativo pero no limitativo, honorarios
razonables de abogados, planteada por terceros debido al uso que el
Participante haga de ViSH en violación o incumplimiento de estas
Condiciones y/o debido al contenido publicado en a través o en conexión
con ViSH.
</p><p>
6.6 Servicios vinculados de terceros. En ViSH se podrán encontrar
enlaces creados y publicados por los Usuarios en, a través o en conexión
con ViSH que pueden incluir vínculos a otros sitios web o servicios de
terceros, UPM no es responsable tampoco de los contenidos, la precisión
ni las opiniones expresadas en dichos sitios web y servicios de terceros,
ni investiga o monitoriza necesariamente, tales sitios web o servicios
para determinar su fiabilidad. La inclusión de cualquier sitio web o
servicio con un vínculo en ViSH, no implica que UPM apruebe o respalde
el sitio web o servicio en cuestión, siendo en cualquier caso el acceso a
estos sitios y servicios de terceros, por la propia cuenta y propio riesgo
de cada Participante. UPM no asume responsabilidad alguna por
anuncios o Servicios vinculados de terceros y vinculados a ViSH, ni por
los bienes o servicios proporcionados por estos terceros, ni por los daños
causados a los Participantes por la consulta o uso de los contenidos
alojados en ViSH. En este sentido UPM no será responsable ni de la
disponibilidad técnica ni de los contenidos de las páginas web a las que
los Participantes accedan por medio de un enlace incluido en ViSH, ni de
los daños causados a los Participantes por la consulta o uso de los
contenidos o servicios ofrecidos por una página web cuyo acceso se
haya producido por medio de un enlace incluido en ViSH. Al establecer
una relación con un Servicio vinculado de Terceros, la relación
contractual existe únicamente entre el Usuario y dicho tercero y en
ningún caso con UPM. Además en esos casos dichos Servicios
vinculados de Terceros puede utilizar y compartir sus datos según la
política de protección de datos propia que se haya establecido para dicho
servicio.
</p><p>
6.7 Comisión de Supervisión. La Comisión de Supervisión,
nombrada por la Universidad Politécnica de Madrid, es la autoridad que
supervisa el uso apropiado de ViSH por los Participantes, así como la
calidad de los contenidos de ViSH. Monitorizará el cumplimiento por los
Usuarios Registrados de las Condiciones Legales y velará por que se
respeten los derechos de propiedad intelectual e industrial, así como
dilucidará cualquier denuncia por contenidos inapropiados o modificación
de contenido no permitida. La Comisión de Supervisión podrá cancelar
cuentas de Usuarios Registrados que incumplan alguna de las
Condiciones, así como eliminar cualquier contenido no permitido (de
acuerdo a la cláusula cuarta) o que no cumpla con unos criterios mínimos
de calidad. Por último, la Comisión de Supervisión verificará la
acreditación de cualquier organización que como tal se registre en ViSH
y en el caso de que se organicen concursos o competiciones podrá ser el
Jurado que decidirá quién es el ganador del mismo (siempre de acuerdo
con los términos establecidos del concurso). Esta Comisión de
Supervisión tendrá las mismas limitaciones de responsabilidad que las
establecidas en estas Condiciones para ViSH. Para cualquier consulta o
contacto con ViSH con o con la Comisión de Supervisión, los usuarios
podrán comunicarse a través de la dirección electrónica de contacto:
vish@upm.es.
</p><p>
En la interpretación y aplicación de los presentes términos de
uso y condiciones legales, prevalecerá siempre en criterio
interpretativo de la Comisión de Supervisión.
</p>
</div>
<br/>


<div class="header_text margin-top10">
  <b>SÉPTIMA. PROPIEDAD INTELECTUAL DE LA PLATAFORMA Y
DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL:</b>
<p>
Los Participantes reconocen que todas las aplicaciones
informáticas, elementos, imágenes, diseños, dibujos, contenidos, logos,
marcas y cualquier otro producto u otras utilidades incluidas en ViSH, o
susceptibles de estar protegidas en virtud de la legislación aplicable en
materia de Propiedad Intelectual o Industrial, Patentes y Marcas a que
tuviere acceso por el acceso o el registro al Servicio de la plataforma
ViSH son propiedad de UPM o de terceros titulares de los mismos. En
este sentido ViSH tiene contenido propio de UPM que está protegido por
leyes de copyright, marcas comerciales, patentes, secretos comerciales,
secretos industriales y otras leyes, y UPM es el propietario de todos los
derechos sobre el mismo y sobre ViSH y conserva tales derechos.
</p><p>
En consecuencia, los Participantes se comprometen a respetar los
términos y condiciones establecidos por las presentes Condiciones y a
hacer uso de ViSH respetando tales derechos y siendo el único
responsable de su incumplimiento frente a Terceros, ya que UPM
únicamente le concede en relación con sus contenidos propios, una
licencia limitada, revocable, no susceptible de sublicencia, para
reproducir y mostrar dichos contenidos (sin incluir el código de software)
únicamente para su uso personal, en relación con la visualización y el
uso de ViSH.
</p><p>
En este sentido el título y los derechos de propiedad sobre ViSH
serán en todo caso titularidad de UPM de tal forma que los Participantes
se comprometen a no suprimir o alterar cualquier elemento, contenido,
signo distintivo utilizado como marca o nombre comercial (gráfico,
logotipo, etc.), elemento protegido por el derecho de autor o derecho de
propiedad industrial u otros avisos, leyendas, símbolos o etiquetas de
UPM que aparezcan en ViSH.
</p><p>
Ni el acceso por parte del Navegante, ni el registro en la plataforma
por parte del Usuario Registrado implica en ningún caso cesión al mismo
de derechos por UPM en materia de Propiedad Intelectual, Patentes y
Marcas. UPM prohíbe la utilización de ViSH de cualquier forma que de
manera directa o indirecta suponga la contravención de la legislación
aplicable en materia de Propiedad Intelectual, Patentes y Marcas, siendo
tal actuación así como sus consecuencias de la responsabilidad
exclusiva de los Participantes, que mantendrán, en todo caso, indemnes
a UPM. En este sentido ningún participante podrá utilizar (en el sentido
amplio sin que esta lista sea exhaustiva copiar, modificar, traducir,
publicar, enviar, transmitir, distribuir, interpretar, mostrar, vender o poner
a disposición de terceros) ningún material, ni ningún contenido que se
presente en ViSH o a través de él y que viole los derechos de copyright,
patentes, marcas comerciales, secretos comerciales u otros derechos de
propiedad intelectual de cualquier persona o entidad. En caso contrario
UPM estará legitimada para cancelar la cuenta del Participante y
denegarle el acceso y uso presente y/o futuro de ViSH, y/o de cualquiera
de los contenidos y/o servicios en él incorporados y todo ello sin que el
Usuario pueda exigir indemnización o compensación alguna.
</p><p>
Si algún Participante cree que su trabajo ha sido copiado y
publicado a través de ViSH sin su consentimiento, podrá igualmente
denunciarlo poniéndose en contacto con los administradores en la
dirección vish@upm.es explicando de la manera más detallada posible,
la obra protegida por derechos de autor que se alega ha sido violada; la
identificación del material que se alega que viola los derechos en
cuestión y donde está ubicado dentro de ViSH, y datos de contacto del
denunciante.
</p><p>
En ningún caso UPM asume, ni reclama la titularidad de derechos
de propiedad intelectual e industrial, imagen, marca, etc. sobre los
contenidos (textos, imágenes, vídeos, sonidos, obras de autor,
aplicaciones, recursos, etc.) aportados por los propios Usuarios
Registrados en sus respectivos perfiles o que los mismos, envíen, alojen,
transcriban, muestren o publiquen a través de ViSH (en adelante
Contenidos de los Usuarios). Por lo tanto, dichos derechos de propiedad
intelectual seguirán siendo de los Usuarios Registrados propietarios de
los mismos o autorizados por los propietarios, en toda su extensión salvo
la licencia concedida a ViSH para su publicación (ver párrafo siguiente).
En ViSH, como plataforma con un repositorio de contenido libre
compartido subido por Usuarios Registrados bajo los términos elegidos
por los mismos según licencias libres, se puede crear, publicar,
desarrollar y compartir contenidos en cualquier idioma. Los Usuarios
Registrados también podrán modificar contenidos ya existentes y hacer
trabajos derivados a partir de los mismos en los casos en los que la
licencia del contenido lo permita y en las condiciones recogidas en la
misma.
</p><p>
Aceptando estas Condiciones los Usuarios Registrados que suban
contenidos manifiestan y garantizan a ViSH que son titulares (y que lo
seguirán siendo mientras utilicen ViSH) de todas licencias, derechos,
consentimientos y permisos que se necesitan para permitir a ViSH la
publicación de dichos contenidos bajo las licencias libres que ellos hayan
elegido. Los Usuarios Registrados autorizan a ViSH a reproducir y hacer
disponible dicho contenido en Internet, con el derecho a transferirlo a
terceras partes y sin limitación temporal o territorial. Los Usuarios
Registrados no recibirán ninguna retribución o canon por esta licencia.
Además garantizan que dichos contenidos no violan los derechos de
privacidad, derechos de propiedad intelectual o industrial o de imagen o
marca de terceros, ni ningún otro derecho de ninguna persona o entidad.
</p><p>
La licencia concedida por los Usuarios Registrados sobre sus
contenidos en ViSH permanecerá inalterada aunque se hubiera dado de
baja o cancelado la cuenta de dichos Usuarios. En caso que los Usuarios
Registrados quisieran cesar o modificar la licencia dada a ViSH sobre los
contenidos que han alojado o publicado en la plataforma, deberán pedirlo
expresamente a la Comisión de Supervisión para regularizar la situación
de dichos contenidos a futuro. No obstante, el Usuario Registrado
comprende y acepta que respecto al pasado mientras sus contenidos
estuvieron licenciados en la modalidad elegida según licencias libres, en
ViSH o a través de éste se conocieron por terceros, UPM no tiene
ninguna obligación de eliminar o pedir a otros Usuarios Registrados, u a
otras personas, entidades o servicios que eliminen dicho contenido y por
lo tanto, este contenido puede seguir apareciendo y utilizándose de
forma indefinida.
</p><p>
ViSH está protegido por las leyes nacionales e internacionales de
propiedad intelectual, quedando totalmente prohibida la reproducción,
distribución, comunicación pública no autorizada o transformación de la
web o cualquiera de sus componentes y todo ello sin perjuicio que los
derechos de terceras personas puedan tener en alguno de sus
elementos.
</p><p>
El software del que hace uso la plataforma ViSH, alojado en el
repositorio https://github.com/ging/vish, podrá utilizarse y modificarse de
acuerdo a los términos y condiciones de la licencia GNU Affero General
Public License 3.
</p>
</div>
<br/>


<div class="header_text margin-top10">
  <b>OCTAVA. LEY APLICABLE Y JURISDICCIÓN:</b><br/>

  Estos términos de uso y condiciones legales están escritos en
  español y están sujetos a la ley española. Para cualquier
  controversia derivada del uso de los servicios ofrecidos o del
  contenido del sitio web, las partes se someten a la jurisdicción de
  los Juzgados y Tribunales de la ciudad de Madrid, salvo en los
  casos en que no sea posible por aplicación de la ley. En caso de
  duda, prevalecerá siempre la legislación aplicable en España.

</div>
<br/>


<div class="header_text margin-top10">
  <b>NOVENA. DISPOSICIONES VARIAS:</b>

<p>La ilicitud, invalidez o inefectividad de cualquiera de las cláusulas
de estas Condiciones no afectará a la eficacia del resto, siempre que los
derechos y obligaciones de las Partes no se vieran afectados de forma
esencial. Dichas cláusulas deberán reemplazarse o integrarse con otras,
siendo conformes a la ley.
</p><p>
La falta de exigencia de cumplimiento por cualquiera de las Partes,
en relación con cualquiera de las obligaciones que sobre la otra parte
recayera en virtud del presente Contrato, no se reputará renuncia al
derecho a exigirla en cualquier momento posterior.
</p><p>
UPM podrá dirigir a los Usuarios sus comunicaciones a la dirección
de correo electrónico facilitado por éstos en el momento de registrarse.
</p><p>
Se informa favorablemente las condiciones legales y política
de privacidad de la plataforma ViSH, previa incorporación de los
párrafos introducidos en negrita en el texto.
</p>
</div>


  </div>
</section>
