<%= div_for excursion, :class => 'timeline-object' do %>
  <ul class="thumbnails">
    <li >
      <%= link_to excursion_thumb_for(excursion, 130), excursion, :class => "img-timeline" %>
      <div class="info-object-timeline">
        <div class="title-object">
          <%= link_to excursion.title, excursion %>
        </div>
        <p><%= auto_link truncate_name(excursion.description, :length => 70) %></p>
        <p class="details"><%= link_to t('details.msg'), excursion, :class => "" %></p>
      </div>
      </li>
    </ul>

<% end %>


