<section id="info-notebook">
  <%= javascript_tag do %>
  <%= modal_for(@excursion.author.subject) %>
  <% @excursion.contributors.each do |c| %>
  <%= modal_for(c.subject) %>
  <%end%>
<% end %>
  <div class="notebook margin-left100">
    <div class="notebook-cabecera">   
    </div>
    <div class="notebook-medio">
      
<!--tittle-->
      <div class="tittle-notebook">
        <%= t('document.info.title') %>
      </div>
      <div class="text-notebook">
        <%= @excursion.title %>
      </div>
<!--autor-->
      <div class="tittle-notebook">
        <%= t('author').capitalize %>
      </div>
      <div class="text-notebook">
        <a data-toggle="modal" href="#user-modal-<%= @excursion.author.slug %>" class="user-modal-button-<%= @excursion.author.slug %> modal-no-trigger">
          <%= truncate_name(@excursion.author.name, :length => 50) %>
        </a>
      </div>
      <% unless @excursion.contributors.blank? %>
<!--contributors-->
        <div class="tittle-notebook">
          <%= t('excursion.contributors.name').capitalize %>
        </div>
        <div class="text-notebook">
          <% @excursion.contributors.each do |c| %>
            <a data-toggle="modal" href="#user-modal-<%= c.slug %>" class="user-modal-button-<%= c.slug %> modal-no-trigger">
                <%= truncate_name(c.name, :length => 50) %>
            </a>, 
          <%end%>
        </div>
      <%end%>
      <% unless @excursion.description.blank? %>
<!--description-->
        <div class="tittle-notebook">
          <%= t('info.description') %>
        </div>
        <div class="text-notebook">
          <%= truncate(@excursion.description, :length => 200) %>
        </div>
      <% end %>
      <% unless @excursion.tag_list.blank? %>
<!--tags-->
          <div class="tittle-notebook">
            <%= t('info.tags') %>
          </div>
          <div class="clearfloat"></div>
          <div class="">
            <ul class="tagit-suggestions">
              <% @excursion.tag_list.each do |tag| %>
                <li class="tagit-choice">
                  <%= link_to tag, search_path(:q => tag) %>
                </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <% unless @excursion.language.blank? %>

<!--language-->

      <div class="tittle-notebook">
        <%= t('lang.title').capitalize %>
      </div>
      <div class="text-notebook">
        <%= case @excursion.language
                  when '';
                    t('lang.independent')
                  when 'de';
                    'Deutsch'
                  when 'en';
                    'English'
                  when 'es';
                    'Español'
                  when 'fr';
                    'Français'
                  when 'it';
                    'Italiano'
                  when 'pt';
                    'Português'
                  when 'ru';
                    'Русский'
                  else
                    ; t('lang.others')
                end %>
        </div>
      <% end %>
      <% if @excursion.respond_to? :age_min and @excursion.respond_to? :age_max %>
<!--recomended age-->
        <div class="tittle-notebook">
          <%= t('document.recommended_age') %>
        </div>
        <div class="text-notebook">
          <%= t('document.recommended_age_detail', :min => @excursion.age_min, :max => @excursion.age_max) %>
        </div>
      <% end %>
<!--date-create
        <div class="tittle-notebook">
          <%= t('document.info.date.created_at') %>
        </div>

        <div class="text-notebook">
          <%= I18n.localize @excursion.created_at, :format => :long %>
        </div>
        -->
<!--date-upload-->
      <div class="info_resources">
        <div class="tittle-notebook">
          <%= t('document.info.date.updated_at') %>
        </div>
        <div class="text-notebook">
          <%= I18n.localize @excursion.updated_at, :format => :long %>
        </div>
      </div>

    </div>
  </div>
  <div class="notebook-pie margin-left100"></div>
</section>


