<% unless excursion.blank? %>
<div id='slider<%= excursion.id.to_s %>' class='swipe'>
  <ul>
    <li style='display:block'>
      <div>
        <a class="arrow-right" href='#' onclick='slider<%= excursion.id.to_s %>.next();return false;'><i class='icontool16-tool16_arrow_1'></i></a>
        <%= link_to excursion_thumb_for(excursion, 130), excursion, :class => "excursion" %>
        <article class="info">
          <%= link_to excursion.title, excursion, :class => "title "  %>  
          <div class="by">by
            <span class="autor">
              <%= link_to excursion.author.name, excursion.author.user %> 
            </span>
          </div>
        </article>
        <div class="count">
          <% unless excursion.draft %>
          <span class="">
            <%= excursion.post_activity.likes.count.to_s %>
          </span>
          <img src="/assets/icons/star-MENU-active.png" width="12px" height="12px">
          <span class="">
            <%= excursion.post_activity.comments.count.to_s %>
            <img src="/assets/icons/view2.png" width="12px" height="12px">
          </span>
          <%end%>
        </div>
      </div>
    </li>
    <li style='display:none'>
      <div>
        <a class="arrow-right" href='#' onclick='slider<%= excursion.id.to_s %>.next();return false;'><i class='icontool16-tool16_arrow_1'></i></a>
        <a class="arrow-left" href='#' onclick='slider<%= excursion.id.to_s %>.prev();return false;'><i class='icontool16-tool16_arrow_5'></i></a>
        <div class="tags">
        TAGS   
          <% excursion.tags.each do |t| %>
          <a href="#"><%= t.to_s %></a>
          <% end %>
        </div>
      </div>
    </li>
    <li style='display:none'>
      <div>
        <a class="arrow-left" href='#' onclick='slider<%= excursion.id.to_s %>.prev();return false;'><i class='icontool16-tool16_arrow_5'></i></a> 
        <% unless excursion.description.blank? %>
        <div class="description">
          <%= truncate excursion.description, :length => 200 %>
        </div>
        <% end %>
      </div>
    </li>
</div>
<% end %>

<script src='swipe.js'></script>
<script>
  var slider<%= excursion.id.to_s %> = new Swipe(document.getElementById('slider<%= excursion.id.to_s %>'));
</script>
