<div class="clearfloat"></div>
<%= div_for suggestion, :class => 'excursion-home' do %>
  <div class="excursion-item">
    <ul class="thumbnails">
      <li id="img-excursion">
      <%= link_to excursion_thumb_for(suggestion, 130), suggestion, :class => "container" %>
        <div class='number_pages'>
          <%= suggestion.slide_count %>
        </div>
      </li>
      <li class="info-excursion">
        <div class="title-excursion">
          <%= link_to suggestion.title, suggestion %>
        </div>

        <a class="action"> 
          <%= link_to(image_tag('icons/close.png') )%>
        </a>

        <p class="by" style="line-height: 110%;">
          <%= truncate suggestion.description, :length => 90 %>
        </p>
      </li>
    </ul>
  </div>
<% end %>

<div class="clearfloat"></div>



