<section class="excursions">
  <h1>
    excursions
  </h1>
  <article class="excursion" style="margin-left: 0">
    <%= image_tag("badges/badge-1.png",  :class=> "badges" ) %>

    <%= link_to image_tag("excursions/exc-prev.png",  :class=> "" ), "#" %>
    <div class="info">
      <a class="name">
        excursion name excur excursion name sion name   
      </a>
      <div class="like">    
        <span class="count">32</span>
        <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
      </div>

      <div class="info-bottom">
        <a class="author"> 
          author name     
        </a>
        <div class="views">
          <span class="count">23</span>
          views    
        </div>
      </div>
    </div>
  </article>

  <article class="excursion">
    <%= image_tag("badges/badge-1.png",  :class=> "badges" ) %>

    <%= link_to image_tag("excursions/exc-prev.png",  :class=> "" ), "#" %>
    <div class="info">
      <a class="name">
        excursion name excur excursion name sion name   
      </a>
      <div class="like">    
        <span class="count">32</span>
        <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
      </div>

      <div class="info-bottom">
        <a class="author"> 
          author name     
        </a>
        <div class="views">
          <span class="count">23</span>
          views    
        </div>
      </div>
    </div>
  </article>
  <article class="excursion">
    <%= image_tag("badges/badge-1.png",  :class=> "badges" ) %>

    <%= link_to image_tag("excursions/exc-prev.png",  :class=> "" ), "#" %>
    <div class="info">
      <a class="name">
        excursion name excur excursion name sion name   
      </a>
      <div class="like">    
        <span class="count">32</span>
        <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
      </div>

      <div class="info-bottom">
        <a class="author"> 
          author name     
        </a>
        <div class="views">
          <span class="count">23</span>
          views    
        </div>
      </div>
    </div>
  </article>
  <article class="excursion">
    <%= image_tag("badges/badge-1.png",  :class=> "badges" ) %>

    <%= link_to image_tag("excursions/exc-prev.png",  :class=> "" ), "#" %>
    <div class="info">
      <a class="name">
        excursion name excur excursion name sion name   
      </a>
      <div class="like">    
        <span class="count">32</span>
        <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
      </div>

      <div class="info-bottom">
        <a class="author"> 
          author name     
        </a>
        <div class="views">
          <span class="count">23</span>
          views    
        </div>
      </div>
    </div>
  </article>
  <article class="excursion">
    <%= image_tag("badges/badge-1.png",  :class=> "badges" ) %>

    <%= link_to image_tag("excursions/exc-prev.png",  :class=> "" ), "#" %>
    <div class="info">
      <a class="name">
        excursion name excur excursion name sion name   
      </a>
      <div class="like">    
        <span class="count">32</span>
        <%= link_to image_tag("icons/likes/star-active.png",  :class=> "" ), "#" %>
      </div>

      <div class="info-bottom">
        <a class="author"> 
          author name     
        </a>
        <div class="views">
          <span class="count">23</span>
          views    
        </div>
      </div>
    </div>
  </article>
</section>
