<ul class="excursions">
  <h1>
    excursions
  </h1>
  <%= render partial: 'excursions/item' %>
  <%= render partial: 'excursions/item' %>
  <%= render partial: 'excursions/item' %>
  <%= render partial: 'excursions/item' %>
  <%= render partial: 'excursions/item' %>
</ul>