<section class="characteristics">
  <div class="carrusel">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" data-interval="10000" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" data-interval="10000"></li>
          <li data-target="#myCarousel" data-slide-to="2" data-interval="10000"></li>
        </ol>  
        <div class="carousel-inner">
          
          <div class="active item">
            <div class="img_carousel inspiration"><%= image_tag("carrusel/background1.png",  :class=> "" ) %></div>
            <div class="description">
              <h1> <%=t("vish.carousel_title")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description")%>
              </p>
              <!--<hr class="soften">-->
              <div class="log-in">
                <div class="redes">
                  <a href="#">
                    <%= image_tag("buttons/facebook_signin.png" ) %>
                  </a>
                  <a href="#">
                    <%= image_tag("buttons/twitter_signin.png" ) %>
                  </a>
                </div>
                <h4 class="email">
                  or register with your 
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to t('devise.links.email'), new_registration_path(resource_name) %>
                  <% end -%>
                </h4>
              </div>
            </div>
          </div>

          <div class="item"> 
            <div class="img_carousel inspiration"><%= image_tag("carrusel/background3.png",  :class=> "" ) %></div>  
            <div class="description">
              <h1> <%=t("vish.carousel_title2")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description2")%>
              </p>
              
            </div>
          </div>

          <div class="item">
            <div class="img_carousel inspiration"><%= image_tag("carrusel/background1.png",  :class=> "" ) %></div>
            <div class="description">
              <h1> <%=t("vish.carousel_title3")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description3")%>
              </p> 
             
            </div>
          </div>

        </div>
       </div> 
   </div>
</section>
