<div id="head_front">
  <div class="ilustration">
    <div class="vish_ilustration">
      <%= image_tag('frontpage/vishphoto2.jpg',:class => "vishphoto"); %>
      <%= image_tag('frontpage/vishphoto3.jpg',:class => "vishphoto_mobile"); %>
      <div class="gradient1"></div>
      <%= image_tag('frontpage/arbol-05.svg',:class => "tree"); %>
    </div>
  </div>
  <div class="vish_logo_center">
    <%= image_tag('frontpage/logo-04.png',:class => "logo_center"); %>
    <hr>
    <h3><%=t("frontpage.main_text")%></h3>
  </div>
</div>