<section class="characteristics hidden-tablet hidden-desktop">
  <div id="mobile_carousel" class="carousel">
      <div id="myCarousel2" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel2" data-slide-to="0" data-interval="4000" class="active"></li>
          <li data-target="#myCarousel2" data-slide-to="1" data-interval="2000"></li>
          <li data-target="#myCarousel2" data-slide-to="2" data-interval="2000"></li>
          <li data-target="#myCarousel2" data-slide-to="3" data-interval="2000"></li>
        </ol>  
        <div class="carousel-inner">


          <div class="item active"> 
            <div class="img_carousel "><%= image_tag("carrusel/mobile/4.jpg",  :class=> "" ) %></div>  
            <div class="description">
              <h1> <%=t("vish.carousel_title2")%> </h1>
              <!--<hr class="soften">-->
              <p>
<!--competitions-->
                <%=t("vish.description2")%>
              </p>
              
            </div>
          </div>


          <div class=" item">
            <div class="img_carousel "><%= image_tag("carrusel/mobile/1.jpg",  :class=> "" ) %></div>
            <div class="description">
              <h1> <%=t("vish.carousel_title")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description")%>
              </p>
              <!--<hr class="soften">-->
              <div class="log-in">
                <!--
                <div class="redes">
                  <a href="#">
                    <%= image_tag("buttons/facebook_signin.png" ) %>
                  </a>
                  <a href="#">
                    <%= image_tag("buttons/twitter_signin.png" ) %>
                  </a>                
                </div>-->
                <h4 class="email">
                  <%=t("vish.register_with")%>
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to t('devise.links.email'), new_registration_path(resource_name) %>
                  <% end -%>
                </h4>
              </div>
            </div>
          </div>

          <div class="item"> 
            <div class="img_carousel "><%= image_tag("carrusel/mobile/2.jpg",  :class=> "" ) %></div>  
            <div class="description">
              <h1> <%=t("vish.carousel_title2")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description2")%>
              </p>
              
            </div>
          </div>

          <div class="item">
            <div class="img_carousel "><%= image_tag("carrusel/mobile/3.jpg",  :class=> "" ) %></div>
            <div class="description">
              <h1> <%=t("vish.carousel_title3")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description3")%>
              </p> 
             
            </div>
          </div>

        </div>
       </div> 
   </div>
</section>

<section class="characteristics hidden-phone">
  <div id="desktop_carousel" class="carousel">
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>  
        <div class="carousel-inner">

          <div class="item active"> 
            <div class="img_carousel "><%= image_tag("carrusel/front4.jpg",  :class=> "" ) %></div>  
            <div class="description">
              <h1> <%=t("vish.carousel_title4")%> </h1>
              <!--<hr class="soften">-->
                <p><%=t("vish.description4")%></p>
                <p><%=raw t("vish.description41")%></p>
              
            </div>
          </div>



          <div class=" item">
            <div class="img_carousel "><%= image_tag("carrusel/front1.jpg",  :class=> "" ) %></div>
            <div class="description">
              <h1> <%=t("vish.carousel_title")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description")%>
              </p>
              <!--<hr class="soften">-->
              <div class="log-in">
                <!--
                <div class="redes">
                  <a href="#">
                    <%= image_tag("buttons/facebook_signin.png" ) %>
                  </a>
                  <a href="#">
                    <%= image_tag("buttons/twitter_signin.png" ) %>
                  </a>                
                </div>-->
                <h4 class="email">
                  <%=t("vish.register_with")%>
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to t('devise.links.email'), new_registration_path(resource_name) %>
                  <% end -%>
                </h4>
              </div>
            </div>
          </div>

          <div class="item"> 
            <div class="img_carousel "><%= image_tag("carrusel/front2.jpg",  :class=> "" ) %></div>  
            <div class="description">
              <h1> <%=t("vish.carousel_title2")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description2")%>
              </p>
              
            </div>
          </div>

          <div class="item">
            <div class="img_carousel "><%= image_tag("carrusel/front3.jpg",  :class=> "" ) %></div>
            <div class="description">
              <h1> <%=t("vish.carousel_title3")%> </h1>
              <!--<hr class="soften">-->
              <p>
                <%=t("vish.description3")%>
              </p> 
             
            </div>
          </div>

        </div>
       </div> 
   </div>
</section>

