<div class="front_info">
	<div class="ch-grid text_1_info">
		<li>
			<div class="ch-item ch-img-1" >				
				<div class="ch-info-wrap" >
					<a href="/catalogue">
						<div class="ch-info">
							<div class="ch-info-front ch-img-1"></div>
							<div class="ch-info-back">
								<i class="fa fa-pencil"></i>
							</div>	
						</div>
					</a>
				</div>
			</div>
		</li>
		<h2><%=t("frontpage.educational.title")%></h2>
		<p><%=t("frontpage.educational.description")%></p>
	</div>
	<div class="ch-grid text_2_info">
		<li>
			<div class="ch-item ch-img-2">
				<div class="ch-info-wrap"  >
					<a href="<%=search_path(:type => "user", :browse=>"true", :sort_by => "popularity")%>">
						<div class="ch-info">
							<div class="ch-info-front ch-img-2"></div>
							<div class="ch-info-back">
								<i class="fa fa-group"></i>
							</div>
						</div>
					</a>
				</div>
			</div>
		</li>
		<h2><%=t("frontpage.community.title")%></h2>
		<p><%=t("frontpage.community.description")%></p>
	</div>
	<div class="ch-grid text_3_info">
		<li>
			<div class="ch-item ch-img-3">
				<div class="ch-info-wrap">
					<a href="<%=search_path(:type => "excursion", :browse=>"true", :sort_by => "popularity")%>">
						<div class="ch-info">
							<div class="ch-info-front ch-img-3"></div>
							<div class="ch-info-back">
								<i class="fa fa-laptop"></i>
							</div>
						</div>
					</a>
				</div>
			</div>
		</li>
		<h2><%=t("frontpage.elearning.title")%></h2>
		<p><%=t("frontpage.elearning.description")%></p>
	</div>
</div>