<% content_for :title do%>
  <%= t('welcome', :site => t('site.name')) %>
<%end%>
<section name="main">
  <div class="logo-frontpage"></div>
  <p class="name-frontpage"><%=t('site.name')%></p>
  <div id="search-frontpage" >
    <%= render :partial => 'layouts/search' ,:locals => { :sizeFieldSearch => "input-xxlarge" } %>
  </div>

  <div class="cloud_tags">

    <div id="repositories">
      <%= link_to(t('resource.title.other'),search_path(:type => "resource"),) %>
    </div>
    <div id="excursion">
      <%= link_to(t('excursion.other'),search_path(:type => "excursion"),) %>
    </div>
    <!--<div id="organizations"class="link_gray span4 offset7"><%#= link_to(t('organization.other'),search_path(:type => "excursion"), :class => 'size60') %></div>-->
    <div id="users">
      <%= link_to(t('user.other'),search_path(:type => "user"),) %>
    </div>
  </div>
</section>

