<%content_for :title do%><%= t('site.current.title') %><%end%>
<%content_for :keywords do%><%= t('site.current.keywords') %><%end%>
<%content_for :description do%><%= t('site.current.description')%><%end%>
<% my_locale = params[:locale] ? ("?locale="+params[:locale]) : ""%>
<%content_for :canonical do%><%= Vish::Application.config.full_domain + my_locale %><%end%>

<section id="frontpage">
  <div id="presentation">
    <%= render :partial => "frontpage/main" %>
  </div>
  <div class="decoration">
    <hr>
    <i class="fa fa-circle"></i>
  </div>
  <div class="entities">
    <%= render partial: 'frontpage/entities' %>
  </div>
</section>

<%= content_for :javascript do %>
  $("footer#footer").addClass("fixed-bottom");
  $("#wrap").addClass("wrap-when-fixed-bottom");
<%end%>
