<% content_for :title do %>
  <%= t('welcome', :site => t('site.name')) %>
<% end %>



<section id="wall">
  <article class="row-fluid ">

    <div id="search-frontpage">

      <div class="  pagination-centered ">
        <form>

          <%= render :partial => 'layouts/search', :locals => {:sizeFieldSearch => "input-resize"} %>

        </form>
      </div>
    </div>

    <div class="span12 DsignesLight ">

      <div class="span11 pagination-right link_gray2 ">
        <%= link_to(t('frontpage.nanotechnology'), search_path(:q => "nanotechnology"), :class => 'size_medium') %>
      </div>

      <div class="span7 pagination-right margin_user link_gray3 ">
        <%= link_to(t('frontpage.gridComputing'), search_path(:q => "grid computing"), :class => 'size_x-large') %>
      </div>

      <div class="span10  pagination-right link_gray4  ">
        <%= link_to(t('excursion.other'), search_path(:type => "excursion"), :class => 'size_xx-large') %>
      </div>

      <div class="span11 pagination-right margin_user link_gray3">
        <%= link_to(t('user.other'), search_path(:type => "user"), :class => 'size_x-large') %>
      </div>

      <div class="span7 margin_life_sciences link_gray2 ">
        <%= link_to(t('frontpage.lifesciences'), search_path(:q => "life sciences"), :class => 'size_largue') %>
      </div>


      <div class="span8 pagination-right margin_user  link_gray1 ">
        <%= link_to(t('frontpage.biotechnology'), search_path(:q => "biotechnology"), :class => 'size_small') %>
      </div>

    </div>

  </article>
</section>




<footer id="wall">
  <article class="row-fluid ">
    <div class="span12">
        <div class="btn btn-primary btn_frontpage">
          <%= link_to t('sign_up'), new_user_registration_path %>
        </div>
        <div class="btn btn-success btn_frontpage btn_explore">
          <a href="/explore"><%= t('explore') %></a>
        </div>
        <div class="btn btn-primary btn_frontpage">
          <%= link_to t('devise.links.sign_in'), new_user_session_path %>
        </div>
      </div>
  </article>
</footer>
