<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html manifest="/offline/manifest">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <%= favicon_link_tag "icons/favicon.ico" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "application" %>

	<script type="text/javascript">
		function start(){
			if(typeof(Storage)!=="undefined")
			{
				// Yes! localStorage and sessionStorage support!
			 	//get the array of presentations with their ids, i.e. {[1], [6], [78]}
			 	var list = JSON.parse(localStorage.getItem("presentation_list"));
			 	var pres = null;
			 	var div_to_add = null;
			 	if(list){
			 		$.each(list, function(index, id) { 
					  	pres = JSON.parse(localStorage.getItem("presentation_"+id));
			 			if(pres){
			 				div_to_add = $('#div_for_excursion').clone();
			 				div_to_add.show(); //remove the display:none
			 				$(div_to_add).attr("id", "presentation_"+id);
							$(div_to_add).find(".excursion_title").html(pres.title);
							if(localStorage.getItem(pres.avatar)){
								$(div_to_add).find(".excursion_logo").attr("src", localStorage.getItem(pres.avatar));
							}
							else{
								$(div_to_add).find(".excursion_logo").attr("src", "/assets/logos/original/excursion-00.png");
							}
							$(div_to_add).find(".excursion_link").attr("href", localStorage.getItem("presentation_"+id+"_url"));
							
							$(div_to_add).find(".number_pages").html(pres.slides.length);
							$(div_to_add).find(".excursion_author").html("by" + pres.author);


			 				$("#excursion_list").append(div_to_add);
			 			}
					});			 		
			 	}
			 	else{
			 		$("#excursion_list").html("<div>No cached excursions.</div>");
			 	}			 	
			}
			else
			{
				// Sorry! No web storage support..
			  	console.log("Sorry! No web storage support.");
			}
		}
	</script>
</head>
<body onload="start()">

<div class="span6 ">
	<div class="logo-home ">
	  <%= link_to(image_tag('logo.png', :alt => t('site.name')), '/', :class => "brand "); %>
	</div>
	<span class="link_virtual size24 virtualsciencehub span3 ">
	  <%= link_to(t('site.name'), '/', :class => "brand"); %>
	</span>
</div>
<div id="excursion_list">

</div>
<div class="excursion span3" id="div_for_excursion" style="display:none">
    <ul class="thumbnails ">
        <li class="span1">
          <a href="" class="container excursion_link"><img class="excursion_logo" alt="Excursion-00" src="/assets/logos/original/excursion-00.png"></a>
          <div class="number_pages">8</div>
        </li>
        <li class="span2">
          <div class="caption inline-block">
            <h4 class="ellipsis w150px">
              <a href="/excursions/36" class="excursion_title">example</a>
            </h4>
            <h5 class="excursion_author blue-opacity ellipsis w150px">by ebarra</h5>            
          </div>
        </li>
    </ul>
</div>

</body>
</html>
