<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html manifest="/offline/manifest">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <%= favicon_link_tag "icons/favicon.ico" %>
    <%= stylesheet_link_tag "application" %>

	<script type="text/javascript">
		function start(){
			if(typeof(Storage)!=="undefined")
			{
				// Yes! localStorage and sessionStorage support!
			 	//get the array of presentations with their ids, i.e. {[1], [6], [78]}
			 	var list = JSON.parse(localStorage.getItem("presentation_list"));
			 	var pres = null;
			 	var div_to_add = null;
			 	if(list){
			 		$.each(list, function(index, id) { 
					  	pres = JSON.parse(localStorage.getItem("presentation_"+id));
			 			if(pres){
			 				div_to_add = $('#div_for_excursion').clone();
			 				div_to_add.show(); //remove the display:none
			 				$(div_to_add).attr("id", "presentation_"+id);
							$(div_to_add).find(".excursion_title").html(pres.title);
							if(localStorage.getItem(pres.avatar)){
								$(div_to_add).find(".excursion_logo").attr("src", localStorage.getItem(pres.avatar));
							}
							else{
								$(div_to_add).find(".excursion_logo").attr("src", "/assets/logos/original/excursion-00.png");
							}
							$(div_to_add).find(".excursion_link").attr("href", localStorage.getItem("presentation_"+id+"_url"));
							
							$(div_to_add).find(".number_pages").html(pres.slides.length);
							$(div_to_add).find(".excursion_author").html("by" + pres.author);

							$(div_to_add).find(".delete_offline_ex_link").attr("onClick","delete_offline_excursion("+id+")");

			 				$("#excursion_list").append(div_to_add);
			 			}
					});			 		
			 	}
			 	else{
			 		$("#excursion_list").html("<div>No cached excursions.</div>");
			 	}			 	
			}
			else
			{
				// Sorry! No web storage support..
			  	console.log("Sorry! No web storage support.");
			}
		};

		function delete_offline_excursion(excursion_id) {
			//first the div
			$("#presentation_"+excursion_id).remove();
			//then the localstorage
			localStorage.removeItem("presentation_"+excursion_id);
			localStorage.removeItem("presentation_"+excursion_id + "_url");
			var list = JSON.parse(localStorage.getItem("presentation_list"));
			var index = $.inArray(excursion_id, list);
			list.splice(index, 1);
			localStorage.setItem("presentation_list", JSON.stringify(list));

			//and finally the appcache
			//amazing, but this can't be done
		}
	</script>
</head>
<body onload="start()">
<div class="wrapper">
	<div class="container">
	  <header id="headerFront row span12">
	     
		<div class="row ">
		  <div class="space_center"></div>
		  <div class="space_center"></div>
		  <div class="span6 ">
		    <div class="logo-home ">
		      <%= link_to(image_tag('logo.png', :alt => t('site.name')), '/', :class => "brand "); %>
		    </div>
		    <span class="link_virtual size24 virtualsciencehub span3 ">
		      <%= link_to(t('offline.title'), '/', :class => "brand"); %>
		    </span>
		  </div>		
		</div>
		<div class="space_center"></div>
		<div class="space_center"></div>
	  </header>

		<div class="row body-height">
			<div class="excursion tabbable">
			  <ul class="nav nav-tabs span7">
			    <li class="active"><a data-toggle="tab" href="#ex-1"><%= t('excursion.other') %></a></li>			    
			  </ul>			    
			</div>

			<div class="tab-content">
			  <div id="ex-1" class="tab-pane active">
			    <div id="excursion_filter_net">
			      <div class=" btn-toolbar row">
				  <div class="span2">				    
				    <div class="inline-block"><input id="excursion-filter" type="text" class="input-medium onmiddle" placeholder="<%= t('filter') %>" name="filter"></div>
				  </div>
			    </div>
			    <div id="excursion_list" class="block row space_bottom">			      
			    </div>
			</div>	    	
	 	</div>
		
	</div>

	<div class="container">
	    <footer class="row span12">
	      <div class="footersticky">
			<nav class="menu pagination-centered">
			  <ul class="link_gray btn-group dropup ">
			    <li><%= t('site.name') %> &nbsp;©&nbsp;<%= Date.today.year %></li>			    
			    
			    <li><%= link_to image_tag("icons/global.png",  :class=> "imgnoradio" ), url_for("http://www.globalexcursion-project.eu"), :target=> "_blanck"  %></li>
			  </ul>
			</nav>
			</div>
	    </footer>
  	</div>
</div>

	<div class="excursion span3" id="div_for_excursion" style="display:none">
	    <ul class="thumbnails ">
	        <li class="span1">
	          <a href="" class="container excursion_link"><img class="excursion_logo" alt="Excursion-00" src="/assets/logos/original/excursion-00.png"></a>
	          <div class="number_pages">8</div>
	        </li>
	        <li class="span2">
	          <div class="caption inline-block">
	            <h4 class="ellipsis w150px">
	              <a href="" class="excursion_title excursion_link">example</a>
	            </h4>
	            <h5 class="excursion_author blue-opacity ellipsis w150px">by ebarra</h5>            
	          </div>
	          <div class="delete_offline_ex">
					<a href="#" onclick="" class="action delete_offline_ex_link" data-confirm="<%=t("excursion.confirm_delete_offline")%>" rel="nofollow"><i class="icontool16-tool16_symbol_delete"></i></a>
	          </div>
	        </li>
	    </ul>
	</div>

</body>
</html>
