<div id="item-search-bar">
  <div class="thumbnails">
    <div class="img">
    <%= link_to(image_tag(subject.logo.url(:contact)), subject, :class => "") %>
    </div>
    <div class="info">
      <div class="title">
        <%= link_to truncate_name(subject.name, :length => 40), subject %>
      </div>

      <div class="by user">
        <%=t "#{subject.class.name.underscore}.one"  %>
      </div>
      <div class="autor">
        <a><%=t('follow.followers')%></a>: <%=subject.follower_count%>
      </div>
    </div>
  </div>
</div>