<div class="model_with_details">
  <%= javascript_tag do %>
    <%= modal_for(document) %>
    <%= modal_for(document.author.subject) %>
  <% end %>
  <ul class="thumbnails">
    <li class="avatar">
      <a data-toggle="modal" href="#<%= document.class.to_s.underscore %>-modal-<%= document.id.to_s %>" class="<%= icon75_class_for(document) %> <%= document.class.to_s.underscore %>-modal-button-<%= document.id.to_s %> modal-trigger" alt="<%= document.title %>">
      </a>
    </li>
    <li class="info_user">
      <div class="title-resource">
        <a data-toggle="modal" href="#<%= document.class.to_s.underscore %>-modal-<%= document.id.to_s %>" class="size14 <%= document.class.to_s.underscore %>-modal-button-<%= document.id.to_s %> modal-trigger">
          <%= truncate_name(document.title, :length => 20) %>
        </a>
      </div>

      <div class="by">by
        <a data-toggle="modal" href="#user-modal-<%=document.author.slug %>" class="user-modal-button-<%=document.author.slug %> modal-no-trigger">
          <%= truncate_name(document.author.name, :length => 20)%>
        </a>
      </div>

      <span class="visits">
        <%=document.visit_count.to_s%>
        <a>
          <%= t("follow.views") %> / 
        </a>

        <div class="likes like_count_<%= dom_id(document.post_activity) %>">
          <%=document.post_activity.likes.count.to_s%>
          <div class="verb_like" id="like_<%= dom_id(document.post_activity) %>">
          <%= link_like(document.post_activity)%>
          </div>
        </div>
      </span>

        <% unless document.tag_list.blank? %>
          <ul class="tagit-suggestions nomargin single-line-tags">
            <% document.tag_list.shuffle.each do |tag| %>
              <li class="tagit-choice"><%= link_to tag, search_path(:q => tag) %></li>
            <% end %>
          </ul>
        <% end %>

    </li>
  </ul>
</div>

