  <% self.class.send :include, HomeHelper  %>
<section class="span6">
  <div class="resources tabbable">
    <ul class="nav nav-tabs span4">
      <li class=""><a data-toggle="tab" href="#repo-1"><%=t('resource.net') %></a></li>
      <li class="active"><a data-toggle="tab" href="#repo-2"><%=t('resource.my') %></a></li>
      <li class=""><a data-toggle="tab" href="#repo-3"><%= image_tag "star-on.png", :class => "star" %></a></li>
    </ul>

    <div class="span2 size40 title_menu_home ">
    <%= t('resource.title.other')%></div>
    <div class="clearfloat"></div>

    <div class="tab-content">
      <div id="repo-1" class="tab-pane">
        <%= render :partial => "common_documents/filter", :locals => { :filter_id => "profile-resource-filter-net" } %>
        <div class="space_center"></div>
        <div id="profile-resources-net" class="row height-tabs-home" >
          <img alt="Loading" class="loading" src="/assets/loading.gif" />
        </div>
        <div class="more"><%= link_to(t('view_all'), url_for([@user, Document]) + "?scope=net") %></div>
      </div>
      <div id="repo-2" class="tab-pane active">
        <%= render :partial => "common_documents/filter", :locals => { :filter_id => "profile-resource-filter-me" } %>
        <div class="space_center"></div>
        <div id="profile-resources-me" class="row height-tabs-home" >
          <% for document in subject_resources(@user, {:scope => :me}) %>
            <% if document.is_a? Embed %>
               <%= render :partial => "embeds/home",
                          :locals => {:embed => document,
                                      :div_class => 'content_size'} %>
            <% elsif document.is_a? Link %>
               <%= render :partial => "links/home",
                          :locals => {:link => document,
                                      :div_class => 'content_size'} %>
            <% else %>
               <%= render :partial => "common_documents/home",
                          :locals => {:document => document,
                                      :div_class => 'content_size'} %>
            <% end %>
          <% end %>
        </div>
        <div class="more"><%= link_to(t('view_all'), [@user, Document]) %></div>
      </div>
      <div id="repo-3" class="tab-pane">
        <%= render :partial => "common_documents/filter", :locals => { :filter_id => "profile-resource-filter-fav" } %>
        <div id="profile-resources-fav" class="row height-tabs-home" >
          <% for document in subject_resources(@user, {:scope => :like}) %>
            <% if document.is_a? Embed %>
               <%= render :partial => "embeds/home",
                          :locals => {:embed => document,
                                      :div_class => 'content_size'} %>
            <% elsif document.is_a? Link %>
               <%= render :partial => "links/home",
                          :locals => {:link => document,
                                      :div_class => 'content_size'} %>
            <% elsif document.is_a? Document %>
               <%= render :partial => "common_documents/home",
                          :locals => {:document => document,
                                      :div_class => 'content_size'} %>
            <% end %>
          <% end %>
        </div>
        <div class="more"><%= link_to(t('view_all'), url_for([@user, Document]) + "?scope=like") %></div>
      </div>
    </div>
  </div>
</section>
<div class="row"></div>
<div class="space_center"></div>
