<%= form_for resource, :as => resource_name, :url => user_invitation_path(), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>
<% end -%>

  <p><button id="save_inv_button" class="btn btn-primary"><%=  t("devise.invitations.new.submit_button")%></button></p>
<% end %>
