<% 	competition_items = []
	ActivityObject.where("competition = true").map{|e| competition_items.push(e.object)}
%>
<section id="competition">

	<div class="competition_header">

		<div id="banner" class="competition_cover">
			<!-- ********  image for the competition/contest ********
			<img src="/assets/competition/sample_banner.jpg">
			-->
	  </div>

		<div class="row competition_info">
			<div class="col-md-6">
				<ul class="competition_menu">
					<li><a href="#join_row"><%= t('competition.menu.join') %></a></li>
					<li><a href="#about_row"><%= t('competition.menu.about') %></a></li>
					<li><a href="#prize_row"><%= t('competition.menu.prize') %></a></li>
					<li><a href="#joined_resources"><%= t('competition.menu.joined') %></a></li>
				</ul>
			</div>
			<div class="col-md-6 competition_social">
				<a href="https://twitter.com/ViSH_portal" target="_blank"><i class="fa fa-twitter fa-lg primary"></i></a>
				<a href="https://www.facebook.com/VirtualScienceHub" target="_blank"><i class="fa fa-facebook fa-lg primary"></i></a>
				<a href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ" target="_blank"><i class="fa fa-youtube fa-lg primary"></i></a>

				<br><%= t('competition.questions') %>
				<br><a href="mailto:virtual.science.hub@gmail.com"><span class="primary">virtual.science.hub@gmail.com</span></a>
			</div>
		</div>

	</div>

	<div class="competition_content">
		<div id="join_row" class="row">
			<div class="col-md-4">
				<h2><%= t('competition.menu.join') %></h2>
				<% if current_subject != nil && current_subject.actor.joined_competition != true %>
					<div class="bt_join">
						<a type="button" id="join_button" data-toggle="modal" data-target="#join_competition" class="btn btn-primary">
							<i class="fa fa-hand-o-up"></i><%= t('competition.register_bt2') %>
						</a>
					</div>
				<% elsif current_subject != nil %>
					<div><%= t('competition.thanks') %></div>
				<% else %>
				<div class="bt_join">
					<a type="button" id="register_user" href="/users/sign_up" class="btn btn-primary">
						<i class="fa fa-hand-o-up"></i><%= t('competition.register_bt') %>
					</a>
				</div>
				<% end %>
			</div>

			<div class="col-md-2 steps">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x primary"></i>
				  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
				<p class="step-text"><%= t('competition.step1') %></p>
			</div>

			<div class="col-md-2 steps">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x primary"></i>
				  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
				</span>
				<p class="step-text"><%= t('competition.step2') %></p>
			</div>

			<div class="col-md-2 steps">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x primary"></i>
				  <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
				</span>
				<p class="step-text"><%= t('competition.step3') %></p>
			</div>

			<div class="col-md-2 steps">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x primary"></i>
				  <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
				</span>
				<p class="step-text"><%= t('competition.step4') %></p>
			</div>
		</div>

		<div id="about_row" class="row">
			<div class="col-md-4">
				<h2><%= t('competition.menu.about') %></h2>
			</div>
			<div class="col-md-1">
				<i class="fa fa-lightbulb-o fa-5x"></i>
			</div>
			<div class="col-md-7">
				<h5><%= t('competition.about_title') %></h5>
				<!-- Put translation when you have the final text  (locales/es locales/en)-->
				<p>La copia advirtió al pequeño texto simulado de que en el lugar del que ella venía, la habían reescrito miles de veces y que todo lo que había quedado de su original era la palabra "y", así que más le valía al pequeño texto simulado volver a su país, donde estaría mucho más seguro. Pero nada de lo dicho por la copia pudo convencerlo, de manera que al cabo de poco tiempo, unos pérfidos redactores publicitarios lo encontraron y emborracharon con Longe y Parole para llevárselo después a su agencia, donde abusaron de él para sus proyectos, una y otra vez.</p>
			</div>
		</div>

		<div id="prize_row" class="row">
			<div class="col-md-4">
				<h2><%= t('competition.menu.prize') %></h2>
			</div>
			<div class="col-md-1">
				<i class="fa fa-trophy fa-5x"></i>
			</div>
			<div class="col-md-7">
				<!-- Put translation when you have the final text  (locales/es locales/en)-->
				<p>La copia advirtió al pequeño texto simulado de que en el lugar del que ella venía, la habían reescrito miles de veces y que todo lo que había quedado de su original era la palabra "y", así que más le valía al pequeño texto simulado volver a su país, donde estaría mucho más seguro.</p>
				<br>
				<!-- Put translation when you have the final text  (locales/es locales/en)-->
				<h5>PRIMER PREMIO A MEJOR EXCURSIÓN</h5>
				<h5>PRIMER PREMIO A MEJOR RECURSO DUCATIVO</h5>
				<h5>SEGUNDO PREMIO A MEJOR EXCURSIÓN</h5>
				<h5>SEGUNDO PREMIO A MEJOR RECURSO DUCATIVO</h5>

			</div>
		</div>

		<div id="joined_resources" class="row">
			<h2><%= t('competition.menu.joined') %></h2>
			<ul class="items">

				<% if current_subject != nil && current_subject.actor.joined_competition != true %>
				<%# añadir item de add %>
					<%= render :partial => 'competition/item_add_proposal' %>
				<% end %>
				<% competition_items.each do |r| %>
				  <% unless r.nil? %>
					  <%= render :partial => 'entities/entity', :locals => { :entity => r, :prefix_id=> "competition", :rec => (defined?(rec) ? rec : false)  } %>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</section>

<% if current_subject != nil && current_subject.actor.joined_competition != true %>
	<% my_items = subject_excursions(current_subject, {:scope => :me, :limit => 0}) || []%>
	<%= render partial: "common_resources/select_modal", locals:{
		name: "competition",
		my_items: my_items,
		title1: t('competition.modal.title'),
		title2: t('competition.modal.title2'),
		notfound: t('competition.modal.notfound'),
		button_name: t('competition.modal.bt_upload') } %>

<% end %>

<% unless my_items.blank?%>
	<%= content_for :javascript do %>
	    $("#button_for_competition").attr("disabled", "disabled");
		$(".box-item a").removeAttr('href');

		$(".box-item").click(function(){
			if(!$(this).hasClass("selected")){
				$(".box-item").removeClass("selected");
				$(this).addClass("selected");
				$( "#button_for_competition" ).removeAttr("disabled");
			} else {
				$(this).removeClass("selected");
				$( "#button_for_competition" ).attr("disabled", "disabled");
			}
		});

		$("#button_for_competition").click(function(){
			var selected_items = $(".selected .container-img .img-box").attr("id");
			$.ajax({
			  url: "/competition/join_competition",
			  method: "POST",
			  data: { id : selected_items },
			  success: function(e){
			  		window.location.replace("/competition");
				},
			  error: function(e){

			  }
			});
		});
	<% end %>
<% end %>
