<%= div_for picture, :class => 'content_size' do %>
  <div class=" span5 picture_show">
    <a data-toggle="modal" href="#full-picture-modal-<%= picture.id %>"><%= thumb_for(picture, 500) %></a>
  </div>
<% end %>


<div class="modal hide" id="full-picture-modal-<%= picture.id %>">
  <div id="full-picture-modal-<%= picture.id %>-body" class="modal-body text-center">
    <%= raw j image_tag('loading.gif', :class => :loading) %>
  </div>
</div>

<%= javascript_tag do %>
  $("#full-picture-modal-<%= picture.id %>").on("shown", function() {
    $("#full-picture-modal-<%= picture.id %>-body").html('<%= image_tag picture.file.url.downcase %>');
  });
  $("#full-picture-modal-<%= picture.id %>-body").on("click", function() {
    $("#full-picture-modal-<%= picture.id %>").modal("hide");
  });
<% end %>

