<%= div_for picture, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
 
    <%= modal_for(picture) %>

  <% end %>

  <ul class="thumbnails">
    <li class="span3">
      <a data-toggle="modal" href="#picture-modal-<%= picture.id.to_s%>" onclick="Vish.Officedoc.removeM();"  class="picture-modal-button-<%= picture.id.to_s%> modal-trigger"><%= thumb_for(picture, 75) %></a>
    </li>

    <li class="span9">
      <div class="title">
        <h4 class="bold ellipsis w190px">
          <a data-toggle="modal" href="#picture-modal-<%= picture.id.to_s%>" onclick="Vish.Officedoc.removeM();" class="picture-modal-button-<%= picture.id.to_s%> modal-trigger"><%= picture.title %></a>
        </h4>
      </div>
      <div class = vdescription>
      <p><%= simple_format (picture.description) %></p>
    </div>
      <p><%= link_to t('details.msg'), picture, :class => "attachment_text_link" %></p>
    </li>
  </ul>
<% end %>

<div class="clearfloat"></div>

