<!-- corner -->

<div class="corner-item">
  <div class="corner-item2">
    <div class="corner-color"></div>
    <i class="icon-picture"></i>
  </div>
  <div class="corner-background"></div>
</div>

<h3 class="title_WS resource_title_WS"><%=t('workshop.activities.resource.title')%> <span class="blue"> Imagen</span></h3>
<button href="#" id="showMore" status="showMore" class="ui-state-default ui-corner-all"><a><%=t('excursion.actions.show_more')%></a></button>
<%= div_for picture, :class => 'object_WS' do %>
	<div class="picture_show">
	<%= link_to thumb_for(picture, 500),
	download_document_path(picture),
	:id => dom_id(picture) + "_a",
	:type => picture.type,
	:title => picture.file_file_name,
	:path => document_path(picture) %>
	</div>
<% end %>

<div class="resource_ws_info">
  <%= render partial: "common_documents/info_workshop", locals: { document: picture } %>
  <div class="actions">
  	<button href="#" class="ui-state-default ui-corner-all"><a><%=t('excursion.actions.download')%></a></button>
    <button href="#" class="ui-state-default ui-corner-all"><a href="<%=picture_path(picture, :format => :full)%>" target="_blank"><i class="icon-fullscreen"></i><%= t("picture.view_full") %></a></button>
  </div>
</div>


