<%= div_for picture, :class => 'row-fluid' do %>
  <ul class="thumbnails">
    <li class="span3">
      <a data-toggle="modal" href="#picture-modal-<%= picture.id.to_s%>" class="picture-modal-button-<%= picture.id.to_s%>"><%= thumb_for(picture, 75) %></a>
    </li>

    <li class="span9">
      <div class="title">
        <h4 class="bold">
          <a data-toggle="modal" href="#picture-modal-<%= picture.id.to_s%>" class="picture-modal-button-<%= picture.id.to_s%>"><%= truncate_name(picture.title, :length => 35) %></a>
        </h4>
      </div>
      <p><%= simple_format (picture.description) %></p>
      <p><%= link_to t('details.msg'), picture, :class => "attachment_text_link" %></p>
    </li>
  </ul>

  <%= content_for :javascript do %>
    $(".picture-modal-button-<%= picture.id.to_s%>").on("click", function(){
      Vish.Wall.getModal("picture", <%= picture.id.to_s %>, <%= picture.activities.first.id.to_s %>, <%= picture.activities.first.liked_by?(current_subject) ? "true" : "false" %>, "<%= raw j truncate_name(picture.title, :length => 75) %>");
      $("#picture-modal-<%= picture.id.to_s%> .modal-body").html("<%= raw j (thumb_for(picture, 500)) %>");
    });
    $(".picture-modal-close-<%= picture.id.to_s%>").on("click", function(){
       $("#picture-modal-<%= picture.id.to_s%> .modal-body").html ("<%= raw j image_tag('loading.gif', :class => :loading) %>");
    });
  <% end %>

<% end %>

<div class="clearfloat"></div>
