<%= javascript_tag do %>
  <%= modal_for(video) %>
<% end %>
<ul class="thumbnails">
  <li class="span3">
    <a data-toggle="modal" href="#video-modal-<%= video.id.to_s%>" class="video-modal-button-<%= video.id.to_s%> modal-trigger"><%= thumb_for(video, 75) %></a>
  </li>
  <li class="span9">
    <div class="title">
      <h4 class="bold ellipsis w190px">
        <a data-toggle="modal" href="#video-modal-<%= video.id.to_s%>" class="video-modal-button-<%= video.id.to_s%> modal-trigger"><%= video.title %></a>
      </h4>
    </div>
    <p><%= simple_format video.description %></p>
    <p><%= link_to t('details.msg'), video, :class => "attachment_text_link" %></p>
    <div class="video-format-links">
      <%= link_to "WebM", video_path(video, :format => :webm), :class => "video-webm" %>
      <%= link_to "FLV",  video_path(video, :format => :flv),  :class => "video-flv" %>
      <%= link_to "MP4",  video_path(video, :format => :mp4),  :class => "video-mp4" %>
    </div>
  </li>
</ul>

