<%= div_for video, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    $('#video_<%= video.id.to_s %>').parents('.thumbnails').children().first().html('<%= j link_to ( video.file_processing ? raw("<i class=\"icon75-video\"></i>") : thumb_for(video, 75) ), download_document_path(video), :class => "" %>');
  <% end %>

  <ul class="thumbnails">
    <li class="span9">
      <div class="title">
        <h4 class="bold ellipsis w190px">
          <%= link_to video.title, download_document_path(video) %>
        </h4>
        <% if video.file_processing %>
          <p><%= t('video.processing') %></p>
        <% end %>
      </div>
    </li>
  </ul>

<% end %>

