<div class ="btn-group">
  <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <%=t('browse.title')%>
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a tabindex="-1" href="<%=search_path(:browse=>"true", :sort_by => "popularity")%>">
        <i class="fa fa-dashboard"></i> 
        <%=t('browse.all')%>
      </a>
    </li>

    <li class="divider"></li>
    <li>
      <a tabindex="-1" href="<%=search_path(:type => "excursion", :browse=>"true", :sort_by => "popularity")%>">
        <i class="fa fa-book"></i> 
        <%=t('excursion.other')%>
      </a>
    </li>
    <li>
      <a tabindex="-1" href="<%=search_path(:type => "user", :browse=>"true", :sort_by => "popularity")%>">
        <i class="fa fa-group"></i>
        <%=t('user.other')%>
      </a>
    </li>
    <li>
      <a tabindex="-1" href="<%=search_path(:type => "resource", :browse=>"true", :sort_by => "popularity")%>">
        <i class="fa fa-file"></i>
        <%=t('resource.other')%>
      </a>
    </li>
          <li class="divider"></li>
    <li>

      <a tabindex="-1" href="/catalogue">
        <i class="fa fa-tags"></i>
        <%=t('catalogue.title')%>
      </a>
    </li>
    
    <li>
      <a tabindex="-1" href="/contest">
        <i class="fa fa-trophy"></i>
        <%=t('contest.#ViSHCompetition2013')%>
      </a>
    </li>
  </ul>
</div>

