<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
 <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse-in">
        <i class="fa fa-angle-down"></i>
      </a>
      <!--logo-->
      <div class="logo-header">
        <%= link_to(image_tag('logo/brand.svg', :alt => t('site.name')), '/', :class => "logo"); %>
      </div>
      <!--BROWSE-->
      <%= render partial: 'layouts/header/browse_header'%>
    </div>

    <!--collapse-->
    <div class="collapse navbar-collapse" id="nav-collapse-in">

      <ul class="nav nav-pills desktop-nav">
        <!--navegation-->
        <%= render partial: 'layouts/header/basic_navegation' %>
        
        <!--add-->
        <li class ="btn-group">
          <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-plus"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <%= link_to new_excursion_path do %>
                <i class="fa fa-list-alt"></i> 
                <%= t('excursion.actions.add') %>
              <% end %>
            </li>
            <li>
              <a href="#AddEvent" data-toggle="modal">
                <i class="fa fa-video-camera"></i> 
                <%=t('event.actions.add')%>
              </a>
            </li>
            <li>
              <a href="#AddCategory" data-toggle="modal">
                <i class="fa fa-th-large"></i> 
                <%= t('categories.actions.add') %>
              </a>
            </li>
            <li>
              <a href="#AddResource" data-toggle="modal">
                <i class="fa fa-file"></i> 
                <%= t('resource.actions.add') %>
              </a>
            </li>
          </ul>
        </li>
       

            <!--div class="btn without-data-toggle tooltip-header" data-original-title="<%#=t('header.tooltip.add_button')%>" data-toggle="dropdown" href="#" >
                <i class="fa fa-plus"></i>
              </div-->
        <!-- 
          <li> 
            <%#= render partial: 'layouts/header_dropdown_menu' %>
          </li>
        -->
        <!--user-->
        <li class ="btn-group user-menu">
            <%= link_to current_subject, :class => "btn btn-default photo-user" do %>              
              <%= image_tag current_subject.logo.url(:small) %>
            <% end %>
        

              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <%= truncate_name(current_subject.name, length: 15) %>
                <i class="fa fa-angle-down"></i>
             </a>
          
            <ul class="dropdown-menu dropdown-menu-right">
             <li class="settings-menu">
               <%= link_to home_path do %>
               <i class="fa fa-home"></i>
               <%= t('navigation.home') %>
               <% end %>
             </li>
             <li class="settings-menu">
              <%= link_to current_subject do %>
              <i class="fa fa-user"></i>
              <%= t('profile.one') %>
              <% end %>
            </li>
            <!--<li class="settings-menu">
              <%= link_to activities_path do %>
              <i class="fa fa-globe"></i>
              <%= t('activity.other') %>
              <% end %>
            </li>-->
            <li class="settings-menu">
              <%= link_to settings_path do %>
              <i class="fa fa-cog"></i>
              <%= t('dropdown.settings') %>
              <% end %>
            </li>
            <li class="settings-menu">
              <%= link_to quiz_sessions_path do %>
              <i class="fa fa-puzzle-piece"></i>
              <%= t('quiz.live') %>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="fa fa-sign-out"></i>
              <%= t('sign_out') %>
              <% end %>
            </li>
            </ul>      
          </li>
 
          


      </ul>

    <!--search-->
    <%= render partial: 'layouts/header/uisearch_header' %>

    <%= render partial: 'layouts/header/header_signed_in_mobile' %>
    </div>
  </div>  
</nav>

  <script type="text/javascript">
    $(document).ready(function() {          
     $('.tooltip-header').tooltip({ placement: 'bottom'});

     $('.dropdown-toggle').dropdown();
   });
  </script>
  <!-- SCRIPT FOR AUTOMATIC BOOTSTRAP-DROPDOWN HOVER -->
  <script type="text/javascript">
    (function ($, window, delay) {
      var theTimer = 0;
      var theElement = null;
      var theLastPosition = {x:0,y:0};
      $('.toggler .without-data-toggle')
      .closest('li')
      .on('mouseenter', function (inEvent) {
        if (theElement) theElement.removeClass('open');
        window.clearTimeout(theTimer);
        theElement = $(this);

        theTimer = window.setTimeout(function () {
          theElement.addClass('open');
        }, delay);
      })
      .on('mousemove', function (inEvent) {
        if(Math.abs(theLastPosition.x - inEvent.ScreenX) > 4 || 
         Math.abs(theLastPosition.y - inEvent.ScreenY) > 4)
        {
          theLastPosition.x = inEvent.ScreenX;
          theLastPosition.y = inEvent.ScreenY;
          return;
        }

        if (theElement.hasClass('open')) return;
        window.clearTimeout(theTimer);
        theTimer = window.setTimeout(function () {
          theElement.addClass('open');
        }, delay);
      })
      .on('mouseleave', function (inEvent) {
        window.clearTimeout(theTimer);
        theElement = $(this);
        theTimer = window.setTimeout(function () {
          theElement.removeClass('open');
        }, delay);
      });
  })(jQuery, window, 0); // 200 is the delay in milliseconds
</script>
<!-- carga de modales -->
          <%= render partial: 'events/form' %>
          <%= render partial: 'repositories/form' %>
          <%= render partial: 'categories/form', :locals => { :div_id => "AddCategoryHeader", :remote => true} %>
