<div class="model_with_details">
  <%= javascript_tag do %>
    <%= modal_for(embed) %>
    <%= modal_for(embed.author.subject) %>
  <% end %>

  <ul class="thumbnails">
    <li class="avatar">
      <a data-toggle="modal" href="#embed-modal-<%= embed.id.to_s%>" class="<%= icon75_class_for(embed) %> embed-modal-button-<%= embed.id.to_s%> modal-trigger" alt="<%= embed.title %>">
      </a>
    </li>
    <li class="info_user">
      <div class="title-resource">
        <a data-toggle="modal" href="#embed-modal-<%= embed.id.to_s%>" class="size14 embed-modal-button-<%= embed.id.to_s%> modal-trigger">
          <%= embed.title %>
        </a>
      </div>
      <div class="by">by
        <a data-toggle="modal" href="#user-modal-<%= embed.author.slug %>" class="user-modal-button-<%= embed.author.slug %> modal-no-trigger">
          <%= truncate_name(embed.author.name, :length => 20) %>
        </a>
      </div>

          <span class="visits">
            <%=embed.visit_count.to_s%>
          <a>
          <%= t("follow.views") %>
           / 
           </a>
           <div class="likes like_count_<%= dom_id(embed.post_activity) %>">
            <%=embed.post_activity.likes.count.to_s%>
          
            <div class="verb_like" id="like_<%= dom_id(embed.post_activity) %>">
              <%= link_like(embed.post_activity)%>
            </div>
          </div>
        </span> 


        <% unless embed.tag_list.blank? %>
          <ul class="tagit-suggestions nomargin single-line-tags">
            <% embed.tag_list.shuffle.each do |tag| %>
              <li class="tagit-choice"><%= link_to tag, search_path(:q => tag) %></li>
            <% end %>
          </ul>
        <% end %>

    </li>
  </ul>
</div>



   