<div class="clearfloat"></div>
<%= div_for embed, :class => 'timeline-object ' do %>
  <%= javascript_tag do %>
    <%= modal_for(embed) %>
  <% end %>

  <div class="item-object-wall">
    <ul class="thumbnails">
      <li class="img-object">
      <a data-toggle="modal" href="#embed-modal-<%= embed.id.to_s%>" class="embed-modal-button-<%= embed.id.to_s%> modal-trigger">
        <i class="icon_repository75-75_embed"></i>
      </a>
    </li>

    <li class="info-object-timeline">
      <div class="title-object">
        <a data-toggle="modal" href="#embed-modal-<%= embed.id.to_s%>" class="embed-modal-button-<%= embed.id.to_s%> modal-trigger">
          <%= embed.title %>
        </a>
      </div>
      <p><%= truncate_name(embed.description, :length => 120) %></p>
      <p class="details"><%= link_to t('details.msg'), embed, :class => "" %></p>
    </li>
  </ul>
  </div>
<% end %>
