<%= div_for embed, :class => 'row' do %>
    <ul class="thumbnails span2">
      <li class="span">
        <%= link_to  "", embed, :class => icon_class_for(embed), :alt => embed.title %>
      </li>
      <li class="span_profile">
        <div class="caption ellipsis">
          <h4 class="link_gray w150px"><%= link_to embed.title, embed, :class => "size14" %></h4>
          <h5> <span class="green"><%=embed.visit_count.to_s%></span> <%=t('follow.views')%></h5>
        </div>
      </li>
    </ul>
<% end %>
