<div class="attachment_tile" id="<%= dom_id(embed) %>">
<% %>
  <div class="attachment_tile_thumb">
    <%= link_to "", embed, :class => icon_class_for(embed), :alt => embed.title, :title => embed.title, :rel=> 'tooltip' %>
  </div>

  <div class="attachment_tile_tipsy">
    <%= link_to content_tag(:span, raw("<i class=' iconnav-tools'></i> ")),
                "javascript:;" %>
    <div class="tipsy_content" style="display:none;">
      <div class="actions">
        <% if can?(:destroy, embed) %>
          <div class="block btn-gray">
            <%= link_to content_tag(:span, raw("<i class='icontool16-tool16_symbol_delete'></i> ") + t('embed.actions.delete'), :class => :action), embed.post_activity.direct_object, :confirm => t('confirm_delete',
                                                                                                                                                                                                         :scope => embed.post_activity.direct_object.class.to_s.underscore), :method => :delete %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="attachment_tile_text">
    <%= link_to truncate_name(embed.title, :length => 15),
                embed,
                :alt => embed.title,
                :title => embed.title,
                :rel => 'tooltip',
                :path => embed %>
  </div>
</div>
<%= javascript_tag do %>
  $(document).ready(function(){

  SocialStream.Repository.init();

  $('.attachment_tile_thumb a').tooltip();
  $('.attachment_tile_text a').tooltip({ placement: 'bottom'});

  $('#<%= dom_id(embed) %> .attachment_tile_tipsy a').tipsy({
  delayIn: 0,
  delayOut: 1000,
  gravity: 'nw',
  className: 'attachment_tile_tipsy_menu',
  html: true,
  hoverable: true,
  title: function(){
  return $('#<%= dom_id(embed) %> .attachment_tile_tipsy .tipsy_content').html();
  }
  });
  });
<% end %>

