<% self.class.send :include, SubjectsHelper, NotificationsHelper %>
<% locale_as @receiver.subject %>

<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>

<style type="text/css">

  body {
    font-family: 'helvetica';

  }

    /***********font-size ***********/

  .size10 {
    font-size: 10px;
  }

  .size11 {
    font-size: 11px;
  }

  .size12 {
    font-size: 12px;
  }

  .size14 {
    font-size: 14px;
  }

  .size15 {
    font-size: 15px;
  }

  .size16 {
    font-size: 16px;
  }

  .size18 {
    font-size: 18px;
  }

  .size22 {
    font-size: 22px;
  }

    /***********COLORS ***********/

  .background {
    color: #F9F9F9;
  }

  .white {
    color: #FFFFFF;
  }

  .ligth-gray {
    color: #E6E6E6
  }

  .gray {
    color: #6e6e6e;
  }

  .dark-gray {
    color: #666666;
  }

  .blue-cake {
    color: #3366FF;
  }

  .blue-opacity {
    color: #3366FF;
    opacity: 0.6;
  }

  .blue-white {
    color: #C2C9E0;
  }

  .red-1 {
    color: #FF005D;
  }

  .red-2 {
    color: #FF005D;
    opacity: 0.6;
  }

  .border-radius {
    border: 0px solid #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

  }

    /***********parte superior***********/

  .box {
    border: 0px solid #FFFFFF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #F9F9F9;
    position: static;
    padding: 5px;
    margin: 10px;
    min-height: 300px;
    width: 650px;
    display: block;

  }

  .header {
    float: left;
    width: 600px;
    height: 110px;
    display: block;
    padding: 25px;
    padding-bottom: 10px

  }

  .hello {
    float: left;
    padding-top: 75px;
    padding-left: 15px;
    width: 350px;
    display: inline-block;

  }

  .text-notification {
    padding-top: 25px
  }

  .word-break {
    overflow: none;
    padding-right: 25px;
    word-wrap: break-word;
    -moz-binding: url('xbl.xml#wordwrap');
  }

  .box_logo {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 210px;
    height: 120px;

  }

    /***********parte inferior ***********/

  .box2 {
    float: left;

    display: block;
    padding: 25px;
    padding-top: 0px

  }

  .photo {

    float: left;
    margin-right: 20px;

    height: 119px;
    width: 119px;
    display: inline-block;

  }

  .boxtext {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
  }
  .img {
    float: left;
    margin-right: 20px;

    height: 119px;
    width: 119px;
    display: inline-block;
  }
</style>

<body>
<div class="box  ">
  <div class="header">
    <div class="hello word-break gray size22">
      <span style="font-weight: bold;"><%= truncate_name(@message.sender.name)%></span>
      <%= t('mailboxer.message_mailer.has_sent_reply.' + @receiver.subject.class.to_s.downcase, :receiver => @receiver.name) %>
    </div>
    <div class="box_logo">
      <%= render :partial => "notification_mailer/logo" %>
    </div>
  </div>
  <div class="box2">
    <div class="photo border-radius">
      <img src="http://<%= ActionMailer::Base.default_url_options[:host] +@message.sender.logo.url(:profile)%>" alt="<%=@message.sender.name%>">
    </div>
    <div class="boxtext">
      <div class="name size18 blue-cake ">
        <%= @message.sender.name %>
        <% if @message.sender.profile.organization? %>
            <br/>
			<span style="color: #3366FF; opacity: 0.6; font-weight: normal;">
			<%= @message.sender.profile.organization%>
			</span>
        <% end %>
      </div>
      <div class="text-notification size15 dark-gray">
        <%= raw @message.body %>
      </div>
    </div>
  </div>
</div>
<div class="size12 blue-opacity" style="padding: 3px 5px 5px 25px;">
  <p>
    <%= link_to t('message.look'), conversation_url(@message.conversation)%> at <%= t('site.name')%>
  </p>
</div>
</body>
</html>

