
<div id="contact_info">
  <div class="title">
    <%= t('profile.contact') %>
  </div>
  <% if is_owner? %>
    <%= link_to (image_tag('icons/edit_icon.png', :class=>"imgnoradio")), "javascript:showSettings('contact_info');", :class => "action" %>
  <% end %>
  <div id="contact_info_briefing">
    <% if !is_contact_empty? %>
        <% if @profile.phone? %>
          <h4><%= t('profile.phone') %></h4>
          <small><%= h @profile.phone %></small>
        <% end %>
        <% if @profile.mobile? %>
          <h4><%= t('profile.mobile') %></h4>
          <small><%= h @profile.mobile %></small>
        <% end %>
        <% if @profile.fax? %>
          <h4><%= t('profile.fax') %></h4>
          <small><%= h @profile.fax %></small>
        <% end %>
        <% if @profile.address? %>
          <h4><%= t('profile.address') %></h4>
          <small><%= h @profile.address %></small>
        <% end %>
        <% if @profile.website? %>
          <h4><%= t('profile.website') %></h4>
          <small><a href="<%= h @profile.website %>"><%= h @profile.website %></a></small>
        <% end %>  
      <% elsif is_owner? %>
        <div id="field_empty">
          <%= t('profile.empty') %>
        </div>
      <% end %>
  </div>

  <% if is_owner? %>
    <div class="content settings_content " id="contact_info_content" style="display:none;">
      <%= form_for(@profile, :url => [current_subject, :profile], :remote => false) do |f| %>
      <%= f.fields_for :actor do |actor_form| %>
      <%= f.label t('profile.phone'), :class => "text" %>
      <%= f.text_field :phone, :class => "input_settings" %>
      <%= f.label t('profile.mobile'), :class => "text" %>
      <%= f.text_field :mobile, :class => "input_settings" %>
      <%= f.label t('profile.fax'), :class => "text" %>
      <%= f.text_field :fax, :class => "input_settings" %>
      <%= f.label t('profile.address'), :class => "text" %>
      <%= f.text_field :address, :class => "input_settings" %>
      <%= actor_form.label t('profile.email'), :class => "text" %>
      <%= actor_form.text_field :email, :class => "input_settings" %>
      <%= f.label t('profile.website'), :class => "text" %>
      <%= f.text_field :website, :class => "input_settings" %>
      <% end %>
      <%= f.submit t('button.update'), :class => "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>













