<div id="experience_info">
  <div class="title">
    <%= t('profile.' + @profile.subject.class.to_s.downcase + '.experience') %>
  </div>
  <% if is_owner? %>
    <%= link_to (image_tag('icons/edit_icon.png', :class=>"imgnoradio")), "javascript:showSettings('experience_info');", :class => "action"  %>
  <% end %>
  <div class="content settings_briefing" id="experience_info_briefing">
    <% if @profile.experience? %>
      <small><%= h @profile.experience %></small>
    <% elsif is_owner? %>
      <div id="field_empty">
        <%= t('profile.empty') %>
      </div>
    <% end %>
  </div>
  <% if is_owner? %>
    <div class="content settings_content" id="experience_info_content" style="display:none;">
      <%= form_for(@profile, :url => [current_subject, :profile], :remote => false) do |f| %>
      <%= f.text_area :experience, :maxlength => 246, :rows => 5 %>
      <%= f.submit t('button.update'), :class => "btn btn-primary" %>
    <% end %>
    </div>
  <% end %>
</div>


