<div class="documents tabbable pull-right">
	<ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#details"><%=t('document.actions.details')%></a>
    </li>

  	<% if can? :update, document %>
      <li class=""><a data-toggle="tab" href="#edit"><%=t('document.actions.edit')%></a></li>
	  <% end %>

	<div class="pagination-right margin-up">
		<% if document.post_activity.delete_object_by?(current_subject) %>
   			<div class="btn-gray">
   				<%= link_to content_tag(:span, raw("<i class='icontool16-tool16_symbol_delete'></i> ") + t('document.actions.delete'), :class => :action), document.post_activity.direct_object, :confirm => t('confirm_delete',                                                                                                                                                                                                    :scope => document.post_activity.direct_object.class.to_s.underscore), :method => :delete %>
			</div>
		<% end %>
	</div>
	</ul>
  <div class="tab-content">
    <div id="details" class="tab-pane active">
      <div class="">
        <div class="picture_icon">
          <%= link_to "", document, :class => icon_class_for(document), :alt => document.title %>
        </div>
        <div class="info_visits">
          <span class="green"><%=document.visit_count.to_s%></span> <%= t('follow.views') %></div>
      </div>
      <div class="info_resources">
        <div class="details_resources ">
          <%= t('document.info.date.created_at') %>
        </div>
        <div class="date_resources">
          <%= I18n.localize document.created_at, :format => :long %>
        </div>
      </div>
      <div class="info_resources">
        <div class="details_resources">
          <%= t('document.info.date.updated_at') %>
        </div>

        <div class="date_resources">
          <%= I18n.localize document.updated_at, :format => :long %>
        </div>
      </div>
      <div class="info_resources">
        <div class="details_resources">likes</div>
        <div class="date_resources">  <%= document.like_count %></div>

        <br class="clearfloat"/>
      </div>
    </div>
    <% if can? :update, document %>
      <div id="edit" class="tab-pane">
        <%= render :partial => "common_documents/edit_form", :locals => {:document => document} %>

      </div>
    <% end %>
  </div>

</div>
