<div class="model_with_details span3 box-result">
  <%= javascript_tag do %>
    <%= modal_for(embed.author.subject) %>
  <% end %>

  <ul class="thumbnails">
    <li class="span1 margin-clear">
      <%= link_to  "", embed, :class => icon75_class_for(embed) , :alt => embed.title %>
    </li>
    <li class="span">
      <div class="caption">
        <h4><span class="size16"><%= link_to truncate_name(embed.title, :length => 20), embed, :class => "size14" %></span></h4>
        <h5 class="blue-opacity"><span class="size11">by <a data-toggle="modal" href="#user-modal-<%= embed.author.slug %>" class="user-modal-button-<%= embed.author.slug %>"><%= truncate_name(embed.author.name, :length => 20) %></a></span></h5>
        <h5><span class="green"><%=embed.visit_count.to_s%></span> <%= t("follow.views") %></h5>
        <h5>
          <span class="green like_count_<%= dom_id(embed.activities.first) %>"><%=embed.activities.first.likes.count.to_s%></span>
          <div class="verb_like" id="like_<%= dom_id(embed.activities.first) %>"><%= link_like(embed.activities.first)%></div>
        </h5>
      </div>
    </li>
  </ul>
</div>

