<%= div_for embed, :class => 'content_size' do %>
  <div class="thumbnail pull-letf">
    <%= link_to image_tag("icons/link_big_gray.png"),"javascript:void(0)" %>
    <%= link_to image_tag("btn/btn_play.png", :class => "play_button"),"javascript:void(0)" %>
    <%= javascript_tag do %>
      $("#embed_<%= embed.id.to_s %> img").each(function(){
        $(this).click(function(){
          // TODO: Open callback
        });
      });
      
    <% end %>
  </div>
  <div class="info">
    <% if embed.title %>
      <div class="title">
        <%= embed.title %>
      </div>
    <% end %>
    <% if embed.description %>
      <div class="description">
        <%= auto_link(embed.description) %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="info">
	<%= link_to (image_tag('/assets/more_embed.png')),  "javascript:showSettings(\"display_embed\");" %>
</div>
<div class="content settings_content" id="display_embed_content" style="display:none;">
	<div class="settings_block">
 		<div class="embed_show">
    		<textarea readonly="readonly" style="width: 100%;" rows="5"><%=h embed.fulltext %></textarea>
  		</div>
	</div>
</div>

<br class="clearfloat">
