<%= div_for embed, :class => 'repository-home' do %>
  <%= javascript_tag do %>
    <%= modal_for(embed) %>
    <%= modal_for(embed.author.subject) %>
  <% end %>
  <div class="repository-item">
    <ul class="thumbnails">
      <li class="img-resource">
        <a data-toggle="modal" href="#embed-modal-<%= embed.id.to_s%>" class="<%= icon_class_for(embed) %> embed-modal-button-<%= embed.id.to_s%> modal-trigger"></a>
      </li>

      <li class="info-resource">
        <div class="title-resource">
          <a data-toggle="modal" href="#embed-modal-<%= embed.id.to_s%>" class="embed-modal-button-<%= embed.id.to_s%> modal-trigger">
            <%= embed.title %>
          </a>
        </div>

        <div class="by">by
          <a data-toggle="modal" href="#user-modal-<%= embed.author.slug %>" class="user-modal-button-<%= embed.author.slug %> modal-no-trigger">
            <%= embed.author.name %>
          </a>
        </div>

        <span class="visits">
          <%=embed.visit_count.to_s%> 
          <a>
            <%= t("follow.views") %> / 
          </a>

          <div class="likes like_count_<%= dom_id(embed.post_activity) %>">
            <%=embed.post_activity.likes.count.to_s%>
          
            <div class="verb_like" id="like_<%= dom_id(embed.post_activity) %>">
              <%= link_like(embed.post_activity)%>
            </div>
          </div>
        </span>
      </li>
    </ul>
  </div>
<% end %>
