<section id="<%= document.class.to_s.underscore %>">
  <%= render :partial => 'objects/show',
  :locals  => { :object => document } %>
  <% profile_subject ||= document.owner_subject %>
  <% content_for :title do %>
  <%= profile_subject.name + ": " + t('repository.title') %>
  <% end %>
  <%= div_for document do %>
  <div class="box-show">
    <!--visor-->
    <div class="container-visor">
      <div class="elemento-visor"></div>
      <div class="caja-visor">
        <%= render partial: "#{ document.class.to_s.tableize }/#{ document.class.to_s.underscore }_show",
        locals: { document.class.to_s.underscore.to_sym => document } %>
      </div>
    </div>
  </div>
  <div class="recomended-items">
    <div class="recomended_documents">
      <ul class="small-box">
        <% ActivityObject.where(:object_type => [Document, Embed, Link].map{|t| t.to_s}).first(15).map{|ao| ao.object}.each do |resource| %>
          <%= render :partial => 'repositories/resource', :locals => { :resource => resource } %>
        <% end %>
      </ul>
    </div>
  </div>
  <!--owner-profile-->
  <div class="description-activity">
    <div class="box_description">
      <!--tool-->
      <div class="excursion_tool">
        <!--BTN ACTIONS-->
        <div class="btn-group">
          <button class="btn" rel="tooltip" title="Donwload document" >
            <%= link_to raw("<i class='icon-save'></i> "), download_document_path(document), title: t('document.actions.download') %>
          </button>
          <% if can? :destroy, document %>
          <button class="btn" rel="tooltip" title="Remove document" >

            <%= link_to raw("<i class='icon-remove-sign'></i> "),  document,
            confirm: t('confirm_delete', scope: document.class.to_s.underscore),
            title: t('document.actions.delete'),
            method: :delete %>
            <% end %>
          </button>

          <%if current_subject%>
            <%= content_for :javascript do %> 
            <%= render partial: 'shared/multiselect', :locals => {:item => document} %>
            <% end %>

            <%=categories_select(:category_id, document)%>
          <%= render partial: 'categories/form', :locals => {:div_id => "AddCategory", :remote => true} %>
          <%end%>
        </div>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="<%= document_details_tab_class document, :info %>">
              <%= link_to (raw("<i class='icon-align-left'></i> ")) + t('document.details.info'), '#document-info', 'data-toggle' => 'tab' %>
            </li>

            <% if can? :update, document %>
            <li class="<%= document_details_tab_class document, :edit %>">

              <%= link_to (raw("<i class='icon-edit'></i> ")) + t('document.actions.edit'), '#document-edit', 'data-toggle' => 'tab' %>
              <!--alt: t('document.actions.edit'),-->
            </li>
            <% end %>
          </ul>
        </div>
        <h2>
          <%= document.title %>
        </h2>
        <div class="viewsAndConunt">
          <%= render partial: 'objects/counters', locals: { object: document } %>
        </div>
        <div class="tab-content">
          <div class="tab-pane <%= document_details_tab_class document, :info %>" id="document-info">
            <div class="toggler">
              <%= render partial: "embeds/info", locals: { document: document } %>
            </div>
          </div>
          <% if can? :update, document %>
          <div class="tab-pane <%= document_details_tab_class document, :edit %>" id="document-edit">
            <%= render partial: 'common_documents/form', locals: { document: document } %>
          </div>
          <% end %>
        </div>
      </div>     
    </div>
  </div>
  <!--activity-->
  <div class="activity-box">
    <div class="activity">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#comments" data-toggle="tab">
              <%= t 'comment.title.other' %>
            </a>
          </li>
        </ul>
        <div class="tab-pane active" id="coment1">
          <div id="comments" class="comments">
            <div class="new-comments-box">
              <%= render :partial => 'comments/new', :locals => { :activity => document.post_activity } %>
            </div>
            <%= render :partial => 'activities/comments', :locals => { :activity => document.post_activity } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</section>





