<section class="">
<%= f.label :url, t('course.fields.url') %>
<%= f.text_field :url, :class => "form-control" %>
</section>

<div class="">
<%= f.label :restricted, t('course.fields.restricted') %>
<%= f.check_box :restricted, :class => "form-control" %>
</div>

<section class="">
<%= f.label :restriction_email, t('course.fields.restriction_email') %>
<%= f.text_field :restriction_email, :class => "form-control" %>
</section>

<section class="">
<%= f.label :restriction_password, t('course.fields.restriction_password') %>
<%= f.text_field :restriction_password, :class => "form-control" %>
</section>

<section class="">
    <%= f.label t('course.fields.start_date') %>
    <%= date_select "course", "start_date", :order => [:day, :month, :year], :end_year => Date.today.year+1, :start_year => Date.today.year, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} %>
</section>

<section class="">
    <%= f.label t('course.fields.end_date') %>
    <%= date_select "course", "end_date", :order => [:day, :month, :year], :end_year => Date.today.year+1, :start_year => Date.today.year, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} %>
</section>
