<%content_for :title do %><%= @course.title %> - <%= !@course.author.nil? ? @course.author.name : "" %><% end %>
<%content_for :description do %><%=t("site.meta_desc.course")+@course.title + ". " + (@course.description ? @course.description : "")%><% end %>
<%content_for :keywords do %><%= @course.tag_list %><% end %>
<%content_for :alternate_urls do%><%=raw alternate_urls(polymorphic_url(@course), @course)%><%end%>
<%content_for :canonical do%><%=polymorphic_url(@course, :locale => params[:locale])%><%end%>

<section id="course" class="layout_show">
  
  <div class="row container_mooc">
    <div class="col-md-4 mooc_image_main">
      <%=course_thumb_for(@course)%>
    </div>
    <div class="col-md-8 mooc_welcome_text">
      <h1><%=@course.title%></h1>
      <h2><%=t('course.description')%></h2>
      <p><%=@course.description%></p>
      <h2><%=t('course.dates')%></h2>
      <p><%=t("course.date_from")%>:<%=@course.start_date%></p>
      <p><%=t("course.date_to")%>:<%=@course.end_date%></p>
      <%if @course.age_min!=0 || @course.age_max!=0%>
        <h2><%=t('course.age')%></h2>
        <p><%=t("course.age_from")%>:<%=@course.age_min%></p>
        <p><%=t("course.age_to")%>:<%=@course.age_max%></p>        
      <%end%>
      <%if @course.language && @course.language!="independent"%>
        <h2><%=t('course.language')%></h2>
        <p>
        <%=@course.readable_language%></p>
      <%end%>
      <%if @course.tags.length>0%>
        <h2><%=t('course.tags')%></h2>
        <ul class="tagit-suggestions">
          <% @course.tag_list.each do |tag| %>
          <li class="tagit-choice">
            <%= link_to tag, search_path(:q => tag) %>
          </li>
          <% end %>
        </ul>
      <%end%>
      <% if @course.attachment.exists? %>
        <a href="<%=@course.attachment.url%>" target="_blank" class="btn btn-default"><i class="fa fa-download"></i><%= t('course.actions.download_sheet') %></a>
      <%else%>
         <p><%=t('course.no_attachment')%></p>
      <% end %>

      <%if user_signed_in? && can?(:update, @course)%>
        <h2><%=t('course.extra_info')%></h2>
        <%if !@course.restriction_email.empty?%>
          <p><%=t('course.fields.restriction_email') + ": " + @course.restriction_email%></p>
        <%else%>
          <p><%=t("course.no_restriction_email")%></p>
        <%end%>
        <%if !@course.course_password.empty?%>
          <p><%=t('course.fields.course_password') + ": " + @course.course_password%></p>
        <%else%>
          <p><%=t("course.no_course_password")%></p>
        <%end%>
      <%end%>

      <div id="course_button_bar">  
          <%if current_user%>
            <%if @course.users.include? current_user%>
              <a class="btn btn-default" href="<%=@course.url%>" target="_blank"><%=t('course.actions.go')%></a>
              <%= form_for @course, :url => { :action => :leave }, method: "post"  do |f| %>
                <%= f.submit t('course.actions.leave') %>
              <% end %>
            <%elsif @course.restriction_email && (current_user.email.ends_with? @course.restriction_email)%>
                <%= form_for @course, :url => { :action => :join }, method: "post"  do |f| %>
                    <%= f.submit t('course.actions.enrol') %>
                <% end %>
            <%else%>
              <div class=""><%=t('course.msgs.only_email', :email => @course.restriction_email)%></div>
            <%end%>
          <%else%>
            <a href="/users/sign_up?course=<%=@course.id%>"><div class="btn btn-primary"><i class="fa fa-hand-o-up"></i><%=t('course.actions.register')%></div></a>
          <%end%>                   

          <%if user_signed_in? && can?(:update, @course)%>
            <a href="<%=edit_course_path(@course)%>"><div class="btn btn-primary"><i class="fa fa-edit"></i><%=t('course.actions.edit')%></div></a>
          <%end%>

          <%if user_signed_in? && can?(:delete, @course)%>
            <button id="course_delete" class="delete btn btn-default" data-toggle="popover"  title="<%=t('course.actions.delete')%>" >
                <i class="fa fa-trash-o"></i><%=t('course.actions.delete')%>
            </button>


            <div class="contentdelete" style="display: none">
                <p class="delete_p"><i class="fa fa-trash-o"></i>  <%=t('course.confirm_delete')%></p>
                <div class="actions">
                  <a class="btn btn-default btn_cancel closepopover"><%=t('cancel')%></a>
                  <a href="<%=course_path(@course)%>" data-method="delete"><div class="btn btn-primary"><i class="fa fa-trash-o"></i><%=t('course.actions.delete')%></div></a>
                </div>
            </div>
          <%end%>
      </div>
    </div>
  </div>

</section>

<script>
document.addEventListener("DOMContentLoaded", function(){
    $('#course_delete').popover({
      html : true,
      placement: "left",
      content: function() {
        return $('.contentdelete').html();
      },
      container: "#course_button_bar"
    });
});
</script>