<div id="all" class="tab-pane <%= "active" if params[:type].blank? %>">
  <% if @search_result.empty? %>
    <%= I18n.t('search.nothing') %>
  <% elsif params[:type].blank? %>
    <% @search_result.each do |res| %>
      <%= render_global_search_for res  %>
    <% end %>
    <%= paginate @search_result if @search_result.present? %>
  <% end %>
</div>

<% SocialStream::Search.keys(:extended).each do |key| %>
  <div id="<%= key %>" class="tab-pane <%= "active" if params[:type] == key.to_s %>">
    <% if params[:type] == key.to_s && @search_result.present? %>
      <% @search_result.each do |res| %>
        <%= render_focus_search_for res  %>
      <% end %>
      <%= paginate @search_result if @search_result.present? %>
    <% end %>
  </div>
<% end %>

