<% params[:page]="1" if params[:page].blank? %>
<div id="all" class="tab-pane <%= "active" if params[:type].blank? %> modal-pivot">
  <% if @search_result.empty? %>
    <div class="no_search">
      <%= I18n.t('search.nothing') %>
    </div>
  <% elsif params[:type].blank? %>
    <% @search_result.each do |res| %>
      <%= render_global_search_for res  %>
    <% end %>
    <div class = "paginate">
      <%= link_to(t('activity.more'), {:q => params[:q], :page => (params[:page].to_i + 1), :type => ''}, :id => 'search_load_more_button', :class =>'btn-more', :remote => true) unless @search_result.last_page? %>
    </div>
  <% end %>
</div>

<% SocialStream::Search.keys(:extended).each do |key| %>
  <div id="<%= key %>" class="tab-pane <%= "active" if params[:type] == key.to_s %> modal-pivot">
    <% if params[:type] == key.to_s && @search_result.present? %>
      <% @search_result.each do |res| %>
        <%= render_focus_search_for res  %>
      <% end %>
      <div class = "paginate">
        <%= link_to(t('activity.more'), {:q => params[:q], :page => (params[:page].to_i + 1), :type => key.to_s}, :id => 'search_load_more_button', :class =>'btn-more', :remote => true) unless @search_result.last_page? %>
      </div>
    <% end %>
  </div>
<% end %>

