<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
</script>

<% unless profile_or_current_subject.blank? %>
<div class="quizresults tabbable">
  <ul class="nav nav-tabs span7">
    <% params[:scope]='ongoing' unless params[:scope].present?  %>
    <li class="<%= params[:scope]=='ongoing'  ? "active" : ""  %>"><a data-toggle="tab" href="#quiz-1"><%= t('quiz.ongoing') %></a></li>
    <li class="<%= params[:scope]=='past'   ? "active" : ""  %>"><a data-toggle="tab" href="#quiz-2"><%=t('quiz.past') %></a></li>
  </ul>

    <div class="span2 size40 title_menu_home ">
    <%= t('quiz.other')%></div>
    <div class="clearfloat"></div>
</div>


<% unless params[:no_layout].present? %>
  <%= render :partial => "common_documents/headers" %>
  <div id="quiz_results_grid"></div>
<% end %>

<div class="tab-content">
  <div id="quiz-1" class="tab-pane <%= params[:scope]=='ongoing'  ? "active" : ""  %>">
    <div class="space_center"></div>
    <div id="quiz-results-ongoing" class="block row space_bottom">
      <% QuizSession.where(:owner_id => Actor.normalize_id(current_user)).where(:active => true).group_by(&:quiz_id).sort.each do |quiz_id,qss| %>
        <% quiz = Quiz.find(quiz_id) %>
        <div class="text-margin">
          <h2><%= quiz.question %></h2>
          <% unless quiz.possible_answers.empty? %>
            <h5><%= t('quiz.possible_answers') %>: <em><%= quiz.possible_answers.values.join(", ") %></em></h5>
          <% end %>
          <h5><%= t('quiz.from_excursion') %>: <em><%= link_to quiz.excursion.title, quiz.excursion %></em></h5>
        </div>
        <% qss.each do |qs| %>
          <%= render :partial => "quiz_sessions/historic", :locals => {:qs => qs} %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="quiz-2" class="tab-pane <%= params[:scope]=='past'  ? "active" : ""  %>">
    <div class="space_center"></div>
    <div id="repo-excursions-past" class="block row space_bottom">
      <% QuizSession.where(:owner_id => Actor.normalize_id(current_user)).where(:active => false).group_by(&:quiz_id).sort.each do |quiz_id,qss| %>
        <% quiz = Quiz.find(quiz_id) %>
        <div class="text-margin">
          <h2><%= quiz.question %></h2>
          <% unless quiz.possible_answers.empty? %>
            <h5><%= t('quiz.possible_answers') %>: <em><%= quiz.possible_answers.values.join(", ") %></em></h5>
          <% end %>
          <h5><%= t('quiz.from_excursion') %>: <em><%= link_to quiz.excursion.title, quiz.excursion %></em></h5>
        </div>
        <% qss.each do |qs| %>
          <%= render :partial => "quiz_sessions/historic", :locals => {:qs => qs} %>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
<% end %>

