<section id="quiz">
  <div class="whiteframe">
    <legend><%=t('quiz.live')%></legend>
    <div class="textrow">
      <h4><%=t('quiz.open')%></h4>
      <ul id="sortable1" class="connectedSortable">
        <% @quiz_active_sessions.each do |q| %>
          <li class="ui-state-default" data-target="#QuizAnalitycs" data-toggle="modal" data-remote=<%="/quiz_sessions/#{q.id}/results.js"%>>
            <% if q.name %>
              <%= q.name %>
            <% else %>
              <%=t('quiz.untitled')%>
            <% end %>
            <button id="close" class="btn" onclick="eliminaitem">x</button>
            <p class="creation_date">
              <%=t('quiz.createdAt')%> <%= q.created_at %>
            </p>
          </li>
        <% end %>
      </ul>
    </div> 
    <div class="textrow"> 
      <h4><%=t('quiz.close')%></h4>
      <ul id="sortable2" class="connectedSortable">
        <% @quiz_inactive_sessions.each do |q| %>
          <li class="ui-state-default" data-target="#QuizAnalitycs" data-toggle="modal" data-remote=<%="/quiz_sessions/#{q.id}/results.js"%>>
            <%= q.name %>
            <button class="btn">x</button>
            <p class="creation_date">
              <%=t('quiz.openPeriod')%> <%= q.created_at %> - <%= q.closed_at %>
            </p>
          </li>
        <% end %>
      </ul>      
    </div>
  </div>
</section>

<%= render partial: 'quiz_sessions/form' %>

<%= content_for :javascript do %>
$('#QuizAnalitycs').on('hidden', function () {
  $(this).removeData('modal');
});
<% end %>

