<section id="quiz">
  <div class="whiteframe">
    <legend><%=t('quiz.live')%></legend>
    <div class="textrow">
      <h4><%=t('quiz.open')%></h4>
      <% if @quiz_active_sessions.length > 0 %>
        <ul id="sortable1" class="connectedSortable">
          <% @quiz_active_sessions.each do |q| %>
            <li class="ui-state-default" data-target="#QuizAnalitycs" data-toggle="modal" data-remote=<%="/quiz_sessions/#{q.id}/results.partial"%>>
              <% if q.name && !q.name.empty? %>
                <%= q.name %>
              <% else %>
                <%=t('quiz.untitled')%>
              <% end %>
              <button class="with_tooltip delete btn popover-link" urlToRemoveQuiz=<%="#{q.delete_url}"%> data-container="body" title="<%=t('quiz.actions.delete')%>" aria-hidden="true">
                <i class="icon-trash"></i>
              </button>
              <button class="with_tooltip btn" title="" data-target="#QuizEdit" data-toggle="modal" data-remote=<%="/quiz_sessions/#{q.id}/edit.partial"%> title="<%=t('quiz.actions.edit')%>">
                <i class="icon-edit"></i>
              </button>
              <button class="with_tooltip closeqb btn popover-link" urlToCloseQuiz=<%="#{q.close_url}"%> data-container="body" title="<%=t('quiz.actions.close')%>" aria-hidden="true">
                x
              </button>
              <p class="creation_date">
                <%=t('quiz.createdAt')%> <%= q.created_at %>
              </p>
            </li>
          <% end %>
        </ul>
        <% else %>
          <p><%=t('quiz.noOpenQuizzes')%>.</p>
        <% end %>
    </div> 
    <div class="textrow"> 
      <h4><%=t('quiz.close')%></h4>
      <% if @quiz_inactive_sessions.length > 0 %>
        <ul id="sortable2" class="connectedSortable">
          <% @quiz_inactive_sessions.each do |q| %>
            <li class="ui-state-default" data-target="#QuizAnalitycs" data-toggle="modal" data-remote=<%="/quiz_sessions/#{q.id}/results.partial"%>>
              <% if q.name && !q.name.empty? %>
                <%= q.name %>
              <% else %>
                <%=t('quiz.untitled')%>
              <% end %>
              <button class="with_tooltip delete btn popover-link" urlToRemoveQuiz=<%="#{q.delete_url}"%> data-container="body" title="<%=t('quiz.actions.delete')%>" aria-hidden="true">
                <i class="icon-trash"></i>
              </button>
              <button class="with_tooltip btn" title="" data-target="#QuizEdit" data-toggle="modal" data-remote=<%="/quiz_sessions/#{q.id}/edit.partial"%> title="<%=t('quiz.actions.edit')%>">
                <i class="icon-edit"></i>
              </button>
              <p class="creation_date">
                <%=t('quiz.openPeriod')%> <%= q.created_at %> - <%= q.closed_at %>
              </p>
            </li>
          <% end %>
        </ul>   
      <% else %>
        <p><%=t('quiz.noClosedQuizzes')%>.</p>
      <% end %>   
    </div>
  </div>


  <!-- Quiz session close confirmation-->
  <div class="contentclose" style="display: none">
    <p class="delete_p"><%=t('quiz.confirm_close')%></p>
    <div class="actions">
      <a class="btn btn_cancel"><%=t('cancel')%></a>
      <a class="btn btn-primary quiz_actions_close"><%=t('quiz.actions.close')%></a>
    </div>
  </div>

  <!-- Quiz session delete confirmation-->
  <div class="contentdelete" style="display: none">
    <p class="delete_p"><i class="icon-trash"></i>  <%=t('quiz.confirm_delete')%></p>
    <div class="actions">
      <a class="btn btn_cancel"><%=t('cancel')%></a>
      <a class="btn btn-primary quiz_actions_delete"><%=t('quiz.actions.delete')%></a>
    </div>
  </div>

</section>

<div id="QuizAnalitycs" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="QuizLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <p></p>
  </div>
  <div class="modal-body">
    <!-- This body is replaced with show_results.html.erb every time the modal is called -->
  </div>
  <div class="modal-footer"> </div>
</div>

<div id="QuizEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="QuizLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <p></p>
  </div>
  <div class="modal-body">
    <!-- This body is replaced with edit.html.erb every time the modal is called -->
  </div>
  <div class="modal-footer"> </div>
</div>


<%= content_for :javascript do %>
  $('#QuizAnalitycs').on('hidden', function(){
    $(this).removeData('modal');
  });

  $('#QuizEdit').on('hidden', function(){
    $(this).removeData('modal');
  });

  $(".ui-state-default").click(function(event){
    //Prevent new window to appear when a button is clicked
    if(($(event.target).hasClass("popover-link"))||($($(event.target).parent()).hasClass("popover-link"))){
      event.stopPropagation();
    }
  });

  $('.closeqb').popover({
    html : true,
    content: function() {
      return $('.contentclose').html();
    },
    placement: "bottom",
    container: "body"
  });

  $('.closeqb').on('shown.bs.popover', function(){
    //done this way because next three lines in document.ready did not fire with popovers as they generate dinamically
    $('.btn_cancel').on("click",function(){
      $('.closeqb').popover('hide');
    });
    $("a.quiz_actions_close").attr("href",$(this).attr("urlToCloseQuiz"));
  });

  $('.delete').popover({
    html : true,
    content: function() {
      return $('.contentdelete').html();
    },
    placement: "bottom",
    container: "body"
  });

  $('.delete').on('shown.bs.popover', function(){
    //done this way because next three lines in document.ready did not fire with popovers as they generate dinamically
    $('.btn_cancel').on("click",function(){
      $('.delete').popover('hide');
    });
    $("a.quiz_actions_delete").attr("href",$(this).attr("urlToRemoveQuiz"));
  });

<% end %>