<% unless post.blank? %>
  <% author = post.author_subject %>
  <div class="model_with_details ">
    <%= javascript_tag do %>
      <%= modal_for(author.subject) %>
    <% end %>
    <ul class="thumbnails">
      <li class="avatar">
        <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger">
          <%= image_tag(author.logo.url, :alt => author.name) %>
        </a>
      </li>
      <li class="info_user">
        <h4>
          <span class="name">
            <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger">
              <%= truncate_name(author.name, :length => 40) %>
            </a>
          </span>
        </h4>
        <div class="content_post">
          <span class="type-element">
            <%=t "#{post.class.name.underscore}.search_name"  %>
          </span>
            <%= link_to post do%>
              <% text = excerpt(strip_tags(post.text),get_search_query_words.first,:radius => 25) || truncate(post.text, :length => 40) %>
              <% if text.length < 40 %>
                <% text = excerpt(strip_tags(post.text),get_search_query_words.first,:radius => 30 + (40 - text.length)) || post.text %>
              <% end %>
              <%= highlight(text,get_search_query_words) %>
            <% end %>
        </div>
      </li>
    </ul>
  </div>
<% end %>

