<% activity = post.post_activity %>
<%= div_for activity, :class => 'model_with_details span3 box-result' do %>
  <ul class="thumbnails">
    <li class="span1 margin-clear">
    <%= link_to image_tag(activity.sender_subject.logo.url(:profile),
                          :alt => activity.sender_subject.name),
                activity.sender_subject %>
    </li>
    <li class="span2">
      <div class="caption">
        <h4><span class="size16"><%= activity.title(self) %></span></h4>
        <div class="size12 link_gray">
          <%= link_to post do%>
            <% text = excerpt(strip_tags(post.text),get_search_query_words.first,:radius => 25) || "" %>
            <% if text.length < 60 %>
              <% text = excerpt(strip_tags(post.text),get_search_query_words.first,:radius => 30 + (60 - text.length)) || "" %>
            <% end %>
            <%= highlight(text,get_search_query_words) %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
<% end %>



