<% author = post.author_subject %>

<div id="item-search-bar">
  <%= javascript_tag do %>
    <%= modal_for(author.subject) %>
  <% end %>
  <div class="thumbnails">
    <div class="img">
      <a data-toggle="modal" href="#user-modal-<%= author.slug %>" class="user-modal-button-<%= author.slug %> modal-no-trigger" alt='<%= author.name %>'>
        <%= image_tag(author.logo.url(:contact)) %>
      </a>
    </div>

    <div class="info">
      <div class="title">
        <%= link_to truncate_name(author.name, :length => 40), author %>
      </div>
      <div class="by post">
        <%=t "#{post.class.name.underscore}.name"  %>
      </div>
      <div class="by">
        <%= link_to post do%>
          <% text = excerpt(strip_tags(post.text),get_search_query_words.first,:radius => 25) || "" %>
        <% if text.length < 60 %>
          <% text = excerpt(strip_tags(post.text),get_search_query_words.first,:radius => 30 + (60 - text.length)) || "" %>
        <% end %>
         <%= highlight(text,get_search_query_words) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

