<%# LOCALS: title1 title2 my_items notfound button_name name%>
<div id="join_<%= name %>" class="modal fade modal_join">
  <div class="modal-dialog">
	<div class="modal-content" >

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h1><%= title1 %></h1>
	</div>

  <div class="modal-body">
    
  	<% unless my_items.blank?%>
  	  <p><%= title2 %></p>
  		<div class="form_for_joining clearfix">
        <ul class="items">
            <% my_items.each do |r| %>

    				  <% unless r.nil?  %>

                <%= render :partial => 'entities/entity', :locals => { :entity => r, :prefix_id=> "join", :rec => (defined?(rec) ? rec : false)  } %>
            
    					<% end %>

  				<% end %>
          </ul>
      </div>
    <% else %>
    	<% if current_subject != nil%>
    		<div id="no_items"><%= notfound %></div>
    	<% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <div class="footer-form clearfix">
    	<% unless my_items.blank?%>
    		<a id="button_for_<%= name %>" type="button" class="btn btn-primary"><%= button_name %></a>
    	<% end %>
    </div>
  </div>

 </div>
</div>
</div>
