<span class="icon-stack">
  <i class="icon-circle  icon-stack-base"></i>
  <i class="icon-info  icon-light"></i>
</span>
<p class="info"><%=t('categories.info')%></p>
<div class="actions-clone">
  <%= form_for item, :remote => true do |f| %>
    <% categories_array = subject_categories(current_subject, {:scope => :me, :limit => 0}).map { |category| [category.title, category.id] } %>
    <%= f.select(:add_holder_category_id, options_for_select(categories_array)) %>
    <a class="btn btn_cancel"><%=t('cancel')%></a>
    <%= f.submit t('button.save')%>
  <% end %>
</div>