<li class="box-item">

<!--IMG categories-->
  <%#= link_to image_tag("items/cat-prev.png"), "#",  :class=> "img-box"  %>
  <div class="category">
    <%= link_to "<i class='icon-th-large'></i>".html_safe, category, :title => category.title %>
  </div>
<!--INFO categories-->
  <div class="info">
<!--Title -->
    <h5 class="name">
      <%= link_to truncate(category.title, :length => 15), category %>
    </h5>
<!--Autor -->
    <div class="author"> 
      <a><%= raw t('document.by', author: link_to(category.author.name, category.author_subject)) %></a>
    </div>
<!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
<!--like -->
      <div class="like">    
        <div class="count"><%=category.post_activity.likes.count.to_s%></div>
        <%= link_like(category.post_activity)%>
      </div>
<!--views -->
      <div class="views">
        <%=category.visit_count.to_s%>
        <%=t('follow.views')%>
      </div>
    </div>
  </div>
</li>










