<li class="excursion">
  <div class="container-img">
      <div class="dummy"></div>
      <div class="element">

        <div class="img-box">
        <!--IMG categories-->
          <%= link_to(category) do %>
            <div class="category">
              <%=category_thumbnail(category)%>            
            </div>
          <% end %>
        </div>
      </div>
  </div>
    
<!--INFO excursuion-->
  <div class="caption">
<!--Title -->
    <h6>
      <%= link_to category.title, category %>
    </h6>
<!--Autor -->
    <div class="author"> 
      <span class="by"><%=t('by')%></span>
      <%= link_to category.author.name, category.author.subject %>
    </div>
    <hr>
    <!--____________________ -->
    <div class="info-bottom">
      <!--like -->
      <div class="categories_inside">  
        <%=category.property_objects.count.to_s%>
        <%=t('categories.item_inside')%>
    </div>

  </div>
</li>









