<!-- Button to trigger modal --> 
<!-- Modal Categories-->
<div id="AddCategory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddCategoryLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="AddCategoryLabel"><%= t('document.main_title')%></h3>
  </div>
  <div class="modal-body">

    <!--TITULO-->
    <legend><%= t('document.leyend.title')%></legend>
    <input type="text" placeholder="<%= t('document.title_input')%>">
    
    <!--DESCRIPCION-->
    <legend><%= t('document.leyend.description')%></legend>
    <input type="text" placeholder="<%= t('document.input')%>">
   
    
    <button class="btn btn-primary"> <%= t('document.upload')%></button>
  </div>
</div>
<%= content_for :javascript do %> 
    //popover
$(document).ready(function(){
  $('#logIn').popover({
    html : true,
    content: function() {
      return $('#popover_content_wrapper').html();
    }
  });
});
<% end %>