<div id="categories_tab_ready" class="categories cat_container_generic">
  <% all_categories = subject_categories(profile_or_current_subject, {:scope => scope, :limit => 0}).select{|i| i.isRoot?} %>
  <% order = profile_or_current_subject.actor.categories_order %>
  <% unless order.nil?
    orderLength = order.length
    all_categories.sort_by!{|h| order.index(h.activity_object.id) || (orderLength+1)}
  end %>

 
    <div class="toolbar_nav-tab">
       <% if profile_subject_is_current? or isAdmin? %>
      <button type="button" class="btn btn-primary btn-for-categorize" data-toggle="button"><i class="icon-move"></i><%=t('categories.dragandrop.place_uncategorize')%></button>
        <% end %>
      <!--TODO:applycss and fix icons-->
      <div class="btn-group view-categories-group" role="group" aria-label="viewButton" style="float:right;">
        <button id="normal-view" type="button" class="btn btn-primary">
          <i class="icon-th "></i>
          <%=t('categories.dragandrop.gallery')%>
        </button>
        <button id="list-view" type="button" class="btn btn-primary">
          <i class="icon-align-justify "></i>
          <%=t('categories.dragandrop.list')%>
        </button>
      </div>
    </div>
  <% if profile_subject_is_current? or isAdmin? %>
    <%= render partial: 'categories/edit_categories', :locals => { :scope => scope , :all_categories => all_categories} %>
  <% end %>
  <div id="normal-instance">
    <ul class="categories main-categories-space">
      <% if profile_subject_is_current? %>
        <%= render partial: 'categories/category-add' %>
        <%= render partial: 'categories/category_fav' %>
      <% end %>
      <%= render partial: 'categories/categories', :locals => { :scope => scope, :all_categories => all_categories} %>
    </ul>
  </div>

  <div id="list-instance" style="display:none" >
  <%all_categories.each do |category|%>
  <%if !category.property_objects.empty? %>
    <h2 ><%= category.title %></h2>
    <ul class="categories main-list-categories-space">
          <%category.property_objects.each do |resource| %>
              <%=render :partial=> "entities/entity", :locals => { :entity => resource, :prefix_id =>"catalogue" } %>
          <%end%>
          <!-- TODO: normalize in css-->
    </ul>
    <button onclick="location.href='<%=category_url(category)%>'" class="show_more_catalogue" name="<%=category.title%>"><%=t('view_all')%></button>
      <%end%>
    <%end%>
  </div>
</div>


<script>
  Array.prototype.equals = function (array){
      // if the other array is a falsy value, return
      if (!array)
          return false;

      // compare lengths - can save a lot of time
      if (this.length != array.length)
          return false;

      for (var i = 0, l=this.length; i < l; i++) {
          // Check if we have nested arrays
          if (this[i] instanceof Array && array[i] instanceof Array) {
              // recurse into the nested arrays
              if (!this[i].equals(array[i]))
                  return false;
          }
          else if (this[i] != array[i]) {
              // Warning - two different object instances will never be equal: {x:20} != {x:20}
              return false;
          }
      }
      return true;
  };

  var beginIndex;
  var beginObjects;
  //Let the overlay appear
  $(document).ready(function(){
  	$(".btn-for-categorize").click(function(){
  		$("#categories_edition").fadeIn();

      backstretch_fix();

      beginIndex = getidArray();
      beginObjects = $(".edit_categories .box-item").clone();
    });

    $("#normal-view").click(function(){
      $(".btn-for-categorize").show(200);
        $("#list-instance").fadeOut(200,function(){          
          $("#normal-instance").fadeIn(200);
        });
    });

    $("#list-view").click(function(){
      $(".btn-for-categorize").hide(200);
      $("#normal-instance").fadeOut(200,function(){
        $("#list-instance").fadeIn(200);
        backstretch_fix();
      });
    });

  });

  function updateMainView(){
    var actualState = $(".edit_categories .box-item").clone();
    var s = $(".main-categories-space .box-item");
    <% if profile_subject_is_current? %>
      s.splice(0,2);
    <% end %>
    s.each(function(index){this.remove();});
    actualState.appendTo(".main-categories-space");
  };

function backstretch_fix(){
  $("div[bs-img]").each(function(){
   $(this).backstretch($(this).attr("bs-img"));
  });
}

</script>
