
<section id="category">
  <div class="category_info">
    <div class="information my_favorites">
      <div class="briefing">
        <header>
          <!--titulo-->
          <h1><i class="fa fa-star"></i> <%= t('categories.favorites.title') %> </h1>
          <!--ayuda-->
          <%= render partial: 'help/help_categories' %>
        </header>   
        <div class="description"> <%= t('categories.favorites.description') %> </div>
      </div>
    </div>
  </div>
  <div class="excursions">
    <ul class="items">
    <%# excursions = subject_excursions(profile_or_current_subject, {:scope => scope, :limit => 0, :page=> page}) %>
      <% items = subject_content current_subject, [Excursion, Picture, Video, Document, Embed, Link], {:scope => :like, :limit=>0} %>
      <% items.each do |item| %>
      <% resources = [Picture, Document, Embed, Link, Video] %>
      <% if resources.include?(item.object.class) %>
        <%= render :partial => 'repositories/resource', :locals => { :resource => item.object } %>
      <% else %>
        <%= render :partial => "#{item.object.class.to_s.tableize}/#{item.object.class.to_s.underscore}", :locals => { item.object.class.to_s.underscore.to_sym => item.object } %>
      <% end %>
    <% end %>
    </ul>
  </div>
<!--   <div id="loader_pagination">
    <div id="pageless-loader" style="text-align:center;width:100%;">
      <div class="msg" style="font-size:2em">
        <%=t('search.loading')%>
      </div>
      <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
    </div>
  </div>
  <div id="last_content_shown" style="display:none"> <%=t('search.end')%></div> -->

</section>
