<section id="category">
  <div class="category_info">
    <!-- corner -->
    <div class="corner-item">
      <div class="corner-item2">
        <div class="corner-color"></div>
        <i class="icon-th-large"></i>
      </div>
      <div class="corner-background"></div>
    </div>
    <div class="icon-box">
      <%= render :partial => 'categories/thumbnail', :locals =>{:category => @category} %>
    </div>  

    <div class="information">
      <div class="briefing">
        <header>
          <div class="icontitle">
            <!--ayuda-->
            <%= render partial: 'help/help_categories' %>
            <!--titulo-->
            <h2><%= @category.title %></h2>
            <div class="description"><%= @category.description %></div>
            <div class="author"> <span class="by"><%=t('by')%></span> <%= link_to @category.author.name, @category.author.subject %></div>
          </div>
        </header>   

        <div class="toolbar-profile">
          <div class="btn-group">
            <!--editar-->
            <% if can?(:update, @category) %>
            <%= link_to(raw("<i class='icon-edit '></i>")+ t('excursion.actions.edit'), '#', :id => "edit_icon_link", :class =>"btn btn-default edit_icon") %> 
            <a class="btn btn-default btn-for-categorize"><i class="icon-move"></i><%=t('categories.dragandrop.place')%></a>
            <% end %>
            <!--borrar-->
            <% if user_signed_in? and can?(:destroy, @category) %>
            <%= link_to(raw("<i class='icon-trash'></i>") + t('excursion.actions.delete') , @category, :method => :delete, :remote => false, :confirm => "Are you sure?", :class =>"action btn btn-default" )%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="update" style="display:none">
        <%= form_for(@category, :url => [@category]) do |f| %>
        <%= f.hidden_field :owner_id %>
        <!--TITULO-->
        <label><%= t('categories.leyend.title')%></label>
        <%= f.text_field :title %>
        <!--DESCRIPCION-->
        <label><%= t('categories.leyend.description')%></label>
        <%= f.text_field :description %>
        <!--FORM FOR UPLOADING IMAGE-->
        <label><%= f.label :avatar, t('document.leyend.avatar') %></label>
        <%= f.file_field :avatar %>
        <div class="actions">
          <%= f.submit t('categories.save'), :id => "saveCategory" %>
          <%=link_to t('hide'), "#", :id=>"hide_category_form", :class=>"btn "%>
          <% end %>
        </div>

        <!--Está roto si lleva un avatar JuanCar-->
        <%= render :partial => 'categories/thumbnail', :locals =>{:category => @category, :show_avatar => true} %>
      </div>
    </div>
  </div>
</section>

<%#Ordering logic%>
<%  @items = @category.property_objects
    order = @category.categories_order
    unless order.nil?
      orderLength = order.length
      @items.sort_by!{|h| order.index(h.id) || (orderLength+1)}
    end %>

<% if can?(:update, @category) %>
  <%= render partial: 'categories/edit_categories', :locals => { :all_categories => @items} %>
<% end %>

<div class="main-categories-space">
  <%= render partial: 'categories/items' %>
</div>

<%= content_for :javascript do %>
  $(document).ready(function(){

    $(".edit_icon").on("click", function(){
      $(".update").show("slow");
      $(".btn-group").hide("slow");
      $(".information").hide("slow");
    });

    $("#hide_category_form").on("click", function(){
      $(".update").hide("slow");
      $(".btn-group").show("slow");
      $(".information").show("slow");
    });

  });
<% end %>

<script>
//BACKSTRETCH
$("div[bs-img]").each(function(){
  $(this).backstretch($(this).attr("bs-img"));
});



Array.prototype.equals = function (array) {
    // if the other array is a falsy value, return
    if (!array)
        return false;

    // compare lengths - can save a lot of time
    if (this.length != array.length)
        return false;

    for (var i = 0, l=this.length; i < l; i++) {
        // Check if we have nested arrays
        if (this[i] instanceof Array && array[i] instanceof Array) {
            // recurse into the nested arrays
            if (!this[i].equals(array[i]))
                return false;
        }
        else if (this[i] != array[i]) {
            // Warning - two different object instances will never be equal: {x:20} != {x:20}
            return false;
        }
    }
    return true;
}

var beginIndex;
var beginObjects;
//Let the overlay appear
$(document).ready(function(){
  $("div[bs-img]").each(function(){
       $(this).backstretch($(this).attr("bs-img"));
  });
  $(".btn-for-categorize").click(function(){
    $("#categories_edition").fadeIn();
    beginIndex = getidArray();
    beginObjects = $(".edit_categories .box-item").clone();
    $("#categories_edition div[bs-img]").each(function(){
      $(this).backstretch($(this).attr("bs-img"));
    });
  });
});

function updateMainView(){
  var actualState = $(".edit_categories .box-item").clone();
  var s = $(".main-categories-space .box-item");
  s.each(function( index ) {this.remove();});
  actualState.appendTo(".main-categories-space");
}

</script>
