<%= div_for activity, :class => "subactivity" do %>
  <ul class="thumbnails span">
    <li class="span space_left">
      <%= link_to image_tag(activity.sender_subject.logo.url(:actor),
                            :alt => activity.sender_subject.name),
                  activity.sender_subject %>
    </li>
    <li class="span activity_content">
      <div class="caption elipsis">
        <h5><%= link_to(activity.sender_subject.name, activity.sender_subject) %> <%= render activity.activity_objects %></h5>
        <h5>
          <%= render :partial => 'activities/options',
                       :locals => { :activity => activity } %>
        </h5>
      </div>
    </li>
  </ul>
<% end %>
<div class="space_comments"></div>




