<section id="wrapper_activities" class="tabbable" >
  <ul class="nav nav-tabs span3">
    <li class="active"><a data-toggle="tab" href="#wall"><%= t('resource.net') %></a></li>
    <li class=""><a data-toggle="tab" href="#wall-me"><%= t('resource.my') %></a></li>
  </ul>
  <div class="span2 size40 title_menu_home ">
    <%= t('activity.timeline')%></div>
  <div class="clearfloat"></div>
  <div class="tab-content" id="wrapper_activities_header">
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </div>
  <div class="row space_center"></div>
  <div class="tab-content">
  <%= render :partial => 'activities/wall',
             :locals  => { :activities => @activities_net,
                           :is_active_wall => true } %>
  <%= render :partial => 'activities/wall_me',
             :locals  => { :activities => @activities_me,
                           :is_active_wall => false } %>
  </div>
</section>

