<% if can? :create, new_post(receiver) %>
<div id="activities_header" class="content_size pagination-centered">
  <% SocialStream.activity_forms.each do |element| %>
    <%= render :partial => element.to_s.pluralize+'/new_activity',
               :locals  => {
                             :receiver => receiver
                           } %>
  <% end %>
</div>

<div id="activity_form_select" class="inline-block">
  <% SocialStream.activity_forms.each do |element| %>
    <div id="select_<%= element %>" class="activity_form_selector  inline-block">
      <%= t("#{ element }.form.title") %>
    </div>
  <% end %> 	
</div>

<div id="activities_share_btn" class="inline">
  <%= submit_tag(t('share'), :class => "button submitActivity", :id => "masterSubmitButton") %>
</div>
<% end %>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Wall.init();  
  });
<% end %>

