<section id="wrapper_activities" class="tabbable wall" >
<ul class="nav nav-tabs tabs">
  <li class=""><a data-toggle="tab" href="#wall"><%= t('resource.net') %></a></li>
  <li class="active"><a data-toggle="tab" href="#wall-me"><%= t('resource.my') %></a></li>
</ul>

<div class="title">
  <%= t('activity.timeline')%>
</div>
<div class="clearfloat"></div>
  
  <section class="timeline tab-content">
          <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
    <div id="wall" class="tab-pane ">
      <%= render :partial => 'activities/wall',
             :locals  => { :activities => owner.wall(:home).page(params[:page_net]),
                           :is_active_wall => false } %>
    </div>
    <div id="wall-me" class="tab-pane active">

      <%= render :partial => 'activities/wall_me',
             :locals  => { :activities => owner.wall(:profile, :for => owner). page(params[:page_me]),
                           :is_active_wall => true } %>
    </div>
  </section>
</section>

