<%= div_for activity, :class => "root_activity" do %>
  <ul class="thumbnails">
    <li class="span2">
      <%= link_to image_tag(activity.sender_subject.logo.url(:contact),
                            :alt => activity.sender_subject.name),
                  activity.sender_subject, :class=> "container" %>
    </li>
    <li class="span10 activity_content">
      <div class="row-fluid">
        <span class="span"><%= activity.title(self)%></span>
        <% if activity.delete_object_by?(current_subject) %>
          <div class="icon_close">

            <%= link_to(image_tag('close.png'), activity.direct_object , :confirm => t('confirm_delete',
                                                                                       :scope => activity.direct_object.class.to_s.underscore), :method => :delete,
                        :remote => true) %>
          </div>
        <% end %>
        <span class=""><%= render activity.activity_objects %></span>
        <span class="row-fluid-100">
          <%= render :partial => 'activities/options',
                           :locals => { :activity => activity } %>
          <%= render :partial => 'activities/comments',
                     :locals => { :activity => activity } %>
          <%= render :partial => 'comments/new',
                     :locals => { :activity => activity } %>
        </span>
      </div>
	  <div class="space_activities">
		<% if activity.activity_objects.count > 1 %>
		  <div class="space_sub"></div>
		<%else %>
		  <div class="#"></div>
		<%end%>
	  </div>
    </li>
  </ul>
<% end %>
