<%= div_for activity, :class => "span"+spanX.to_s do %>
  <ul class="thumbnails span">
    <li class="span">
      <%= link_to image_tag(activity.sender_subject.logo.url(:contact),
                            :alt => activity.sender_subject.name),
                  activity.sender_subject, :class=> "container" %>
    </li>
    <li class="span<%=spanX-1%> activity_content">
      <div class="caption span">
        <h4 class="span"><%= activity.title(self)%></h4>
        <h4 class="span"><%= render activity.activity_objects %></h4>
        <h4 class="span size11">
          <%= render :partial => 'activities/options',
                           :locals => { :activity => activity } %>
          <%= render :partial => 'activities/comments',
                     :locals => { :activity => activity } %>
          <%= render :partial => 'comments/new',
                     :locals => { :activity => activity } %>
        </h4>
      </div>
	  <div class="space_activities">
		<% if activity.activity_objects.count > 1 %>
		  <div class="space_sub"></div>
		<%else %>
		  <div class="#"></div>
		<%end%>
	  </div>
    </li>
  </ul>
<% end %>
