<%= content_tag(:li, activity, class:"timeline-inverted") do %>

  <div class="tl-circ"></div>
  <div class="timeline-panel">
    <div class="pull-left">
      <%= link_to image_tag(activity.sender_subject.logo.url('small'),
        :alt => activity.sender_subject.name), activity.sender_subject, :class => "media-object avatar" %>
    </div>

    <div class="media-body">
      <h6 class="media-heading"><%= activity.title(self) %>
        <% if activity.direct_object && !activity.direct_object.acts_as_actor? && can?(:destroy, activity.direct_object) %>
          <div class="x"> 
            <%= link_to raw("<i class='fa fa-trash-o'></i>"), activity.direct_object , :confirm => t('confirm_delete', 
                        :scope => activity.direct_object.class.to_s.underscore), :method => :delete,  
                        :remote => true %> 
          </div>
        <% end %>
      </h6>
      <%= render :partial => 'activities/actions',
                 :locals => { :activity => activity } %>

      <%= render partial: 'activity_objects/timeline', 
                 collection: activity.activity_objects,
                 as: :object %>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <i class="fa fa-comment-o"></i>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= render :partial => 'activities/comments',
                         :locals => { :activity => activity } %>
            </div>
          </div>  
        </div>
      </div>

             
    </div>
    <%= render :partial => 'comments/new',
                 :locals => { :activity => activity } %>
  </div>
<% end %>

