<div id="wall" class="row-fluid tab-pane<%= " active" if is_active_wall %>">
  <% if activities.size == 0 %>
    <%= render :partial => "activities/zero_screen" %>
  <% else %>
    <%= render activities  %>
    <%= paginate activities, :remote => true, :param_name => :page_net, :window => 2, :params => {:active_tab => 'net'} %>
  <% end %>
</div>

<%= javascript_tag do %>
  $(function(){  
    SocialStream.Timeline.init();  
  });
<% end %>


