<% categorycrumb ||= false %>
<% projectscrumb ||= false %>

<ol class="breadcrumb">
  <% if categorycrumb %>
    <li><a href="<%=user_url(path.first.owner.user)%>?tab=categories"><i class="fa fa-th-large"></i><%=t('document.help.categories1_html')%></a></li>
  <% end %>
  <% if projectscrumb %>
    <li><a href="<%=private_student_groups_path%>"><i class="fa fa-university"></i><%=t('private_student.request')%></a></li>
  <% end %>

  <% path.each_with_index do |objectParent,index| %>
    <li><%= link_to (truncate_name(objectParent.title, length: 40)), polymorphic_path(objectParent) %></li>
  <% end %>
</ol>
