<div class="clearfloat"></div>
<%= div_for officedoc, :class => 'timeline-object' do %>
  <%= javascript_tag do %>
    <%= modal_for(officedoc) %>
  <% end %>
  <div class="item-object-wall">
    <ul class="thumbnails">
      <li class="img-object">
        <a data-toggle="modal" href="#officedoc-modal-<%= officedoc.id.to_s%>" class="officedoc-modal-button-<%= officedoc.id.to_s%> modal-trigger"><i class='icon75-pdf' onclick = " Vish.Officedoc.redim(); Vish.Officedoc.googdoc(); Vish.Officedoc.rwindow();"></i>
        </a>
    </li>
      <li class="info-object-timeline">
        <div class="title-object">
          <a data-toggle="modal" href="#officedoc-modal-<%= officedoc.id.to_s%>" onclick = " Vish.Officedoc.redim(); Vish.Officedoc.googdoc(); Vish.Officedoc.rwindow();" class="officedoc-modal-button-<%= officedoc.id.to_s%> modal-trigger"><%= officedoc.title %></a>
        </div>
        <p ><%= truncate_name(officedoc.description, :length => 120) %></p>
        <p class="details"><%= link_to t('details.msg'), officedoc, :class => "" %></p>
      </li>
    </ul>
  </div>
<% end %>

<div class="clearfloat"></div>