<%= div_for officedoc, :class => 'row-fluid' do %>
  <%= javascript_tag do %>
    $('#officedoc_<%= officedoc.id.to_s %>').parents('.thumbnails').children().first().html('<%= j link_to  raw("<i class='icon75-pdf'></i>"), download_document_path(officedoc), :class => "" %>');
  <% end %>

  <ul class="thumbnails">
    <li class="span9">
      <div class="title">
        <h4 class="bold ellipsis w190px">
          <%= link_to officedoc.title, download_document_path(officedoc) %>
        </h4>
     </div>
    </li>
  </ul>
<% end %>

<div class="clearfloat"></div>

