<div id="document_edit">
  <%= form_for(document, :html => { :method => :put }) do |f| %>
    <% if document and document.errors.any? %>
      <%= javascript_tag do %>
        $(document).ready(function(){
          toggleDocumentEdit();
        });
      <% end %>
  <div class="error">
    <ul>
      <% document.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
    </ul>
  </div>
    <% end %>

  <div class="tittle-notebook">
    <%= t('document.info.title') %>
  </div>
  <div class="text-notebook">
      <%= f.text_field :title, :class => "" %>
  </div>
  <div class="tittle-notebook">
    <%=t('document.info.description') %>
  </div>
  <div class="text-notebook">
    <%= f.text_area :description, :class => "", :rows => 5 %>
  </div>


  <!-- Tags -->
  <!-- Preload tags -->

  <%@tags = ActivityObject.tag_counts(:limit => 100, :order => "count desc")%>
  <ul id="preloadTagList" style="display:none">
    <%@tags.each do |tag| %>
      <li><%=tag.name%></li>
    <%end%>
  </ul>
  <div class="tittle-notebook">
    <%= t('document.info.tags.title') %>
  </div>
  <div class="form_field_edit_resource">
    <%= f.hidden_field :tag_list, :class => "", :id => "input_tag_list" %>
    <div class="tags_edit_resources ">
      <div class="tagBoxEdit ">
        <ul class="tagList">
        </ul>
      </div>
    </div>
  </div>

  <div class="tittle-notebook">
    <%= t('lang.title') %>
  </div>
  <div class="text-notebook">
    <% languages = [[t('lang.independent'), ''], ['Deutsch', 'de'], ['English', 'en'], ['Español', 'es'],
    ['Français', 'fr'], ['Italiano', 'it'], ['Português', 'pt'], ['Русский', 'ru'],
    [t('lang.others'), 'ot']]
    %>
    <%= f.select(:language, languages, :class => "") %>
  </div>
  <div class="tittle-notebook">
    <%= t('document.info.age') %>
  </div>
  <div class="text-notebook">
    <%= f.hidden_field :age_min, :class => "form_tag", :id => "age_min_field" %>
    <%= f.hidden_field :age_max, :class => "form_tag", :id => "age_max_field" %>
    <input type="text" class="age"/>
      <div class="slider-range"></div>
  </div>

  <div class="accept-btn">
    <%= f.submit t('button.save'), :class => "btn btn-primary", :id => "edit_resource_save_button" %>
  </div>
  <% end %>


<%= content_for :javascript do %>
  $(document).ready(function() {
    var tagList = $(".tagList");
    var tags = [];

    //Load tags
    $.each($("#preloadTagList li"), function(index, element) {
       tags.push($(element).html());
    });

    //Add existin tags to the input
    var currentTags = $("#input_tag_list").val().split(",");
    $.each(currentTags, function(index, tag) {
          if((typeof tag == "string")&&(tag != "")){
            $(tagList).append("<li>" + tag + "</li>")
          }
    });

    $(tagList).tagit({tagSource:tags, sortable:true, maxLength:15, maxTags:8 ,
        watermarkAllowMessage: '<%=t('document.info.tags.addMessage')%>', watermarkDenyMessage: '<%=t('document.info.tags.limitMessage')%>' });


    //Fill tag_list hidden input before send
     var button = $("#edit_resource_save_button");
     $(button).click(function(event) {
       var slider = $(".slider-range")
       $("#age_min_field").val($(slider).slider( "values", 0 ));
       $("#age_max_field").val($(slider).slider( "values", 1 ));
       var tagList = $(".tagList");
       $("#input_tag_list").val(Vish.Utils.convertToTagsArray($(tagList).tagit("tags")));
       return true;
     });


     //Sliders
      $( ".slider-range" ).slider({
        range: true,
        min: 0,
        max: 30,
        values: [ $("#age_min_field").val(), $("#age_max_field").val() ],
        slide: function( event, ui ) {
          var input = $(this).parent().find("input[type=text]")
          $( input ).val( + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
      });
      $( ".age" ).val( $( ".slider-range" ).slider( "values", 0 ) +
        " - " + $( ".slider-range" ).slider( "values", 1 ) );

  });
<% end %>

<% if params[:editing].present? and params[:editing].eql?"true" and (can? :update, document) %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      SocialStream.Repository.toggleDocumentMenu('edit');
    });
  <% end %>
<% end %>
</div>
