<%= div_for document, :class => 'repository-home' do %>
  <%= javascript_tag do %>
    <%= modal_for(document) %>
    <%= modal_for(document.author.subject) %>
  <% end %>

  <div class="repository-item">
    <ul class="thumbnails">
      <li class="img-resource">
        <a data-toggle="modal" href="#<%= document.class.to_s.downcase %>-modal-<%= document.id.to_s%>" onclick = "Vish.Officedoc.redim(); Vish.Officedoc.googdoc(); Vish.Officedoc.rwindow();" class="<%= icon_class_for(document) %> <%= document.class.to_s.downcase %>-modal-button-<%= document.id.to_s%> modal-trigger">
        </a>
      </li>

      <li class="info-resource">
        <div class="title-resource">
          <a data-toggle="modal" href="#<%= document.class.to_s.downcase %>-modal-<%= document.id.to_s%>" class="<%= document.class.to_s.downcase %>-modal-button-<%= document.id.to_s%> modal-trigger" onclick = "redim(); googdoc(); redimensiona();">
            <%= document.title %>
          </a>
        </div>

        <div class="by">by
          <a data-toggle="modal" href="#user-modal-<%= document.author.slug %>" class="user-modal-button-<%= document.author.slug %> modal-no-trigger">
            <%= document.author.name %>
          </a>
        </div>

        <span class="visits">
          <%=document.visit_count.to_s%>
          <a>
            <%= t("follow.views") %> /
          </a>

          <div class="likes like_count_<%= dom_id(document.post_activity) %>">
            <%=document.post_activity.likes.count.to_s%>
            <div class="verb_like" id="like_<%= dom_id(document.post_activity) %>">
              <%= link_like(document.post_activity)%>
            </div>
          </div>
        </span>
      </li>
    </ul>
  </div>
<% end %>