<% user ||= profile_or_current_subject %>
<div class="tabbable">
  <ul class="nav nav-tabs tabs-repository">
    <% params[:scope]='me' unless params[:scope].present?  %>
    <li class="<%= params[:scope]=='net'  ? "active" : ""  %>"><a data-toggle="tab" href="#repo-1"><%= t('resource.net') %></a></li>
    <li class="<%= params[:scope]=='me'   ? "active" : ""  %>"><a data-toggle="tab" href="#repo-2"><%=t('resource.my') %></a></li>
    <li class="<%= params[:scope]=='like' ? "active" : ""  %>"><a data-toggle="tab" href="#repo-3"><%= image_tag "icons/star-MENU-active.png", :class => "star" %></a></li>
  </ul>

    <div class="tittle-tabs ">
    <%= t('resource.title.other')%></div>
    <div class="clearfloat"></div>
</div>


<% unless params[:no_layout].present? %>
  <%= render :partial => "common_documents/headers" %>
  <div id="documents_grid"></div>
<% end %>


<div class="tab-content">
  <div id="repo-1" class="tab-pane <%= params[:scope]=='net'  ? "active" : ""  %>">
    <div id="repository_filter_net">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repo-resource-filter-net"} %>
    </div>

    <div id="repo-resources-net" class="modal-pivot ">
      <% subject_resources(user, {:scope => :net, :limit => 0}).each do |document| %>
        <% if document.is_a? Embed %>
          <%= render :partial => "embeds/home",
                     :locals => {:embed => document,
                     :div_class => 'content_size'} %>
        <% elsif document.is_a? Link %>
          <%= render :partial => "links/home",
                     :locals => {:link => document,
                     :div_class => 'content_size'} %>
        <% elsif document.is_a? Document %>
          <%= render :partial => "common_documents/home",
                     :locals => {:document => document,
                     :div_class => 'content_size'} %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div id="repo-2" class="tab-pane <%= params[:scope]=='me'  ? "active" : ""  %>">
    <div id="repository_filter_me">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repo-resource-filter-me"} %>
    </div>

    <div id="repo-resources-me" class="modal-pivot">
      <% subject_resources(user, {:scope => :me, :limit => 0}).each do |document| %>
        <% if document.is_a? Embed %>
          <%= render :partial => "embeds/home",
                     :locals => {:embed => document,
                     :div_class => 'content_size'} %>
        <% elsif document.is_a? Link %>
          <%= render :partial => "links/home",
                     :locals => {:link => document,
                     :div_class => 'content_size'} %>
        <% elsif document.is_a? Document %>
          <%= render :partial => "common_documents/home",
                     :locals => {:document => document,
                     :div_class => 'content_size'} %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div id="repo-3" class="tab-pane <%= params[:scope]=='like'  ? "active" : ""  %>">
    <div id="repository_filter_fav">
      <%= render :partial => "common_documents/filter", :locals => { :filter_id => "repo-resource-filter-fav"} %>
    </div>

    <div id="repo-resources-fav" class="modal-pivot ">
      <% subject_resources(user, {:scope => :like, :limit => 0}).each do |document| %>
        <% if document.is_a? Embed %>
          <%= render :partial => "embeds/home",
                     :locals => {:embed => document,
                     :div_class => 'content_size'} %>
        <% elsif document.is_a? Link %>
          <%= render :partial => "links/home",
                     :locals => {:link => document,
                     :div_class => 'content_size'} %>
        <% elsif document.is_a? Document %>
          <%= render :partial => "common_documents/home",
                     :locals => {:document => document,
                     :div_class => 'content_size'} %>
        <% end %>
      <% end %>
    </div>

  </div>


</div>

