
  <div class="picture span3">
	  <ul class="thumbnails">
    	  <li class="span">
      		  <div id="margin-resources">
               <a data-toggle="modal" href="#link-modal-<%= link.id.to_s %>" class="iconx-video link-modal-button-<%= link.id.to_s %> modal-no-trigger" alt="<%= t('document.screencast') %>"></a>
      		  </div>
    	  </li>
    	  <div class="row-fluid-100">
    		  <h4 class="link_gray size15 ">
            <a data-toggle="modal" href="#link-modal-<%= link.id.to_s %>" class="link-modal-button-<%= link.id.to_s %> modal-no-trigger"><%= truncate_name(t('document.screencast'), :length => 20) %></a>
    		  </h4>
    		  <div class="rw-words rw-words-1">
    			  <span><h5 class="green inline">by </h5><h5 class="link_gray inline"><%= t('site.name') %></h5></span>
			  </div>
		  </div>			    				
	   </ul>
  </div>
  <div class="picture span3">
	  <ul class="thumbnails">
    	  <li class="span">
      		  <div id="margin-resources">
               <a data-toggle="modal" href="#link-modal-<%= link.id.to_s %>" class="iconx-video link-modal-button-<%= link.id.to_s %> modal-no-trigger" alt="<%= t('document.how') %>"></a>
      		  </div>
    	  </li>
    	  <div class="row-fluid-100">
    		  <h4 class="link_gray size15 ">
            <a data-toggle="modal" href="#link-modal-<%= link.id.to_s %>" class="link-modal-button-<%= link.id.to_s %> modal-no-trigger"><%= truncate_name(t('document.how'), :length => 20) %></a>
    		  </h4>
    		  <div class="rw-words rw-words-1">
    			  <span><h5 class="green inline">by </h5><h5 class="link_gray inline"><%= t('site.name') %></h5></span>
			  </div>
		  </div>			    				
	   </ul>
  </div>


<div class="alert alert-info alert-block ">
        <%=t('resource.newnet_html')%>
</div>
