<div class="left-info">
  <!--author-->
  <%= render :partial => 'excursions/items-owner-profile' %>
  <!--tittle-->
  <div class="viewsAndConunt">
    <div class="views">
      <%=@excursion.visit_count.to_s%>
      <span>
        <%=t('follow.views')%>
      </span>
    </div>
    <%unless @excursion.post_activity.nil?%>
      <div class="like">
        <%=@excursion.post_activity.likes.count.to_s%>
        <span>
          <%= link_like(@excursion.post_activity)%>
        </span>
      </div>
    <%end%>
  </div>
</div>

<div class="panel-group" id="accordion">
  <div class="panel">
    <header>
      <table class="table table-hover">
        <%= javascript_tag do %>
          <%#= modal_for(@excursion.author.subject) %>
          <% @excursion.contributors.each do |c| %>
          <%#= modal_for(c.subject) %>
          <% end%>
        <% end %>

        <tr>
          <% unless @excursion.contributors.blank? %>
            <!--contributors-->
            <td><%= t('excursion.contributors.name').capitalize %></td>
            <td>
              <% @excursion.contributors.uniq.each do |c,index| %>
                <% unless index==0 %>
                  ,
                <% end %>
                <%= link_to c.name, c.subject %>
                </a>
              <%end%>
            </td>
          <%end%>
        </tr>

        <tr>
          <% unless @excursion.description.blank? %>
          <!--description-->
          <td><%= t('info.description') %></td>
          <td><%= truncate(@excursion.description, :length => 400) %></td>
          <% end %>
        </tr>
      </table>
    </header>
    <div id="collapseInfo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">

          <tr>
             <% unless @excursion.tag_list.blank? %>
            <!--tags-->
            <td><span><%= t('info.tags') %></span></td>
            <td>
              <ul class="tagit-suggestions">
                <% @excursion.tag_list.each do |tag| %>
                <li class="tagit-choice">
                  <%= link_to tag, search_path(:q => tag) %>
                </li>
                <% end %>
              </ul>
            </td>
            <% end %>
          </tr>
          <% unless @excursion.readable_language.blank? %>
            <!--language-->
            <dt><%= t('lang.title').capitalize %></dt>
            <dd><%= @excursion.readable_language %></dd>
          <% end %>

          <tr>
            <% unless @excursion.readable_language.blank? %>
            <!--language-->
            <td><span><%= t('lang.title').capitalize %></span></td>
            <td>
              <%= @excursion.readable_language %><
            </td>
            <% end %>
          </tr>
          <!--date-create
          <div class="tittle-notebook">
          <%= t('document.info.date.created_at') %>
          </div>
          <div class="text-notebook">
          <%= I18n.localize @excursion.created_at, :format => :long %>
          </div>
          -->
          <tr>
            <!--date-upload-->
            <td><span><%= t('document.info.date.updated_at') %></span></td>
            <td><%= I18n.localize @excursion.updated_at, :format => :long %></td>

          </tr>

        </table>
      </div>
   </div>
  </div>
      <div id="MetadataModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              <h3 id="myMetadataLabel">
                <%= t('excursion.modal.metadata_title') %>
              </h3>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <% @excursion.metadata.each do |key, value| %>
                  <%unless value.blank?%>
                    <tr>
                      <td><%=key%>:</td>
                      <td><%=value%></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td><%=t("metadata.access_lom")%>:</td>
                    <td><a href="<%=excursion_metadata_path(@excursion)%>"><%=Vish::Application.config.full_domain + excursion_metadata_path(@excursion)%></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


  <a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">


    <span id="showingMore" class="showMore accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" title=<%=t("excursion.actions.show_more")%>>
    <%=t('excursion.actions.show_more')%>
    </span>
</a>
<button href="#MetadataModal" data-toggle="modal" class="btn btn-default">
                <%=t('excursion.actions.show_meta')%>
</button>
</div>


<script language="javascript" type="text/javascript" >

  $("#showingMore").click(function(e){
    if($("#showingMore").attr("title")==="showMore"){
      $("#showingMore").html('<%=t("excursion.actions.show_more")%>');
      $("#showingMore").attr("title", "showFewer");
    }
    else{
      $(".showMore").html('<%=t("excursion.actions.show_fewer")%>');
      $("#showingMore").attr("title", "showMore");
    }
  });
</script>
