<div class="all-description">
  <div id=" notebook-menu" class="tabbable span3 inline-block">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#details"><%= t('document.actions.details') %></a>
      </li>
      <% if @excursion.post_activity.edit_object_by?(current_subject) %>
        <li class=""><a data-toggle="tab" href="#edit"><%= t('document.actions.edit') %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="notebook">
    <div class="notebook-cabecera">
      <div class="content-notebook">
        <div class="view-and-like">
          <div class="info_visits">
            <div class="favorit_resources">
              <div class="verb_like" id="like_<%= dom_id(@excursion.activities.first) %>"><%= link_like(@excursion.activities.first, :size => :big) %></div>
            </div>
            <span class="green pull-left number_count number"><%= @excursion.visit_count.to_s %></span> <%= t('follow.views') %>
            <div class="favorite-count">
              <span class="green  number like_count_<%= dom_id(@excursion.activities.first) %>"><%= @excursion.activities.first.likes.count.to_s %></span> <%= t('follow.favorites') %>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfloat"></div>

      <div class="tab-content">
        <div id="details" class="tab-pane active">
          <div class="notebook-medio">
            <div class="content-notebook">
              <div class="details_resources">
                <%= t('document.info.title') %>
              </div>
              <div class="clearfloat"></div>
              <div class="title_resources">
                <%= @excursion.title.nil? ? @excursion.file_file_name : @excursion.title %>
              </div>
              <div class="info_resources">
                <div class="details_resources">
                  <%= t('author').capitalize %>
                </div>
                <div class="clearfloat"></div>
                <div class="date_resources">
                  <%= link_to(truncate_name(@excursion.author.name, :length => 50), @excursion.author.subject) %>
                </div>
              </div>
              <% unless @excursion.description.blank? %>
                <div class="info_resources">
                  <div class="details_resources">
                    <%= t('info.description') %>
                  </div>
                  <div class="clearfloat"></div>
                  <div class="date_resources">
                    <%= truncate(@excursion.description, :length => 200) %>
                  </div>
                </div>
              <% end %>
              <% unless @excursion.tag_list.blank? %>
                <div class="info_resources">
                  <div class="details_resources">
                    <%= t('info.tags') %>
                  </div>
                  <div class="clearfloat"></div>
                  <div class="">
                    <ul class="tagit-suggestions">
                      <% @excursion.tag_list.each do |tag| %>
                        <li class="tagit-choice"><%= tag %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="clearfloat"></div>
                </div>
              <% end %>
              <% unless @excursion.language.blank? %>
                <div class="info_resources">
                  <div class="details_resources">
                    <%= t('lang.title').capitalize %>
                  </div>
                  <div class="clearfloat"></div>
                  <div class="date_resources">
                    <%= case @excursion.language
                          when '';
                            t('lang.independent')
                          when 'de';
                            'Deutsch'
                          when 'en';
                            'English'
                          when 'es';
                            'Español'
                          when 'fr';
                            'Français'
                          when 'it';
                            'Italiano'
                          when 'pt';
                            'Português'
                          when 'ru';
                            'Русский'
                          else
                            ; t('lang.others')
                        end %>
                  </div>
                  <div class="clearfloat"></div>
                </div>
              <% end %>
              <% if @excursion.respond_to? :age_min and @excursion.respond_to? :age_max %>
                <div class="info_resources">
                  <div class="details_resources">
                    <%= t('document.recommended_age') %>
                  </div>
                  <div class="clearfloat"></div>
                  <div class="">
                    <%= t('document.recommended_age_detail', :min => @excursion.age_min, :max => @excursion.age_max) %>
                  </div>
                  <div class="clearfloat"></div>
                </div>
              <% end %>
              <div class="info_resources">
                <div class="details_resources">
                  <%= t('document.info.date.created_at') %>
                </div>
                <div class="clearfloat"></div>
                <div class="date_resources">
                  <%= I18n.localize @excursion.created_at, :format => :long %>
                </div>
              </div>
              <div class="info_resources">
                <div class="details_resources">
                  <%= t('document.info.date.updated_at') %>
                </div>
                <div class="clearfloat"></div>
                <div class="date_resources">
                  <%= I18n.localize @excursion.updated_at, :format => :long %>
                </div>
              </div>
            </div>
          </div>
          <div class="notebook-pie"></div>
        </div>
      <div class="space_center"></div>
    </div>
  </div>

  <div class="space_center"></div>

</div>

