<div class="excursion-item model_with_details">
  <%= javascript_tag do %>
  <%= modal_for(excursion.author.subject) %>
  <% end %>
  <ul class="thumbnails">
    <li class="img-excursion">
      <%= link_to  excursion_thumb_for(excursion, 130), excursion, :class => "img-excursion" %>
      <div class='number_pages'>
        <%= excursion.slide_count %>
      </div>
    </li>
    <li class="info-excursion">
      <div class="title-excursion">
        <%= link_to truncate_name(excursion.title, :length => 25), excursion %>
      </div>
      <div class="by">by 
        <a data-toggle="modal" href="#user-modal-<%=excursion.author.slug %>" class="user-modal-button-<%=excursion.author.slug %> modal-no-trigger">
          <%= truncate_name(excursion.author.name, :length => 20)%>
        </a>
      </div>
      <span class="visits">
        <%=excursion.visit_count.to_s%>
        <a>
          <%= t("follow.views") %> 
        </a>
      </span>
      <% unless excursion.draft %>
      <div class="likes like_count_<%= dom_id(excursion.post_activity) %>">
        <%=excursion.post_activity.likes.count.to_s%>
        <div class="verb_like" id="like_<%= dom_id(excursion.post_activity) %>">
          <%= link_like(excursion.post_activity)%>
        </div>
        <% end %>

      </div>
              <% unless excursion.tag_list.blank? %>
          <ul class="tags-group">
            <% excursion.tag_list.shuffle.each do |tag| %>
              <li class="tags">
                <%= link_to tag, search_path(:q => tag) %>
              </li>
            <% end %>
          </ul>
        <% end %>
    </li>
  </ul>
</div>

