<%= content_for :javascript do%>

  $('#myLearningModal').on('shown', function(){
    var loepSettings = {};
    <%loepConfig = Vish::Application.config.APP_CONFIG['loep']%>
    loepSettings.domain = '<%=loepConfig["domain"].gsub("http://","").gsub("https://","")%>';
    loepSettings.app = '<%=loepConfig["app_name"]%>';
    loepSettings.loId = "<%=@excursion.activity_object.getGlobalId()%>";
    loepSettings.evmethod = "wbltses";
    loepSettings.language = '<%=I18n.locale.to_s%>';
    loepSettings.tokenURL = "/loep/session_token.json";
    loepSettings.containerDOM = $('#myLearningModal').find(".modal-body");
    loepSettings.successCallback = function(){
      //Sucesfully loaded"
    };
    loepSettings.submitCallback = function(){
      //"Sucesfully submitted"
      $('#myLearningModal').modal('hide');
    };
    loepSettings.debug = false;
    LOEP.IframeAPI.init(loepSettings);
  });

  $('#myLearningModal').on('hidden', function(){
    //Teaching modal hidden
  });

  $('#myTeachingModal').on('shown', function(){
    var loepSettings = {};
    <%loepConfig = Vish::Application.config.APP_CONFIG['loep']%>
    loepSettings.domain = '<%=loepConfig["domain"].gsub("http://","").gsub("https://","")%>';
    loepSettings.app = '<%=loepConfig["app_name"]%>';
    loepSettings.loId = "<%=@excursion.activity_object.getGlobalId()%>";
    loepSettings.evmethod = "wbltts";
    loepSettings.language = '<%=I18n.locale.to_s%>';
    loepSettings.tokenURL = "/loep/session_token.json";
    loepSettings.containerDOM = $('#myTeachingModal').find(".modal-body");
    loepSettings.successCallback = function(){
      //Sucesfully loaded"
    };
    loepSettings.submitCallback = function(){
      //"Sucesfully submitted"
      $('#myTeachingModal').modal('hide');
    };
    loepSettings.debug = false;
    LOEP.IframeAPI.init(loepSettings);
  });
<%end%>

<div id="myLearningModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="learningModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="learningModalLabel"><%= t('evaluation.modaltitle') %></h3>
  </div>
  <div class="modal-body evaluation_body"></div>
</div>

<div id="myTeachingModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="teachingModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="teachingModalLabel"><%= t('evaluation.modaltitle') %></h3>
  </div>
  <div class="modal-body evaluation_body"></div>
</div>