          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <%= form_tag("/excursions/#{ @excursion.id }/evaluate", :class => 'evaluation_form') do %>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><%= t('evaluation.experience') %></h3>
                </div>
                <div class="modal-body">
                  <% 5.times do |ind| %>
                    <div class="evaluate">
                      <p>
                        <a><%= (ind+1).to_s %></a>
                        <%= t('evaluation.phrase'+ind.to_s) %>
                      </p>
                      <div class="escale">
                        <div><span class="span_disagree"><%= t('evaluation.disagree') %></span><span><%= t('evaluation.agree') %></span></div>
                        <label class="radio value1">
                          <input type="radio" name="excursion_evaluation_<%= ind %>" id="" value="1">
                        </label>
                        <label class="radio value2">
                          <input type="radio" name="excursion_evaluation_<%= ind %>" id="" value="2">
                        </label>
                        <label class="radio value3">
                          <input type="radio" name="excursion_evaluation_<%= ind %>" id="" value="3">
                        </label>
                        <label class="radio value4">
                          <input type="radio" name="excursion_evaluation_<%= ind %>" id="" value="4">
                        </label>
                        <label class="radio value5">
                          <input type="radio" name="excursion_evaluation_<%= ind %>" id="" value="5">
                        </label>
                      </div>
                    </div>
                  <% end %>

                </div>
                <div class="modal-footer">

                <button class="btn btn-primary"><%=t('save')%></button>
              </div>
            <% end %>
          </div>
