<div class="row-fluid">
  <div class="span2 pagination-centered link_white">
    <%= link_to  thumb_for(excursion, 50), excursion, :class => "container" %>
  </div>
  <div class=" link_white">
    <h4><%= link_to truncate_name(excursion.title, :length => 40), excursion %></h4>
    <h5 class="blue-white"><span class="size13"><%=t "#{excursion.class.name.underscore}.one"  %></span></h5>
    <h5 class="blue-white"><%=t('follow.followers')%>: <%=num_followers%></h5>
    <p><%= image_tag('star.png') %></p>
  </div>
</div>


