<%= content_for :javascript do %> 
//to close the popovers
$(':not(#anything_not_present)').on('click', function (e) {
$('.popover-link').each(function () {
//the 'is' for buttons that trigger popups
//the 'has' for icons and other elements within a button that triggers a popup
if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
$(this).popover('hide');
return;
}
});
});

//EMBED POPOVER
$('.embed').popover({ 
html : true,
content: function() {
return $('.contentembed').html();
},
container: ".embed"
});

//apply events when opening the embed popover
$('.embed').on('shown.bs.popover', function () {
$('button#btn_copy_embed').zclip({
path:'/assets/ZeroClipboard.swf',
copy:function(){
return $('#textarea_for_iframe').text();
},
afterCopy: function(){}
});

$("#textarea_for_iframe").mouseup(function(e){
// fixes safari/chrome problem
e.preventDefault();
}).focus(function(e){
mytxt = $(this).text();
$(this).select();
}).click(function(e){
mytxt = $(this).text();
$(this).select();
});

});

//SHARE POPOVER
$('.share').popover({ 
html : true,
content: function() {
return $('.contentShare').html();
},
container: ".share"
});

$('.share').on('shown.bs.popover', function () {
$('button#btn_copy_share').zclip({
path:'/assets/ZeroClipboard.swf',
copy:function(){
return $('#input_with_shorturl').val();
},
afterCopy: function(){}
});

$("#input_with_shorturl").mouseup(function(e){
// fixes safari/chrome problem
e.preventDefault();
}).focus(function(e){
mytxt = $(this).text();
$(this).select();
}).click(function(e){
mytxt = $(this).text();
$(this).select();
});

});

$('.clone').popover({ 
html : true,
content: function() {
return $('.contentclone').html();
},
container: ".clone"
});

$('.delete').popover({ 
html : true,
content: function() {
return $('.contentdelete').html();
},
container: ".delete"
});


$('.btn_cancel').click(function(){
$('.popover').popover('hide');
});

<%end%>
<script type="text/javascript">
$(document).ready(function(){
  $(".with_tooltip").tooltip({ placement: 'bottom'});
});
</script>
<%= content_for :javascript do %> 
<%= render partial: 'shared/multiselect', :locals => {:item => @excursion} %>
<% end %>
<% editingToolbar = (@excursion.draft or controller.action_name=="edit") %>
<!--BTN ACTIONS-->
<div class="btn-group">
  <!--si es tuya la puedes eliminar o editar-->
  <% if user_signed_in? and (can? :update, @excursion) %>
  <button class="with_tooltip btn" title="<%=t('excursion.actions.edit')%>" onclick="location.href='<%=edit_excursion_path(@excursion)%>'"><i class="icon-edit"></i></button>
  <%end%>
  <!--remove-->
  <% if user_signed_in? and can?(:destroy, @excursion) %>
  <button class="with_tooltip delete btn popover-link" title="<%=t('excursion.actions.delete')%>" aria-hidden="true"><i class="icon-trash"></i></button>
  <%end%>
  <div class="contentdelete" style="display: none">
    <i class="icon-remove-sign"></i>
    <p class="delete_p"><%=t('excursion.confirm_delete')%></p>
    <div class="actions-clone">
      <a class="btn btn_cancel"><%=t('cancel')%></a>
      <%= link_to t('excursion.actions.delete'),  @excursion, :method => :delete, :class => 'btn btn-primary' %>
    </div>
  </div>  

  <% unless editingToolbar %>
  <%= link_like(@excursion.post_activity, {:size => :big, :class=>'btn', :title =>t('excursion.actions.favorite')})%>
  
  <!--<button class="btn" rel="tooltip" title="my room"><i class="icon-facetime-video"></i></button>-->
    <%if current_subject %>
      <%=categories_select(:category_id, @excursion)%>
      <%= render partial: 'categories/form', :locals => {:div_id => "AddCategory", :remote => true} %>
    <%end%>
  <%end%>
</div>
<!--TABS-->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">
        <i class="icon-align-left"></i> 
        <span class="hidden-tablet hidden-phone">
          <%=t('excursion.description')%>
        </span>
      </a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">
        <i class="icon-code"></i> 
        <span class="hidden-tablet hidden-phone">
          <%=t('excursion.actions.embed') %>
        </span>
      </a>
    </li>
    <li>
      <a href="#tab3" data-toggle="tab">
        <i class="icon-share"></i>
        <span class="hidden-tablet hidden-phone">
          <%=t('excursion.actions.share')%>
        </span>
      </a>
    </li>
    <li>
      <a href="#tab4" data-toggle="tab">
        <i class="icon-copy"></i> 
        <span class="hidden-tablet hidden-phone">
          <%=t('excursion.actions.clone')%>
        </span>
      </a>
    </li>
    <li>
      <a href="#tab5" data-toggle="tab">
        <i class="icon-download"></i> 
        <span class="hidden-tablet hidden-phone">
          <%=t('excursion.actions.scorm')%>
        </span>
      </a>
    </li>    
  </ul>
</div>
<h2><%= @excursion.title %></h2>
<div class="viewsAndConunt">        
  <div class="views">
    <%=@excursion.visit_count.to_s%> 
    <span>
      <%=t('follow.views')%>
    </span>   
  </div>
  <div class="like">    
    <div class="count"><%=@excursion.post_activity.likes.count.to_s%></div>
    <%= link_like(@excursion.post_activity)%>
  </div>
</div>  
<div class="tab-content excursion-social">
  <!-- tab1 / description -->
  <div class="tab-pane active" id="tab1">
    <div class="toggler">
      <!--description-->
      <%= render :partial => 'excursions/excursion-info' %>
    </div>
  </div>
  <!-- tab2 / embed -->
  <div class="tab-pane" id="tab2">
    <div class="contentembed">
      <textarea class="shortUrl" id="textarea_for_iframe" type="text">&lt;iframe id='presentation_iframe' src='http://<%= request.env["HTTP_HOST"] + excursion_path(@excursion, :format => :full)%>' width='910' height='680' style='border:0' iframeborder='0' frameborder='0' iframeElement.frameBorder = 0;&gt;&lt;/iframe&gt</textarea>
      <button class="btn " id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>"><i class="icon-copy large"></i></button>
    </div>
  </div>
  <!-- tab3 / share -->
  <div class="tab-pane" id="tab3">
    <div class="contentShare">
      <div class="input-append url-input">
        <input class="shortUrl" id="input_with_shorturl" type="text" value="<%=shortURL%>"></input>
        <button class="btn copy_btn" id="btn_copy_share" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>"><i class="icon-copy "></i></button>
      </div>
      <div class="social_toolbar_excursion">
        <div class="twitter_toolbar_excursion">
          <%= render :partial=>'shareon/twitter', :locals=>{:url=>shortURL, :counturl=>('http://' + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + excursion_path(@excursion) )} %>
        </div>
        <div class="facebook_toolbar_excursion">
          <%= render :partial=>'shareon/facebook', :locals=>{:url=>shortURL} %>
        </div>
        <div class="gplus_toolbar_excursion ">
          <%= render :partial=>'shareon/gplus', :locals=>{:url=>shortURL} %>
        </div>
        <button class="email_toolbar_excursion">
          <%= render :partial=>'shareon/email', :locals=>{:url=>shortURL, :title => @excursion.title, :name => (user_signed_in? ? current_subject.name : '')} %>
        </button>
      </div>
    </div>
  </div> 
  <!-- tab4 / clone -->
  <div class="tab-pane" id="tab4">
    <div class="contentclone">
      <span class="icon-stack">
        <i class="icon-circle  icon-stack-base"></i>
        <i class="icon-info  icon-light"></i>
      </span>
      <p class="info"><%=t('excursion.clone.confirm')%></p>
      <div class="actions-clone">
        <!--<a class="btn btn_cancel"><#%=t('cancel')%></a>-->
        <a href="<%=excursion_path(@excursion) + '/clone'%>" class="btn btn-primary"><%=t('save')%></a>
      </div>
    </div>
  </div> 
  <!-- tab5 / scorm -->
  <div class="tab-pane" id="tab5">
    <div class="contentscorm">
      <p><%=t("excursion.download_scorm")%></p>
      <a class="btn btn-primary" href='<%=excursion_path(@excursion) + '.scorm'%>'><i class="icon-download"></i> <%=t('excursion.actions.scorm')%></a> 
    </div> 
  </div> 
</div>

