<% availableModels ||= available_models %>
<% editingToolbar = (@excursion.draft or controller.action_name == "edit") %>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){

    //to close the popovers
    $(':not(#anything_not_present)').on('click', function (e) {
      $('.popover-link').each(function () {
      //the 'is' for buttons that trigger popups
      //the 'has' for icons and other elements within a button that triggers a popup
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
        $(this).popover('hide');
        return;
      }
      });
    });

    var embedEvents = false;
    var shareEvents = false;

    $('a[data-toggle="tab"]').on('shown', function (e) {
      // e.target // activated tab
      // e.relatedTarget // previous tab
      var loadedTab = $(e.target).attr("tabTitle");
      switch (loadedTab){
        case "embed": 
          if(!embedEvents){
            embedEvents = true;
            $('button#btn_copy_embed').zclip({
              path:'/assets/ZeroClipboard.swf',
              copy:function(){
                return $('#textarea_for_iframe').text();
              },
              afterCopy: function(){}
            });
            $("#textarea_for_iframe").mouseup(function(e){
              // fixes safari/chrome problem
              e.preventDefault();
            }).focus(function(e){
              mytxt = $(this).text();
              $(this).select();
            }).click(function(e){
              mytxt = $(this).text();
              $(this).select();
            });
          }
          break;
        case "share": 
          if(!shareEvents){
            shareEvents = true;
            $('button#btn_copy_share').zclip({
              path:'/assets/ZeroClipboard.swf',
              copy:function(){
                return $('#input_with_shorturl').val();
              },
              afterCopy: function(){}
            });
            $("#input_with_shorturl").mouseup(function(e){
              // fixes safari/chrome problem
              e.preventDefault();
            }).focus(function(e){
              mytxt = $(this).text();
              $(this).select();
            }).click(function(e){
              mytxt = $(this).text();
              $(this).select();
            });
          }
          break;
        default:
          break;
      }
    })
    

    $('.clone').popover({ 
      html : true,
      content: function() {
      return $('.contentclone').html();
      },
      container: ".actions_layout_show"
    });

    $('.clone').on('shown.bs.popover', function (){
      $('.btn_cancel').on("click",function(){
        //done this way because next three lines in document.ready did not fire with popovers as they generate dinamically
        $('.clone').popover('hide');
      });
    });

    $('.delete').popover({ 
      html : true,
      <% if editingToolbar %>
        placement: "left", 
      <% end %>
      content: function() {
        return $('.contentdelete').html();
      },
      container: ".actions_layout_show"
    });

    $('.delete').on('shown.bs.popover', function(){
      //done this way because next three lines in document.ready did not fire with popovers as they generate dinamically

      <% if editingToolbar %>
        //Prevent double confirmation before exit
        $("a.btn[data-method='delete']").on("click",function(){
          if((typeof VISH != "undefined")&&(typeof VISH.IframeAPI != "undefined")&&(typeof VISH.IframeAPI.allowExitWithoutConfirmation == "function")&&(VEconnected===true)){
            VISH.IframeAPI.allowExitWithoutConfirmation();
          }
        });
      <% end %>

      $('.btn_cancel').on("click",function(){
        $('.delete').popover('hide');
      });
    });

    $(".with_tooltip").tooltip({ placement: 'bottom'});
  });
</script>


<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <!-- Edit -->
  <% if user_signed_in? and (can? :update, @excursion) and !editingToolbar %>
    <button class="with_tooltip btn hidden-phone" title="<%=t('excursion.actions.edit')%>" onclick="location.href='<%=edit_excursion_path(@excursion)%>'"><i class="icon-edit"></i></button>
  <%end%>

  <!-- Clone -->
  <% if user_signed_in? && !editingToolbar %>
    <button class="with_tooltip clone btn popover-link hidden-phone" title="<%=t('excursion.actions.clone')%>" ><i class="icon-copy"></i></button>
    
    <div class="contentclone" style="display: none">
      <p class=""><i class="icon-copy"></i>  <%=t('excursion.clone.confirm')%></p>
      <div class="actions">
        <a class="btn btn_cancel"><%=t('cancel')%></a>
        <a class="btn btn-primary" onclick="location.href='<%=excursion_path(@excursion) + '/clone'%>'"><%=t('excursion.actions.clone')%></a>
      </div>
    </div>  
  <%end%>

  <!--Remove-->
  <% if user_signed_in? and can?(:destroy, @excursion) %>
    <button class="with_tooltip delete btn popover-link" data-container="body" title="<%=t('excursion.actions.delete')%>" aria-hidden="true"><i class="icon-trash"></i></button>
  <%end%>

  <div class="contentdelete" style="display: none">
    <p class="delete_p"><i class="icon-trash"></i>  <%=t('excursion.confirm_delete')%></p>
    <div class="actions">
      <a class="btn btn_cancel"><%=t('cancel')%></a>
      <%= link_to t('excursion.actions.delete'),  @excursion, :method => :delete, :class => 'btn btn-primary' %>
    </div>
  </div>

  <% unless editingToolbar %>
    <!--Favorite-->
    <% unless @excursion.post_activity.nil? %>
      <%= link_like(@excursion.post_activity, {:size => :big, :class=>'btn', :title =>t('excursion.actions.favorite')})%>
    <%end%>

    <!--Evaluate-->
    <%unless Vish::Application.config.APP_CONFIG['loep'].nil?%>
      <button onclick="triggerEvaluation()" class="btn with_tooltip" title="<%=t('evaluation.verb')%>">
        <i class="icon-ok-sign"></i>
      </button>
    <%end%>

    <!--Categorize-->
    <%if user_signed_in? and availableModels.include? "Category" %>
      <%= render partial: 'categories/category_modal_viewer', :locals => {:remote=> true, :item => @excursion} %>
      <button id="AddCategory" role="button" class="categorize_select btn with_tooltip" data-toggle="modal" data-target="#categories_viewer_modal" title="<%=t('category.modalLabel')%>" aria-hidden="true" >
        <i class="icon-th-large"></i>
      </button>
    <%end%>
  <%end%>

  <% unless params[:animate].nil? or editingToolbar %>
    <script type="text/javascript">
      var toggleAnimation = function(){
        animationEnabled = (!animationEnabled);
      };
    </script>
    <button onclick="toggleAnimation()" class="btn with_tooltip">
        <i class="icon-time"></i>
    </button>
  <% end %>

</div>


<% unless editingToolbar %>
  <!--TABS-->
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab1" tabTitle='description' data-toggle="tab">
          <i class="icon-align-left"></i> 
          <span class="  hidden-phone">
            <%=t('excursion.description')%>
          </span>
        </a>
      </li>
      <li>
        <a href="#tab2" tabTitle='embed' data-toggle="tab">
          <i class="icon-code"></i> 
          <span class="  hidden-phone">
            <%=t('excursion.actions.embed') %>
          </span>
        </a>
      </li>
      <li>
        <a href="#tab3" tabTitle='share' data-toggle="tab">
          <i class="icon-share"></i>
          <span class=" hidden-phone">
            <%=t('excursion.actions.share')%>
          </span>
        </a>
      </li>    
      <li>
        <a href="#tab4" tabTitle='download' data-toggle="tab">
          <i class="icon-download"></i> 
          <span class="  hidden-phone">
            <%=t('document.actions.download')%>
          </span>
        </a>
      </li>  
      <li>
        <a href="#tab5" tabTitle='flag' data-toggle="tab">
          <i class="icon-flag"></i> 
          <span class=" hidden-phone spam-name ">
          <%=t('excursion.actions.spam')%>
          </span>
          <!--span class=" hidden-tablet hidden-phone">
            <%#=t('excursion.actions.scorm')%>
          </span-->
        </a>
      </li>
      <%= render partial: 'help/help_show_excursion' %>     
    </ul>
  </div>

  <h2><%= @excursion.title %></h2>

  <div class="tab-content excursion-social">

    <!-- tab1 / description -->
    <div class="tab-pane active" id="tab1">
      <div class="toggler">
        <!--description-->
        <%= render :partial => 'excursions/excursion-info' %>
      </div>
    </div>

    <!-- tab2 / embed -->
    <div class="tab-pane" id="tab2">
      <div class="contentembed">
        <textarea class="shortUrl" readonly="true" id="textarea_for_iframe" type="text">&lt;iframe src='//<%= request.env["HTTP_HOST"] + excursion_path(@excursion, :format => :full)%>' width='910' height='680' style='border:0' iframeborder='0' frameborder='0' iframeElement.frameBorder = 0; webkitallowfullscreen mozallowfullscreen allowfullscreen &gt;&lt;/iframe&gt</textarea>
        <button class="btn " id="btn_copy_embed" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
          <i class="icon-copy large"></i>
        </button>
      </div>
    </div>

    <!-- tab3 / share -->
    <div class="tab-pane" id="tab3">
      <div class="contentShare">
        <div class="input-append url-input">
          <input class="shortUrl" readonly="true" id="input_with_shorturl" type="text" value="<%=shortURL%>"></input>
            <button class="btn copy_btn" id="btn_copy_share" href="#" data-toggle="tooltip" data-placement="right" title="<%=t('copy_to_clip')%>">
              <i class="icon-copy "></i>
            </button>
        </div>
        <div class="social_toolbar_excursion">
          <div class="twitter_toolbar_excursion">
            <%= render :partial=>'shareon/twitter', :locals=>{:url=>shortURL, :counturl=>('http://' + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + excursion_path(@excursion) )} %>
          </div>
          <div class="facebook_toolbar_excursion">
            <%= render :partial=>'shareon/facebook', :locals=>{:url=>shortURL} %>
          </div>
          <div class="gplus_toolbar_excursion ">
            <%= render :partial=>'shareon/gplus', :locals=>{:url=>shortURL} %>
          </div>
          <div class="email_toolbar_excursion">
            <p><%=t('excursion.actions.send_email') %></p>
            <%= render :partial=>'shareon/email', :locals=>{:url=>shortURL, :title => @excursion.title, :name => (user_signed_in? ? current_subject.name : '')} %>
          </div>
        </div>
      </div>
    </div> 
     
    <!-- tab4 / scorm -->
    <div class="tab-pane" id="tab4">
      <div class="contentscorm">
        <p><%=t("excursion.download_scorm")%></p>
        <a class="btn btn-primary" href='<%=excursion_path(@excursion) + '.scorm'%>'><i class="icon-download"></i> <%=t('excursion.actions.scorm')%></a> 
      </div> 
    </div> 

    <!-- tab5 / spam -->
    <div class="tab-pane" id="tab5">
      <%@activity_object = @excursion.activity_object%>
      <%= render '/spam_report/form' %>
    </div>

  </div>
<%end%>
