<div class="row-fluid">
  <div class="thumbnails">
  <div class="span2 pagination-centered link_white inline-block">
    <%= link_to  excursion_thumb_for(excursion, 50), excursion, :class => "container" %>
  </div>
  <div class="span10 link_white caption">
    <h4><%= link_to truncate_name(excursion.title, :length => 40), excursion %></h4>
    <h5 class="blue-white"><span class="size13"><%=t "#{excursion.class.name.underscore}.one" %></span>, <span class="green"><%=excursion.visit_count.to_s%></span> V / <span class="green"><%=excursion.activities.first.likes.count.to_s%></span> F</h5>
    <h5><span class="size11">by <%=link_to( truncate_name(excursion.author.name, :length => 20), excursion.author.subject)%></span></h5>
  </div>
  </div>
</div>



