<%= content_for :javascript do%>

  $('#myLearningModal').on('shown', function(){
    <%unless Vish::Application.config.APP_CONFIG['loep'].nil?%>
      var loepSettings = {};
      <%loepConfig = Vish::Application.config.APP_CONFIG['loep']%>
      loepSettings.domain = '<%=loepConfig["domain"]%>';
      loepSettings.app = '<%=loepConfig["app_name"]%>';
      loepSettings.loId = "<%=@excursion.activity_object.getGlobalId()%>";
      loepSettings.evmethod = "wbltses";
      loepSettings.language = '<%=I18n.locale.to_s%>';
      loepSettings.tokenURL = "/loep/session_token.json";
      loepSettings.containerDOM = $('#myLearningModal').find(".modal-body");
      loepSettings.loadCallback = function(){
        //LOEP form loaded"
      };
      loepSettings.submitCallback = function(){
        //"Sucesfully submitted"
        $('#myLearningModal').modal('hide');
      };
      loepSettings.errorCallback = function(){
        //"Error"
        $('#myLearningModal').find("div.modal-body").prepend($('<p class="evaluation_modalerror_msg">'+'<%=t("evaluation.error.server")%>'+'</p>'));
      };
      loepSettings.debug = false;
      new LOEP.IframeAPI.instance(loepSettings);
    <%end%>
  });

  $('#myLearningModal').on('hidden', function(){
    //Learning modal hidden
    $(this).removeData('modal').find('.modal-body').html('');
  });

  $('#myTeachingModal').on('shown', function(){
    <%unless Vish::Application.config.APP_CONFIG['loep'].nil?%>
      var loepSettings = {};
      <%loepConfig = Vish::Application.config.APP_CONFIG['loep']%>
      loepSettings.domain = '<%=loepConfig["domain"]%>';
      loepSettings.app = '<%=loepConfig["app_name"]%>';
      loepSettings.loId = "<%=@excursion.activity_object.getGlobalId()%>";
      loepSettings.evmethod = "wbltts";
      loepSettings.language = '<%=I18n.locale.to_s%>';
      loepSettings.tokenURL = "/loep/session_token.json";
      loepSettings.containerDOM = $('#myTeachingModal').find(".modal-body");
      loepSettings.loadCallback = function(){
        //LOEP form loaded"
      };
      loepSettings.submitCallback = function(){
        //"Sucesfully submitted"
        $('#myTeachingModal').modal('hide');
      };
      loepSettings.errorCallback = function(){
        //"Error"
        $('#myTeachingModal').find("div.modal-body").prepend($('<p class="evaluation_modalerror_msg">'+'<%=t("evaluation.error.server")%>'+'</p>'));
      };
      loepSettings.debug = false;
      new LOEP.IframeAPI.instance(loepSettings);
    <%end%>
  });

  $('#myTeachingModal').on('hidden', function(){
    //Teaching modal hidden
    $(this).removeData('modal').find('.modal-body').html('');
  });
<%end%>

<div id="myLearningModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="learningModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="learningModalLabel"><%= t('evaluation.modaltitle') %></h3>
  </div>
  <div class="modal-body"></div>
</div>

<div id="myTeachingModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="teachingModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="teachingModalLabel"><%= t('evaluation.modaltitle') %></h3>
  </div>
  <div class="modal-body"></div>
</div>