<li class="box-item">
<!--Badges-->
  <div class="badges">
    <%= image_tag("badges/badge-bronce.png") %>
  </div>
<!--IMG excursuion-->
  <%= link_to excursion_thumb_for(excursion), excursion, :class => "img-box" %>
<!--INFO excursuion-->
  <div class="info">
<!--Title -->
    <h5 class="name">
      <%= link_to excursion.title, excursion %>
    </h5>
<!--Autor -->
    <div class="author"> 
      <%= link_to excursion.author.name, excursion %>
    </div>
<!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
<!--like -->
      <div class="like">    
        <div class="count"><%=excursion.post_activity.likes.count.to_s%></div>
        <%= link_like(excursion.post_activity)%>
      </div>
<!--views -->
      <div class="views"><%=excursion.visit_count.to_s%>
        <a href="#" class="count" data-toggle="tooltip" title="first-tip" data-original-title="23">
          <%#= image_tag("icons/eye.png",  :class=> "count" ) %> 
        </a>
      </div>
    </div>
  </div>
</li>

