<div class="space_center"></div>
<div class="notebook">
  <div class="excursion-notebook">

  <div class="notebook-cabecera">
  </div>
</div>
  <div class="notebook-medio">
    <div class="content-notebook">
      <div class="details_resources">
        <%= t('document.info.title') %>
      </div>
      <div class="clearfloat"></div>
      <div class="title_resources">
        <%= @excursion.title %>
      </div>
      <div class="info_resources">
        <div class="details_resources">
          <%= t('author').capitalize %>
        </div>
        <div class="clearfloat"></div>
        <div class="date_resources">
          <a data-toggle="modal" href="#user-modal-<%= @excursion.author.slug %>" class="user-modal-button-<%= @excursion.author.slug %>"><%= truncate_name(@excursion.author.name, :length => 50) %></a>
        </div>
      </div>
      <% unless @excursion.description.blank? %>
        <div class="info_resources">
          <div class="details_resources">
            <%= t('info.description') %>
          </div>
          <div class="clearfloat"></div>
          <div class="date_resources">
            <%= truncate(@excursion.description, :length => 200) %>
          </div>
        </div>
      <% end %>
      <% unless @excursion.tag_list.blank? %>
        <div class="info_resources">
          <div class="details_resources">
            <%= t('info.tags') %>
          </div>
          <div class="clearfloat"></div>
          <div class="">
            <ul class="tagit-suggestions">
              <% @excursion.tag_list.each do |tag| %>
                <li class="tagit-choice"><%= tag %></li>
              <% end %>
            </ul>
          </div>
          <div class="clearfloat"></div>
        </div>
      <% end %>
      <% unless @excursion.language.blank? %>
        <div class="info_resources">
          <div class="details_resources">
            <%= t('lang.title').capitalize %>
          </div>
          <div class="clearfloat"></div>
          <div class="date_resources">
            <%= case @excursion.language
                  when '';
                    t('lang.independent')
                  when 'de';
                    'Deutsch'
                  when 'en';
                    'English'
                  when 'es';
                    'Español'
                  when 'fr';
                    'Français'
                  when 'it';
                    'Italiano'
                  when 'pt';
                    'Português'
                  when 'ru';
                    'Русский'
                  else
                    ; t('lang.others')
                end %>
          </div>
          <div class="clearfloat"></div>
        </div>
      <% end %>
      <% if @excursion.respond_to? :age_min and @excursion.respond_to? :age_max %>
        <div class="info_resources">
          <div class="details_resources">
            <%= t('document.recommended_age') %>
          </div>
          <div class="clearfloat"></div>
          <div class="">
            <%= t('document.recommended_age_detail', :min => @excursion.age_min, :max => @excursion.age_max) %>
          </div>
          <div class="clearfloat"></div>
        </div>
      <% end %>
      <div class="info_resources">
        <div class="details_resources">
          <%= t('document.info.date.created_at') %>
        </div>
        <div class="clearfloat"></div>
        <div class="date_resources">
          <%= I18n.localize @excursion.created_at, :format => :long %>
        </div>
      </div>
      <div class="info_resources">
        <div class="details_resources">
          <%= t('document.info.date.updated_at') %>
        </div>
        <div class="clearfloat"></div>
        <div class="date_resources">
          <%= I18n.localize @excursion.updated_at, :format => :long %>
        </div>
      </div>
    </div>
  </div>
  <div class="notebook-pie"></div>
</div>
<div class="space_center"></div>

<%= javascript_tag do %>
  $(".user-modal-button-<%= @excursion.author.slug %>").on("click", function(){
    <%= modal_for(@excursion.author.subject) %>
  });
<% end %>

