<li class="box-item excursion-item">
<!--Badges-->
  <div class="badges">
    <%= image_tag("badges/badge-bronce.png") %>
  </div>
<!--IMG excursuion-->
<%= link_to(excursion) do %>
    <div class="img-box" id="excursion-<%=excursion.id%>"></div>
<% end %>
  <script>
    $("#excursion-<%=excursion.id%>").backstretch("<%=excursion_raw_thumbail(excursion)%>");  
  </script>
<%# link_to excursion_thumb_for(excursion), excursion, :class => "img-box" %>
<!--INFO excursuion-->
  <div class="info">
<!--Title -->
    <div class="name">
      <%= link_to excursion.title, excursion %>
    </div>
<!--Autor -->
    <div class="author"> 
      <%= link_to excursion.author.name, excursion.author.subject %>
    </div>
    <!--____________________ -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">    
        <div class="count"><%=excursion.post_activity.likes.count.to_s%></div>
        <%= link_like(excursion.post_activity)%>
      </div>
      <!--views -->
      <div class="views">
        <%=excursion.visit_count.to_s%>
        <%=t('follow.views')%>
      </div>
    </div>

  </div>
</li>

