<div class="left-info">
  <!--author-->
  <%= render :partial => 'excursions/items-owner-profile' %>
  <!--tittle-->
  <div class="viewsAndCount">        
    <div class="views">
      <%=@excursion.visit_count.to_s%> 
      <span>
        <%=t('follow.views')%>
      </span>   
    </div>
    <div class="like">    
      <div class="count"><%=@excursion.post_activity.likes.count.to_s%></div>
      <%= link_like(@excursion.post_activity)%>
    </div>
  </div>  
</div>


<div class="panel-group" id="accordion">
  <div class="panel">
    <header>
      <table class="table table-hover">
        <%= javascript_tag do %>
          <%#= modal_for(@excursion.author.subject) %>
          <% @excursion.contributors.each do |c| %>
          <%#= modal_for(c.subject) %>
          <% end%>
        <% end %>

        <tr>
          <% unless @excursion.contributors.blank? %>
            <!--contributors-->
            <td><%= t('excursion.contributors.name').capitalize %></td>
            <td>
              <% isFirst = true %>
              <% @excursion.contributors.uniq.each do |c| %>
                <% if !isFirst %>
                  ,
                <% else %>
                  <%isFirst = false%>
                <% end %>
                <%= link_to c.name, c.subject %>            
                </a> 
              <%end%>
            </td>
          <%end%>
        </tr>

        <tr>
          <% unless @excursion.description.blank? %>
          <!--description-->
          <td><%= t('info.description') %></td>
          <td><%= truncate(@excursion.description, :length => 400) %></td>
          <% end %>
        </tr>  
      </table>
    </header>
    <div id="collapseInfo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover">

          <tr>
             <% unless @excursion.tag_list.blank? %>
            <!--tags-->
            <td><%= t('info.tags') %></td>
            <td>
              <ul class="tagit-suggestions">
                <% @excursion.tag_list.each do |tag| %>
                <li class="tagit-choice">
                  <%= link_to tag, search_path(:q => tag) %>
                </li>
                <% end %>
              </ul>
            </td>
            <% end %>
          </tr>
          <tr>
            <% unless @excursion.language.blank? %>
            <!--language-->
            <td><%= t('lang.title').capitalize %></td>
            <td>
              <%= case @excursion.language
              when '';
                t('lang.independent')
              when 'de';
                'Deutsch'
              when 'en';
                'English'
              when 'es';
                'Español'
              when 'fr';
                'Français'
              when 'it';
                'Italiano'
              when 'pt';
                'Português'
              when 'ru';
                'Русский'
              else
                ; t('lang.others')
                end %>
              </td>
              <% end %>
          </tr>
          <tr>    
            <!--date-upload-->
            <td><%= t('document.info.date.updated_at') %></td>
            <td><%= I18n.localize @excursion.updated_at, :format => :long %></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <button href="#MetadataModal" id="showMeta" data-toggle="modal" class="ui-state-default ui-corner-all">
                <%=t('excursion.actions.show_meta')%>
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div id="MetadataModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              <h3 id="myMetadataLabel">
                <%= t('excursion.modal.metadata_title') %>
              </h3>
            </div>
            <div class="modal-body">
              <ul class="metadatalist">
                <% metadata(@excursion).each do |key, value| %>
                  <li>
                    <span class="metadatalistkey"><%=key%>:</span>
                    <span class="metadatalistkey2"><%=value%></span>
                  </li>
                <%end%>
              </ul>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
  <a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
  
   
    <span class="showMore accordion-toggle btn" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    --- <%=t('excursion.actions.show_more')%> ---
    </span>
</a>
</div>

<script>
$(function() {
  $(".showMore").hover(function(){

    if($(".showMore").attr("title")=== "showMore"){
      $(".showMore").html('--- <%=t("excursion.actions.show_more")%> ---');
      $(".showMore").attr("title", "showFewer");
    }
    else{
      $(".showMore").html('--- <%=t("excursion.actions.show_fewer")%> ---');
      $(".showMore").attr("title", "showMore");
    }
    return false;
  });
});
</script>
