<li class="box-item excursion-item" <%if defined?(obj_id)%>edit-id="<%=obj_id%>"<%end%>>
  
  <!--badges-->
  <%if excursion.is_mostvaluable? %>
    <div class="badge-excursion-active"></div>
  <%end%>

  <%excursion_url = (defined?(rec) and rec.is_a? String) ? excursion_url(excursion,{:rec => rec}) : excursion_url(excursion)%>

  <%= link_to(excursion_url) do %>
    <!-- image/icon -->
    <div class="container-img">
      <div class="dummy"></div>
      <div class="element">
        <%if defined?(prefix_id) %>
          <div bs-img="<%=excursion_raw_thumbail(excursion)%>" class="img-box" id="<%=prefix_id%>-excursion-<%=excursion.id%>"></div>
        <%else%>
          <div bs-img="<%=excursion_raw_thumbail(excursion)%>" class="img-box" id="excursion-<%=excursion.id%>"></div>
        <%end%>
        <%if excursion.draft%>
          <div class="excursion-draft">
            <h2 class="draftstyle">
              <i class="icon-edit"></i>
              <%=t('excursion.draft')%>
            </h2>
          </div>
        <%end%>
      </div>
    </div> 
  <% end %>

  <!-- Info -->
  <div class="info">
    <!--Title -->
    <div class="name">
      <%= link_to excursion.title, excursion_url %>
    </div>
    <!--Author -->
    <div class="author"> 
      <span class="by"><%=t('by')%></span>
      <%= link_to excursion.author.name, excursion.author.subject %>
    </div>
    <!--More info (Likes and Views) -->
    <div class="info-bottom">
      <hr class="soften">
      <!--like -->
      <div class="like">        
        <% if excursion.post_activity%>
          <div class="count"><%=excursion.post_activity.likes.count.to_s%></div>
          <%= link_like(excursion.post_activity, :title =>t('excursion.actions.favorite'))%>
        <%else%>
          <div class="count">0</div>
        <%end%>
      </div>
      <!--views -->
      <div class="views">
        <%=excursion.visit_count.to_s%>
        <i class="icon-eye-open"></i>
      </div>
    </div>
  </div>
  
</li>