
<%#= javascript_tag do %>
<%#= modal_for(@excursion.author.subject) %>
<%# @excursion.contributors.each do |c| %>
<%#= modal_for(c.subject) %>
<%#end%>
<%# end %>
<dl class="dl-horizontal">
<!--tittle-->
  <%#= t('document.info.title') %>
  <h2><%= @excursion.title %></h2>
<!--autor-->
  <dt><%= t('author').capitalize %></dt>
  <a data-toggle="modal" href="#user-modal-<%= @excursion.author.slug %>" class="user-modal-button-<%= @excursion.author.slug %> modal-no-trigger">
    <dd><%= truncate_name(@excursion.author.name, :length => 50) %></dd>
  </a>
  <% unless @excursion.contributors.blank? %>
<!--contributors-->
  <dt><%= t('excursion.contributors.name').capitalize %></dt>
  <% @excursion.contributors.each do |c| %>
    <a data-toggle="modal" href="#user-modal-<%= c.slug %>" class="user-modal-button-<%= c.slug %> modal-no-trigger">
      <dd><%= truncate_name(c.name, :length => 50) %></dd>
    </a>, 
  <%end%>
  <%end%>
  <% unless @excursion.description.blank? %>
<!--description-->
  <dt><%= t('info.description') %></dt>
  <dd><%= truncate(@excursion.description, :length => 200) %></dd>
  <% end %>
  <% unless @excursion.tag_list.blank? %>
<!--tags-->
    <dt><%= t('info.tags') %></dt>
    <dd>
      <ul class="tagit-suggestions">
        <% @excursion.tag_list.each do |tag| %>
        <li class="tagit-choice">
          <%= link_to tag, search_path(:q => tag) %>
        </li>
      <% end %>
    </ul>
  </dd>
  <% end %>
  <% unless @excursion.language.blank? %>
  <!--language-->
  <dt><%= t('lang.title').capitalize %></dt>
  <dd>
    <%= case @excursion.language
          when '';
            t('lang.independent')
          when 'de';
            'Deutsch'
          when 'en';
            'English'
          when 'es';
            'Español'
          when 'fr';
            'Français'
          when 'it';
            'Italiano'
          when 'pt';
            'Português'
          when 'ru';
            'Русский'
          else
            ; t('lang.others')
        end %>
  </dd>
  <% end %>
  <% if @excursion.respond_to? :age_min and @excursion.respond_to? :age_max %>
  <!--recomended age-->
  <dt><%= t('document.recommended_age') %></dt>
  <dd><%= t('document.recommended_age_detail', :min => @excursion.age_min, :max => @excursion.age_max) %></dd>
  <% end %>
  <!--date-create
  <div class="tittle-notebook">
  <%= t('document.info.date.created_at') %>
  </div>
  <div class="text-notebook">
  <%= I18n.localize @excursion.created_at, :format => :long %>
  </div>
  -->
  <!--date-upload-->
  <dt><%= t('document.info.date.updated_at') %></dt>
  <dd><%= I18n.localize @excursion.updated_at, :format => :long %></dd>
</dl>

