<%= div_for excursion, :class => '' do %>
  <ul class="thumbnails span3">
      <li class="span1">
        <%= link_to  thumb_for(excursion, 130), excursion, :class => "container" %>
          <div class='number_pages'><%= excursion.slide_count %></div>
      </li>
      <li class="span">
        <div class="caption elipsis">
          <h4><%= link_to truncate_name(excursion.title, :length => 25), excursion %></h4>
          <h5>Virtual Meeting</h5>
          <h5>followers: 10</h5>
          <p><%= image_tag('star.png') %></p>
        </div>
      </li>
  </ul>
<% end %>
