<% unless excursion.blank? %>
  <%= javascript_tag do %>
    <%= modal_for(excursion.author.subject) %>
  <% end %>
  <%= div_for excursion, :class => 'excursion' do %>
  <div class="excursion-item">
    <ul class="thumbnails">
      <li class="img-excursion">
        <%= link_to  excursion_thumb_for(excursion, 130), excursion, :class => "" %>
        <div class='number_pages'>
          <%= excursion.slide_count %>
        </div>
      </li>
      <li class="info-excursion">
        <div class="padding_left5">
          <h4 class="ellipsis w150px">
            <%= link_to excursion.title, excursion %>
          </h4>
          <h5 class="blue-opacity ellipsis w150px">by <a data-toggle="modal" href="#user-modal-<%= excursion.author.slug %>" class="user-modal-button-<%= excursion.author.slug %> modal-no-trigger"><%= excursion.author.name %></a></h5>
            <h5 class=""><span class="green"><%=excursion.visit_count.to_s%></span> <%= t("follow.views") %> </h5>
            <% unless excursion.draft %>
              <h5 class="">
                <span class="green like_count_<%= dom_id(excursion.post_activity) %>"><%=excursion.post_activity.likes.count.to_s%></span>
                <div class="verb_like" id="like_<%= dom_id(excursion.post_activity) %>"><%= link_like(excursion.post_activity)%></div>
              </h5>
            <% end %>
          </div>
        </li>
    </ul>
  <% end %>
<% end %>

