<% unless excursion.blank? %>
  <%= javascript_tag do %>
    <%= modal_for(excursion.author.subject) %>
  <% end %>
  <%= div_for excursion, :class => 'excursion-home' do %>
  <div class="excursion-item">
    <ul class="thumbnails">
      <li class="img-excursion">
        <%= link_to  excursion_thumb_for(excursion, 130), excursion, :class => "" %>
        <div class='number_pages'>
          <%= excursion.slide_count %>
        </div>
      </li>

      <li class="info-excursion">
        <div class="title-excursion">
          <%= link_to excursion.title, excursion %>
        </div>
        <div class="by">by 
          <a data-toggle="modal" href="#user-modal-<%= excursion.author.slug %>" class="user-modal-button-<%= excursion.author.slug %> modal-no-trigger">
            <%= excursion.author.name %>
          </a>
        </div>
        <span class="visits">
          <%=excursion.visit_count.to_s%>
          <a>
            <%= t("follow.views") %> 
          </a>
        </span>
        <% unless excursion.draft %>
        <div class="likes like_count_<%= dom_id(excursion.post_activity) %>">
          <%=excursion.post_activity.likes.count.to_s%> /
          <div class="verb_like" id="like_<%= dom_id(excursion.post_activity) %>">
            <%= link_like(excursion.post_activity)%>
          </div>
        </div>    
        <% end %>
      </li>
    </ul>
  </div>
  <% end %>
<% end %>
