<% unless excursion.blank? %>
<div id='slider3' class='swipe'>
  <ul>
    <li style='display:block'>
      <div class="box_gray1 ">
        <div class="box_gray2">
          <div class="box_gray3">
            <div class="box_white">
              <div class="excursion">
                <%= link_to excursion_thumb_for(excursion, 130), excursion %>
              </div>
              <div class="title">
                <%= link_to excursion.title, excursion %>
              </div>
              <%#= link_to(raw("<i class='iconnav-notification'></i> "), :class => "btn pull-right") %>
              <div class="by">by
                <span class="autor">
                  <%= link_to excursion.author.name, excursion.author.user %> 
                </span>
              </div>
              <div class="count">
                <% unless excursion.draft %>
                <span class="">
                  <%= excursion.post_activity.likes.count.to_s %>
                </span>
                <img src="/assets/icons/star-MENU-active.png" width="12px" height="12px">
                <span class="">
                  <%= excursion.post_activity.comments.count.to_s %>
                  <img src="/assets/icons/view2.png" width="12px" height="12px">
                </span>
                <%end%>
              </div>


                    
            </div>
          </div>
        </div>
      </div>
    </li>

    <li style='display:none'><div>2</div></li>
    <li style='display:none'><div>3</div></li>

  </ul>
</div>

<a href='#' onclick='slider3.prev();return false;'>prev</a> 
<a href='#' onclick='slider3.next();return false;'>next</a>
<br><br>





<article class="">
  <div class="row-fluid">
    <div class="span12">

 
                     
          <!------item 2-----

          <div class="item">
            <div class="caption">
              <div class="row-fluid">
                <div class="span12">

                  <h2>
                    <span class="green">
                      <#%= excursion.visit_count %>
                    </span>
                    <#%= t('follow.views') %>
                  </h2>

                  <h3 class="span8 blue-opacity article ellipsis w400px">
                    <#% excursion.tags.each do |t| %>
                      <a href="#"><#%= t.to_s %></a>,
                    <#% end %>
                  </h3>

                </div>
                  <#% unless excursion.description.blank? %>
              </div>
            </div>
          </div>

          <!------item 3-----

          <div class="item">
            <p class="size15">
              <#%= truncate excursion.description, :length => 90 %>
            </p>
          </div>
            <#% end %>




        </div>
      </div>

      -->

    </div>
  </div>
</article>

<% end %>
<script src='swipe.js'></script>
<script>
new Swipe(document.getElementById('slider'));
new Swipe(document.getElementById('slider2'));
var slider3 = new Swipe(document.getElementById('slider3'));

</script>

