<% if excursion.quizzes.empty? %>
  <%= t ('quiz.no_answers') %>
<% else %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart']});
  </script>
  <% excursion.quizzes.each do |quiz| %>
    <h2><%= quiz.question %></h2>
    <% unless quiz.possible_answers.empty? %>
      <h5><%= t('quiz.possible_answers') %>: <%= quiz.possible_answers.join(", ") %></h5>
    <% end %>
    <% quiz.sessions_by(current_user).each do |qs| %>
      <%= render :partial => "quiz_sessions/historic", :locals => {:qs => qs} %>
    <% end %>
    <hr/>
  <% end %>
<% end %>

