<div class="excursion_tools">
  <div class="options inline-block">
    <!--
    <div class="menu_resources">
      <%#= link_to content_tag(:span, raw("<i class='icontool16-tool16_arrow_3'></i> ")+'clone', :class => :action), edit_excursion_path(excursion)  %>
    </div>

    <div class="menu_resources">
      <%#= link_to content_tag(:span, raw("<i class='icontool16-tool16_embed'></i> "), :class => :action), edit_excursion_path(excursion) %>
    </div>
     -->
    <!--
    <div class="menu_resources">
      <%#= link_to content_tag(:span, raw("<i class='icontool16-tool16_spam'></i> "), :class => :action), edit_excursion_path(excursion) %>
    </div>

    <div class="menu_resources">
      <%#= link_to  t('excursion.actions.share'),edit_excursion_path(excursion), :class => :action  %>
    </div>
    <div class="menu_resources">
      <%#= link_to  t('excursion.actions.bookmark').downcase ,edit_excursion_path(excursion), :class => :action  %>
    </div>
       -->



    <% if user_signed_in? and excursion.post_activity.edit_object_by?(current_subject) %>
      <div class="menu_resources">
        <%= link_to raw("<i class='icontool16-tool16_edit'></i> ") + t('excursion.actions.edit'),edit_excursion_path(excursion), :class => :action, :id => :document_edit_action   %>
      </div>
    <%end%>
    <% if user_signed_in? and  @excursion.post_activity.delete_object_by?(current_subject) %>
      <div class="menu_resources">
          <%= link_to raw("<i class='icontool16-tool16_symbol_delete'></i> ") +  t('excursion.actions.delete'),  excursion.post_activity.direct_object,
                      :confirm => t('confirm_delete', :scope => @excursion.post_activity.direct_object.class.to_s.underscore),
                      :method => :delete, :class => :action %>
      </div>
    <% end %>

  </div>
  <div class="views size24 inline-block pagination-right inline-block ">
    <span class="green"><%=excursion.visit_count.to_s%></span> <%=t('follow.views')%>
    <!--<div class="iconx-quiz"></div>-->
    <% if user_signed_in? %>
      <a data-toggle="modal" href="#mashme-modal" class="iconx-vc"></a>
        <div class="modal hide" style="text-align: left;" id="mashme-modal">
          <div class="modal-header"><%= t('mashme.header_html') %></div>
          <div class="modal-body">
            <h3><%= t('mashme.room_name') %></h3>
            <input type="text" id="mashme-room-id" value="<%= current_user.slug + rand(100000).to_s %>"></input>
            <h3><%= t('mashme.invite_header') %></h3>
            <div class="mashme-invites">
              <% Actor.followed_by(current_user).each do |a| %>
                <div class="span2"><a style="width: 80%; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; text-align: left;" class="btn" id="mashme-invite-<%= a.id %>"><%= image_tag(a.logo.url(:actor), :alt => a.name, :size => "25x25") + " " + a.name %></a></div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal"><%=t('cancel')%></a>
            <button class="mashme-button" url="http://vishub.org/" title="Example room">Custom url button!</button>
          </div>
        </div>
    <% end %>
  </div>

  <%= content_for :javascript do %>
    $('.mashme-invites .btn').on("click", function(){
      $(this).toggleClass("btn-info");
    });
  <% end %>

  <!--
  <div class="stairs_excursion  pagination-right inline-block ">
    <#%= image_tag('rate-excursion.png', :width => '100px') %>
  </div>
  -->
</div>
