<% self.class.send :include, HomeHelper  %>
<section id="profile-excursion">
  <div class="tabbable">
    <ul class="nav nav-tabs tabs-profile">
      <li class="">
        <a data-toggle="tab" href="#ex-1">
          <%=t('excursion.net') %>
        </a>
      </li>
      <li class="active">
        <a data-toggle="tab" href="#ex-2">
          <%=t('excursion.my') %>
        </a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#ex-3">
          <%= image_tag "icons/star-MENU-active.png", :class => "star" %>
        </a>
      </li>
    </ul>

    <div class="tittle-tabs">
    <%= t('excursion.other')%>
  </div>
  
  <div class="tab-content">
    <div id="ex-1" class="tab-pane">
      <%= render :partial => "excursions/filter", :locals => { :filter_id => "profile-excursion-filter-net" } %>
      <div id="profile-excursions-net" class="box-profile-excursion" >
        <img alt="Loading" class="loading" src="/assets/loading.gif" />
      </div>
      <div class="clearfloat"></div>
      <div class="view-all">
        <%= link_to(t('view_all'), url_for([@user, Excursion]) + "?scope=net", :class => "btn-view-all") %>
      </div>
    </div>
    
    <div id="ex-2" class="tab-pane active">
      <%= render :partial => "excursions/filter", :locals => { :filter_id => "profile-excursion-filter-me" } %>
      <div id="profile-excursions-me" class="box-profile-excursion" >
        <% for excursion in subject_excursions(@user, {:scope => :me}) %>
        <%= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
        <% end %>
      </div>
      <div class="clearfloat"></div>
      <div class="view-all">
        <%= link_to(t('view_all'), [@user, Excursion], :class => "btn-view-all" ) %>
      </div>
    </div>

      <div id="ex-3" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => { :filter_id => "profile-excursion-filter-fav" } %>
        <div id="profile-excursions-fav" class="box-profile-excursion" >
          <img alt="Loading" class="loading" src="/assets/loading.gif" />
        </div>
        <div class="clearfloat"></div>
        <div class="view-all">
          <%= link_to(t('view_all'), url_for([@user, Excursion]) + "?scope=like", :class => "btn-view-all") %>
        </div>
      </div>
    </div>
  </div>
</section>

