<% self.class.send :include, HomeHelper  %>
<section class="span6">
  <div class="excursions tabbable">
    <ul class="nav nav-tabs span4">
      <li class=""><a data-toggle="tab" href="#ex-1"><%=t('excursion.net') %></a></li>
      <li class="active"><a data-toggle="tab" href="#ex-2"><%=t('excursion.my') %></a></li>
      <li class=""><a data-toggle="tab" href="#ex-3"><%= image_tag "star-MENU-active.png", :class => "star" %></a></li>
    </ul>

    <div class="span2 size40 title_menu_home ">
    <%= t('excursion.other')%></div>
    <div class="clearfloat"></div>

    <div class="tab-content">
      <div id="ex-1" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => { :filter_id => "profile-excursion-filter-net" } %>
        <div id="profile-excursions-net" class="row height-tabs-home" >
          <img alt="Loading" class="loading" src="/assets/loading.gif" />
        </div>
        <div class="btn-more pull-right"><%= link_to(t('view_all'), url_for([@user, Excursion]) + "?scope=net") %></div>
      </div>
      <div id="ex-2" class="tab-pane active">
        <%= render :partial => "excursions/filter", :locals => { :filter_id => "profile-excursion-filter-me" } %>
        <div id="profile-excursions-me" class="row height-tabs-home" >
          <% for excursion in subject_excursions(@user, {:scope => :me}) %>
            <%= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
          <% end %>
        </div>
        <div class="btn-more pull-right"><%= link_to(t('view_all'), [@user, Excursion]) %></div>
      </div>
      <div id="ex-3" class="tab-pane">
        <%= render :partial => "excursions/filter", :locals => { :filter_id => "profile-excursion-filter-fav" } %>
        <div id="profile-excursions-fav" class="row height-tabs-home" >
          <% for excursion in subject_excursions(@user, {:scope => :like}) %>
            <%= render :partial => "excursions/home",
                       :locals => { :excursion => excursion} %>
          <% end %>
        </div>
        <div class="btn-more pull-right"><%= link_to(t('view_all'), url_for([@user, Excursion]) + "?scope=like") %></div>
      </div>
    </div>
  </div>
</section>
<div class="row"></div>
<div class="space_center"></div>
