<div id="search">
  <div class="tabbable" >
    <ul class="nav nav-tabs">
      <li><h1><i class="icon-home"></i><%= t("home")%></h1></li>
      <%= render partial: 'help/help_home' %>
    </ul>
  </div>
</div>
<%= render partial: 'layouts/order_by_dropdown' %>
<section id="excursions">
  <ul class="">
    <%= render partial: 'excursions/excursion-add' %>
    <%if current_subject && current_subject.following_actor_ids && current_subject.following_actor_ids.size < 4
        scope = :more
      else
        scope = :net
      end%>
    <%= render partial: 'excursions/excursions', :locals => { :scope => scope, :page => params[:page] || 1, :sort_by=> params[:sort_by]||"popularity"} %>
  </ul>
  <div class="loader_pagination">
    <div id="pageless-loader" style="text-align:center;width:100%;">
      <div class="msg" style="font-size:2em">
        <%=t('search.loading')%>
      </div>
      <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
    </div>
  </div>
  <div id="last_content_shown" style="display:none"><%=t('search.end')%></div>

</section>
