<div id="search">
  <div class="tabbable" >
    <ul class="nav nav-tabs">
     <li class="active">
      <a href="#"><%= t("home")%></a>
    </li>
    <li><a href="#">Mi red </a></li>
    <li><a href="#">Catálogo</a></li>     
      <%= render partial: 'help/help_home' %>
    </ul>
  </div>
</div>
<% @done={} %>
<section id="excursions_tab_ready2" class="excursions">
  <ul class="">
    <%= render partial: 'excursions/excursion-add' %>
    <%
      if current_subject && current_subject.following_actor_ids && current_subject.following_actor_ids.size < 4
        scope = :more
      else
        scope = :net
      end%>
  <div>

    <%= render partial: 'excursions/excursionshome', :locals => { :scope => scope, :page => 1, :limit => 6, :type => "random" } %>
  </div>
  <div id="last_content_shown" style="display:none"><%=t('search.end')%></div>

</section>

<section id="excursions_tab_ready2" class="excursions">

  <div class="tabbable" ><br></div>
  <ul class="">
  <div>
    <p> Populares </p>
  <%= render partial: 'excursions/excursionshome', :locals => { :scope => scope, :page => 2, :limit =>  7, :sort_by=> params[:sort_by]||"popularity", :type => "popular"} %>

  </div>
</section>
 
 <section id="excursions_tab_ready" class="excursions">
  <div class="tabbable" ><br></div>
  <ul class="">
  <div>
    <p> Para ti </p>
 <%= render partial: 'excursions/excursions', :locals => { :scope => scope, :page => 1, :limit => 14, :sort_by=> params[:sort_by]||"popularity"} %>
 <div class="loader_pagination">
-    <div id="pageless-loader" style="text-align:center;width:100%;">
-      <div class="msg" style="font-size:2em">
-        <%=t('search.loading')%>
-      </div>
-      <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
-    </div>

    </div>
</section>


<script>
//this will be needed when we have several tabs in the home page
var backstrech_items = {
  excursions: {

  },
  resources: {

  }, 
  events: {

  }
};


function re_apply_backstrech(tab){
  for (var key in backstrech_items[tab]) {
    $(""+ key).backstretch( backstrech_items[tab][key] ); 
  }
}



</script>