<div id="search">
  <div class="tabbable" >
    <ul class="nav nav-tabs">
     <li class="active">
      <a href="#"><%= t("navigation.home")%></a>
    </li>
    <li><a href="#"><%=t("navigation.mynetwork") %></a></li>
    <li><a href="#"><%=t("navigation.catalogue") %></a></li>
      <%= render partial: 'help/help_home' %>
    </ul>
  </div>
</div>
<% @done={} %>
<section id="excursions_tab_ready2" class="excursions">
  <ul class="">
    <%= render partial: 'excursions/excursion-add' %>
    <%
      if current_subject && current_subject.following_actor_ids && current_subject.following_actor_ids.size < 4
        scope = :more
      else
        scope = :net
      end%>
  <div>
     <% #excursionsRandom = home_content(profile_or_current_subject, {:scope => scope, :limit => 6, :page=> 1, :sort_by=> "updated_at"})
        excursionsRandom = Excursion.getHome(30, 'Recent')
        excursionsRecommended = RecommenderSystem.excursion_suggestions(current_user, nil, nil)%> 
    <%= render partial: 'excursions/excursionshome', :locals => { :excursions => excursionsRandom, :limit => 9 } %>
  </div>
  <div id="last_content_shown" style="display:none"><%=t('search.end')%></div>

</section>

<section id="excursions_tab_ready2" class="excursions">

  <div class="tabbable" ><br></div>
  <ul class="">
  <div>
    <p> <%= t("home.foryou")%> </p>
  <%= render partial: 'excursions/excursionshome', :locals => {:excursions => excursionsRecommended, :limit => 10} %>

  </div>
</section>
 
 <section id="excursions_tab_ready" class="excursions">
  <div class="tabbable" ><br></div>
  <ul class="">
  <div>
  <p> <%= t("home.populars")%> </p> 
  <% excursionsDone = @done 
  %>
 <%= render partial: 'excursions/excursions', :locals => {:ids_to_avoid => excursionsDone,  :page => 1} %>
   </ul>

 <div class="loader_pagination">
    <div id="pageless-loader" style="text-align:center;width:100%;">
      <div class="msg" style="font-size:2em">
       <%=t('search.loading')%>
      </div>
     <img src="assets/load.gif" alt="loading more results" style="margin:10px auto" />
   </div>

    </div>
</section>


<script>
//this will be needed when we have several tabs in the home page
var backstrech_items = {
  excursions: {

  },
  resources: {

  }, 
  events: {

  }
};


function re_apply_backstrech(tab){
  for (var key in backstrech_items[tab]) {
    $(""+ key).backstretch( backstrech_items[tab][key] ); 
  }
}



</script>