<script>

  $(document).ready(function(){  

    var networking_tab_loaded = false;

    $("#networking_tab").click(function(){
      if(networking_tab_loaded===false){
        $('.loader_pagination').show();
        networking_tab_loaded = true;
        $.ajax({
            type : "GET",
            url : "<%= home_path(:networking=>'true', :page =>1) %>",
            success : function(html) {
              $('.loader_pagination').hide();      
              $("#networking_tab_ready").append(html);
              re_apply_backstretch("networking");
            },
            error: function(){
              console.log("error loading networking tab");
           }
          });
      } else {
        re_apply_pageless("networking");
        re_apply_backstretch("networking");
      }
    });
    
    var catalogue_tab_loaded = false;

    $("#catalogue_tab").click(function(){
      if(catalogue_tab_loaded===false){
        $('.loader_pagination').show();
        catalogue_tab_loaded = true;
        $.ajax({
            type : "GET",
            url : "<%= catalogue_path(:home =>true) %>",
            success : function(html) {
              $('.loader_pagination').hide();      
              $("#catalogue_tab_ready").append(html);
              re_apply_backstretch("catalogue");
            },
            error: function(){
              console.log("error loading catalogue tab");
           }
          });
      } else {
        re_apply_backstretch("catalogue");
      }
    });
  //Catalogue behaviour
 


    $("#home_tab").click(function(){
      console.log("CLICK EN HOME TAB");
      re_apply_pageless("home");
      re_apply_backstretch("home");
    });

    console.log("LLAMAMOS EN DOCUMENT READY");
    re_apply_backstretch("home");

  });
  
  var urlforhome= "";
  var pageless_state = {
    "actual_state": "home",
      "home":{
        "url": urlforhome,
        "num_pages":0,
        "current_page":0
      },
      "networking":{
        "url": "<%= home_path(:networking=>'true') %>",
        "num_pages":0,
        "current_page":0
      }/*,
      "catalogue":{
        "url": "<%= search_path() %>",
        "num_pages":0,
        "current_page":0
      }*/
    };
  
    function update_pageless_state(tab, num_pages, current_page){
      console.log("paso por aquí");
      if(pageless_state[tab].num_pages == "0"){
        pageless_state[tab].num_pages = num_pages;
        pageless_state[tab].current_page = current_page + 1 ;
      }    
    }



    function re_apply_pageless(tab){
    //first remove old pageless
      $.pagelessStop();      
     
      $("#" + tab + "_tab_ready ul").pageless({ 
                      totalPages: pageless_state[tab].num_pages ,
                      url: get_url_with_sort_by(tab),
                      currentPage: pageless_state[tab].current_page,
                      loader: '.loader_pagination',
                      complete: function(){

                        pageless_state[tab].current_page += 1;
                        pageless_state.actual_state = tab;

                        console.log('Parameters: totalPages = ' + pageless_state[tab].num_pages + ' currentPage= '+ pageless_state[tab].current_page + ' url = ' + get_url_with_sort_by(tab));
                      },  //remake the updating | For 17
                      end: function(){
                        $('.loader_pagination').hide();
                      }
      });
    }

    function get_url_with_sort_by(tab){
      var the_url = pageless_state[tab].url;
      console.log(the_url);
      //the_url = the_url + "?sort_by=" + $("#order_by_selector_" + tab).attr("li_selected");
      return the_url;
    }

    
    function re_apply_backstretch(tab){   
      $("#" + tab + " div[bs-img]").each(function() {
        $(this).backstretch( $(this).attr("bs-img") );
      });
    }
    
  </script>

<div class="home_style" id="search">
  <div class="tabbable" >
    <ul class="nav nav-tabs">
     <li class="active">
      <a id="home_tab" href="#home" data-toggle="tab"><%= t("navigation.home")%></a>
    </li>
    <li><a id="networking_tab" href="#networking" data-toggle="tab" ><%=t("navigation.mynetwork") %></a></li>
    <li><a id="catalogue_tab" href="#catforhome" data-toggle="tab" ><%=t("navigation.catalogue") %></a></li>
    </ul>
  </div>
</div>
   

  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <%= render partial: "excursions/home/home_excursions"%>
    </div>

    <div class="tab-pane" id="networking"> 
      <%#= render partial: "excursions/home_mynetwork", :locals =>{:scope => :me, :page => 1, :sort_by => "popularity"}%>
      <%= render partial: 'excursions/order_by_dropdown' %>
      <div id="networking_tab_ready"></div>
      <div class="loader_pagination" style="display:none">
        <div id="pageless-loader" style="text-align:center;width:100%;">
          <div class="msg" style="font-size:2em">
            <%=t('search.loading')%>
          </div>
          <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
        </div>
      </div>
    </div>   


    <div class="tab-pane" id="catforhome"> 
      <%= render :partial => "excursions/home/tags"%> 
        <div id="catalogue_tab_ready"></div>
        <div class="loader_pagination" style="display:none">
        <div id="pageless-loader" style="text-align:center;width:100%;">
          <div class="msg" style="font-size:2em">
            <%=t('search.loading')%>
          </div>
          <img src="/assets/load.gif" alt="loading more results" style="margin:10px auto" />
        </div>
      </div>
    </div>
    
  </div>

