<%= content_for :title do %><%= @excursion.title %> - <%= !@excursion.author.nil? ? @excursion.author.slug : "" %><% end %>
<%= content_for :description do %><%= @excursion.description %><% end %>
<%= content_for :keywords do %><%= @excursion.tag_list %><% end %>
<%= content_for :og_type do %>website<% end %>
<% shortURL = "http://" + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + excursion_path(@excursion) %>
<%= content_for :og_url do %><%= shortURL %><% end %>
<%= content_for :og_image do %>
  <%= @excursion.thumbnail_url || "http://" + request.env['HTTP_HOST'] + "/assets/logos/original/excursion-vish.png" %>
<% end %>

<%=javascript_include_tag "RegaddiChart" %>
<%=javascript_include_tag "jquery.zclip.min" %>
<%=javascript_include_tag "loep" %>
<%=javascript_include_tag "VISH.IframeAPI" %>

<script type="text/javascript">
  var triggerEvaluation = function(){
    $("#learning-evaluation-button-id").trigger("click");
  };

  //VE extra vars
  var options = {};
  options["readHashFromParent"] = true;

  <% unless params[:recent].nil? %>
    $(document).ready(function(){
        $("#congratulations-button").click();
    });
  <% end %>
</script>

<% unless params[:animate].nil? %>
  <script type="text/javascript">
    //Global vars
    var animationEnabled = true;

    $(document).ready(function(){
        //Animate excursion
        VISH.IframeAPI.init({callback: function(){
          //OnConnect
          var nSlides = parseInt('<%=@excursion.slide_count%>');
          var animateTime = parseInt('<%=params[:animate]%>');
          if(typeof animateTime != "number" || isNaN(animateTime)){
            animateTime = 4;
          }
          animateTime *= 1000;
          var cSlide = 1;
          setInterval(function(){
            if(animationEnabled){
              cSlide++;
              if(cSlide > nSlides){
                cSlide = 1;
              }
              VISH.IframeAPI.goToSlide(cSlide);
            }
          },animateTime);
        }});
    });
  </script>
<% end %>

<% unless @excursion.author.nil? %>
  <%= render :partial => 'objects/show', :locals  => { :object => @excursion } %>
<% end %>

<!--div class="page-header"><%= @excursion.title %></div-->
<section id="show_items " class="layout_show">
  
  <!-- Content -->
  <div class="box-show">
    <div class="container-visor">
      <div class="elemento-visor"></div>
      <%= render :partial => 'excursion_show', :locals  => { :excursion => @excursion } %>
    </div>
  </div>

  <!--recomended-->
  <%= render :partial => 'recommender/sidebar', :locals  => { :resources => @resource_suggestions, :rec => @rec } %>

  <!--owner-profile-->
  <div class="description-activity">
    <div class="box_description">
      <!--tool-->
      <div class="excursion_tool">
        <%= render :partial => 'excursions/excursion-tool-tab', :locals => { :shortURL => shortURL} %>
      </div>     
    </div>
    
    <!--activity-->
    <div class="activity-box">
      <%= render :partial => 'excursions/evaluate-activity'%>
    </div>
  </div>
</section>

<a id="congratulations-button" href="#CongratModal" role="button" class="" style="display:none" data-toggle="modal"></a>
<div id="CongratModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myCongratLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myCongratLabel"><%= t('excursion.modal.title') %></h3>
  </div>
  <div class="modal-body">
    <p><i class="icon-ok"></i>  <%=t("excursion.modal.normal_body")%></p>
    <p><%=raw t("excursion.modal.survey")%></p>
    <p class="thank"><i class="icon-smile"></i>  <%=raw t("excursion.modal.thank")%></p>
  </div>
</div>