<section class="slides layout-regular template-default">
  <button id="page-fullscreen" class="fullscreen" type="submit" style="border: none; background-color: transparent; display: none;" tabindex="2"></button>
</section>
    
    <div id="viewbar" class="viewbar" style="display:none">
		<button id="page-switcher-start" class="page-switcher" tabindex="2"><</button>
		<div id="slide-counter"></div>
		<button id="page-switcher-end" class="page-switcher" tabindex="2" >></button>
	</div>
    
	<div style="display:none" id="viewerpreview">Preview</div>
  <div style="display:none" id="embedWatermarkWrapper">
    <a href="http://vishub.org" target="_blank">
      <img id="embedWatermark" src="/assets/watermark.png"/>
    </a>
  </div>
	<button id="closeButton" style="display:none" ><img id="closeButtonImg" src="/assets/icons/back_icon.png"/></button>
	<button id="back_arrow" class="vish_arrow" style="display:none" tabindex="2"><</button>
	<button id="forward_arrow" class="vish_arrow" style="display:none" tabindex="2">></button>
    

    <!-- Hidden link to open fancybox when start a quiz session inside a slide  -->
   <a id="addQuizSessionFancybox" href="#start_quiz_fancybox" style="display: none;"></a>    
    <!-- Hidden link to open fancybox when stop a quiz session  -->
    <a id="stopQuizSessionFancybox" href="#stop_quiz_fancybox" style="display: none;" name='modal_fancybox'></a> 
    <!-- Hidden link to open fancybox to display recommendations in the end -->
    <a id="fancyRec" href="#fancy_recommendations" style="display: none;"></a>
   
    <!-- Thumbnails fancybox -->
    <div style='display:none'>
        <div id='fancy_recommendations'>
            <div class="rec-first-row">
                <span class="textintro1" i18n-key="i.evaluateTitle">Want to contribute evaluating the excursion?</span>
                <button id='evaluate_excursion' submit='disable' class='button' i18n-key="i.evaluate">Evaluate</button>
            </div>
            <div class="rec-second-row">
                <span class="textintro1" i18n-key="i.recommendationsTitle">Recommended excursions for you:</span>
                <div class="rec-grid">
                </div>
            </div>
        </div>
    </div>

    <!-- quiz Session Fancybox fancybox -->
    <div style='display:none'>
        <div id="start_quiz_fancybox" class="outer_box">
             <div class="fancy_tabs" id="start_quiz_fancy_tabs_id">
                    <ul>
                      <li><a href="#" onclick="VISH.Utils.loadTab('tab_quiz_session')" id="tab_quiz_session" class="fancy_tab" i18n-key="i.quiz_session">url</a></li>
                      <li><a href="#" onclick="VISH.Utils.loadTab('tab_quiz_stats_bars')" id="tab_quiz_stats_bars" class="fancy_tab" i18n-key="i.statistics_bars">Stats 1</a></li>
                      <li><a href="#" onclick="VISH.Utils.loadTab('tab_quiz_stats_pie')" id="tab_quiz_stats_pie" class="fancy_tab" i18n-key="i.statistics_pie">Stats 2</a></li>
                    </ul>
                    <img class='help_in_fancybox' id='tab_quiz_session_help' src='/assets/helptutorial_circle_blank.png'/>
                    <img class='help_in_fancybox' id='tab_quiz_stats_bars_help' src='/assets/helptutorial_circle_blank.png'/>
                    <img class='help_in_fancybox' id='tab_quiz_stats_pie_help' src='/assets/helptutorial_circle_blank.png'/>
                </div>
            <div id='tab_quiz_session_content' class="fancy_tab_content" style='display:none;'>
                <div class='quiz_session_header'>
                    <div class='url_share_container'>
                        <span><a target="blank_" href="#" class='url_share_link'></a></span>
                    </div>
                </div>
               <div class='quiz_session_body'>
                    <div id='hidden_for_qr_quiz' class='hidden_for_qr_quiz' style='display:none;'></div>
                    <div class='quiz_session_qrcode_container' id='quiz_session_qrcode_container_id'>
                        <img id='qr_quiz_image_id' class="qr_quiz_image" src=''/>
                        <button class='quiz_cancel_full_screen' tabindex='2' ></button>
                        <img class='qr_background'/>
                   </div>
                    <div class='buttons_container'>
                    <button class='quiz_full_screen' tabindex='2' ></button>
                        <img id="qr_quiz_fullscreen_close" class='quiz_full_screen_back' src='/assets/quiz/fullscreen_goback.png' />
                         <img class='hide_qrcode' src='/assets/quiz/hide_eye.png' />
                         <img class='show_qrcode' src='/assets/quiz/eye.png' />
                   </div>
                </div>
                <div class='quiz_session_inputs_container'>
                        <input type='hidden' class='quiz_session_id' name='quiz_session_id' />
                        <input type='button' class='quiz_session_stop_button' value='Stop Quiz'/>
                    </div>
            </div>
             <div id='tab_quiz_stats_bars_content' class="fancy_tab_content" style='display:none;'> 
                  <div id='quiz_stats_bars_content_id' class='quiz_stats_bars_content'>
                        <div id='quiz_question_container_id' class='quiz_question_container'>
                       </div>
                        <div id='quiz_options_container_id' class='quiz_options_container'> </div>
                        <div class='quiz_session_inputs_container'>
                            <input type='button' class='quiz_session_stop_button' value='Stop Quiz'/>
                        </div>
                 </div>

            </div>  
             <div id='tab_quiz_stats_pie_content' class="fancy_tab_content" style='display:none;'>
                <div id='quiz_stats_pie_content_id' class='quiz_stats_pie_content'>
                        <div id='quiz_question_container_id' class='quiz_question_container'>
                        </div>
                        <div id='quiz_chart_container_id' class='quiz_chart_container'><img class='img_chart'/>
                       </div>
                       <div class='quiz_session_inputs_container'>
                            <input type='button' class='quiz_session_stop_button' value='Stop Quiz'/>
                        </div>
                 </div>
           </div>  
        </div>    
    </div>      
    <!-- second fancybox over fancybox -->
     <div id='stop_quiz_fancybox' class='outer_box' style='diplay:none;'>
            <div id='stop_quiz_fancybox_content' class='window'>
                 <p class='stop_quiz_text'> Are you sure to stop the quiz?</p>
                <input type='text' class='input_text_fancy quiz_saved_session_name' style='position:relative;'  />
                <input type='button' class='quiz_stop_session quiz_stop_session_cancel' value='Cancel'/>
                <input type='button' class='quiz_stop_session quiz_stop_session_dont_save' value='Dont save'/>
               <input type='button' class='quiz_stop_session quiz_stop_session_save' value='Save'/>
           </div>    
         </div>       
   <div id='mask_stop_quiz' style='display:none;'></div>


<script>	
	options = {};
	var configuration = {};

	configuration["ImagesPath"] = "/assets/";
	configuration["StylesheetsPath"] = "/assets/";
	configuration["mode"] = "vish";
	options["configuration"] = configuration;
	options["full"] = true;
	options["developping"] = false;

	//Embed
	var isEmbed = (("<%=@embed%>" === "true")||(window.parent.embed===true));
	options["embed"] = isEmbed;

	<% if @excursion %>
		options["fullscreen"] = "<%=excursion_path(@excursion, :format => :full)%>";
		options["exitFullscreen"] = "<%=excursion_path(@excursion)%>";
	<% end %>

  if(isEmbed){
    //Remove exitFullscreen and comeBackUrl (Vish Editor will use native back)
    options["exitFullscreen"] = undefined;
    options["comeBackUrl"] = undefined;
  } else {
    //Look for URL param
    <% if @orgUrl %>
      var orgUrl = "<%=@orgUrl%>";
      options["comeBackUrl"] = orgUrl;
      options["exitFullscreen"] = orgUrl;
    <% else %>
      <% if request && request.referrer %>
        options["comeBackUrl"] = "<%=request.referrer%>";
      <% end %>
    <% end %>
  }

	options["token"] = "<%= form_authenticity_token %>";
	options["lang"] = "<%= I18n.locale.to_s%>";

	<% if user_signed_in? %>
	    options["username"] = "<%= current_user.name %>";
	<% else %>
	    options["username"] = false;
	<% end %>

  //URL to get the recommendations to show in the last slide
  options["urlToGetRecommendations"] = "http://localhost:3000/excursions/last_slide.json"

	options.addons = [];

	if(window.parent.loadIframeMessenger===true){
		var addon = new Object();
		addon.target = "Viewer";
		addon.id = "IframeMessenger";
		addon.url = "";
		addon.config = {enable: true};
		options.addons.push(addon);
	}

  if(window.parent.disableFullscreen){
    //Force fs disabled
    options["disablefullscreen"] = true;
  }


	function start(){
		var isPreview = false;
        try {
            isPreview = window.parent.VISH && 
            			window.parent.VISH.Editor && 
            			(typeof window.parent.VISH.Editor.Preview.getPreview == "function") && 
            			(typeof window.parent.VISH.Editor.Preview.getPreview() != 'undefined') &&
            			(window.parent.VISH.Editor.Preview.getPreview() != null);
        } catch(exception) {
            isPreview = false;
        }
        
		var myexcursion;

		if(isPreview){
			options["preview"] = true;
        	myexcursion =  window.parent.VISH.Editor.Preview.getPreview();
  	} else {
  		<% if @excursion %>
  			myexcursion = <%= raw @excursion.json %>;
      <% elsif @quiz_session %>
        myexcursion = <%= raw @quiz_session.quizJSON %>;
  		<% else %>
  			myexcursion = null;
  		<% end %>
  	}
      	
		VISH.SlideManager.init(options , myexcursion);
	}
</script>
