<%= content_for :title do %><%= @excursion.title %> - <%= @excursion.author.slug %><% end %>
<%= content_for :description do %><%= @excursion.description %><% end %>
<%= content_for :keywords do %><%= @excursion.tag_list %><% end %>
<%= content_for :og_type do %>excursion<% end %>
<% shortURL = short_url ( 'http://' + request.env['HTTP_HOST'] + excursion_path(@excursion) ) %>
<%= content_for :og_url do %><%= shortURL %><% end %>
<%= content_for :og_image do %><%= @excursion.thumbnail_url || "http://" + request.env['HTTP_HOST'] + "/assets/logos/original/excursion-vish.png" %><% end %>

<% javascript_include_tag "http://www.mashme.tv/static/js/button/button.js" %>

<div class="excursions tabbable span12">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#ex-1"><%= @excursion.title %></a></li>
  </ul>
  <div class="tab-content">
    <div id="ex-1" class="tab-pane active">

      <div class="space_center"></div>
      <div class="pagination-centered">
        <iframe id="excursion_iframe" src="<%=excursion_path(@excursion, :format => :full)%>" width="910" height="680" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0;></iframe>
      </div>

      <%= render :partial => 'toolbar_excursion', :locals => { :excursion =>  @excursion, :shortURL => shortURL} %>

      </div>
    </div>
</div>


<div class=" span12">

  <section id="left" class="span6 ">

    <div class="space_center"></div>
    <div id="" class="tabbable span6 ">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#comment-1"><%= t('comment.title.other') %></a></li>
      </ul>
      <div class="tab-content">
        <div id="comment-1" class="tab-pane active row-fluid activity_content">
        <% unless @excursion.post_activity.blank? %>
          <%= render :partial => 'activities/comments', :locals => { :activity =>  @excursion.post_activity, :logo_size => ':contact' } %>
          <%= render :partial => 'comments/new', :locals => { :activity =>  @excursion.post_activity  } %>
        <% else %>
          <% if user_signed_in? %>
            <%= render :partial => 'comments/new', :locals => { :activity =>  @excursion.post_activity } %>
          <%else%>
            <%= link_to(t('session.session_start'),new_user_registration_path) + " " + t('disjunction.or') + " " + link_to(t('sign_up').downcase, new_user_registration_path) + " " +  t('comment.input') %>
          <%end%>
         <%end%>
        </div>
      </div>
    </div>
  </section>

  <section id="right" class="span3 offset1">

      <%= render :partial => "excursions/excursion_info", :locals => {:excursion =>  @excursion } %>

  </section>
  </div>




