
<% javascript_include_tag "http://www.mashme.tv/static/js/button/button.js" %>

<div class="excursions tabbable span12">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#ex-1"><%= @excursion.title %></a></li>
  </ul>
  <div class="tab-content">
    <div id="ex-1" class="tab-pane active">
      <p id="notice"><%= notice %></p>
      <% unless @excursion.tag_list.blank? %>
        <ul>
        <% @excursion.tag_list.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
        </ul>
      <% end %>
      <% unless @excursion.author.blank? %>
        <h4><%=link_to( t('author')+': '+truncate_name(@excursion.author.name, :length => 20), @excursion.author.subject)%></h4>
      <% else %>
        <h4><%=t('anonymous')%></h4>
      <% end%>
      <div class="space_center"></div>
      <h4><%= @excursion.description %></h4>
      <div class="space_center"></div>
      <% unless @excursion.author.blank? %>
        <div class="pull-right space_right">

        </div>
      <% end %>
      <div class="space_center"></div>
      <div class="pagination-centered">
        <iframe id="excursion_iframe" src="<%=excursion_path(@excursion, :format => :full)%>" width="910" height="680" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder = 0;></iframe>
      </div>

      <%= render :partial => 'toolbar_excursion', :locals => { :excursion =>  @excursion } %>

      </div>
    </div>
</div>

<div class="row">



  <div class="span12">

    <div class="space_center"></div>
    <div id="left" class="tabbable span8 ">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#comment-1"><%= t('comment.title.other') %></a></li>
      </ul>
      <div class="tab-content">
        <div id="comment-1" class="tab-pane active row-fluid activity_content">
        <% unless @excursion.post_activity.blank? %>
          <%= render :partial => 'activities/comments', :locals => { :activity =>  @excursion.post_activity, :logo_size => ':contact' } %>
          <%= render :partial => 'comments/new', :locals => { :activity =>  @excursion.post_activity  } %>
        <% else %>
          <% if user_signed_in? %>
            <%= render :partial => 'comments/new', :locals => { :activity =>  @excursion.post_activity } %>
          <%else%>
            <%= link_to(t('session.session_start'),new_user_registration_path) + " " + t('disjunction.or') + " " + link_to(t('sign_up').downcase, new_user_registration_path) + " " +  t('comment.input') %>
          <%end%>
         <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="" class="span3  ">
  <div class="margin-info-resources  " >
    <%#= render :partial => "excursions/excursion_info", :locals => {:excursion =>  @excursion } %>
  </div>
</section>

