<div class="contentReport">
<%if @activity_object.object.class.name == "Excursion" %>
    <h6><%=t('report.report_excursion')%></h6>
  <% elsif @activity_object.object.class.name == "Event"%>
    <h6><%=t('report.report_event')%></h6>
  <% else %>
    <h6><%=t('report.report_resource')%></h6>
  <%end%>
    <ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
      <li class=""><a href="#home" class="btn btn-default" role="tab" data-toggle="tab"> <%=t('report.spam_content')%></a></li>
      <li class=""><a href="#profile" class="btn btn-default" role="tab" data-toggle="tab"><%=t('report.error_content_resource')%></a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="home">
       <div style="display:block width:100%"><%=text_area_tag 'comment_spam', nil, rows: 2, class: 'form-control textarea_spam report', :placeholder => t('report.placeholder')%></div>
        <h6><%= t('simple_captcha.title') %> <span> <%=t('simple_captcha.subtitle')%> </span></h6>

      <%= show_simple_captcha %>
      <div class="actions">
        <button class="report btn btn-primary"> <%=t('send.send')%></button>
      </div>
      </div>
      <div class="tab-pane fade" id="profile">
        <div style="display:block width:100%"><%=text_area_tag 'comment_error', nil, rows: 2,class: 'form-control textarea_spam report', :placeholder => t('report.placeholder')%></div>
        <h6><%= t('simple_captcha.title') %> <span> <%=t('simple_captcha.subtitle')%> </span></h6>
      <%= show_simple_captcha %>
      <div class="actions">
        <button class="report btn btn-primary"> <%=t('send.send')%></button>
      </div>
      </div>
  </div>
</div>
<div class="clearfix"></div>

<!-- <div class="contentReport" style="clear:both">

  <%if @activity_object.object.class.name == "Excursion" %>
    <dt><%=t('report.report_excursion')%></dt>
  <% elsif @activity_object.object.class.name == "Event"%>
    <dt><%=t('report.report_event')%></dt>
  <% else %>
    <dt><%=t('report.report_resource')%></dt>
  <%end%>
  
  <%= form_tag spam_reports_path, method: 'post', class: "" do %>
    <%=hidden_field_tag "activity_object_id", @activity_object.id%>



    <div class="radio">
      <label>
        <%=radio_button_tag 'option', "0", false, class: "spam_radio"%>
        <span class="lbl padding-0">
          <%=t('report.spam_content')%>
        </span>
        <div style="display:block width:100%"><%=text_area_tag 'comment_spam', nil, rows: 2, style: "display:none", class: 'form-control textarea_spam report', :placeholder => t('report.placeholder')%></div>
      </label>
    </div>
    <div class="radio">
      <label>
        <%=radio_button_tag 'option', "1", false, class: "spam_radio"%>
        <span class="lbl padding-0">
          <%=t('report.error_content_resource')%>
        </span>
        <div style="display:block width:100%"><%=text_area_tag 'comment_error', nil, rows: 2, style: "display:none", class: 'form-control textarea_spam report', :placeholder => t('report.placeholder')%></div>
      </label>
    </div>
    
    <h4><%= t('simple_captcha.title') %></h4>

    <div><%=t('simple_captcha.subtitle')%></div>
      <%= show_simple_captcha %>

    <button class="report btn btn-primary"> <%=t('send.send')%></button>
  <% end %>
</div> -->

<%= content_for :javascript do %>
    $("div.contentReport .spam_radio").click(function(e){
      $(".textarea_spam").hide("slow");
      $(this).parent().find("textarea").show("slow");
    });
<% end %>