<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
<div class="container">
  <header id="headerFront row span12">
    <%= render :partial => "layouts/header" %>
  </header>
  <div class="row">
    <section id="left" class="span2">
      <%= yield :toolbar %>
    </section>
    <section id="main" class="span10">
      <div class="space_center"></div>
      <div id="flash">
        <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
      </div>
      <section id="content">
        <%= yield %>
      </section>
    </section>
    <div class="space_double_center"></div>
  </div>
  <footer class="row span12">
    <%= render :partial => "layouts/footer" %>
  </footer>
</div>
</body>
</html>