<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>


<div class="wrapper">
  <div class="container">
    <header id="headerFront row">
      <%= render :partial => "layouts/header" %>
    </header>
    <div class="row">
      <section id="main" class="span8">
        <div class="space_center"></div>
        <section id="content">
          <%= yield %>
        </section>
      </section>
      <section class="span3 offset1 right">
        <%= yield :sidebar %>
      </section>
      <div class="space_double_center"></div>
    </div>


  </div>
  <div class="push"></div>
</div>
<div class="container">
  <footer class="row span12">
    <%= render :partial => "layouts/footer" %>
  </footer>
</div>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/0195.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
</body>
</html>