<nav class="headernav">
  <%= link_to(raw("<i class='icon_navbar-home'></i> "), excursions_path, :class => "btn-header tooltip-header", :title =>  t('navigation.home'), :rel => 'tooltip') %>
  <%= link_to(raw("<i class='icon_navbar-message" + (current_subject.unread_messages_count > 0 ? " iconnav-notification_message" : "") + "'></i> "), messages_path, :class => "btn-header tooltip-header", :title => current_subject.unread_messages_count.to_s + t('message.unread'), :rel => 'tooltip') %>
 <%= link_to(raw("<i class='icon_navbar-followers'></i> "),
                  followings_path,
                  :class => "btn-header tooltip-header",
                  :title => current_subject.followers.count.to_s + ' ' + t('follow.followers') + ' / ' + current_subject.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings'),
                  :rel => 'tooltip') %>
  <%= link_to(raw("<i class='icon_navbar-myroom'></i> "), excursions_path, :class => "btn-header tooltip-header", :title => t('navigation.home'), :rel => 'tooltip') %>
  <%# unless QuizSession.where(:owner_id => Actor.normalize_id(current_user)).blank? %>
  <%= link_to(raw("<i class='icon_navbar-quiz'></i> "), quiz_sessions_path, :class => "btn-header tooltip-header", :title => t('quiz.other'), :rel => 'tooltip') %>
  <%# end %>
  <%= render :partial => 'layouts/header_dropdown_menu' %>
</nav>


<nav class"browse">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Browse
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" href="#">Popular</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Excursions</a></li>
      <li><a tabindex="-1" href="#">Categories</a></li>
      <li><a tabindex="-1" href="#">Events</a></li>
      <li><a tabindex="-1" href="#">Resources</a></li>
    </ul>
  </li>
</nav>
