

  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
  <li class="dropdown">
      <%=t('browse.title')%>
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li>
        <a tabindex="-1" href="<%=search_path(:browse=>"true")%>">
          <i class="icon-dashboard"></i> 
          <%=t('browse.popular')%>
        </a>
      </li>

      <li class="divider"></li>
      <li>
        <a tabindex="-1" href="<%=search_path(:type => "excursion", :browse=>"true")%>">
          <i class="icon-book"></i> 
          <%=t('excursion.other')%>
        </a>
      </li>
      <li>
        <a tabindex="-1" href="<%=search_path(:type => "user", :browse=>"true")%>">
          <i class="icon-group"></i>
          <%=t('user.other')%>
        </a>
      </li>
      <li>
        <a tabindex="-1" href="<%=search_path(:type => "resource", :browse=>"true")%>">
          <i class="icon-file"></i>
          <%=t('resource.other')%>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a tabindex="-1" href="/contest">
          <i class="icon-trophy"></i>
          <%=t('contest.#ViSHCompetition2013')%>
        </a>
      </li>
    </ul>
  </li>

