<footer id="footer">
<nav>
  <ul>
<!-- legal notice-->
      <li class="item_footer">
        <%= link_to t('conditions.other'), '/legal_notice', :class => "btn btn-default" %>
      </li>
<!-- legal notice-->

      <li class="btn-group dropup">
        <a type="button" class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="idioma"><%= t('help') %></span>
          <i class="fa fa-angle-up"></i>
        </a>  
        <ul class="dropdown-menu">
          <li class="">
            <a href="/overview">
              <i class="fa fa-question"> </i>
              <span><%= t('overview_title') %></span>
            </a>
          </li>
          <li class="">
            <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
              <i class="fa fa-youtube"> </i>
              <span><%= t('youtube') %></span>
            </a>
          </li>
          <!--<li class="">
            <%= link_to faq_path do %>
              <i class="fa fa-question"> </i> 
              <span><%=t('faq.title')%></span>
            <% end %>
          </li>-->
          <li class="">
            <%= link_to user_manual_path do %>
              <i class='fa fa-download'> </i> 
              <span><%= t('help_manual')%>   </span>    
            <% end %>
          </li>
          <!--<li class="">
            <%= link_to help_path do %>
              <i class="fa fa-question"> </i> 
              <span><%=t('help_page')%></span>
            <% end %>
          </li>-->
        </ul>
      </li>

<!-- lang-->
      <li class="btn-group dropup">
        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <% the_locale = I18n.locale.to_s %>
          <span class="idioma"><%=image_tag("flags/" + the_locale + ".png", :title=>the_locale, :class=> "")%><%= t('lang.title') %></span>
          <i class="icon-angle-up"></i>
        </div>  
          <ul class="dropdown-menu">
            <% for locale in (I18n.available_locales.map{|i| i.to_s}) -%> 
             <li class="">
                <%= link_to image_tag("flags/" + locale + ".png", :title=>locale, :class=> "") + " " + t(:language_name, :locale => locale), session_locale_path(:new_locale => locale), :method => :post, :remote => false %>
              </li>
            <% end %>
          </ul>
      </li>
<!-- contact-->
      <li>
         <%=mail_to('virtual.science.hub@gmail.com', t('contact.footer'), :encode => :javascript, :class=> "btn btn-default") %>
      </li>


<!-- global-->
      <li class="global">
        <%= link_to image_tag("footer/global.png",  :class=> "btn btn-default" ), "http://www.globalexcursion-project.eu", :target=> "_blank"  %>
      </li>
    </ul>

          <div class="social">
          <h6>Síguenos</h6>
          <a href="https://www.facebook.com/VirtualScienceHub" target="_blank"><i alt="Facebook-logo" class="social-img fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/ViSH_portal" target="_blank"><i alt="Twitter-logo" class="social-img fa fa-twitter"></i>
          </a>
          <h6>Vish Hub © 2014</h6>
        </div>
        </nav>
</footer>
<script>
    // scrollUp full options
    $(function () {
      $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            scrollDistance: 300, // Distance from top/bottom before showing element (px)
            scrollFrom: 'top', // 'top' or 'bottom'
            scrollSpeed: 300, // Speed back to top (ms)
            easingType: 'linear', // Scroll to top easing (see http://easings.net/)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 200, // Animation in speed (ms)
            animationOutSpeed: 200, // Animation out speed (ms)
            scrollText: '<i class="fa fa-arrow-up icon-2x"></i>', // Text for element, can contain HTML
            scrollTitle: 'go-top', // Set a custom <a> title if required. Defaults to scrollText
            scrollImg: false, // Set true to use image
            activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            zIndex: 2147483647 // Z-Index for the overlay
      });
    });
    </script>
<script language="javascript" type="text/javascript" >


  $(function() {
    $("#footer").hover(function() {
      $( "#scrollUp" ).addClass( "hover-scroll");
    });
  });

</script>