<footer id="footer" class="container-fluid hidden-phone hidden-tablet">
  <nav class="footercontent">
    <ul class="ul-content">


<!-- legal notice-->

      <li class="item_footer">
        <a class="style_link_footer" href="/legal_notice"><%= t('conditions.other') %></a>     
      </li>

<!-- legal notice-->

      <li class="dropup">
        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <span class="idioma"><%= t('help') %></span>
          <i class="icon-angle-up"></i>
        </div>  




        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          
          <li class="">
            <a href="/overview">
              <i class="icon-question-sign"> </i>
              <span>ViSH Overview</span>
            </a>
          </li>
          <li class="">
            <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
              <i class="icon-youtube-sign"> </i>
              <span>Vish Youtube Channel</span>
            </a>
          </li>
          <!--<li class="">
            <%= link_to faq_path do %>
              <i class="icon-question-sign"> </i> 
              <span><%=t('faq.title')%></span>
            <% end %>
          </li>-->

          <li class="">
            <%= link_to user_manual_path do %>
              <i class='icon-download'> </i> 
              <span><%= t('help_manual')%>   </span>    
            <% end %>
          </li>

          <!--<li class="">
            <%= link_to help_path do %>
              <i class="icon-question-sign"> </i> 
              <span><%=t('help_page')%></span>
            <% end %>
          </li>-->
        </ul>
      </li>

<!-- lang-->
      <li class="dropup">

        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <span class="idioma"><%= t('lang.title') %></span>
          <i class="icon-angle-up"></i>
        </div>  
          <ul class="dropdown-menu">
            <% for locale in (I18n.available_locales) -%> 
             <li class="">
                <%= link_to image_tag("flags/" + locale.to_s + ".png", :title=>locale.to_s, :class=> "") + " " + t(:language_name, :locale => locale.to_s), session_locale_path(:new_locale => locale.to_s), :method => :post, :remote => false %>
              </li>
            <% end %>
          </ul>
      </li>
<!-- contact-->
      <li>
         <%=mail_to('virtual.science.hub@gmail.com', t('contact.footer'), :encode => :javascript, :class=> "style_link_footer") %>
      </li>
<!-- social-->
      <li class="social-img">
        <%= link_to image_tag("footer/facebook-logo.png",  :class=> "social-img" ), "https://www.facebook.com/VirtualScienceHub", :target=> "_blank" %>
        <%= link_to image_tag("footer/twitter-logo.png",  :class=> "social-img " ), "https://twitter.com/ViSH_portal", :target=> "_blank" %>
      </li>
<!-- global-->
      <li>
        <%= link_to image_tag("footer/global.png",  :class=> "imgnoradio" ), "http://www.globalexcursion-project.eu", :target=> "_blank"  %>
      </li>


    </ul>
  </nav>
</footer>
