<footer class="container-fluid">
  <nav class="footercontent">
    <ul>
      <li>
        <%= t('conditions.other') %>
      </li>

      <li>
         <%= t('help') %>
      </li>

      <li class="btn-group dropup">
        <button data-toggle="dropdown" class="btn dropdown-toggle">
          <span class="idioma">
            <%= t('lang.title') %>
          </span>
          <span class="caret"></span>
        </button>     
      </li>

      <li>
         user manual 
      </li>

      <li>
         contact 
      </li>

      <li class="social-img">
        <%= link_to image_tag("footer/facebook-logo.png",  :class=> "social-img" ), "https://www.facebook.com/VirtualScienceHub", :target=> "_blank" %>
        <%= link_to image_tag("footer/twitter-logo.png",  :class=> "social-img " ), "https://twitter.com/ViSH_portal", :target=> "_blank" %>
      </li>

      <li>
        <%= link_to image_tag("footer/global.png",  :class=> "imgnoradio" ), "http://www.globalexcursion-project.eu", :target=> "_blank"  %>
      </li>

    </ul>
  </nav>
</footer>