<nav class="menu pagination-centered">
  <ul class="link_gray btn-group dropup">
    <li><%= t('site.name') %> &nbsp;©&nbsp;<%= Date.today.year %></li>
    <li><%= link_to t('conditions.other'), '/legal_notice', :target=>'_blank' %></li>
    <li><%= link_to t('help'), '/help' %></li>
    <li>
      <div class="btn-group dropup">
        <button data-toggle="dropdown" class="btn dropdown-toggle link_gray ">
          <span class="gray"><%=t('lang.title')%></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <% for locale in (I18n.available_locales) -%>
            <% next if locale.to_s == "pt" %>
            <li class="textonleft unmargin">
              <%= link_to image_tag("flags/" + locale.to_s + ".png", :title=>locale.to_s, :class=> "unborder") + " " + t(:language_name, :locale => locale.to_s), session_locale_path(:new_locale => locale.to_s), :method => :post, :remote => false %>
            </li>
          <% end -%>
        </ul>
      </div>
    </li>
  </ul>
</nav>
