<footer id="footer" class="container-fluid hidden-phone hidden-tablet">
  <nav class="footercontent">
    <ul class="ul-content">

      <!-- terms of use -->
      <li class="item_footer">
        <a class="style_link_footer" href="/legal_notice"><%= t('conditions.other') %></a>     
      </li>

      <!-- help -->
      <li class="dropup">
        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <span class="ddfootertitle"><%= t('help') %></span>
          <i class="icon-angle-up"></i>
        </div>  

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li>
            <a href="/overview">
              <i class="icon-question-sign"> </i>
              <span><%= t('overview_title') %></span>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
              <i class="icon-youtube-sign"> </i>
              <span><%= t('youtube') %></span>
            </a>
          </li>
          <li>
            <%= link_to user_manual_path do %>
              <i class='icon-download'> </i> 
              <span><%= t('help_manual')%>   </span>    
            <% end %>
          </li>
        </ul>
      </li>

      <!-- language -->
      <li class="dropup">
        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <% the_locale = I18n.locale.to_s %>
          <span class="ddfootertitle"><%=image_tag("flags/" + the_locale + ".png", :title=>the_locale, :class=> "")%><%=t('lang.title')%></span>
          <i class="icon-angle-up"></i>
        </div>  
          <ul class="dropdown-menu">
            <% for locale in (I18n.available_locales.map{|i| i.to_s}) -%> 
             <li class="">
                <%= link_to image_tag("flags/" + locale + ".png", :title=>locale, :class=> "") + " " + t(:language_name, :locale => locale), session_locale_path(:new_locale => locale), :method => :post, :remote => false %>
              </li>
            <% end %>
          </ul>
      </li>

      <!-- about -->
      <li class="dropup">
        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <span class="ddfootertitle"><%= t('about.title') %></span>
          <i class="icon-angle-up"></i>
        </div>  

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li>
            <a href="mailto:virtual.science.hub@gmail.com">
              <i class="icon-envelope-alt"> </i>
              <span><%= t('about.contact') %></span>
            </a>
          </li>
          <li>
            <a href="http://vishub.wordpress.com" target="_blank">
              <i class="icon-microphone"> </i>
              <span><%= t('about.blog') %></span>
            </a>
          </li>
          <li>
            <a href="http://github.com/ging/vish" target="_blank">
              <i class="icon-archive"> </i>
              <span><%= t('about.code') %></span>
            </a>
          </li>
          <li>
            <a href="<%= (I18n.locale.to_s=="es") ? 'https://docs.google.com/forms/d/1AO5MN_r3n-hsGQuok6HKWhUSPjMnFQvYxuOB88S32yA/viewform' : 'https://docs.google.com/forms/d/1uEQI1BzPtEOyh-QuOaw9WzqHcYZtlMqkIceybrP40YQ/viewform'%>" target="_blank">
              <i class="icon-smile"> </i>
              <span><%= t('about.survey') %></span>
            </a>
          </li>
        </ul>
      </li>

      <!-- social-->
      <li class="social-img">
        <%= link_to image_tag("footer/facebook-logo.png",  :class=> "social-img" ), "https://www.facebook.com/VirtualScienceHub", :target=> "_blank" %>
        <%= link_to image_tag("footer/twitter-logo.png",  :class=> "social-img " ), "https://twitter.com/ViSH_portal", :target=> "_blank" %>
      </li>

      <!-- global excursion -->
      <li>
        <%= link_to image_tag("footer/global.png",  :class=> "imgnoradio" ), "http://www.globalexcursion-project.eu", :target=> "_blank"  %>
      </li>

    </ul>
  </nav>
</footer>
