<nav class="menu">
  <ul class="link_gray pagination-centered">
    <li><%= t('site.name') %> &nbsp;©&nbsp;<%= Date.today.year %></li>
    <li><%= link_to t('conditions'), new_user_password_path %></li>
    <li><%= link_to t('help'), new_user_password_path %></li>
    <li><%= link_to t('lang.title'), new_user_password_path %></li>
  </ul>
</nav>
