<footer class="container-fluid">
  <ul>
<!-- legal notice-->
      <li class="item_footer">
        <%= link_to t('conditions.other'), '/legal_notice', :class => "btn btn-default" %>
      </li>
<!-- legal notice-->

      <li class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="idioma"><%= t('help') %></span>
          <i class="fa fa-angle-up"></i>
        </button>  
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li class="">
            <a href="/overview">
              <i class="icon-question-sign"> </i>
              <span><%= t('overview_title') %></span>
            </a>
          </li>
          <li class="">
            <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
              <i class="icon-youtube-sign"> </i>
              <span><%= t('youtube') %></span>
            </a>
          </li>
          <!--<li class="">
            <%= link_to faq_path do %>
              <i class="icon-question-sign"> </i> 
              <span><%=t('faq.title')%></span>
            <% end %>
          </li>-->
          <li class="">
            <%= link_to user_manual_path do %>
              <i class='icon-download'> </i> 
              <span><%= t('help_manual')%>   </span>    
            <% end %>
          </li>
          <!--<li class="">
            <%= link_to help_path do %>
              <i class="icon-question-sign"> </i> 
              <span><%=t('help_page')%></span>
            <% end %>
          </li>-->
        </ul>
      </li>

<!-- lang-->
      <li class="btn-group dropup">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <% the_locale = current_user ? current_user.language : I18n.locale %>
          <span class="idioma"><%=image_tag("flags/" + the_locale.to_s + ".png", :title=>the_locale.to_s, :class=> "")%><%= t('lang.title') %></span>
          <i class="fa fa-angle-up"></i>
        </button>  
          <ul class="dropdown-menu">
            <% for locale in (I18n.available_locales) -%> 
             <li class="">
                <%= link_to image_tag("flags/" + locale.to_s + ".png", :title=>locale.to_s, :class=> "") + " " + t(:language_name, :locale => locale.to_s), session_locale_path(:new_locale => locale.to_s), :method => :post, :remote => false %>
              </li>
            <% end %>
          </ul>
      </li>
<!-- contact-->
      <li>
         <%=mail_to('virtual.science.hub@gmail.com', t('contact.footer'), :encode => :javascript, :class=> "btn btn-default") %>
      </li>
<!-- social-->
      <li class="social">
          <a href="https://www.facebook.com/VirtualScienceHub" class="btn btn-default" target="_blank"><i alt="Facebook-logo" class="social-img fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/ViSH_portal" class="btn btn-default" target="_blank"><i alt="Twitter-logo" class="social-img fa fa-twitter"></i>
          </a>
        </li>

<!-- global-->
      <li class="global">
        <%= link_to image_tag("footer/global.png",  :class=> "btn btn-default" ), "http://www.globalexcursion-project.eu", :target=> "_blank"  %>
      </li>


    </ul>
  </nav>
</footer>
