<head>
  <meta charset="utf-8">
  <title><%= yield(:title).empty? ? t('site.name') : yield(:title) %></title>
  <meta name="keywords" content="<%= yield(:keywords).empty? ? t('profile.tags.default') : yield(:keywords) %>">
  <meta name="description" content="<%= yield(:description).empty? ? "Home" : yield(:description) %>">
  <meta name="generator" content="SocialStream" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <%= favicon_link_tag "icons/favicon.ico" %>
  <%= stylesheet_link_tag "mobile/bootstrap" %>
  <%= stylesheet_link_tag "mobile/bootstrap-responsive" %>
  <%= stylesheet_link_tag "mobile/bootstrap" %>
  <%= stylesheet_link_tag "mobile/search" %>
  <%= stylesheet_link_tag "mobile/docs" %>
  <%= stylesheet_link_tag "mobile/tags" %>
  <%= stylesheet_link_tag "mobile/application" %>
  <%= stylesheet_link_tag "mobile/jquery.selectbox" %>
  <%= stylesheet_link_tag "mobile/mobile" %>
  <%= stylesheet_link_tag "mobile/button" %>
  <%= stylesheet_link_tag "vish/base/icons" %>
  <%= javascript_include_tag "application" %>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

  <% if protect_against_forgery? %>
    <%= csrf_meta_tag %>
  <% end %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    $(document).ready(function() {
      <%= yield :javascript%>
    });
  </script>
  <%= yield :headers %>
  <%= render :partial => 'layouts/google_analytics' %>
  <%= render :partial => 'layouts/mixpanel' %>
    
</head>
