<div id="graphic_identity">
  <div class="logo-home">
    <%= link_to(image_tag('corporative/logo.png', :alt => t('site.name')), '/', :class => "brand "); %>
  </div>
  <div class="site-name">
    <%= link_to(t('site.name'), '/', :class => "brand"); %>
  </div>
</div>
  <% unless params[:controller].eql? 'devise/sessions' and params[:action].eql? 'new' %>
<div id="headerfront">
  <%= form_for User.new, :as => :user, :url => user_session_path do |f| -%>
  <div class="Sign-up">
    <%= f.email_field :email, :id => "username" %>
    <%= f.password_field :password, :id => "password"  %>
  </div>
  <%= f.submit t(:sign_in), :class => 'btn btn-primary storePassz '%>
  <% unless controller.class == SearchController %>
  <%= render :partial => 'layouts/search', :locals => { :sizeFieldSearch => "input-searchlarge" ,  } %>
  <% end %>
<div class="text_link_gray">
  <%= link_to t('forgot_password'), new_user_password_path %>
</div>

<div class="link_gray pagination-right  ">
  <%= link_to t('sign_up'), new_user_registration_path %>
</div>

      <% end -%>
</div>
  <% end %>
  <%= javascript_tag do %>
    $(function() {
    if ("placeholder" in document.createElement("input")) {
    $("#username").attr('placeholder', I18n.t('activerecord.attributes.user.email'));
    } else {
    $("#username").watermark(I18n.t('activerecord.attributes.user.email'),"#666");
    }
    $("#password").watermark(I18n.t('activerecord.attributes.user.password'),"#666");
    });
  <% end %>

<div id="flash">
  <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
</div>

