<div class="row">
  <div class="span6">
    <%= link_to(image_tag('logo.png', :alt => t('site.name')), '/', :class => "brand inline-block"); %>
    <span class="inline-block link_gray"><h2><%= link_to(t('site.name'), '/', :class => "brand"); %></h2></span>
  </div>
  <div class="span6">
    <% if user_signed_in? %>
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <%= link_to(raw("<i class='icon-user'></i> ") +  truncate_name(current_subject.name, :length => 15), current_subject, :class => "btn") %>
          <%= link_to(image_tag('home.png'), root_path, :class => "btn") %>
          <%= link_to(image_tag('message.png') +
                        raw(" (<span id='header_inbox_count'>") + current_subject.unread_messages_count.to_s +
                        raw("</span>)"), messages_path, :class => "btn") %>
          <%= link_to(image_tag('followers.png'), followings_path, :class => "btn") %>
          <%= link_to(image_tag('notification.png') + "(" +
                        current_subject.mailbox.notifications.not_trashed.unread.count.to_s + ")",
                      notifications_path, :class => "btn") %>
        </div>
        <%= render :partial => 'layouts/header_dropdown_menu' %>
      </div>
    <% end %>
    <div id="header_search" class="pagination-right">
      <%= render :partial => 'layouts/search', :locals => { :sizeFieldSearch => "input-large" } %>
    </div>
  </div>
</div>
