<header class="header navbar-fixed-top">
    <div class="container-fluid">

      <div class="corporatelogo">
        <%= link_to(image_tag('logo/logo.png', :alt => t('site.name')), '/', :class => ""); %>
      </div>

      <div class="corporatelogo_signedin">
        <div class="btn-group">
      <%= link_to(raw("<i class='iconnav-home'></i> "), excursions_path, :class => "btn-header tooltip-header", :title => t('navigation.home'), :rel => 'tooltip') %>
      <%= link_to(raw("<i class='iconnav-message" + (current_subject.unread_messages_count > 0 ? " iconnav-notification_message" : "") + "'></i> "), messages_path, :class => "btn-header tooltip-header", :title => current_subject.unread_messages_count.to_s + t('message.unread'), :rel => 'tooltip') %>
      <%= link_to(raw("<i class='iconnav-followers'></i> "),
                        followings_path,
                        :class => "btn-header tooltip-header",
                        :title => current_subject.followers.count.to_s + ' ' + t('follow.followers') + ' / ' + current_subject.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings'),
                        :rel => 'tooltip') %>
      <%= link_to(raw("<i class='iconnav-myroom'></i> "), excursions_path, :class => "btn-header tooltip-header", :title => t('navigation.home'), :rel => 'tooltip') %>
      <%= link_to(raw("<i class='iconnav-quiz'></i> "), excursions_path, :class => "btn-header tooltip-header", :title => t('navigation.home'), :rel => 'tooltip') %>

      <% unless QuizSession.where(:owner_id => Actor.normalize_id(current_user)).blank? %>
      <%= link_to(raw("<i class='iconnav-quiz'></i> "), quiz_sessions_path, :class => "btn-header tooltip-header", :title => t('quiz.other'), :rel => 'tooltip') %>
      <% end %>
      <%= render :partial => 'layouts/header_dropdown_menu' %>
    </div>
      </div>

      <div class="navbarbrowse">
      <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">Browse
             <b class="caret"></b>
            </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="#">Popular</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Excursions</a></li>
            <li><a tabindex="-1" href="#">Categories</a></li>
            <li><a tabindex="-1" href="#">Events</a></li>
            <li><a tabindex="-1" href="#">Resources</a></li>
            
          </ul>
        </li>
      </div>

      <div class="navbarsearch">
        <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>

      <div class="profile-toolbar">
      <%= link_to(image_tag(current_subject.logo.url, :size => "25x25", :alt => current_subject.name, :class => "img-header"), current_subject, :class => "img-header") %>
      <%= link_to(truncate_name(current_subject.name, :length => 20), current_subject, :class => "name-user") %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <div class="profile-options dropdown"><b class="caret">
        </b>
        </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">Profile</a></li>
            <li><a tabindex="-1" href="#">Excursions</a></li>
            <li><a tabindex="-1" href="#">Categories</a></li>
            <li><a tabindex="-1" href="#">Events</a></li>
            <li><a tabindex="-1" href="#">Resources</a></li>
            <li><a tabindex="-1" href="#">Settings</a></li>
            <li><a tabindex="-1" href="#">Account</a></li>
            <li class="divider"></li>
            <li><%=link_to(t('sign_out'), destroy_user_session_path, :method => :delete) %></li>
          </ul>
      </a>
      </div>


      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <div class="add-toolbar dropdown">
        <i class="icontool16-tool16_add"></i>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="#">Add Excursion</a></li>
            <li><a tabindex="-1" href="#">Add Category</a></li>
            <li><a tabindex="-1" href="#">Add Event</a></li>
            <li><a tabindex="-1" href="#">Add Resource</a></li>
          </ul>
      </div></a>
    </div>
</header>