<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!--logo-->
      <div class="brand">
        <%= link_to(image_tag('logo/brand.png', :alt => t('site.name')), '/', :class => "logo"); %>
        <div id="fittext2" class=" vish-name hidden-phone"><%=t("site.current.title")%></div>
      </div>


      <div class="nav-collapse collapse">
        <!-- FIXME: search javascript functionality in 'layouts/search' -->
        <!--search web-->
        <li class="navegation  hidden-phone">
          <%= render partial: 'layouts/basic_navegation' %>
          <%= render partial: 'layouts/uisearch_header' %>
        </li>

        <!--search mobile-->
        <li class="navegation hidden-tablet hidden-desktop visible-phone ">
          <%= render partial: 'layouts/basic_navegation' %>
          <%= render partial: 'layouts/search_mobile' %>
        </li>

        <!--browse-->
        <%= render partial: 'layouts/browse_header' %>
        
        <!--login-->
        <ul class="nav user-tool">
      <li>
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-plus"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            <li>
              <%= link_to new_excursion_path do %>
              <i class="icon-list-alt"></i> <%= t('excursion.actions.add') %>
              <% end %>
            </li>
            <li><a href="#AddCategory" data-toggle="modal"><i class="icon-th-large"></i> <%=t('categories.actions.add')%></a></li>
            <li><a href="#AddResource" data-toggle="modal"><i class="icon-file"></i> <%=t('resource.actions.add')%></a></li>
          </ul>
        </div>
      </li>
      
        <li class ="user-settings">
        <%= link_to current_subject do %>

          <a data-toggle="dropdown" href="#" class="logo-small">
            <%= image_tag current_subject.logo.url(:small) %>
            <span class="name hidden-phone"><%= truncate_name(current_subject.name, length: 15) %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            <li class="settings-menu">
              <%= link_to current_subject do %>
                <i class="icon-user"></i>
                <%= t('profile.one') %>
              <% end %>
            </li>
            <li class="settings-menu">
              <%= link_to settings_path do %>
                <i class="icon-cog"></i>
                <%= t('dropdown.settings') %>
              <% end %>
            </li>
            <li class="settings-menu">
              <%= link_to quiz_sessions_path do %>
                <i class="icon-puzzle-piece"></i>
                <%= t('quiz_sessions') %>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="icon-signout"></i>
                <%= t('sign_out') %>
              <% end %>
            </li>
          </ul>
        <% end %>
        </li>
      
      <li> 
        <%#= render partial: 'layouts/header_dropdown_menu' %>
      </li>
      <!-- carga de modales -->
      <%= render partial: 'repositories/form' %>
      <%= render partial: 'categories/form' %>

    </ul>

      </div>
    </div>
  </div>
</header>


<script src="jquery.fittext.js"></script>
<script type="text/javascript">
$("#fittext2").fitText(0.96);
</script>





































