<header class="navbar">
  <nav class="navbar-inner">
    <div class="brand">
      <%= link_to(image_tag('logo/logo.png', :alt => t('site.name')), '/', :class => "logo"); %>
      <div class="vish-name">virtual science hub</div>
    </div>
    <!-- FIXME: search javascript functionality in 'layouts/search' -->
    <div class="navegation">
      
      <%= render partial: 'layouts/uisearch_header' %>
      <%= render partial: 'layouts/browse_header' %>
      
      
    </div>


   

  
  <div class="login dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Log In
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <%= form_for User.new, :as => :user, :url => user_session_path do |f| %>
        <%= f.email_field :email, :id => "username" %>
        <%= f.password_field :password, :id => "password"  %>
        <%= f.submit t(:sign_in), :class => ' btn btn-primary'%>
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>    
      <% end %>
      <%= javascript_tag do %>
        $(function() {
          if ("placeholder" in document.createElement("input")) {
            $("#username").attr('placeholder', I18n.t('activerecord.attributes.user.email'));
          } else {
            $("#username").watermark(I18n.t('activerecord.attributes.user.email'),"#666");
          }
          $("#password").watermark(I18n.t('activerecord.attributes.user.password'),"#666");
        });
      <% end %>
    </ul>
  </div>

  <a href="#"class="signin">
    Sign up
  </a>


</nav>
</header>