<% unless params[:controller].eql? 'devise/sessions' and params[:action].eql? 'new' %>
<div class="pull-right">
  <%= form_for User.new, :as => :user, :url => user_session_path do |f| -%>
    <div class="pagination-right">
      <%= f.email_field :email, :id => "username" %>
      <%= f.password_field :password, :id => "password"  %>
      <%= f.submit t(:sign_in), :class => 'other_blue storePass'%>
    </div>
  <div class="link_gray pagination-right span3 offset9">
    <%= link_to t('forgot_password'), new_user_password_path %>
  </div>

  <div class="pagination-right span3 offset9">
    <%= link_to t('sign_up'), new_user_registration_path %>
  </div>

  <% end -%>
</div>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $("#username").watermark(I18n.t('activerecord.attributes.user.email'),"#666");
    $("#password").watermark(I18n.t('activerecord.attributes.user.password'),"#666");
  });
<% end %>
