<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
     <a href="/">
        <img src="/assets/logo.png"  class="pull-left" width="120" height="36" alt="vish logo mobile">
      </a>


      <form class="navbar-search pull-rigth" action="<%=search_path%>" method="get">
        <input type="text" class="search-query" placeholder="Search">
      </form>
   
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div style="height: 0px;" class="nav-collapse collapse in">
        <hr class="soften"/>
          <ul class="nav">
            <li class="size20 active"><%= link_to current_user.name, current_user%></li>
            <li><a href="/home"><%= t('home') %></a></li>
            <li><a href="/followers"><%= current_subject.followers.count.to_s + ' ' + t('follow.followers') %></a></li>
            <li><a href="/followings"><%= current_user.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings') %></a></li>
            <!-- <li><a href="/messages"><%#= t('messages') %></a></li> -->
            <li class="active"><a href="#"><%= t('settings.one') %></a></li>
            <li><a href="/help"><%= t('help').capitalize %></a></li>
            <li class="active"><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %></li>
          </ul>
          <div class="space"></div>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown foo">
              <ul>
                <li><a href="#">Languaje</a></li>
                <li><%= link_to t('conditions.check_message_1'), '/legal_notice', :target=>'_blank' %></li>
                <li class="divider"></li>
                <li>Virtual Science Hub &copy; 2012</li>
              </ul>
            </li>
          </ul>
        <div class="space"></div>
      </div>
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->


