<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <form class="navbar-search pull-rigth" action="<%=search_path%>" method="get">
        <input type="text" class="search-query" placeholder="Search">
      </form>
      </a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
          <li class="">
            <a href="/">
              <img src="/assets/corporative/logo.png"  class="imgnoradio " width="150" >
            </a>
                      <li class="active"><%= link_to current_user.name, current_user%></li>
            <li><a href="/home"><%= t('home') %></a></li>
            <li><a href="/followers"><%= current_subject.followers.count.to_s + ' ' + t('follow.followers') %></a></li>
            <li><a href="/followings"><%= current_user.following_actor_objects.includes(:actor).count.to_s + ' ' + t('follow.followings') %></a></li>
            <!-- <li><a href="/messages"><%#= t('messages') %></a></li> -->
            <li class="active"><a href="#"><%= t('settings.one') %></a></li>
            <li><a href="/help"><%= t('help').capitalize %></a></li>
            <li class="active"><%= link_to t('sign_out'), destroy_user_session_path, :method => :delete %></li>
            <li>
              <%= t('lang.title') %>

                <% for locale in (I18n.available_locales) -%>
                  <% next if locale.to_s != "en" and locale.to_s != "es" %>
                
                  <%= link_to image_tag("flags/" + locale.to_s + ".png", :title => locale.to_s, :class => "unborder") + " " + t(:language_name, :locale => locale.to_s), session_locale_path(:new_locale => locale.to_s), :method => :post, :remote => false %>
                
                <% end -%>
            </li>
            <li><%= link_to t('conditions.other'), '/legal_notice', :target => '_blank' %></li>
            <li class="divider"></li>
            <li>Virtual Science Hub &copy; 2012</li>
        </ul>        
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->
