<ul class="nav">

<!--search-->
  <li class="search-mobile">
    <%= render partial: 'layouts/search_mobile' %>
  </li>
<!--user-->
  <li class="user">
    <%= link_to current_subject do %>
      <%= image_tag current_subject.logo.url(:small) %>
      <%= truncate_name(current_subject.name, length: 22) %>
    <% end %>
  </li>
<!--message-->
  <li class="">
    <%= link_to messages_path do %>
      <i class="icon-envelope"></i>
      <%= t('message.messages') %>
    <% end %>
  </li>
<!--settings-->
  <li class="">
    <%= link_to activities_path do %>
      <i class='icon-globe'></i> 
      <%= t('notification.notifications') %>
    <% end %>
  </li>
<!--quiz-->
  <li class="">
    <%= link_to quiz_sessions_path do %>
    <i class="icon-puzzle-piece"></i>
    <%= t('quiz_sessions') %>
    <% end %>
  </li>



<!--profile-->
  <!--li class="settings-menu">
    <%= link_to current_subject do %>
    <i class="icon-user"></i>
    <%= t('profile.one') %>
    <% end %>
  </li-->

  <li class="settings-menu">
    <%= link_to settings_path do %>
    <i class="icon-cog"></i>
    <%= t('dropdown.settings') %>
    <% end %>
  </li>


  <!--lang-->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-flag-checkered"></i>
      <%= t('lang.title') %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <% for locale in (I18n.available_locales) -%> 
       <li class="">
          <%= link_to image_tag("flags/" + locale.to_s + ".png", :title=>locale.to_s, :class=> "") + " " + t(:language_name, :locale => locale.to_s), session_locale_path(:new_locale => locale.to_s), :method => :post, :remote => false %>
        </li>
      <% end %>
    </ul>
  </li>
<!--legal_notice-->
  <li>
    <a href="/legal_notice">
      <i class="icon-legal"></i>
      <%= t('conditions.other') %>
    </a>     
  </li>
<!--manual-->


  <li>
    <%= link_to faq_path do %>
      <i class="icon-question-sign"> </i> <%=t('faq.title')%>
    <% end %>
  </li>

<!--sign out-->
  <li class="active">
    <%= link_to destroy_user_session_path, :method => :delete do %>
    <i class="icon-signout"></i>
    <%= t('sign_out') %>
    <% end %>
  </li>


</ul>