<% unless params[:controller].eql? 'devise/sessions' and params[:action].eql? 'new' %>

<nav class="navbar">
  <div id="headerfront">
    <%= form_for User.new, :as => :user, :url => user_session_path do |f| -%>
    <div class="Sign-up">
      <%= f.email_field :email, :id => "username", :placeholder => "username" %>
      <%= f.password_field :password, :id => "password", :placeholder => "password"  %>
    
      
    </div>
    <%= f.submit t(:sign_in), :class => 'btn btn-primary storePass '%>

      <%= link_to t('forgot_password'), new_user_password_path%>
      </br>
      <%= link_to t('sign_up'), new_user_registration_path%>
      <% end -%>

      <%= javascript_tag do %>
        $(function() {
          if ("placeholder" in document.createElement("input")) {
            $("#username").attr('placeholder', I18n.t('activerecord.attributes.user.email'));
          } else {
            $("#username").watermark(I18n.t('activerecord.attributes.user.email'),"#666");
          }
          $("#password").watermark(I18n.t('activerecord.attributes.user.password'),"#666");
        });
      <% end %>
    <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
  </div>

</nav>
<% end %>
