<% unless params[:controller].eql? 'devise/sessions' and params[:action].eql? 'new' %>
<div class="login">
  <%= form_for User.new, :as => :user, :url => user_session_path do |f| -%>
    <div class="login">
      <%= f.email_field :email, :id => "username" %>
      <%= f.password_field :password, :id => "password"  %>
      <%= f.submit t(:sign_in), :class => 'other_blue storePass'%>
    </div>
  <div class="link_gray">
    <%= link_to t('forgot_password'), new_user_password_path %>
  </div>
  <div class="login">
    <%= link_to t('sign_up'), new_user_registration_path %>
  </div>
  <% end -%>
</div>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $("#username").Watermark("<%= I18n.t('username') %>","#666");
    $("#password").Watermark("<%= I18n.t('password') %>","#666");
  });
<% end %>