<div class="btn-group order_by_selector">
  <span>
    <%= t('order_by.title') %>
  </span>
  <a href="#" class="btn btn-default btn-xs dropdown-toggle dropdownMenuOrdBy" type="button" id="" data-toggle="dropdown">
    <i class="fa fa-desktop"> <%= t('order_by.popularity') %></i>
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
    <li>
        <a href="<%=home_path(:sort_by=>"popularity")%>" sort-by-key='popularity'> 
          <i class="fa fa-dashboard"></i>
          <%= t('order_by.popularity') %>
        </a>
    </li>
    <li>
      <a href="<%=home_path(:sort_by=>"updated_at")%>" sort-by-key='updated_at'>
        <i class="fa fa-pencil"></i>
        <%= t('order_by.updated_at') %>
      </a>
    </li>
    <li>
      <a href="<%=home_path(:sort_by=>"created_at")%>" sort-by-key='created_at'>
        <i class="fa fa-bolt"></i>
        <%= t('order_by.created_at') %>
      </a>
    </li>
    <li>
        <a href="<%=home_path(:sort_by=>"visits")%>" sort-by-key='visits'>
          <i class="fa fa-eye"></i> 
          <%= t('order_by.visits') %>
        </a>
    </li>
    <li>
        <a href="<%=home_path(:sort_by=>"favorites")%>" sort-by-key='favorites'>
          <i class="fa fa-star"></i> 
          <%= t('order_by.favorites') %>
        </a>
    </li>
  </ul>

</div>


<%= content_for :javascript do %>
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
  });
  
  var param = "<%=params[:sort_by]%>";

  if(param && param!=""){
    var value = $(".order_by_selector .dropdown-menu [sort-by-key="+param+"]").html();
    $(".dropdownMenuOrdBy").html(value + '<i class="fa fa-angle-down"></i>'); 
  }

  
<%end%>