<div class="dropdown" id="">
  <%=t('order_by.title')%>
  <a href="#" class="btn btn-default dropdown-toggle sr-only dropdownMenuOrdBy" type="button" id="" data-toggle="dropdown">
    <i class="fa fa-desktop"> <%=t('order_by.popularity')%></i>
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
        <a href="<%=home_path(:sort_by=>"popularity")%>" sort-by-key='popularity'> 
          <i class="fa fa-dashboard"></i>
          <span><%=t('order_by.popularity')%> </span>
        </a>
    </li>
    <li>
      <a href="<%=home_path(:sort_by=>"updated_at")%>" sort-by-key='updated_at'>
        <i class="fa fa-pencil"></i>
        <span><%=t('order_by.updated_at')%> </span>
      </a>
    </li>
    <li>
      <a href="<%=home_path(:sort_by=>"created_at")%>" sort-by-key='created_at'>
        <i class="fa fa-bolt"></i>
        <span><%=t('order_by.created_at')%> </span>
      </a>
    </li>
    <li>
        <a href="<%=home_path(:sort_by=>"visits")%>" sort-by-key='visits'>
          <i class="fa fa-eye"></i> 
          <span><%=t('order_by.visits')%> </span>
        </a>
    </li>
    <li>
        <a href="<%=home_path(:sort_by=>"favorites")%>" sort-by-key='favorites'>
          <i class="fa fa-star"></i> 
          <span><%=t('order_by.favorites')%> </span>
        </a>
    </li>
  </ul>

</div>


<%= content_for :javascript do %>
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
  });
  
  var param = "<%=params[:sort_by]%>";

  if(param && param!=""){
    var value = $(".order_by_selector .dropdown-menu [sort-by-key="+param+"]").html();
    $(".dropdownMenuOrdBy").html(value + '<i class="fa fa-angle-down"></i>'); 
  }

  
<%end%>