<div class="box-search">
  <div id="sb-search" class="sb-search search-nav">
    <%= form_tag search_path, method: 'get', class: "navbar-search " do %>
      <%= text_field_tag :q, nil, autocomplete: :off, class: 'search-query sb-search-input ', id: 'search', placeholder: t('search.name'), "data-min_query" => SocialStream::Search::MIN_QUERY %>
      <input class="sb-search-submit" type="submit" value="">
      <span class="sb-icon-search"><i class="icon-search"></i></span>
      <% end %>
      <%= javascript_tag do %>
        $(function() {
        SocialStream.SearchHeader.show();
        });
      <% end %>


      <div class="mat">
          <%= render partial: 'layouts/loading' %>

          <div class="query_too_short">
            <%= t 'search.at_least', count: SocialStream::Search::MIN_QUERY %>
          </div>

          <div class="no_results">
            <%= t 'search.nothing' %>
          </div>

          <div class="results">
          </div>
        </div>



  </div>
</div>
<script>
  new UISearch( document.getElementById( 'sb-search' ) );
</script>

