<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
  <meta charset="utf-8">
  <title><%= yield(:title).empty? ? t('site.current.title') : yield(:title) %></title>
  <meta name="keywords" content="<%= yield(:keywords).empty? ? t('site.current.keywords') : yield(:keywords) %>">
  <meta name="description" content="<%= yield(:description).empty? ? t('site.current.description') : yield(:description) %>">
  <meta name="generator" content="SocialStream" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:site_name" content="ViSH">
  <meta property="og:title" content="<%= yield(:title) %>">
  <meta property="og:type" content="<%= yield(:og_type) %>">
  <meta property="og:url" content="<%= yield(:og_url) %>">
  <meta property="og:image" content="<%= yield(:og_image) %>">
  <meta property="og:description" content="<%= yield(:description) %>">
  <meta property="fb:admins" content="824343515" />
  <meta property="fb:app_id" content="629612437058744" /> 

  <%= favicon_link_tag "icons/favicon.ico" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
          var CKEDITOR_BASEPATH = '/assets/ckeditor/';
        </script>
  <%= javascript_include_tag "ckeditor/ckeditor" %>

  <% if protect_against_forgery? %>
  <%= csrf_meta_tag %>
  <% end %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>

  <script type="text/javascript">
    $(document).ready(function() {  
      //setTimeout(function(){ $("#flash .alert").hide("slow") }, 5000);
      //code to hide the help popovers when clicking outside
      $('body').on('click', function (e) {
              if ($(".popover").is(":visible") && !$(e.target).parents(".helpbutton").size()>0) {
                  $(".helppopover").popover('hide');
              }
      });

      <%= yield :javascript%>


//Specified CKEditor configuration
var config = {};


//Select the features of the toolbar
config.toolbar = 'Full';
config.toolbar_Full =
[
  { name: 'first', items : ['Bold','Italic','Underline','-','Subscript','Superscript','Font','FontSize','TextColor','BGColor'] },
  '/',
  { name: 'lists', items : ['NumberedList','BulletedList','Table'] },
  { name: 'alignment', items : ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'] },
  { name: 'link', items : ['Link'] },
  { name: 'Objects', items : ['Image','MediaEmbed'] },
  { name: 'symbols', items : ['SpecialChar'] }
];

//Disable toolbar expansion
config.toolbarCanCollapse = false;
//Disable resizing
config.resize_enabled = false;
//Disable bottom tags
config.removePlugins = 'elementspath';
//Enable table resize and autogrow
config.extraPlugins = 'tableresize,autogrow,specialchar,mediaembed';


  config.autoGrow_minHeight = 34;
  config.autoGrow_maxHeight = 800;

//Fit the current area
config.width = '100%';
//The height value defines the height of CKEditor editing area and can be given in pixels or em. Percent values are not supported. 
//http://docs.cksource.com/CKEditor_3.x/Howto/Editor_Size_On_The_Fly
config.height = "300px";

//Toolbar defaults
config.fontSize_defaultLabel = '12';


//Apply vEditor skin
var ckeditorBasePath = CKEDITOR.basePath.substr(0, CKEDITOR.basePath.indexOf("editor/"));
console.log("ckeditorBasePath: " + CKEDITOR.basePath);
config.skin = 'vEditor,' + CKEDITOR.basePath + '/skins/vEditor/';
      //Add ckeditor wysiwyg instance
var ckeditor = CKEDITOR.replace("new_file_only_writing_fulltext",config);


      
    });
  </script>
  <%= yield :headers %>
  <%= render :partial => 'layouts/google_analytics' %>
  <%= render :partial => 'layouts/uservoice' %>

</head>
<body>
<%= render partial: 'layouts/header_warning' %>
  <div id="wrap">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=629612437058744";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <%= render :partial => "layouts/header" %>
    <div class="wrapper">      
      <%= flashy %>
      <%= yield %>
    </div>  
    <div class="push">  </div>   
  </div>
  <%= render :partial => "layouts/footer" %>
  <%= render :partial => "layouts/crazyegg" %>

</body>
</html>