<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
  <header id="headerFront">
    <%= render :partial => "layouts/header" %>
  </header>

  <div id="wrapper_body">
    <section id= "center_body">
      <div id="map_location">
        <%= yield :location %>
      </div>
      <div id="flash">
        <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
      </div>
      <section id="content">
        <%= yield %>
      </section>
    </section>
    <section id="sidebar">
      <div id="sidebarContent">
        <%= yield :sidebar %>
      </div>
    </section>
  </div>

  <footer>
    <%= render :partial => "layouts/footer" %>
  </footer>
</body>
</html>
