<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
  <div class="wrapper">

      <section class="container">
        <header class="header">
          <%= render :partial => "layouts/header_frontpage" %>
        </header>
        <article class="flash">
          <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
        </article>
        <article class="agrupation-search-frontpage">
          <%= yield %>
        </article>
    </section>
    
    <section id="top" class="white"> 
      <div class="container">
        <div class="top-10">
          <%=t('top10')%>
        </div>
          <% self.class.send :include, FrontpageHelper  %>
          <% for excursion in current_top_actor_excursions %>
          <%= render :partial => "excursions/top10",:locals => { :excursion => excursion} %>
          <% end %>
      </div>
    </section> 

    <section class="container"> 
      <%= render :partial => "news/index" , :locals => {extra_class: "frontpage_announce"} %>
    </section> 

    <div class="push"></div> 
  
  </div>
  <footer class="footer">
    <%= render :partial => "layouts/footer" %>
  </footer> 
</body>
</html>
