<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= yield(:title).empty? ? t('site.name') : yield(:title) %></title>
  <meta name="keywords" content="<%= yield(:keywords).empty? ? t('profile.tags.default') : yield(:keywords) %>">
  <meta name="description" content="<%= yield(:description).empty? ? "Home" : yield(:description) %>">
  <meta name="generator" content="SocialStream" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "icons/favicon.ico" %>


  <% if protect_against_forgery? %>
    <%= csrf_meta_tag %>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function() {
      <%= yield :javascript%>
    });
  </script>
  <%= yield :headers %>
</head>
<body>
  <header id="headerFront">
    <%= render :partial => "layouts/header" %>
  </header>

  <section id="main">
      <div class="space_double_center"></div>
      <div id="flash">
        <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
      </div>
      <%= yield %>
    </div>
  </section>

  <section id="top">
    <div id="top10"><%=t('top10')%></div>
    <div class="excursions">
      <div >excursions-image</div>
      <div >excursion-name</div>
    </div>
  </section>

  <footer>
    <%= render :partial => "layouts/footer" %>
  </footer>
</body>
</html>
