<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title).empty? ? t('site.current.title') : yield(:title) %></title>
    <meta name="keywords" content="<%= yield(:keywords).empty? ? t('site.current.keywords') : yield(:keywords) %>">
    <meta name="description" content="<%= yield(:description).empty? ? t('site.current.description') : yield(:description) %>">
    <meta name="generator" content="SocialStream" />
    <!--meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" /-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta property="og:site_name" content="ViSH">
    <meta property="og:title" content="<%= yield(:title) %>">
    <meta property="og:type" content="<%= yield(:og_type) %>">
    <meta property="og:url" content="<%= yield(:og_url) %>">
    <meta property="og:image" content="<%= yield(:og_image) %>">
    <meta property="og:description" content="<%= yield(:description) %>">
    <meta property="fb:admins" content="824343515" />
    <meta property="fb:app_id" content="629612437058744" /> 
    
    <%= favicon_link_tag "icons/favicon.ico" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

    <% if protect_against_forgery? %>
      <%= csrf_meta_tag %>
    <% end %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    
    <script type="text/javascript">
      $(document).ready(function() {  
        setTimeout(function(){ $("#flash .alert").hide("slow") }, 5000);

        <%= yield :javascript%>
      });
    </script>
    <%= yield :headers %>
    <%= render :partial => 'layouts/google_analytics' %>
    <%= render :partial => 'layouts/uservoice' %>
      
  </head>
  <body>
    <div id="wrap">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=629612437058744";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
   
      <%= render :partial => "layouts/header" %>
      <%= flashy %>

      <div class="container-fluid">
          <%= render :partial => "frontpage/welcome" %>
      </div>

      <div class="container_carousel">
          <%= render :partial => "frontpage/explanation" %>
      </div>
          
      <div class="wrapper container-fluid">
        <%= yield %>
  
      </div>  
    </div>
    <div id="footer">
      <%= render :partial => "layouts/footer" %>
    </div>
    <%= render :partial => "layouts/crazyegg" %>
  </body>
</html>
