<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" class="tr-coretext tr-aa-subpixel">
<head>
  <%= render :partial => "layouts/application_head" %>
</head>

<body>
  <%= render :partial => "layouts/header/header_warning" %>

  <div id="wrap">
    <%= render :partial => "layouts/header/header" %>
    <%= flashy %>

    <div class="ilustration">
        <%= render :partial => "frontpage/explanation" %>
    </div>
        
    <div class="container-fluid">
      <%= yield %>
    </div>  
  </div>

  <div id="vish_footer">
    <%= render :partial => "layouts/footer" %>
  </div>

</body>

<%= javascript_include_tag "application" %>
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>

<script type="text/javascript">
  $(document).ready(function() {  
    <%= render partial: 'shared/hide_popovers' %>
    <%= yield :javascript%>
  });
</script>

<%= render :partial => 'layouts/tools/google_analytics' %>
<%= render :partial => 'layouts/tools/uservoice' %>

</html>

