<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>

  <section id="contenido">
    <section class="index2">
    <header class="headerfront">
      <%= render :partial => "layouts/header_frontpage" %>
    </header>

    <p class="flash">
      <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    </p>

    <article class="logo-search_frontpage">
      <%= yield %>
    </article>

    <article class="top">
      <p class="top-10">
        <%=t('top10')%>
      </p>
      <% self.class.send :include, FrontpageHelper  %>
      <% for excursion in current_top_actor_excursions %>
      <%= render :partial => "excursions/top10",:locals => { :excursion => excursion} %>
      <% end %>
    </article>
 
  </section>
</section>
  <footer class="footer">
    <%= render :partial => "layouts/footer" %>
  </footer>


</body>
</html>
