<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title).empty? ? t('site.current.title') : yield(:title) %></title>
    <meta name="keywords" content="<%= yield(:keywords).empty? ? t('site.current.keywords') : yield(:keywords) %>">
    <meta name="description" content="<%= yield(:description).empty? ? t('site.current.description') : yield(:description) %>">
    <meta name="generator" content="SocialStream" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta property="og:site_name" content="ViSH">
    <meta property="og:title" content="<%= yield(:title) %>">
    <meta property="og:type" content="<%= yield(:og_type) %>">
    <meta property="og:url" content="<%= yield(:og_url) %>">
    <meta property="og:image" content="<%= yield(:og_image) %>">
    <meta property="og:description" content="<%= yield(:description) %>">
    <meta property="fb:admins" content="824343515" />
    <meta property="fb:app_id" content="629612437058744" /> 
    
    <%= favicon_link_tag "icons/favicon.ico" %>
    <%= stylesheet_link_tag "application" %>    

    <% if protect_against_forgery? %>
      <%= csrf_meta_tag %>
    <% end %>
    
    <%= yield :headers %>    
      
  </head>
  <body>
  
    <div id="warning_cookie_bar">
      <h3>Uso de cookies</h3>
      <p>
        Usamos cookies propias y de terceros para facilitar el uso de esta web y obtener estadísticas destinadas a la investigación. Si continua navegando consideramos que acepta el uso de cookies.
        <a href="javascript:void(0);" onclick="setCookieOn();">OK</a>
      </p>
    </div>
    <div id="wrap">
      <%= render :partial => "layouts/header" %>
      <%= flashy %>

      <div class="ilustration">
          <%= render :partial => "frontpage/explanation" %>
      </div>
          
      <div class="wrapper container-fluid">
        <%= yield %>
  
      </div>  
    </div>
    <div id="vish_footer">
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    
    <script type="text/javascript">
      $(document).ready(function() {  
        
        setTimeout(function(){ $("#flash .alert").hide("slow") }, 5000);
        //code to hide the help popovers when clicking outside
        $('body').on('click', function (e) {
              if ($(".popover").is(":visible") && !$(e.target).parents(".helpbutton").size()>0) {
                  $(".helppopover").popover('hide');
              }
      });
        
        <%= yield :javascript%>
      });
    </script>
    <%= render partial: 'layouts/header_warning' %>
    <%= render :partial => 'layouts/google_analytics' %>
    <%= render :partial => 'layouts/uservoice' %>
</html>
