<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
  <div class="wrapper">
    <div class="row"> 
      <section class="container">
        <header class="header">
          <%= render :partial => "layouts/header" %>
        </header>
        <article id="main" class="home">
          <%= yield %>
        </article>
      </section>
      <div class="push"></div> 
    </div>      
  </div>
  <footer class="footer">
    <%= render :partial => "layouts/footer" %>
  </footer>
</body>
</html>