<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
  <div class="wrapper">
 
      <section class="container">
        <header class="header">
          <%= render :partial => "layouts/header" %>
        </header>
        <article id="main" class="home">
          <%= yield %>
        </article>
      </section>
      <div class="push"></div> 

  </div>
  <!--<iframe src="/offline" style="display: none;"></iframe>-->
  <footer class="footer">
    <%= render :partial => "layouts/footer" %>
  </footer>
  <% if Rails.env == "production" and not request.host == "vishub-test.global.dit.upm.es" %>
     <!-- BEGIN: SeeVolution -->
        <script type="text/javascript">
          (function () {
            var ms = document.createElement("script"); 
            ms.src = "https://assets.seevolution.com/cjs.aspx";
            ms.setAttribute("async", "true");
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ms, s);
          })();
        </script>
        <!-- END: SeeVolution -->
      <%end%>
</body>
</html>

