<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
<div class="container">
  <header id="headerFront row span12">
    <%= render :partial => "layouts/header" %>
  </header>
  <div class="row">
    <div id="flash" class="alert alert-success pagination-centered">
      <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    </div>
  </div>
  <div class="row">
    <div class="space_center"></div>
    <%= yield %>
  </div>
  <footer class="row span12">
    <%= render :partial => "layouts/footer" %>
  </footer>
</div>
</body>
</html>