<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
  <div class="wrapper">
 
      <section class="container">
        <header class="header">
          <%= render :partial => "layouts/header" %>
        </header>
        <article id="main" class="home">
          <%= yield %>
        </article>
      </section>
      <div class="push"></div> 

  </div>
  <!--<iframe src="/offline" style="display: none;"></iframe>-->
  <footer class="footer">
    <%= render :partial => "layouts/footer" %>
  </footer>  
  <script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/0195.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

</body>
</html>

