<!DOCTYPE html>

<% if false %> <!--(not @excursion.blank?) and @excursion.is_a? Excursion %>-->
  <html manifest="/excursions/<%= @excursion.id.to_s%>/manifest">
<% else %>
  <html>
<% end %>
    <head>

      <title>ViSH Excursion</title>
      <%= favicon_link_tag "icons/favicon.ico" %>
      <meta charset="UTF-8">
      <meta name="viewport" content="user-scalable=yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <%if controller.action_name == "show" %>
        <%js_file = "vishViewer"%>
      <%else%>
        <%js_file = "vishEditor"%>
        <%=javascript_include_tag "ckeditor/ckeditor" %>
        <%=javascript_include_tag "ckeditor/config" %>
      <%end%>
      <% if Rails.env == "production" and not request.host == "vishub-test.global.dit.upm.es" %>
        <%=javascript_include_tag js_file + ".min" %>
      <% else %>
        <%=javascript_include_tag js_file %>
      <% end %>
  	  <%= stylesheet_link_tag "vish_editor" %>
      <script type="text/javascript" src="http://www.google.com/jsapi"> </script>
      <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart']});
      </script>
  	  <%= yield :headers %>
    </head>

    <body onload="start()" style="display: none" class="loaded">
      <%= yield %>
      <!-- for Quiz QR code fullScreen  -->
      <div id='qr_quiz_fullscreen' style='display:none; background-color: white; width: 90%; height: 90%; text-align:center; '>
      <img class='qr_quiz_fullscreen_img' style='z-index: 99999999; height: 90%; padding:2.5%;'/>
      <img class='quiz_cancel_full_screen' style='width: 45px; height: 45px; background-image:url("/vishEditor/images/fullscreen_all.png"); background-position: -45px 0px; background-color:transparent; border:none;' />
    </div>
    </body>

</html>

