<!DOCTYPE html>

<% if (not @excursion.blank?) and @excursion.is_a? Excursion %>
  <html manifest="/excursions/<%= @excursion.id.to_s%>/manifest">
<% else %>
  <html>
<% end %>
    <head>

      <title>ViSH Excursion</title>
      <%= favicon_link_tag "icons/favicon.ico" %>
      <meta charset="UTF-8">  
      <meta name="viewport" content="user-scalable=yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <% if Rails.env == "production" and not request.host == "vishub-test.global.dit.upm.es" %>
        <%=javascript_include_tag "vishEditor.min" %>
      <% else %>
        <%=javascript_include_tag "vishEditor" %>
      <% end %>
  	  <%= stylesheet_link_tag "vish_editor" %>
      <script type="text/javascript" src="http://www.google.com/jsapi"> </script>
    <script type="text/javascript">
     google.load('visualization', '1.0', {'packages':['corechart']});
    </script>
  	  <%= yield :headers %>
    </head>

    <body onload="start()" style="display: none" class="loaded">
      <%= yield %>
    </body>

</html>

