<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<%= render :partial => 'layouts/head' %>
<body>
<div class="wrapper">
  <div class="container">
    <header id="headerFront row span12">
      <%= render :partial => "layouts/header_search" %>
    </header>
    <div id="main" class="row body-height">
      <section id="left" class="span2 margin-clear">
        <%= yield :toolbar %>
      </section>
      <section id="right" class="span9">


        <section id="content">
          <%= yield %>
        </section>
      </section>
      <div class="space_double_center"></div>
    </div>
  </div>
  <div class="push"></div>
</div>
<div class="container">
  <footer class="row span12">
    <%= render :partial => "layouts/footer" %>
  </footer>
</div>

<% if Rails.env == "production" and not request.host == "vishub-test.global.dit.upm.es" %>
     <!-- BEGIN: SeeVolution -->
        <script type="text/javascript">
          (function () {
            var ms = document.createElement("script"); 
            ms.src = "https://assets.seevolution.com/cjs.aspx";
            ms.setAttribute("async", "true");
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ms, s);
          })();
        </script>
        <!-- END: SeeVolution -->
      <%end%>
</body>
</html>






