<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  <h3><%= t('workshop.activities.resource_gallery.add') %></h3>
</div>
<div class="modal-body tabbable tabs-below">
  <%= form_for resource, :remote => false do |f| %>
      <%= f.hidden_field :workshop_id, :value => resource.workshop.id %>
      <input type="text" class="form-control" name="url"/>
      <%= f.submit t('save'), :class => "btn btn-default" %>
  <% end %>
</div>
<div class="modal-footer">
  <p>
    <button class="btn btn-primary updateWorkshopActivityFake"><%= t('workshop.actions.edit_activity_button') %></button>
  </p>
</div>
